{
  "basePath": "",
  "id": "sheets:v4",
  "revision": "20180106",
  "documentationLink": "https://developers.google.com/sheets/",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "MergeCellsRequest": {
      "description": "Merges all cells in the range.",
      "type": "object",
      "properties": {
        "mergeType": {
          "enum": [
            "MERGE_ALL",
            "MERGE_COLUMNS",
            "MERGE_ROWS"
          ],
          "description": "How the cells should be merged.",
          "type": "string",
          "enumDescriptions": [
            "Create a single merge from the range",
            "Create a merge for each column in the range",
            "Create a merge for each row in the range"
          ]
        },
        "range": {
          "$ref": "GridRange",
          "description": "The range of cells to merge."
        }
      },
      "id": "MergeCellsRequest"
    },
    "MatchedDeveloperMetadata": {
      "id": "MatchedDeveloperMetadata",
      "description": "A developer metadata entry and the data filters specified in the original\nrequest that matched it.",
      "type": "object",
      "properties": {
        "dataFilters": {
          "description": "All filters matching the returned developer metadata.",
          "type": "array",
          "items": {
            "$ref": "DataFilter"
          }
        },
        "developerMetadata": {
          "$ref": "DeveloperMetadata",
          "description": "The developer metadata matching the specified filters."
        }
      }
    },
    "AddProtectedRangeRequest": {
      "properties": {
        "protectedRange": {
          "description": "The protected range to be added. The\nprotectedRangeId field is optional; if\none is not set, an id will be randomly generated. (It is an error to\nspecify the ID of a range that already exists.)",
          "$ref": "ProtectedRange"
        }
      },
      "id": "AddProtectedRangeRequest",
      "description": "Adds a new protected range.",
      "type": "object"
    },
    "BatchClearValuesRequest": {
      "type": "object",
      "properties": {
        "ranges": {
          "description": "The ranges to clear, in A1 notation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BatchClearValuesRequest",
      "description": "The request for clearing more than one range of values in a spreadsheet."
    },
    "DuplicateFilterViewResponse": {
      "type": "object",
      "properties": {
        "filter": {
          "description": "The newly created filter.",
          "$ref": "FilterView"
        }
      },
      "id": "DuplicateFilterViewResponse",
      "description": "The result of a filter view being duplicated."
    },
    "DeveloperMetadata": {
      "properties": {
        "metadataId": {
          "description": "The spreadsheet-scoped unique ID that identifies the metadata. IDs may be\nspecified when metadata is created, otherwise one will be randomly\ngenerated and assigned. Must be positive.",
          "format": "int32",
          "type": "integer"
        },
        "location": {
          "$ref": "DeveloperMetadataLocation",
          "description": "The location where the metadata is associated."
        },
        "visibility": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Document-visible metadata is accessible from any developer project with\naccess to the document.",
            "Project-visible metadata is only visible to and accessible by the developer\nproject that created the metadata."
          ],
          "enum": [
            "DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED",
            "DOCUMENT",
            "PROJECT"
          ],
          "description": "The metadata visibility.  Developer metadata must always have a visibility\nspecified."
        },
        "metadataValue": {
          "description": "Data associated with the metadata's key.",
          "type": "string"
        },
        "metadataKey": {
          "description": "The metadata key. There may be multiple metadata in a spreadsheet with the\nsame key.  Developer metadata must always have a key specified.",
          "type": "string"
        }
      },
      "id": "DeveloperMetadata",
      "description": "Developer metadata associated with a location or object in a spreadsheet.\nDeveloper metadata may be used to associate arbitrary data with various\nparts of a spreadsheet and will remain associated at those locations as they\nmove around and the spreadsheet is edited.  For example, if developer\nmetadata is associated with row 5 and another row is then subsequently\ninserted above row 5, that original metadata will still be associated with\nthe row it was first associated with (what is now row 6). If the associated\nobject is deleted its metadata will be deleted too.",
      "type": "object"
    },
    "DuplicateSheetResponse": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "SheetProperties",
          "description": "The properties of the duplicate sheet."
        }
      },
      "id": "DuplicateSheetResponse",
      "description": "The result of duplicating a sheet."
    },
    "TextToColumnsRequest": {
      "description": "Splits a column of text into multiple columns,\nbased on a delimiter in each cell.",
      "type": "object",
      "properties": {
        "delimiter": {
          "description": "The delimiter to use. Used only if delimiterType is\nCUSTOM.",
          "type": "string"
        },
        "source": {
          "description": "The source data range.  This must span exactly one column.",
          "$ref": "GridRange"
        },
        "delimiterType": {
          "enum": [
            "DELIMITER_TYPE_UNSPECIFIED",
            "COMMA",
            "SEMICOLON",
            "PERIOD",
            "SPACE",
            "CUSTOM"
          ],
          "description": "The delimiter type to use.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value must not be used.",
            "\",\"",
            "\";\"",
            "\".\"",
            "\" \"",
            "A custom value as defined in delimiter."
          ]
        }
      },
      "id": "TextToColumnsRequest"
    },
    "ClearBasicFilterRequest": {
      "description": "Clears the basic filter, if any exists on the sheet.",
      "type": "object",
      "properties": {
        "sheetId": {
          "description": "The sheet ID on which the basic filter should be cleared.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ClearBasicFilterRequest"
    },
    "BatchUpdateSpreadsheetResponse": {
      "properties": {
        "spreadsheetId": {
          "type": "string",
          "description": "The spreadsheet the updates were applied to."
        },
        "replies": {
          "description": "The reply of the updates.  This maps 1:1 with the updates, although\nreplies to some requests may be empty.",
          "type": "array",
          "items": {
            "$ref": "Response"
          }
        },
        "updatedSpreadsheet": {
          "$ref": "Spreadsheet",
          "description": "The spreadsheet after updates were applied. This is only set if\n[BatchUpdateSpreadsheetRequest.include_spreadsheet_in_response] is `true`."
        }
      },
      "id": "BatchUpdateSpreadsheetResponse",
      "description": "The reply for batch updating a spreadsheet.",
      "type": "object"
    },
    "DeleteBandingRequest": {
      "description": "Removes the banded range with the given ID from the spreadsheet.",
      "type": "object",
      "properties": {
        "bandedRangeId": {
          "description": "The ID of the banded range to delete.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "DeleteBandingRequest"
    },
    "AppendValuesResponse": {
      "description": "The response when updating a range of values in a spreadsheet.",
      "type": "object",
      "properties": {
        "updates": {
          "$ref": "UpdateValuesResponse",
          "description": "Information about the updates that were applied."
        },
        "tableRange": {
          "description": "The range (in A1 notation) of the table that values are being appended to\n(before the values were appended).\nEmpty if no table was found.",
          "type": "string"
        },
        "spreadsheetId": {
          "description": "The spreadsheet the updates were applied to.",
          "type": "string"
        }
      },
      "id": "AppendValuesResponse"
    },
    "PivotFilterCriteria": {
      "type": "object",
      "properties": {
        "visibleValues": {
          "description": "Values that should be included.  Values not listed here are excluded.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "PivotFilterCriteria",
      "description": "Criteria for showing/hiding rows in a pivot table."
    },
    "AddFilterViewRequest": {
      "properties": {
        "filter": {
          "$ref": "FilterView",
          "description": "The filter to add. The filterViewId\nfield is optional; if one is not set, an id will be randomly generated. (It\nis an error to specify the ID of a filter that already exists.)"
        }
      },
      "id": "AddFilterViewRequest",
      "description": "Adds a filter view.",
      "type": "object"
    },
    "MoveDimensionRequest": {
      "id": "MoveDimensionRequest",
      "description": "Moves one or more rows or columns.",
      "type": "object",
      "properties": {
        "destinationIndex": {
          "description": "The zero-based start index of where to move the source data to,\nbased on the coordinates *before* the source data is removed\nfrom the grid.  Existing data will be shifted down or right\n(depending on the dimension) to make room for the moved dimensions.\nThe source dimensions are removed from the grid, so the\nthe data may end up in a different index than specified.\n\nFor example, given `A1..A5` of `0, 1, 2, 3, 4` and wanting to move\n`\"1\"` and `\"2\"` to between `\"3\"` and `\"4\"`, the source would be\n`ROWS [1..3)`,and the destination index would be `\"4\"`\n(the zero-based index of row 5).\nThe end result would be `A1..A5` of `0, 3, 1, 2, 4`.",
          "format": "int32",
          "type": "integer"
        },
        "source": {
          "description": "The source dimensions to move.",
          "$ref": "DimensionRange"
        }
      }
    },
    "AddConditionalFormatRuleRequest": {
      "description": "Adds a new conditional format rule at the given index.\nAll subsequent rules' indexes are incremented.",
      "type": "object",
      "properties": {
        "rule": {
          "$ref": "ConditionalFormatRule",
          "description": "The rule to add."
        },
        "index": {
          "description": "The zero-based index where the rule should be inserted.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "AddConditionalFormatRuleRequest"
    },
    "ChartSpec": {
      "description": "The specifications of a chart.",
      "type": "object",
      "properties": {
        "backgroundColor": {
          "$ref": "Color",
          "description": "The background color of the entire chart.\nNot applicable to Org charts."
        },
        "subtitleTextPosition": {
          "description": "The subtitle text position.\nThis field is optional.",
          "$ref": "TextPosition"
        },
        "basicChart": {
          "$ref": "BasicChartSpec",
          "description": "A basic chart specification, can be one of many kinds of charts.\nSee BasicChartType for the list of all\ncharts this supports."
        },
        "orgChart": {
          "description": "An org chart specification.",
          "$ref": "OrgChartSpec"
        },
        "pieChart": {
          "$ref": "PieChartSpec",
          "description": "A pie chart specification."
        },
        "titleTextFormat": {
          "$ref": "TextFormat",
          "description": "The title text format.\nStrikethrough and underline are not supported."
        },
        "title": {
          "description": "The title of the chart.",
          "type": "string"
        },
        "altText": {
          "description": "The alternative text that describes the chart.  This is often used\nfor accessibility.",
          "type": "string"
        },
        "titleTextPosition": {
          "$ref": "TextPosition",
          "description": "The title text position.\nThis field is optional."
        },
        "histogramChart": {
          "description": "A histogram chart specification.",
          "$ref": "HistogramChartSpec"
        },
        "candlestickChart": {
          "$ref": "CandlestickChartSpec",
          "description": "A candlestick chart specification."
        },
        "bubbleChart": {
          "$ref": "BubbleChartSpec",
          "description": "A bubble chart specification."
        },
        "waterfallChart": {
          "$ref": "WaterfallChartSpec",
          "description": "A waterfall chart specification."
        },
        "fontName": {
          "description": "The name of the font to use by default for all chart text (e.g. title,\naxis labels, legend).  If a font is specified for a specific part of the\nchart it will override this font name.",
          "type": "string"
        },
        "maximized": {
          "description": "True to make a chart fill the entire space in which it's rendered with\nminimum padding.  False to use the default padding.\n(Not applicable to Geo and Org charts.)",
          "type": "boolean"
        },
        "hiddenDimensionStrategy": {
          "description": "Determines how the charts will use hidden rows or columns.",
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "Charts will skip hidden rows and columns.",
            "Charts will skip hidden rows only.",
            "Charts will skip hidden columns only.",
            "Charts will not skip any hidden rows or columns."
          ],
          "enum": [
            "CHART_HIDDEN_DIMENSION_STRATEGY_UNSPECIFIED",
            "SKIP_HIDDEN_ROWS_AND_COLUMNS",
            "SKIP_HIDDEN_ROWS",
            "SKIP_HIDDEN_COLUMNS",
            "SHOW_ALL"
          ]
        },
        "subtitleTextFormat": {
          "description": "The subtitle text format.\nStrikethrough and underline are not supported.",
          "$ref": "TextFormat"
        },
        "subtitle": {
          "description": "The subtitle of the chart.",
          "type": "string"
        }
      },
      "id": "ChartSpec"
    },
    "CreateDeveloperMetadataRequest": {
      "description": "A request to create developer metadata.",
      "type": "object",
      "properties": {
        "developerMetadata": {
          "$ref": "DeveloperMetadata",
          "description": "The developer metadata to create."
        }
      },
      "id": "CreateDeveloperMetadataRequest"
    },
    "BatchGetValuesByDataFilterResponse": {
      "properties": {
        "spreadsheetId": {
          "description": "The ID of the spreadsheet the data was retrieved from.",
          "type": "string"
        },
        "valueRanges": {
          "description": "The requested values with the list of data filters that matched them.",
          "type": "array",
          "items": {
            "$ref": "MatchedValueRange"
          }
        }
      },
      "id": "BatchGetValuesByDataFilterResponse",
      "description": "The response when retrieving more than one range of values in a spreadsheet\nselected by DataFilters.",
      "type": "object"
    },
    "LineStyle": {
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default value, do not use.",
            "No dash type, which is equivalent to a non-visible line.",
            "A custom dash for a line. Modifying the exact custom dash style is\ncurrently unsupported.",
            "A solid line.",
            "A dotted line.",
            "A dashed line where the dashes have \"medium\" length.",
            "A line that alternates between a \"medium\" dash and a dot.",
            "A dashed line where the dashes have \"long\" length.",
            "A line that alternates between a \"long\" dash and a dot."
          ],
          "enum": [
            "LINE_DASH_TYPE_UNSPECIFIED",
            "INVISIBLE",
            "CUSTOM",
            "SOLID",
            "DOTTED",
            "MEDIUM_DASHED",
            "MEDIUM_DASHED_DOTTED",
            "LONG_DASHED",
            "LONG_DASHED_DOTTED"
          ],
          "description": "The dash type of the line.",
          "type": "string"
        },
        "width": {
          "description": "The thickness of the line, in px.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "LineStyle",
      "description": "Properties that describe the style of a line."
    },
    "DataFilterValueRange": {
      "description": "A range of values whose location is specified by a DataFilter.",
      "type": "object",
      "properties": {
        "dataFilter": {
          "description": "The data filter describing the location of the values in the spreadsheet.",
          "$ref": "DataFilter"
        },
        "majorDimension": {
          "description": "The major dimension of the values.",
          "type": "string",
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ],
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ]
        },
        "values": {
          "description": "The data to be written.  If the provided values exceed any of the ranges\nmatched by the data filter then the request will fail.  If the provided\nvalues are less than the matched ranges only the specified values will be\nwritten, existing values in the matched ranges will remain unaffected.",
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "any"
            }
          }
        }
      },
      "id": "DataFilterValueRange"
    },
    "NumberFormat": {
      "id": "NumberFormat",
      "description": "The number format of a cell.",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "NUMBER_FORMAT_TYPE_UNSPECIFIED",
            "TEXT",
            "NUMBER",
            "PERCENT",
            "CURRENCY",
            "DATE",
            "TIME",
            "DATE_TIME",
            "SCIENTIFIC"
          ],
          "description": "The type of the number format.\nWhen writing, this field must be set.",
          "type": "string",
          "enumDescriptions": [
            "The number format is not specified\nand is based on the contents of the cell.\nDo not explicitly use this.",
            "Text formatting, e.g `1000.12`",
            "Number formatting, e.g, `1,000.12`",
            "Percent formatting, e.g `10.12%`",
            "Currency formatting, e.g `$1,000.12`",
            "Date formatting, e.g `9/26/2008`",
            "Time formatting, e.g `3:59:00 PM`",
            "Date+Time formatting, e.g `9/26/08 15:59:00`",
            "Scientific number formatting, e.g `1.01E+03`"
          ]
        },
        "pattern": {
          "description": "Pattern string used for formatting.  If not set, a default pattern based on\nthe user's locale will be used if necessary for the given type.\nSee the [Date and Number Formats guide](/sheets/api/guides/formats) for more\ninformation about the supported patterns.",
          "type": "string"
        }
      }
    },
    "CandlestickDomain": {
      "description": "The domain of a CandlestickChart.",
      "type": "object",
      "properties": {
        "data": {
          "$ref": "ChartData",
          "description": "The data of the CandlestickDomain."
        },
        "reversed": {
          "description": "True to reverse the order of the domain values (horizontal axis).",
          "type": "boolean"
        }
      },
      "id": "CandlestickDomain"
    },
    "SheetProperties": {
      "description": "Properties of a sheet.",
      "type": "object",
      "properties": {
        "title": {
          "description": "The name of the sheet.",
          "type": "string"
        },
        "tabColor": {
          "description": "The color of the tab in the UI.",
          "$ref": "Color"
        },
        "index": {
          "description": "The index of the sheet within the spreadsheet.\nWhen adding or updating sheet properties, if this field\nis excluded then the sheet will be added or moved to the end\nof the sheet list. When updating sheet indices or inserting\nsheets, movement is considered in \"before the move\" indexes.\nFor example, if there were 3 sheets (S1, S2, S3) in order to\nmove S1 ahead of S2 the index would have to be set to 2. A sheet\nindex update request will be ignored if the requested index is\nidentical to the sheets current index or if the requested new\nindex is equal to the current sheet index + 1.",
          "format": "int32",
          "type": "integer"
        },
        "sheetId": {
          "description": "The ID of the sheet. Must be non-negative.\nThis field cannot be changed once set.",
          "format": "int32",
          "type": "integer"
        },
        "rightToLeft": {
          "description": "True if the sheet is an RTL sheet instead of an LTR sheet.",
          "type": "boolean"
        },
        "hidden": {
          "type": "boolean",
          "description": "True if the sheet is hidden in the UI, false if it's visible."
        },
        "gridProperties": {
          "$ref": "GridProperties",
          "description": "Additional properties of the sheet if this sheet is a grid.\n(If the sheet is an object sheet, containing a chart or image, then\nthis field will be absent.)\nWhen writing it is an error to set any grid properties on non-grid sheets."
        },
        "sheetType": {
          "description": "The type of sheet. Defaults to GRID.\nThis field cannot be changed once set.",
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "The sheet is a grid.",
            "The sheet has no grid and instead has an object like a chart or image."
          ],
          "enum": [
            "SHEET_TYPE_UNSPECIFIED",
            "GRID",
            "OBJECT"
          ]
        }
      },
      "id": "SheetProperties"
    },
    "UpdateDimensionPropertiesRequest": {
      "description": "Updates properties of dimensions within the specified range.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "DimensionProperties",
          "description": "Properties to update."
        },
        "range": {
          "description": "The rows or columns to update.",
          "$ref": "DimensionRange"
        },
        "fields": {
          "type": "string",
          "description": "The fields that should be updated.  At least one field must be specified.\nThe root `properties` is implied and should not be specified.\nA single `\"*\"` can be used as short-hand for listing every field.",
          "format": "google-fieldmask"
        }
      },
      "id": "UpdateDimensionPropertiesRequest"
    },
    "SourceAndDestination": {
      "description": "A combination of a source range and how to extend that source.",
      "type": "object",
      "properties": {
        "fillLength": {
          "type": "integer",
          "description": "The number of rows or columns that data should be filled into.\nPositive numbers expand beyond the last row or last column\nof the source.  Negative numbers expand before the first row\nor first column of the source.",
          "format": "int32"
        },
        "source": {
          "$ref": "GridRange",
          "description": "The location of the data to use as the source of the autofill."
        },
        "dimension": {
          "type": "string",
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ],
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ],
          "description": "The dimension that data should be filled into."
        }
      },
      "id": "SourceAndDestination"
    },
    "OrgChartSpec": {
      "properties": {
        "labels": {
          "$ref": "ChartData",
          "description": "The data containing the labels for all the nodes in the chart.  Labels\nmust be unique."
        },
        "nodeSize": {
          "enumDescriptions": [
            "Default value, do not use.",
            "The small org chart node size.",
            "The medium org chart node size.",
            "The large org chart node size."
          ],
          "enum": [
            "ORG_CHART_LABEL_SIZE_UNSPECIFIED",
            "SMALL",
            "MEDIUM",
            "LARGE"
          ],
          "description": "The size of the org chart nodes.",
          "type": "string"
        },
        "nodeColor": {
          "description": "The color of the org chart nodes.",
          "$ref": "Color"
        },
        "tooltips": {
          "$ref": "ChartData",
          "description": "The data containing the tooltip for the corresponding node.  A blank value\nresults in no tooltip being displayed for the node.\nThis field is optional."
        },
        "selectedNodeColor": {
          "description": "The color of the selected org chart nodes.",
          "$ref": "Color"
        },
        "parentLabels": {
          "$ref": "ChartData",
          "description": "The data containing the label of the parent for the corresponding node.\nA blank value indicates that the node has no parent and is a top-level\nnode.\nThis field is optional."
        }
      },
      "id": "OrgChartSpec",
      "description": "An \u003ca href=\"/chart/interactive/docs/gallery/orgchart\"\u003eorg chart\u003c/a\u003e.\nOrg charts require a unique set of labels in labels and may\noptionally include parent_labels and tooltips.\nparent_labels contain, for each node, the label identifying the parent\nnode.  tooltips contain, for each node, an optional tooltip.\n\nFor example, to describe an OrgChart with Alice as the CEO, Bob as the\nPresident (reporting to Alice) and Cathy as VP of Sales (also reporting to\nAlice), have labels contain \"Alice\", \"Bob\", \"Cathy\",\nparent_labels contain \"\", \"Alice\", \"Alice\" and tooltips contain\n\"CEO\", \"President\", \"VP Sales\".",
      "type": "object"
    },
    "FilterView": {
      "properties": {
        "namedRangeId": {
          "type": "string",
          "description": "The named range this filter view is backed by, if any.\n\nWhen writing, only one of range or named_range_id\nmay be set."
        },
        "filterViewId": {
          "description": "The ID of the filter view.",
          "format": "int32",
          "type": "integer"
        },
        "criteria": {
          "additionalProperties": {
            "$ref": "FilterCriteria"
          },
          "description": "The criteria for showing/hiding values per column.\nThe map's key is the column index, and the value is the criteria for\nthat column.",
          "type": "object"
        },
        "title": {
          "type": "string",
          "description": "The name of the filter view."
        },
        "range": {
          "description": "The range this filter view covers.\n\nWhen writing, only one of range or named_range_id\nmay be set.",
          "$ref": "GridRange"
        },
        "sortSpecs": {
          "description": "The sort order per column. Later specifications are used when values\nare equal in the earlier specifications.",
          "type": "array",
          "items": {
            "$ref": "SortSpec"
          }
        }
      },
      "id": "FilterView",
      "description": "A filter view.",
      "type": "object"
    },
    "SearchDeveloperMetadataRequest": {
      "description": "A request to retrieve all developer metadata matching the set of specified\ncriteria.",
      "type": "object",
      "properties": {
        "dataFilters": {
          "description": "The data filters describing the criteria used to determine which\nDeveloperMetadata entries to return.  DeveloperMetadata matching any of the\nspecified filters will be included in the response.",
          "type": "array",
          "items": {
            "$ref": "DataFilter"
          }
        }
      },
      "id": "SearchDeveloperMetadataRequest"
    },
    "BandingProperties": {
      "description": "Properties referring a single dimension (either row or column). If both\nBandedRange.row_properties and BandedRange.column_properties are\nset, the fill colors are applied to cells according to the following rules:\n\n* header_color and footer_color take priority over band colors.\n* first_band_color takes priority over second_band_color.\n* row_properties takes priority over column_properties.\n\nFor example, the first row color takes priority over the first column\ncolor, but the first column color takes priority over the second row color.\nSimilarly, the row header takes priority over the column header in the\ntop left cell, but the column header takes priority over the first row\ncolor if the row header is not set.",
      "type": "object",
      "properties": {
        "firstBandColor": {
          "description": "The first color that is alternating. (Required)",
          "$ref": "Color"
        },
        "secondBandColor": {
          "$ref": "Color",
          "description": "The second color that is alternating. (Required)"
        },
        "footerColor": {
          "$ref": "Color",
          "description": "The color of the last row or column. If this field is not set, the last\nrow or column will be filled with either first_band_color or\nsecond_band_color, depending on the color of the previous row or\ncolumn."
        },
        "headerColor": {
          "description": "The color of the first row or column. If this field is set, the first\nrow or column will be filled with this color and the colors will\nalternate between first_band_color and second_band_color starting\nfrom the second row or column. Otherwise, the first row or column will be\nfilled with first_band_color and the colors will proceed to alternate\nas they normally would.",
          "$ref": "Color"
        }
      },
      "id": "BandingProperties"
    },
    "CandlestickSeries": {
      "id": "CandlestickSeries",
      "description": "The series of a CandlestickData.",
      "type": "object",
      "properties": {
        "data": {
          "$ref": "ChartData",
          "description": "The data of the CandlestickSeries."
        }
      }
    },
    "BasicFilter": {
      "description": "The default filter associated with a sheet.",
      "type": "object",
      "properties": {
        "range": {
          "description": "The range the filter covers.",
          "$ref": "GridRange"
        },
        "criteria": {
          "additionalProperties": {
            "$ref": "FilterCriteria"
          },
          "description": "The criteria for showing/hiding values per column.\nThe map's key is the column index, and the value is the criteria for\nthat column.",
          "type": "object"
        },
        "sortSpecs": {
          "description": "The sort order per column. Later specifications are used when values\nare equal in the earlier specifications.",
          "type": "array",
          "items": {
            "$ref": "SortSpec"
          }
        }
      },
      "id": "BasicFilter"
    },
    "AddProtectedRangeResponse": {
      "description": "The result of adding a new protected range.",
      "type": "object",
      "properties": {
        "protectedRange": {
          "description": "The newly added protected range.",
          "$ref": "ProtectedRange"
        }
      },
      "id": "AddProtectedRangeResponse"
    },
    "HistogramChartSpec": {
      "description": "A \u003ca href=\"/chart/interactive/docs/gallery/histogram\"\u003ehistogram chart\u003c/a\u003e.\nA histogram chart groups data items into bins, displaying each bin as a\ncolumn of stacked items.  Histograms are used to display the distribution\nof a dataset.  Each column of items represents a range into which those\nitems fall.  The number of bins can be chosen automatically or specified\nexplicitly.",
      "type": "object",
      "properties": {
        "legendPosition": {
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "The legend is rendered on the bottom of the chart.",
            "The legend is rendered on the left of the chart.",
            "The legend is rendered on the right of the chart.",
            "The legend is rendered on the top of the chart.",
            "No legend is rendered.",
            "The legend is rendered inside the chart area."
          ],
          "enum": [
            "HISTOGRAM_CHART_LEGEND_POSITION_UNSPECIFIED",
            "BOTTOM_LEGEND",
            "LEFT_LEGEND",
            "RIGHT_LEGEND",
            "TOP_LEGEND",
            "NO_LEGEND",
            "INSIDE_LEGEND"
          ],
          "description": "The position of the chart legend."
        },
        "bucketSize": {
          "description": "By default the bucket size (the range of values stacked in a single\ncolumn) is chosen automatically, but it may be overridden here.\nE.g., A bucket size of 1.5 results in buckets from 0 - 1.5, 1.5 - 3.0, etc.\nCannot be negative.\nThis field is optional.",
          "format": "double",
          "type": "number"
        },
        "outlierPercentile": {
          "description": "The outlier percentile is used to ensure that outliers do not adversely\naffect the calculation of bucket sizes.  For example, setting an outlier\npercentile of 0.05 indicates that the top and bottom 5% of values when\ncalculating buckets.  The values are still included in the chart, they will\nbe added to the first or last buckets instead of their own buckets.\nMust be between 0.0 and 0.5.",
          "format": "double",
          "type": "number"
        },
        "showItemDividers": {
          "description": "Whether horizontal divider lines should be displayed between items in each\ncolumn.",
          "type": "boolean"
        },
        "series": {
          "description": "The series for a histogram may be either a single series of values to be\nbucketed or multiple series, each of the same length, containing the name\nof the series followed by the values to be bucketed for that series.",
          "type": "array",
          "items": {
            "$ref": "HistogramSeries"
          }
        }
      },
      "id": "HistogramChartSpec"
    },
    "UpdateValuesResponse": {
      "description": "The response when updating a range of values in a spreadsheet.",
      "type": "object",
      "properties": {
        "updatedData": {
          "$ref": "ValueRange",
          "description": "The values of the cells after updates were applied.\nThis is only included if the request's `includeValuesInResponse` field\nwas `true`."
        },
        "updatedRows": {
          "type": "integer",
          "description": "The number of rows where at least one cell in the row was updated.",
          "format": "int32"
        },
        "updatedColumns": {
          "type": "integer",
          "description": "The number of columns where at least one cell in the column was updated.",
          "format": "int32"
        },
        "spreadsheetId": {
          "description": "The spreadsheet the updates were applied to.",
          "type": "string"
        },
        "updatedRange": {
          "description": "The range (in A1 notation) that updates were applied to.",
          "type": "string"
        },
        "updatedCells": {
          "description": "The number of cells updated.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "UpdateValuesResponse"
    },
    "PivotValue": {
      "type": "object",
      "properties": {
        "formula": {
          "description": "A custom formula to calculate the value.  The formula must start\nwith an `=` character.",
          "type": "string"
        },
        "summarizeFunction": {
          "enumDescriptions": [
            "The default, do not use.",
            "Corresponds to the `SUM` function.",
            "Corresponds to the `COUNTA` function.",
            "Corresponds to the `COUNT` function.",
            "Corresponds to the `COUNTUNIQUE` function.",
            "Corresponds to the `AVERAGE` function.",
            "Corresponds to the `MAX` function.",
            "Corresponds to the `MIN` function.",
            "Corresponds to the `MEDIAN` function.",
            "Corresponds to the `PRODUCT` function.",
            "Corresponds to the `STDEV` function.",
            "Corresponds to the `STDEVP` function.",
            "Corresponds to the `VAR` function.",
            "Corresponds to the `VARP` function.",
            "Indicates the formula should be used as-is.\nOnly valid if PivotValue.formula was set."
          ],
          "enum": [
            "PIVOT_STANDARD_VALUE_FUNCTION_UNSPECIFIED",
            "SUM",
            "COUNTA",
            "COUNT",
            "COUNTUNIQUE",
            "AVERAGE",
            "MAX",
            "MIN",
            "MEDIAN",
            "PRODUCT",
            "STDEV",
            "STDEVP",
            "VAR",
            "VARP",
            "CUSTOM"
          ],
          "description": "A function to summarize the value.\nIf formula is set, the only supported values are\nSUM and\nCUSTOM.\nIf sourceColumnOffset is set, then `CUSTOM`\nis not supported.",
          "type": "string"
        },
        "sourceColumnOffset": {
          "description": "The column offset of the source range that this value reads from.\n\nFor example, if the source was `C10:E15`, a `sourceColumnOffset` of `0`\nmeans this value refers to column `C`, whereas the offset `1` would\nrefer to column `D`.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "A name to use for the value.",
          "type": "string"
        }
      },
      "id": "PivotValue",
      "description": "The definition of how a value in a pivot table should be calculated."
    },
    "ErrorValue": {
      "id": "ErrorValue",
      "description": "An error in a cell.",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The default error type, do not use this.",
            "Corresponds to the `#ERROR!` error.",
            "Corresponds to the `#NULL!` error.",
            "Corresponds to the `#DIV/0` error.",
            "Corresponds to the `#VALUE!` error.",
            "Corresponds to the `#REF!` error.",
            "Corresponds to the `#NAME?` error.",
            "Corresponds to the `#NUM`! error.",
            "Corresponds to the `#N/A` error.",
            "Corresponds to the `Loading...` state."
          ],
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "ERROR",
            "NULL_VALUE",
            "DIVIDE_BY_ZERO",
            "VALUE",
            "REF",
            "NAME",
            "NUM",
            "N_A",
            "LOADING"
          ],
          "description": "The type of error.",
          "type": "string"
        },
        "message": {
          "description": "A message with more information about the error\n(in the spreadsheet's locale).",
          "type": "string"
        }
      }
    },
    "CopySheetToAnotherSpreadsheetRequest": {
      "id": "CopySheetToAnotherSpreadsheetRequest",
      "description": "The request to copy a sheet across spreadsheets.",
      "type": "object",
      "properties": {
        "destinationSpreadsheetId": {
          "description": "The ID of the spreadsheet to copy the sheet to.",
          "type": "string"
        }
      }
    },
    "WaterfallChartSeries": {
      "description": "A single series of data for a waterfall chart.",
      "type": "object",
      "properties": {
        "hideTrailingSubtotal": {
          "description": "True to hide the subtotal column from the end of the series. By default,\na subtotal column will appear at the end of each series. Setting this\nfield to true will hide that subtotal column for this series.",
          "type": "boolean"
        },
        "data": {
          "$ref": "ChartData",
          "description": "The data being visualized in this series."
        },
        "negativeColumnsStyle": {
          "$ref": "WaterfallChartColumnStyle",
          "description": "Styles for all columns in this series with negative values."
        },
        "customSubtotals": {
          "description": "Custom subtotal columns appearing in this series. The order in which\nsubtotals are defined is not significant. Only one subtotal may be\ndefined for each data point.",
          "type": "array",
          "items": {
            "$ref": "WaterfallChartCustomSubtotal"
          }
        },
        "subtotalColumnsStyle": {
          "$ref": "WaterfallChartColumnStyle",
          "description": "Styles for all subtotal columns in this series."
        },
        "positiveColumnsStyle": {
          "description": "Styles for all columns in this series with positive values.",
          "$ref": "WaterfallChartColumnStyle"
        }
      },
      "id": "WaterfallChartSeries"
    },
    "PivotGroupSortValueBucket": {
      "id": "PivotGroupSortValueBucket",
      "description": "Information about which values in a pivot group should be used for sorting.",
      "type": "object",
      "properties": {
        "valuesIndex": {
          "description": "The offset in the PivotTable.values list which the values in this\ngrouping should be sorted by.",
          "format": "int32",
          "type": "integer"
        },
        "buckets": {
          "description": "Determines the bucket from which values are chosen to sort.\n\nFor example, in a pivot table with one row group & two column groups,\nthe row group can list up to two values. The first value corresponds\nto a value within the first column group, and the second value\ncorresponds to a value in the second column group.  If no values\nare listed, this would indicate that the row should be sorted according\nto the \"Grand Total\" over the column groups. If a single value is listed,\nthis would correspond to using the \"Total\" of that bucket.",
          "type": "array",
          "items": {
            "$ref": "ExtendedValue"
          }
        }
      }
    },
    "DeleteDeveloperMetadataRequest": {
      "description": "A request to delete developer metadata.",
      "type": "object",
      "properties": {
        "dataFilter": {
          "$ref": "DataFilter",
          "description": "The data filter describing the criteria used to select which developer\nmetadata entry to delete."
        }
      },
      "id": "DeleteDeveloperMetadataRequest"
    },
    "CandlestickChartSpec": {
      "description": "A \u003ca href=\"/chart/interactive/docs/gallery/candlestickchart\"\u003ecandlestick chart\u003c/a\u003e.",
      "type": "object",
      "properties": {
        "domain": {
          "description": "The domain data (horizontal axis) for the candlestick chart.  String data\nwill be treated as discrete labels, other data will be treated as\ncontinuous values.",
          "$ref": "CandlestickDomain"
        },
        "data": {
          "description": "The Candlestick chart data.\nOnly one CandlestickData is supported.",
          "type": "array",
          "items": {
            "$ref": "CandlestickData"
          }
        }
      },
      "id": "CandlestickChartSpec"
    },
    "BatchClearValuesByDataFilterResponse": {
      "properties": {
        "spreadsheetId": {
          "description": "The spreadsheet the updates were applied to.",
          "type": "string"
        },
        "clearedRanges": {
          "description": "The ranges that were cleared, in A1 notation.\n(If the requests were for an unbounded range or a ranger larger\n than the bounds of the sheet, this will be the actual ranges\n that were cleared, bounded to the sheet's limits.)",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BatchClearValuesByDataFilterResponse",
      "description": "The response when clearing a range of values selected with\nDataFilters in a spreadsheet.",
      "type": "object"
    },
    "CandlestickData": {
      "description": "The Candlestick chart data, each containing the low, open, close, and high\nvalues for a series.",
      "type": "object",
      "properties": {
        "highSeries": {
          "$ref": "CandlestickSeries",
          "description": "The range data (vertical axis) for the high/maximum value for each\ncandle. This is the top of the candle's center line."
        },
        "lowSeries": {
          "$ref": "CandlestickSeries",
          "description": "The range data (vertical axis) for the low/minimum value for each candle.\nThis is the bottom of the candle's center line."
        },
        "closeSeries": {
          "$ref": "CandlestickSeries",
          "description": "The range data (vertical axis) for the close/final value for each candle.\nThis is the top of the candle body.  If greater than the open value the\ncandle will be filled.  Otherwise the candle will be hollow."
        },
        "openSeries": {
          "$ref": "CandlestickSeries",
          "description": "The range data (vertical axis) for the open/initial value for each\ncandle. This is the bottom of the candle body.  If less than the close\nvalue the candle will be filled.  Otherwise the candle will be hollow."
        }
      },
      "id": "CandlestickData"
    },
    "EmbeddedObjectPosition": {
      "type": "object",
      "properties": {
        "newSheet": {
          "description": "If true, the embedded object will be put on a new sheet whose ID\nis chosen for you. Used only when writing.",
          "type": "boolean"
        },
        "sheetId": {
          "description": "The sheet this is on. Set only if the embedded object\nis on its own sheet. Must be non-negative.",
          "format": "int32",
          "type": "integer"
        },
        "overlayPosition": {
          "$ref": "OverlayPosition",
          "description": "The position at which the object is overlaid on top of a grid."
        }
      },
      "id": "EmbeddedObjectPosition",
      "description": "The position of an embedded object such as a chart."
    },
    "DeleteProtectedRangeRequest": {
      "type": "object",
      "properties": {
        "protectedRangeId": {
          "description": "The ID of the protected range to delete.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "DeleteProtectedRangeRequest",
      "description": "Deletes the protected range with the given ID."
    },
    "DeveloperMetadataLookup": {
      "type": "object",
      "properties": {
        "metadataKey": {
          "description": "Limits the selected developer metadata to that which has a matching\nDeveloperMetadata.metadata_key.",
          "type": "string"
        },
        "visibility": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Document-visible metadata is accessible from any developer project with\naccess to the document.",
            "Project-visible metadata is only visible to and accessible by the developer\nproject that created the metadata."
          ],
          "enum": [
            "DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED",
            "DOCUMENT",
            "PROJECT"
          ],
          "description": "Limits the selected developer metadata to that which has a matching\nDeveloperMetadata.visibility.  If left unspecified, all developer\nmetadata visibile to the requesting project is considered."
        },
        "metadataId": {
          "description": "Limits the selected developer metadata to that which has a matching\nDeveloperMetadata.metadata_id.",
          "format": "int32",
          "type": "integer"
        },
        "metadataValue": {
          "description": "Limits the selected developer metadata to that which has a matching\nDeveloperMetadata.metadata_value.",
          "type": "string"
        },
        "metadataLocation": {
          "description": "Limits the selected developer metadata to those entries associated with\nthe specified location.  This field either matches exact locations or all\nintersecting locations according the specified\nlocationMatchingStrategy.",
          "$ref": "DeveloperMetadataLocation"
        },
        "locationMatchingStrategy": {
          "enumDescriptions": [
            "Default value. This value must not be used.",
            "Indicates that a specified location should be matched exactly.  For\nexample, if row three were specified as a location this matching strategy\nwould only match developer metadata also associated on row three.  Metadata\nassociated on other locations would not be considered.",
            "Indicates that a specified location should match that exact location as\nwell as any intersecting locations.  For example, if row three were\nspecified as a location this matching strategy would match developer\nmetadata associated on row three as well as metadata associated on\nlocations that intersect row three.  If, for instance, there was developer\nmetadata associated on column B, this matching strategy would also match\nthat location because column B intersects row three."
          ],
          "enum": [
            "DEVELOPER_METADATA_LOCATION_MATCHING_STRATEGY_UNSPECIFIED",
            "EXACT_LOCATION",
            "INTERSECTING_LOCATION"
          ],
          "description": "Determines how this lookup matches the location.  If this field is\nspecified as EXACT, only developer metadata associated on the exact\nlocation specified is matched.  If this field is specified to INTERSECTING,\ndeveloper metadata associated on intersecting locations is also\nmatched.  If left unspecified, this field assumes a default value of\nINTERSECTING.\nIf this field is specified, a metadataLocation\nmust also be specified.",
          "type": "string"
        },
        "locationType": {
          "enumDescriptions": [
            "Default value.",
            "Developer metadata associated on an entire row dimension.",
            "Developer metadata associated on an entire column dimension.",
            "Developer metadata associated on an entire sheet.",
            "Developer metadata associated on the entire spreadsheet."
          ],
          "enum": [
            "DEVELOPER_METADATA_LOCATION_TYPE_UNSPECIFIED",
            "ROW",
            "COLUMN",
            "SHEET",
            "SPREADSHEET"
          ],
          "description": "Limits the selected developer metadata to those entries which are\nassociated with locations of the specified type.  For example, when this\nfield is specified as ROW this lookup\nonly considers developer metadata associated on rows.  If the field is left\nunspecified, all location types are considered.  This field cannot be\nspecified as SPREADSHEET when\nthe locationMatchingStrategy\nis specified as INTERSECTING or when the\nmetadataLocation is specified as a\nnon-spreadsheet location: spreadsheet metadata cannot intersect any other\ndeveloper metadata location.  This field also must be left unspecified when\nthe locationMatchingStrategy\nis specified as EXACT.",
          "type": "string"
        }
      },
      "id": "DeveloperMetadataLookup",
      "description": "Selects DeveloperMetadata that matches all of the specified fields.  For\nexample, if only a metadata ID is specified this considers the\nDeveloperMetadata with that particular unique ID. If a metadata key is\nspecified, this considers all developer metadata with that key.  If a\nkey, visibility, and location type are all specified, this considers all\ndeveloper metadata with that key and visibility that are associated with a\nlocation of that type.  In general, this\nselects all DeveloperMetadata that matches the intersection of all the\nspecified fields; any field or combination of fields may be specified."
    },
    "AutoFillRequest": {
      "description": "Fills in more data based on existing data.",
      "type": "object",
      "properties": {
        "useAlternateSeries": {
          "description": "True if we should generate data with the \"alternate\" series.\nThis differs based on the type and amount of source data.",
          "type": "boolean"
        },
        "sourceAndDestination": {
          "$ref": "SourceAndDestination",
          "description": "The source and destination areas to autofill.\nThis explicitly lists the source of the autofill and where to\nextend that data."
        },
        "range": {
          "description": "The range to autofill. This will examine the range and detect\nthe location that has data and automatically fill that data\nin to the rest of the range.",
          "$ref": "GridRange"
        }
      },
      "id": "AutoFillRequest"
    },
    "GradientRule": {
      "description": "A rule that applies a gradient color scale format, based on\nthe interpolation points listed. The format of a cell will vary\nbased on its contents as compared to the values of the interpolation\npoints.",
      "type": "object",
      "properties": {
        "midpoint": {
          "description": "An optional midway interpolation point.",
          "$ref": "InterpolationPoint"
        },
        "minpoint": {
          "$ref": "InterpolationPoint",
          "description": "The starting interpolation point."
        },
        "maxpoint": {
          "$ref": "InterpolationPoint",
          "description": "The final interpolation point."
        }
      },
      "id": "GradientRule"
    },
    "ClearValuesRequest": {
      "description": "The request for clearing a range of values in a spreadsheet.",
      "type": "object",
      "properties": {},
      "id": "ClearValuesRequest"
    },
    "SetBasicFilterRequest": {
      "type": "object",
      "properties": {
        "filter": {
          "description": "The filter to set.",
          "$ref": "BasicFilter"
        }
      },
      "id": "SetBasicFilterRequest",
      "description": "Sets the basic filter associated with a sheet."
    },
    "InterpolationPoint": {
      "description": "A single interpolation point on a gradient conditional format.\nThese pin the gradient color scale according to the color,\ntype and value chosen.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The value this interpolation point uses.  May be a formula.\nUnused if type is MIN or\nMAX.",
          "type": "string"
        },
        "color": {
          "$ref": "Color",
          "description": "The color this interpolation point should use."
        },
        "type": {
          "enum": [
            "INTERPOLATION_POINT_TYPE_UNSPECIFIED",
            "MIN",
            "MAX",
            "NUMBER",
            "PERCENT",
            "PERCENTILE"
          ],
          "description": "How the value should be interpreted.",
          "type": "string",
          "enumDescriptions": [
            "The default value, do not use.",
            "The interpolation point will use the minimum value in the\ncells over the range of the conditional format.",
            "The interpolation point will use the maximum value in the\ncells over the range of the conditional format.",
            "The interpolation point will use exactly the value in\nInterpolationPoint.value.",
            "The interpolation point will be the given percentage over\nall the cells in the range of the conditional format.\nThis is equivalent to NUMBER if the value was:\n`=(MAX(FLATTEN(range)) * (value / 100))\n  + (MIN(FLATTEN(range)) * (1 - (value / 100)))`\n(where errors in the range are ignored when flattening).",
            "The interpolation point will be the given percentile\nover all the cells in the range of the conditional format.\nThis is equivalent to NUMBER if the value was:\n`=PERCENTILE(FLATTEN(range), value / 100)`\n(where errors in the range are ignored when flattening)."
          ]
        }
      },
      "id": "InterpolationPoint"
    },
    "BatchClearValuesByDataFilterRequest": {
      "type": "object",
      "properties": {
        "dataFilters": {
          "description": "The DataFilters used to determine which ranges to clear.",
          "type": "array",
          "items": {
            "$ref": "DataFilter"
          }
        }
      },
      "id": "BatchClearValuesByDataFilterRequest",
      "description": "The request for clearing more than one range selected by a\nDataFilter in a spreadsheet."
    },
    "GetSpreadsheetByDataFilterRequest": {
      "description": "The request for retrieving a Spreadsheet.",
      "type": "object",
      "properties": {
        "includeGridData": {
          "description": "True if grid data should be returned.\nThis parameter is ignored if a field mask was set in the request.",
          "type": "boolean"
        },
        "dataFilters": {
          "description": "The DataFilters used to select which ranges to retrieve from\nthe spreadsheet.",
          "type": "array",
          "items": {
            "$ref": "DataFilter"
          }
        }
      },
      "id": "GetSpreadsheetByDataFilterRequest"
    },
    "DeleteEmbeddedObjectRequest": {
      "properties": {
        "objectId": {
          "description": "The ID of the embedded object to delete.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "DeleteEmbeddedObjectRequest",
      "description": "Deletes the embedded object with the given ID.",
      "type": "object"
    },
    "FindReplaceResponse": {
      "description": "The result of the find/replace.",
      "type": "object",
      "properties": {
        "occurrencesChanged": {
          "description": "The number of occurrences (possibly multiple within a cell) changed.\nFor example, if replacing `\"e\"` with `\"o\"` in `\"Google Sheets\"`, this would\nbe `\"3\"` because `\"Google Sheets\"` -\u003e `\"Googlo Shoots\"`.",
          "format": "int32",
          "type": "integer"
        },
        "rowsChanged": {
          "description": "The number of rows changed.",
          "format": "int32",
          "type": "integer"
        },
        "sheetsChanged": {
          "description": "The number of sheets changed.",
          "format": "int32",
          "type": "integer"
        },
        "formulasChanged": {
          "description": "The number of formula cells changed.",
          "format": "int32",
          "type": "integer"
        },
        "valuesChanged": {
          "description": "The number of non-formula cells changed.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "FindReplaceResponse"
    },
    "UpdateValuesByDataFilterResponse": {
      "id": "UpdateValuesByDataFilterResponse",
      "description": "The response when updating a range of values by a data filter in a\nspreadsheet.",
      "type": "object",
      "properties": {
        "updatedColumns": {
          "description": "The number of columns where at least one cell in the column was updated.",
          "format": "int32",
          "type": "integer"
        },
        "updatedRange": {
          "description": "The range (in A1 notation) that updates were applied to.",
          "type": "string"
        },
        "updatedCells": {
          "type": "integer",
          "description": "The number of cells updated.",
          "format": "int32"
        },
        "dataFilter": {
          "$ref": "DataFilter",
          "description": "The data filter that selected the range that was updated."
        },
        "updatedData": {
          "$ref": "ValueRange",
          "description": "The values of the cells in the range matched by the dataFilter after all\nupdates were applied. This is only included if the request's\n`includeValuesInResponse` field was `true`."
        },
        "updatedRows": {
          "description": "The number of rows where at least one cell in the row was updated.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "DeleteSheetRequest": {
      "description": "Deletes the requested sheet.",
      "type": "object",
      "properties": {
        "sheetId": {
          "description": "The ID of the sheet to delete.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "DeleteSheetRequest"
    },
    "DuplicateFilterViewRequest": {
      "description": "Duplicates a particular filter view.",
      "type": "object",
      "properties": {
        "filterId": {
          "description": "The ID of the filter being duplicated.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "DuplicateFilterViewRequest"
    },
    "MatchedValueRange": {
      "description": "A value range that was matched by one or more data filers.",
      "type": "object",
      "properties": {
        "valueRange": {
          "$ref": "ValueRange",
          "description": "The values matched by the DataFilter."
        },
        "dataFilters": {
          "description": "The DataFilters from the request that matched the range of\nvalues.",
          "type": "array",
          "items": {
            "$ref": "DataFilter"
          }
        }
      },
      "id": "MatchedValueRange"
    },
    "DeveloperMetadataLocation": {
      "description": "A location where metadata may be associated in a spreadsheet.",
      "type": "object",
      "properties": {
        "dimensionRange": {
          "$ref": "DimensionRange",
          "description": "Represents the row or column when metadata is associated with\na dimension. The specified DimensionRange must represent a single row\nor column; it cannot be unbounded or span multiple rows or columns."
        },
        "spreadsheet": {
          "type": "boolean",
          "description": "True when metadata is associated with an entire spreadsheet."
        },
        "sheetId": {
          "description": "The ID of the sheet when metadata is associated with an entire sheet.",
          "format": "int32",
          "type": "integer"
        },
        "locationType": {
          "enum": [
            "DEVELOPER_METADATA_LOCATION_TYPE_UNSPECIFIED",
            "ROW",
            "COLUMN",
            "SHEET",
            "SPREADSHEET"
          ],
          "description": "The type of location this object represents.  This field is read-only.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Developer metadata associated on an entire row dimension.",
            "Developer metadata associated on an entire column dimension.",
            "Developer metadata associated on an entire sheet.",
            "Developer metadata associated on the entire spreadsheet."
          ]
        }
      },
      "id": "DeveloperMetadataLocation"
    },
    "UpdateConditionalFormatRuleResponse": {
      "description": "The result of updating a conditional format rule.",
      "type": "object",
      "properties": {
        "oldRule": {
          "$ref": "ConditionalFormatRule",
          "description": "The old (deleted) rule. Not set if a rule was moved\n(because it is the same as new_rule)."
        },
        "newIndex": {
          "type": "integer",
          "description": "The index of the new rule.",
          "format": "int32"
        },
        "oldIndex": {
          "description": "The old index of the rule. Not set if a rule was replaced\n(because it is the same as new_index).",
          "format": "int32",
          "type": "integer"
        },
        "newRule": {
          "description": "The new rule that replaced the old rule (if replacing),\nor the rule that was moved (if moved)",
          "$ref": "ConditionalFormatRule"
        }
      },
      "id": "UpdateConditionalFormatRuleResponse"
    },
    "ConditionValue": {
      "type": "object",
      "properties": {
        "relativeDate": {
          "enum": [
            "RELATIVE_DATE_UNSPECIFIED",
            "PAST_YEAR",
            "PAST_MONTH",
            "PAST_WEEK",
            "YESTERDAY",
            "TODAY",
            "TOMORROW"
          ],
          "description": "A relative date (based on the current date).\nValid only if the type is\nDATE_BEFORE,\nDATE_AFTER,\nDATE_ON_OR_BEFORE or\nDATE_ON_OR_AFTER.\n\nRelative dates are not supported in data validation.\nThey are supported only in conditional formatting and\nconditional filters.",
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "The value is one year before today.",
            "The value is one month before today.",
            "The value is one week before today.",
            "The value is yesterday.",
            "The value is today.",
            "The value is tomorrow."
          ]
        },
        "userEnteredValue": {
          "description": "A value the condition is based on.\nThe value will be parsed as if the user typed into a cell.\nFormulas are supported (and must begin with an `=`).",
          "type": "string"
        }
      },
      "id": "ConditionValue",
      "description": "The value of the condition."
    },
    "DuplicateSheetRequest": {
      "description": "Duplicates the contents of a sheet.",
      "type": "object",
      "properties": {
        "insertSheetIndex": {
          "type": "integer",
          "description": "The zero-based index where the new sheet should be inserted.\nThe index of all sheets after this are incremented.",
          "format": "int32"
        },
        "newSheetName": {
          "description": "The name of the new sheet.  If empty, a new name is chosen for you.",
          "type": "string"
        },
        "sourceSheetId": {
          "description": "The sheet to duplicate.",
          "format": "int32",
          "type": "integer"
        },
        "newSheetId": {
          "description": "If set, the ID of the new sheet. If not set, an ID is chosen.\nIf set, the ID must not conflict with any existing sheet ID.\nIf set, it must be non-negative.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "DuplicateSheetRequest"
    },
    "ExtendedValue": {
      "description": "The kinds of value that a cell in a spreadsheet can have.",
      "type": "object",
      "properties": {
        "numberValue": {
          "description": "Represents a double value.\nNote: Dates, Times and DateTimes are represented as doubles in\n\"serial number\" format.",
          "format": "double",
          "type": "number"
        },
        "errorValue": {
          "$ref": "ErrorValue",
          "description": "Represents an error.\nThis field is read-only."
        },
        "stringValue": {
          "description": "Represents a string value.\nLeading single quotes are not included. For example, if the user typed\n`'123` into the UI, this would be represented as a `stringValue` of\n`\"123\"`.",
          "type": "string"
        },
        "boolValue": {
          "description": "Represents a boolean value.",
          "type": "boolean"
        },
        "formulaValue": {
          "description": "Represents a formula.",
          "type": "string"
        }
      },
      "id": "ExtendedValue"
    },
    "HistogramSeries": {
      "description": "A histogram series containing the series color and data.",
      "type": "object",
      "properties": {
        "data": {
          "description": "The data for this histogram series.",
          "$ref": "ChartData"
        },
        "barColor": {
          "description": "The color of the column representing this series in each bucket.\nThis field is optional.",
          "$ref": "Color"
        }
      },
      "id": "HistogramSeries"
    },
    "BatchClearValuesResponse": {
      "type": "object",
      "properties": {
        "clearedRanges": {
          "description": "The ranges that were cleared, in A1 notation.\n(If the requests were for an unbounded range or a ranger larger\n than the bounds of the sheet, this will be the actual ranges\n that were cleared, bounded to the sheet's limits.)",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "spreadsheetId": {
          "description": "The spreadsheet the updates were applied to.",
          "type": "string"
        }
      },
      "id": "BatchClearValuesResponse",
      "description": "The response when clearing a range of values in a spreadsheet."
    },
    "Spreadsheet": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "SpreadsheetProperties",
          "description": "Overall properties of a spreadsheet."
        },
        "spreadsheetId": {
          "description": "The ID of the spreadsheet.\nThis field is read-only.",
          "type": "string"
        },
        "namedRanges": {
          "description": "The named ranges defined in a spreadsheet.",
          "type": "array",
          "items": {
            "$ref": "NamedRange"
          }
        },
        "developerMetadata": {
          "type": "array",
          "items": {
            "$ref": "DeveloperMetadata"
          },
          "description": "The developer metadata associated with a spreadsheet."
        },
        "sheets": {
          "description": "The sheets that are part of a spreadsheet.",
          "type": "array",
          "items": {
            "$ref": "Sheet"
          }
        },
        "spreadsheetUrl": {
          "description": "The url of the spreadsheet.\nThis field is read-only.",
          "type": "string"
        }
      },
      "id": "Spreadsheet",
      "description": "Resource that represents a spreadsheet."
    },
    "BandedRange": {
      "description": "A banded (alternating colors) range in a sheet.",
      "type": "object",
      "properties": {
        "rowProperties": {
          "description": "Properties for row bands. These properties will be applied on a row-by-row\nbasis throughout all the rows in the range. At least one of\nrow_properties or column_properties must be specified.",
          "$ref": "BandingProperties"
        },
        "columnProperties": {
          "$ref": "BandingProperties",
          "description": "Properties for column bands. These properties will be applied on a column-\nby-column basis throughout all the columns in the range. At least one of\nrow_properties or column_properties must be specified."
        },
        "range": {
          "$ref": "GridRange",
          "description": "The range over which these properties are applied."
        },
        "bandedRangeId": {
          "description": "The id of the banded range.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "BandedRange"
    },
    "AddChartRequest": {
      "description": "Adds a chart to a sheet in the spreadsheet.",
      "type": "object",
      "properties": {
        "chart": {
          "$ref": "EmbeddedChart",
          "description": "The chart that should be added to the spreadsheet, including the position\nwhere it should be placed. The chartId\nfield is optional; if one is not set, an id will be randomly generated. (It\nis an error to specify the ID of a chart that already exists.)"
        }
      },
      "id": "AddChartRequest"
    },
    "UpdateProtectedRangeRequest": {
      "properties": {
        "protectedRange": {
          "$ref": "ProtectedRange",
          "description": "The protected range to update with the new properties."
        },
        "fields": {
          "description": "The fields that should be updated.  At least one field must be specified.\nThe root `protectedRange` is implied and should not be specified.\nA single `\"*\"` can be used as short-hand for listing every field.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "id": "UpdateProtectedRangeRequest",
      "description": "Updates an existing protected range with the specified\nprotectedRangeId.",
      "type": "object"
    },
    "DataFilter": {
      "description": "Filter that describes what data should be selected or returned from a\nrequest.",
      "type": "object",
      "properties": {
        "a1Range": {
          "description": "Selects data that matches the specified A1 range.",
          "type": "string"
        },
        "gridRange": {
          "description": "Selects data that matches the range described by the GridRange.",
          "$ref": "GridRange"
        },
        "developerMetadataLookup": {
          "$ref": "DeveloperMetadataLookup",
          "description": "Selects data associated with the developer metadata matching the criteria\ndescribed by this DeveloperMetadataLookup."
        }
      },
      "id": "DataFilter"
    },
    "TextFormat": {
      "description": "The format of a run of text in a cell.\nAbsent values indicate that the field isn't specified.",
      "type": "object",
      "properties": {
        "fontFamily": {
          "description": "The font family.",
          "type": "string"
        },
        "italic": {
          "type": "boolean",
          "description": "True if the text is italicized."
        },
        "strikethrough": {
          "type": "boolean",
          "description": "True if the text has a strikethrough."
        },
        "fontSize": {
          "description": "The size of the font.",
          "format": "int32",
          "type": "integer"
        },
        "underline": {
          "description": "True if the text is underlined.",
          "type": "boolean"
        },
        "foregroundColor": {
          "$ref": "Color",
          "description": "The foreground color of the text."
        },
        "bold": {
          "description": "True if the text is bold.",
          "type": "boolean"
        }
      },
      "id": "TextFormat"
    },
    "AddSheetResponse": {
      "id": "AddSheetResponse",
      "description": "The result of adding a sheet.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "The properties of the newly added sheet.",
          "$ref": "SheetProperties"
        }
      }
    },
    "AddFilterViewResponse": {
      "description": "The result of adding a filter view.",
      "type": "object",
      "properties": {
        "filter": {
          "$ref": "FilterView",
          "description": "The newly added filter view."
        }
      },
      "id": "AddFilterViewResponse"
    },
    "IterativeCalculationSettings": {
      "id": "IterativeCalculationSettings",
      "description": "Settings to control how circular dependencies are resolved with iterative\ncalculation.",
      "type": "object",
      "properties": {
        "convergenceThreshold": {
          "description": "When iterative calculation is enabled and successive results differ by\nless than this threshold value, the calculation rounds stop.",
          "format": "double",
          "type": "number"
        },
        "maxIterations": {
          "description": "When iterative calculation is enabled, the maximum number of calculation\nrounds to perform.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "OverlayPosition": {
      "id": "OverlayPosition",
      "description": "The location an object is overlaid on top of a grid.",
      "type": "object",
      "properties": {
        "widthPixels": {
          "description": "The width of the object, in pixels. Defaults to 600.",
          "format": "int32",
          "type": "integer"
        },
        "offsetXPixels": {
          "description": "The horizontal offset, in pixels, that the object is offset\nfrom the anchor cell.",
          "format": "int32",
          "type": "integer"
        },
        "anchorCell": {
          "$ref": "GridCoordinate",
          "description": "The cell the object is anchored to."
        },
        "offsetYPixels": {
          "description": "The vertical offset, in pixels, that the object is offset\nfrom the anchor cell.",
          "format": "int32",
          "type": "integer"
        },
        "heightPixels": {
          "description": "The height of the object, in pixels. Defaults to 371.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "SpreadsheetProperties": {
      "description": "Properties of a spreadsheet.",
      "type": "object",
      "properties": {
        "autoRecalc": {
          "description": "The amount of time to wait before volatile functions are recalculated.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value must not be used.",
            "Volatile functions are updated on every change.",
            "Volatile functions are updated on every change and every minute.",
            "Volatile functions are updated on every change and hourly."
          ],
          "enum": [
            "RECALCULATION_INTERVAL_UNSPECIFIED",
            "ON_CHANGE",
            "MINUTE",
            "HOUR"
          ]
        },
        "defaultFormat": {
          "$ref": "CellFormat",
          "description": "The default format of all cells in the spreadsheet.\nCellData.effectiveFormat will not be set if the\ncell's format is equal to this default format.\nThis field is read-only."
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone of the spreadsheet, in CLDR format such as\n`America/New_York`. If the time zone isn't recognized, this may\nbe a custom time zone such as `GMT-07:00`."
        },
        "title": {
          "description": "The title of the spreadsheet.",
          "type": "string"
        },
        "locale": {
          "description": "The locale of the spreadsheet in one of the following formats:\n\n* an ISO 639-1 language code such as `en`\n\n* an ISO 639-2 language code such as `fil`, if no 639-1 code exists\n\n* a combination of the ISO language code and country code, such as `en_US`\n\nNote: when updating this field, not all locales/languages are supported.",
          "type": "string"
        },
        "iterativeCalculationSettings": {
          "description": "Determines whether and how circular references are resolved with iterative\ncalculation.  Absence of this field means that circular references will\nresult in calculation errors.",
          "$ref": "IterativeCalculationSettings"
        }
      },
      "id": "SpreadsheetProperties"
    },
    "RepeatCellRequest": {
      "properties": {
        "range": {
          "description": "The range to repeat the cell in.",
          "$ref": "GridRange"
        },
        "fields": {
          "description": "The fields that should be updated.  At least one field must be specified.\nThe root `cell` is implied and should not be specified.\nA single `\"*\"` can be used as short-hand for listing every field.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "cell": {
          "$ref": "CellData",
          "description": "The data to write."
        }
      },
      "id": "RepeatCellRequest",
      "description": "Updates all cells in the range to the values in the given Cell object.\nOnly the fields listed in the fields field are updated; others are\nunchanged.\n\nIf writing a cell with a formula, the formula's ranges will automatically\nincrement for each field in the range.\nFor example, if writing a cell with formula `=A1` into range B2:C4,\nB2 would be `=A1`, B3 would be `=A2`, B4 would be `=A3`,\nC2 would be `=B1`, C3 would be `=B2`, C4 would be `=B3`.\n\nTo keep the formula's ranges static, use the `$` indicator.\nFor example, use the formula `=$A$1` to prevent both the row and the\ncolumn from incrementing.",
      "type": "object"
    },
    "AddChartResponse": {
      "description": "The result of adding a chart to a spreadsheet.",
      "type": "object",
      "properties": {
        "chart": {
          "$ref": "EmbeddedChart",
          "description": "The newly added chart."
        }
      },
      "id": "AddChartResponse"
    },
    "InsertDimensionRequest": {
      "description": "Inserts rows or columns in a sheet at a particular index.",
      "type": "object",
      "properties": {
        "range": {
          "$ref": "DimensionRange",
          "description": "The dimensions to insert.  Both the start and end indexes must be bounded."
        },
        "inheritFromBefore": {
          "description": "Whether dimension properties should be extended from the dimensions\nbefore or after the newly inserted dimensions.\nTrue to inherit from the dimensions before (in which case the start\nindex must be greater than 0), and false to inherit from the dimensions\nafter.\n\nFor example, if row index 0 has red background and row index 1\nhas a green background, then inserting 2 rows at index 1 can inherit\neither the green or red background.  If `inheritFromBefore` is true,\nthe two new rows will be red (because the row before the insertion point\nwas red), whereas if `inheritFromBefore` is false, the two new rows will\nbe green (because the row after the insertion point was green).",
          "type": "boolean"
        }
      },
      "id": "InsertDimensionRequest"
    },
    "UpdateSpreadsheetPropertiesRequest": {
      "description": "Updates properties of a spreadsheet.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "SpreadsheetProperties",
          "description": "The properties to update."
        },
        "fields": {
          "description": "The fields that should be updated.  At least one field must be specified.\nThe root 'properties' is implied and should not be specified.\nA single `\"*\"` can be used as short-hand for listing every field.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "id": "UpdateSpreadsheetPropertiesRequest"
    },
    "ProtectedRange": {
      "description": "A protected range.",
      "type": "object",
      "properties": {
        "requestingUserCanEdit": {
          "description": "True if the user who requested this protected range can edit the\nprotected area.\nThis field is read-only.",
          "type": "boolean"
        },
        "range": {
          "$ref": "GridRange",
          "description": "The range that is being protected.\nThe range may be fully unbounded, in which case this is considered\na protected sheet.\n\nWhen writing, only one of range or named_range_id\nmay be set."
        },
        "editors": {
          "$ref": "Editors",
          "description": "The users and groups with edit access to the protected range.\nThis field is only visible to users with edit access to the protected\nrange and the document.\nEditors are not supported with warning_only protection."
        },
        "description": {
          "description": "The description of this protected range.",
          "type": "string"
        },
        "unprotectedRanges": {
          "description": "The list of unprotected ranges within a protected sheet.\nUnprotected ranges are only supported on protected sheets.",
          "type": "array",
          "items": {
            "$ref": "GridRange"
          }
        },
        "namedRangeId": {
          "description": "The named range this protected range is backed by, if any.\n\nWhen writing, only one of range or named_range_id\nmay be set.",
          "type": "string"
        },
        "protectedRangeId": {
          "description": "The ID of the protected range.\nThis field is read-only.",
          "format": "int32",
          "type": "integer"
        },
        "warningOnly": {
          "description": "True if this protected range will show a warning when editing.\nWarning-based protection means that every user can edit data in the\nprotected range, except editing will prompt a warning asking the user\nto confirm the edit.\n\nWhen writing: if this field is true, then editors is ignored.\nAdditionally, if this field is changed from true to false and the\n`editors` field is not set (nor included in the field mask), then\nthe editors will be set to all the editors in the document.",
          "type": "boolean"
        }
      },
      "id": "ProtectedRange"
    },
    "BatchUpdateValuesRequest": {
      "description": "The request for updating more than one range of values in a spreadsheet.",
      "type": "object",
      "properties": {
        "responseValueRenderOption": {
          "enumDescriptions": [
            "Values will be calculated & formatted in the reply according to the\ncell's formatting.  Formatting is based on the spreadsheet's locale,\nnot the requesting user's locale.\nFor example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency,\nthen `A2` would return `\"$1.23\"`.",
            "Values will be calculated, but not formatted in the reply.\nFor example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency,\nthen `A2` would return the number `1.23`.",
            "Values will not be calculated.  The reply will include the formulas.\nFor example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency,\nthen A2 would return `\"=A1\"`."
          ],
          "enum": [
            "FORMATTED_VALUE",
            "UNFORMATTED_VALUE",
            "FORMULA"
          ],
          "description": "Determines how values in the response should be rendered.\nThe default render option is ValueRenderOption.FORMATTED_VALUE.",
          "type": "string"
        },
        "includeValuesInResponse": {
          "type": "boolean",
          "description": "Determines if the update response should include the values\nof the cells that were updated. By default, responses\ndo not include the updated values. The `updatedData` field within\neach of the BatchUpdateValuesResponse.responses will contain\nthe updated values. If the range to write was larger than than the range\nactually written, the response will include all values in the requested\nrange (excluding trailing empty rows and columns)."
        },
        "valueInputOption": {
          "enum": [
            "INPUT_VALUE_OPTION_UNSPECIFIED",
            "RAW",
            "USER_ENTERED"
          ],
          "description": "How the input data should be interpreted.",
          "type": "string",
          "enumDescriptions": [
            "Default input value. This value must not be used.",
            "The values the user has entered will not be parsed and will be stored\nas-is.",
            "The values will be parsed as if the user typed them into the UI.\nNumbers will stay as numbers, but strings may be converted to numbers,\ndates, etc. following the same rules that are applied when entering\ntext into a cell via the Google Sheets UI."
          ]
        },
        "data": {
          "description": "The new values to apply to the spreadsheet.",
          "type": "array",
          "items": {
            "$ref": "ValueRange"
          }
        },
        "responseDateTimeRenderOption": {
          "enum": [
            "SERIAL_NUMBER",
            "FORMATTED_STRING"
          ],
          "description": "Determines how dates, times, and durations in the response should be\nrendered. This is ignored if response_value_render_option is\nFORMATTED_VALUE.\nThe default dateTime render option is\nDateTimeRenderOption.SERIAL_NUMBER.",
          "type": "string",
          "enumDescriptions": [
            "Instructs date, time, datetime, and duration fields to be output\nas doubles in \"serial number\" format, as popularized by Lotus 1-2-3.\nThe whole number portion of the value (left of the decimal) counts\nthe days since December 30th 1899. The fractional portion (right of\nthe decimal) counts the time as a fraction of the day. For example,\nJanuary 1st 1900 at noon would be 2.5, 2 because it's 2 days after\nDecember 30st 1899, and .5 because noon is half a day.  February 1st\n1900 at 3pm would be 33.625. This correctly treats the year 1900 as\nnot a leap year.",
            "Instructs date, time, datetime, and duration fields to be output\nas strings in their given number format (which is dependent\non the spreadsheet locale)."
          ]
        }
      },
      "id": "BatchUpdateValuesRequest"
    },
    "DimensionProperties": {
      "description": "Properties about a dimension.",
      "type": "object",
      "properties": {
        "hiddenByFilter": {
          "description": "True if this dimension is being filtered.\nThis field is read-only.",
          "type": "boolean"
        },
        "hiddenByUser": {
          "type": "boolean",
          "description": "True if this dimension is explicitly hidden."
        },
        "developerMetadata": {
          "description": "The developer metadata associated with a single row or column.",
          "type": "array",
          "items": {
            "$ref": "DeveloperMetadata"
          }
        },
        "pixelSize": {
          "description": "The height (if a row) or width (if a column) of the dimension in pixels.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "DimensionProperties"
    },
    "DimensionRange": {
      "description": "A range along a single dimension on a sheet.\nAll indexes are zero-based.\nIndexes are half open: the start index is inclusive\nand the end index is exclusive.\nMissing indexes indicate the range is unbounded on that side.",
      "type": "object",
      "properties": {
        "dimension": {
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ],
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ],
          "description": "The dimension of the span.",
          "type": "string"
        },
        "startIndex": {
          "description": "The start (inclusive) of the span, or not set if unbounded.",
          "format": "int32",
          "type": "integer"
        },
        "endIndex": {
          "description": "The end (exclusive) of the span, or not set if unbounded.",
          "format": "int32",
          "type": "integer"
        },
        "sheetId": {
          "description": "The sheet this span is on.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "DimensionRange"
    },
    "NamedRange": {
      "description": "A named range.",
      "type": "object",
      "properties": {
        "namedRangeId": {
          "description": "The ID of the named range.",
          "type": "string"
        },
        "range": {
          "$ref": "GridRange",
          "description": "The range this represents."
        },
        "name": {
          "description": "The name of the named range.",
          "type": "string"
        }
      },
      "id": "NamedRange"
    },
    "CutPasteRequest": {
      "id": "CutPasteRequest",
      "description": "Moves data from the source to the destination.",
      "type": "object",
      "properties": {
        "source": {
          "description": "The source data to cut.",
          "$ref": "GridRange"
        },
        "pasteType": {
          "enumDescriptions": [
            "Paste values, formulas, formats, and merges.",
            "Paste the values ONLY without formats, formulas, or merges.",
            "Paste the format and data validation only.",
            "Like PASTE_NORMAL but without borders.",
            "Paste the formulas only.",
            "Paste the data validation only.",
            "Paste the conditional formatting rules only."
          ],
          "enum": [
            "PASTE_NORMAL",
            "PASTE_VALUES",
            "PASTE_FORMAT",
            "PASTE_NO_BORDERS",
            "PASTE_FORMULA",
            "PASTE_DATA_VALIDATION",
            "PASTE_CONDITIONAL_FORMATTING"
          ],
          "description": "What kind of data to paste.  All the source data will be cut, regardless\nof what is pasted.",
          "type": "string"
        },
        "destination": {
          "$ref": "GridCoordinate",
          "description": "The top-left coordinate where the data should be pasted."
        }
      }
    },
    "BasicChartSeries": {
      "properties": {
        "lineStyle": {
          "$ref": "LineStyle",
          "description": "The line style of this series. Valid only if the\nchartType is AREA,\nLINE, or SCATTER.\nCOMBO charts are also supported if the\nseries chart type is\nAREA or LINE."
        },
        "series": {
          "$ref": "ChartData",
          "description": "The data being visualized in this chart series."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "A \u003ca href=\"/chart/interactive/docs/gallery/barchart\"\u003ebar chart\u003c/a\u003e.",
            "A \u003ca href=\"/chart/interactive/docs/gallery/linechart\"\u003eline chart\u003c/a\u003e.",
            "An \u003ca href=\"/chart/interactive/docs/gallery/areachart\"\u003earea chart\u003c/a\u003e.",
            "A \u003ca href=\"/chart/interactive/docs/gallery/columnchart\"\u003ecolumn chart\u003c/a\u003e.",
            "A \u003ca href=\"/chart/interactive/docs/gallery/scatterchart\"\u003escatter chart\u003c/a\u003e.",
            "A \u003ca href=\"/chart/interactive/docs/gallery/combochart\"\u003ecombo chart\u003c/a\u003e.",
            "A \u003ca href=\"/chart/interactive/docs/gallery/steppedareachart\"\u003estepped area chart\u003c/a\u003e."
          ],
          "enum": [
            "BASIC_CHART_TYPE_UNSPECIFIED",
            "BAR",
            "LINE",
            "AREA",
            "COLUMN",
            "SCATTER",
            "COMBO",
            "STEPPED_AREA"
          ],
          "description": "The type of this series. Valid only if the\nchartType is\nCOMBO.\nDifferent types will change the way the series is visualized.\nOnly LINE, AREA,\nand COLUMN are supported."
        },
        "targetAxis": {
          "enumDescriptions": [
            "Default value, do not use.",
            "The axis rendered at the bottom of a chart.\nFor most charts, this is the standard major axis.\nFor bar charts, this is a minor axis.",
            "The axis rendered at the left of a chart.\nFor most charts, this is a minor axis.\nFor bar charts, this is the standard major axis.",
            "The axis rendered at the right of a chart.\nFor most charts, this is a minor axis.\nFor bar charts, this is an unusual major axis."
          ],
          "enum": [
            "BASIC_CHART_AXIS_POSITION_UNSPECIFIED",
            "BOTTOM_AXIS",
            "LEFT_AXIS",
            "RIGHT_AXIS"
          ],
          "description": "The minor axis that will specify the range of values for this series.\nFor example, if charting stocks over time, the \"Volume\" series\nmay want to be pinned to the right with the prices pinned to the left,\nbecause the scale of trading volume is different than the scale of\nprices.\nIt is an error to specify an axis that isn't a valid minor axis\nfor the chart's type.",
          "type": "string"
        }
      },
      "id": "BasicChartSeries",
      "description": "A single series of data in a chart.\nFor example, if charting stock prices over time, multiple series may exist,\none for the \"Open Price\", \"High Price\", \"Low Price\" and \"Close Price\".",
      "type": "object"
    },
    "Borders": {
      "type": "object",
      "properties": {
        "right": {
          "$ref": "Border",
          "description": "The right border of the cell."
        },
        "bottom": {
          "description": "The bottom border of the cell.",
          "$ref": "Border"
        },
        "top": {
          "$ref": "Border",
          "description": "The top border of the cell."
        },
        "left": {
          "$ref": "Border",
          "description": "The left border of the cell."
        }
      },
      "id": "Borders",
      "description": "The borders of the cell."
    },
    "AutoResizeDimensionsRequest": {
      "description": "Automatically resizes one or more dimensions based on the contents\nof the cells in that dimension.",
      "type": "object",
      "properties": {
        "dimensions": {
          "description": "The dimensions to automatically resize.",
          "$ref": "DimensionRange"
        }
      },
      "id": "AutoResizeDimensionsRequest"
    },
    "UpdateBordersRequest": {
      "description": "Updates the borders of a range.\nIf a field is not set in the request, that means the border remains as-is.\nFor example, with two subsequent UpdateBordersRequest:\n\n 1. range: A1:A5 `{ top: RED, bottom: WHITE }`\n 2. range: A1:A5 `{ left: BLUE }`\n\nThat would result in A1:A5 having a borders of\n`{ top: RED, bottom: WHITE, left: BLUE }`.\nIf you want to clear a border, explicitly set the style to\nNONE.",
      "type": "object",
      "properties": {
        "left": {
          "$ref": "Border",
          "description": "The border to put at the left of the range."
        },
        "bottom": {
          "$ref": "Border",
          "description": "The border to put at the bottom of the range."
        },
        "innerVertical": {
          "$ref": "Border",
          "description": "The vertical border to put within the range."
        },
        "right": {
          "description": "The border to put at the right of the range.",
          "$ref": "Border"
        },
        "range": {
          "$ref": "GridRange",
          "description": "The range whose borders should be updated."
        },
        "innerHorizontal": {
          "description": "The horizontal border to put within the range.",
          "$ref": "Border"
        },
        "top": {
          "$ref": "Border",
          "description": "The border to put at the top of the range."
        }
      },
      "id": "UpdateBordersRequest"
    },
    "CellFormat": {
      "description": "The format of a cell.",
      "type": "object",
      "properties": {
        "numberFormat": {
          "$ref": "NumberFormat",
          "description": "A format describing how number values should be represented to the user."
        },
        "hyperlinkDisplayType": {
          "enumDescriptions": [
            "The default value: the hyperlink is rendered. Do not use this.",
            "A hyperlink should be explicitly rendered.",
            "A hyperlink should not be rendered."
          ],
          "enum": [
            "HYPERLINK_DISPLAY_TYPE_UNSPECIFIED",
            "LINKED",
            "PLAIN_TEXT"
          ],
          "description": "How a hyperlink, if it exists, should be displayed in the cell.",
          "type": "string"
        },
        "horizontalAlignment": {
[...]
