body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #444444;
}
.navbar-inverse .navbar-brand {
    color: #000000;
}
.navbar {
    background-color: #68ccf1;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #b0e4f7;
    color: #000000;
}
