{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://videointelligence.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Cloud Video Intelligence",
  "description": "Cloud Video Intelligence API.",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/video-intelligence/docs/",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "videointelligence:v1beta1",
  "kind": "discovery#restDescription",
  "name": "videointelligence",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "bearer_token": {
      "description": "OAuth bearer token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "pp": {
      "default": "true",
      "description": "Pretty-print response.",
      "location": "query",
      "type": "boolean"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "videos": {
      "methods": {
        "annotate": {
          "description": "Performs asynchronous video annotation. Progress and results can be\nretrieved through the `google.longrunning.Operations` interface.\n`Operation.metadata` contains `AnnotateVideoProgress` (progress).\n`Operation.response` contains `AnnotateVideoResponse` (results).",
          "flatPath": "v1beta1/videos:annotate",
          "httpMethod": "POST",
          "id": "videointelligence.videos.annotate",
          "parameterOrder": [],
          "parameters": {},
          "path": "v1beta1/videos:annotate",
          "request": {
            "$ref": "GoogleCloudVideointelligenceV1beta1_AnnotateVideoRequest"
          },
          "response": {
            "$ref": "GoogleLongrunning_Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    }
  },
  "revision": "20180502",
  "rootUrl": "https://videointelligence.googleapis.com/",
  "schemas": {
    "GoogleCloudVideointelligenceV1_AnnotateVideoProgress": {
      "description": "Video annotation progress. Included in the `metadata`\nfield of the `Operation` returned by the `GetOperation`\ncall of the `google::longrunning::Operations` service.",
      "id": "GoogleCloudVideointelligenceV1_AnnotateVideoProgress",
      "properties": {
        "annotationProgress": {
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoAnnotationProgress"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_AnnotateVideoResponse": {
      "description": "Video annotation response. Included in the `response`\nfield of the `Operation` returned by the `GetOperation`\ncall of the `google::longrunning::Operations` service.",
      "id": "GoogleCloudVideointelligenceV1_AnnotateVideoResponse",
      "properties": {
        "annotationResults": {
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoAnnotationResults"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_Entity": {
      "description": "Detected entity from video analysis.",
      "id": "GoogleCloudVideointelligenceV1_Entity",
      "properties": {
        "description": {
          "description": "Textual description, e.g. `Fixed-gear bicycle`.",
          "type": "string"
        },
        "entityId": {
          "description": "Opaque entity ID. Some IDs may be available in\n[Google Knowledge Graph Search\nAPI](https://developers.google.com/knowledge-graph/).",
          "type": "string"
        },
        "languageCode": {
          "description": "Language code for `description` in BCP-47 format.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_ExplicitContentAnnotation": {
      "description": "Explicit content annotation (based on per-frame visual signals only).\nIf no explicit content has been detected in a frame, no annotations are\npresent for that frame.",
      "id": "GoogleCloudVideointelligenceV1_ExplicitContentAnnotation",
      "properties": {
        "frames": {
          "description": "All video frames where explicit content was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_ExplicitContentFrame"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_ExplicitContentFrame": {
      "description": "Video frame level annotation results for explicit content.",
      "id": "GoogleCloudVideointelligenceV1_ExplicitContentFrame",
      "properties": {
        "pornographyLikelihood": {
          "description": "Likelihood of the pornography content..",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ],
          "type": "string"
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the\nvideo frame for this location.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_LabelAnnotation": {
      "description": "Label annotation.",
      "id": "GoogleCloudVideointelligenceV1_LabelAnnotation",
      "properties": {
        "categoryEntities": {
          "description": "Common categories for the detected entity.\nE.g. when the label is `Terrier` the category is likely `dog`. And in some\ncases there might be more than one categories e.g. `Terrier` could also be\na `pet`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_Entity"
          },
          "type": "array"
        },
        "entity": {
          "$ref": "GoogleCloudVideointelligenceV1_Entity",
          "description": "Detected entity."
        },
        "frames": {
          "description": "All video frames where a label was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelFrame"
          },
          "type": "array"
        },
        "segments": {
          "description": "All video segments where a label was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelSegment"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_LabelFrame": {
      "description": "Video frame level annotation results for label detection.",
      "id": "GoogleCloudVideointelligenceV1_LabelFrame",
      "properties": {
        "confidence": {
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float",
          "type": "number"
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the\nvideo frame for this location.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_LabelSegment": {
      "description": "Video segment level annotation results for label detection.",
      "id": "GoogleCloudVideointelligenceV1_LabelSegment",
      "properties": {
        "confidence": {
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float",
          "type": "number"
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment",
          "description": "Video segment where a label was detected."
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_VideoAnnotationProgress": {
      "description": "Annotation progress for a single video.",
      "id": "GoogleCloudVideointelligenceV1_VideoAnnotationProgress",
      "properties": {
        "inputUri": {
          "description": "Output only. Video file location in\n[Google Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "progressPercent": {
          "description": "Output only. Approximate percentage processed thus far. Guaranteed to be\n100 when fully processed.",
          "format": "int32",
          "type": "integer"
        },
        "startTime": {
          "description": "Output only. Time when the request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time of the most recent update.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_VideoAnnotationResults": {
      "description": "Annotation results for a single video.",
      "id": "GoogleCloudVideointelligenceV1_VideoAnnotationResults",
      "properties": {
        "error": {
          "$ref": "GoogleRpc_Status",
          "description": "Output only. Non-streaming error only. If set, indicates an error. Note\nthat for a single `AnnotateVideoRequest` some videos may succeed and some\nmay fail."
        },
        "explicitAnnotation": {
          "$ref": "GoogleCloudVideointelligenceV1_ExplicitContentAnnotation",
          "description": "Explicit content annotation."
        },
        "frameLabelAnnotations": {
          "description": "Label annotations on frame level.\nThere is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
          },
          "type": "array"
        },
        "inputUri": {
          "description": "Output only. Video file location in\n[Google Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "segmentLabelAnnotations": {
          "description": "Label annotations on video level or user specified segment level.\nThere is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
          },
          "type": "array"
        },
        "shotAnnotations": {
          "description": "Shot annotations. Each shot is represented as a video segment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
          },
          "type": "array"
        },
        "shotLabelAnnotations": {
          "description": "Label annotations on shot level.\nThere is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_VideoSegment": {
      "description": "Video segment.",
      "id": "GoogleCloudVideointelligenceV1_VideoSegment",
      "properties": {
        "endTimeOffset": {
          "description": "Time-offset, relative to the beginning of the video,\ncorresponding to the end of the segment (inclusive).",
          "format": "google-duration",
          "type": "string"
        },
        "startTimeOffset": {
          "description": "Time-offset, relative to the beginning of the video,\ncorresponding to the start of the segment (inclusive).",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta1_AnnotateVideoProgress": {
      "description": "Video annotation progress. Included in the `metadata`\nfield of the `Operation` returned by the `GetOperation`\ncall of the `google::longrunning::Operations` service.",
      "id": "GoogleCloudVideointelligenceV1beta1_AnnotateVideoProgress",
      "properties": {
        "annotationProgress": {
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta1_VideoAnnotationProgress"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta1_AnnotateVideoRequest": {
      "description": "Video annotation request.",
      "id": "GoogleCloudVideointelligenceV1beta1_AnnotateVideoRequest",
      "properties": {
        "features": {
          "description": "Requested video annotation features.",
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Safe search detection."
          ],
          "items": {
            "enum": [
              "FEATURE_UNSPECIFIED",
              "LABEL_DETECTION",
              "SHOT_CHANGE_DETECTION",
              "SAFE_SEARCH_DETECTION"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "inputContent": {
          "description": "The video data bytes. Encoding: base64. If unset, the input video(s)\nshould be specified via `input_uri`. If set, `input_uri` should be unset.",
          "type": "string"
        },
        "inputUri": {
          "description": "Input video location. Currently, only\n[Google Cloud Storage](https://cloud.google.com/storage/) URIs are\nsupported, which must be specified in the following format:\n`gs://bucket-id/object-id` (other URI formats return\ngoogle.rpc.Code.INVALID_ARGUMENT). For more information, see\n[Request URIs](/storage/docs/reference-uris).\nA video URI may include wildcards in `object-id`, and thus identify\nmultiple videos. Supported wildcards: '*' to match 0 or more characters;\n'?' to match 1 character. If unset, the input video should be embedded\nin the request as `input_content`. If set, `input_content` should be unset.",
          "type": "string"
        },
        "locationId": {
          "description": "Optional cloud region where annotation should take place. Supported cloud\nregions: `us-east1`, `us-west1`, `europe-west1`, `asia-east1`. If no region\nis specified, a region will be determined based on video file location.",
          "type": "string"
        },
        "outputUri": {
          "description": "Optional location where the output (in JSON format) should be stored.\nCurrently, only [Google Cloud Storage](https://cloud.google.com/storage/)\nURIs are supported, which must be specified in the following format:\n`gs://bucket-id/object-id` (other URI formats return\ngoogle.rpc.Code.INVALID_ARGUMENT). For more information, see\n[Request URIs](/storage/docs/reference-uris).",
          "type": "string"
        },
        "videoContext": {
          "$ref": "GoogleCloudVideointelligenceV1beta1_VideoContext",
          "description": "Additional video context and/or feature-specific parameters."
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta1_AnnotateVideoResponse": {
      "description": "Video annotation response. Included in the `response`\nfield of the `Operation` returned by the `GetOperation`\ncall of the `google::longrunning::Operations` service.",
      "id": "GoogleCloudVideointelligenceV1beta1_AnnotateVideoResponse",
      "properties": {
        "annotationResults": {
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta1_VideoAnnotationResults"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta1_LabelAnnotation": {
      "description": "Label annotation.",
      "id": "GoogleCloudVideointelligenceV1beta1_LabelAnnotation",
      "properties": {
        "description": {
          "description": "Textual description, e.g. `Fixed-gear bicycle`.",
          "type": "string"
        },
        "languageCode": {
          "description": "Language code for `description` in BCP-47 format.",
          "type": "string"
        },
        "locations": {
          "description": "Where the label was detected and with what confidence.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta1_LabelLocation"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta1_LabelLocation": {
      "description": "Label location.",
      "id": "GoogleCloudVideointelligenceV1beta1_LabelLocation",
      "properties": {
        "confidence": {
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float",
          "type": "number"
        },
        "level": {
          "description": "Label level.",
          "enum": [
            "LABEL_LEVEL_UNSPECIFIED",
            "VIDEO_LEVEL",
            "SEGMENT_LEVEL",
            "SHOT_LEVEL",
            "FRAME_LEVEL"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Video-level. Corresponds to the whole video.",
            "Segment-level. Corresponds to one of `AnnotateSpec.segments`.",
            "Shot-level. Corresponds to a single shot (i.e. a series of frames\nwithout a major camera position or background change).",
            "Frame-level. Corresponds to a single video frame."
          ],
          "type": "string"
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1beta1_VideoSegment",
          "description": "Video segment. Set to [-1, -1] for video-level labels.\nSet to [timestamp, timestamp] for frame-level labels.\nOtherwise, corresponds to one of `AnnotateSpec.segments`\n(if specified) or to shot boundaries (if requested)."
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta1_SafeSearchAnnotation": {
      "description": "Safe search annotation (based on per-frame visual signals only).\nIf no unsafe content has been detected in a frame, no annotations\nare present for that frame. If only some types of unsafe content\nhave been detected in a frame, the likelihood is set to `UNKNOWN`\nfor all other types of unsafe content.",
      "id": "GoogleCloudVideointelligenceV1beta1_SafeSearchAnnotation",
      "properties": {
        "adult": {
          "description": "Likelihood of adult content.",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unknown likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ],
          "type": "string"
        },
        "medical": {
          "description": "Likelihood of medical content.",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unknown likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ],
          "type": "string"
        },
        "racy": {
          "description": "Likelihood of racy content.",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unknown likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ],
          "type": "string"
        },
        "spoof": {
          "description": "Likelihood that an obvious modification was made to the original\nversion to make it appear funny or offensive.",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unknown likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ],
          "type": "string"
        },
        "timeOffset": {
          "description": "Video time offset in microseconds.",
          "format": "int64",
          "type": "string"
        },
        "violent": {
          "description": "Likelihood of violent content.",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unknown likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta1_VideoAnnotationProgress": {
      "description": "Annotation progress for a single video.",
      "id": "GoogleCloudVideointelligenceV1beta1_VideoAnnotationProgress",
      "properties": {
        "inputUri": {
          "description": "Video file location in\n[Google Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "progressPercent": {
          "description": "Approximate percentage processed thus far.\nGuaranteed to be 100 when fully processed.",
          "format": "int32",
          "type": "integer"
        },
        "startTime": {
          "description": "Time when the request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "Time of the most recent update.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta1_VideoAnnotationResults": {
      "description": "Annotation results for a single video.",
      "id": "GoogleCloudVideointelligenceV1beta1_VideoAnnotationResults",
      "properties": {
        "error": {
          "$ref": "GoogleRpc_Status",
          "description": "If set, indicates an error. Note that for a single `AnnotateVideoRequest`\nsome videos may succeed and some may fail."
        },
        "inputUri": {
          "description": "Video file location in\n[Google Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "labelAnnotations": {
          "description": "Label annotations. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta1_LabelAnnotation"
          },
          "type": "array"
        },
        "safeSearchAnnotations": {
          "description": "Safe search annotations.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta1_SafeSearchAnnotation"
          },
          "type": "array"
        },
        "shotAnnotations": {
          "description": "Shot annotations. Each shot is represented as a video segment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta1_VideoSegment"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta1_VideoContext": {
      "description": "Video context and/or feature-specific parameters.",
      "id": "GoogleCloudVideointelligenceV1beta1_VideoContext",
      "properties": {
        "labelDetectionMode": {
          "description": "If label detection has been requested, what labels should be detected\nin addition to video-level labels or segment-level labels. If unspecified,\ndefaults to `SHOT_MODE`.",
          "enum": [
            "LABEL_DETECTION_MODE_UNSPECIFIED",
            "SHOT_MODE",
            "FRAME_MODE",
            "SHOT_AND_FRAME_MODE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Detect shot-level labels.",
            "Detect frame-level labels.",
            "Detect both shot-level and frame-level labels."
          ],
          "type": "string"
        },
        "labelDetectionModel": {
          "description": "Model to use for label detection.\nSupported values: \"latest\" and \"stable\" (the default).",
          "type": "string"
        },
        "safeSearchDetectionModel": {
          "description": "Model to use for safe search detection.\nSupported values: \"latest\" and \"stable\" (the default).",
          "type": "string"
        },
        "segments": {
          "description": "Video segments to annotate. The segments may overlap and are not required\nto be contiguous or span the whole video. If unspecified, each video\nis treated as a single segment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta1_VideoSegment"
          },
          "type": "array"
        },
        "shotChangeDetectionModel": {
          "description": "Model to use for shot change detection.\nSupported values: \"latest\" and \"stable\" (the default).",
          "type": "string"
        },
        "stationaryCamera": {
          "description": "Whether the video has been shot from a stationary (i.e. non-moving) camera.\nWhen set to true, might improve detection accuracy for moving objects.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta1_VideoSegment": {
      "description": "Video segment.",
      "id": "GoogleCloudVideointelligenceV1beta1_VideoSegment",
      "properties": {
        "endTimeOffset": {
          "description": "End offset in microseconds (inclusive). Unset means 0.",
          "format": "int64",
          "type": "string"
        },
        "startTimeOffset": {
          "description": "Start offset in microseconds (inclusive). Unset means 0.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_AnnotateVideoProgress": {
      "description": "Video annotation progress. Included in the `metadata`\nfield of the `Operation` returned by the `GetOperation`\ncall of the `google::longrunning::Operations` service.",
      "id": "GoogleCloudVideointelligenceV1beta2_AnnotateVideoProgress",
      "properties": {
        "annotationProgress": {
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_AnnotateVideoResponse": {
      "description": "Video annotation response. Included in the `response`\nfield of the `Operation` returned by the `GetOperation`\ncall of the `google::longrunning::Operations` service.",
      "id": "GoogleCloudVideointelligenceV1beta2_AnnotateVideoResponse",
      "properties": {
        "annotationResults": {
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_VideoAnnotationResults"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_Entity": {
      "description": "Detected entity from video analysis.",
      "id": "GoogleCloudVideointelligenceV1beta2_Entity",
      "properties": {
        "description": {
          "description": "Textual description, e.g. `Fixed-gear bicycle`.",
          "type": "string"
        },
        "entityId": {
          "description": "Opaque entity ID. Some IDs may be available in\n[Google Knowledge Graph Search\nAPI](https://developers.google.com/knowledge-graph/).",
          "type": "string"
        },
        "languageCode": {
          "description": "Language code for `description` in BCP-47 format.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation": {
      "description": "Explicit content annotation (based on per-frame visual signals only).\nIf no explicit content has been detected in a frame, no annotations are\npresent for that frame.",
      "id": "GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation",
      "properties": {
        "frames": {
          "description": "All video frames where explicit content was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame": {
      "description": "Video frame level annotation results for explicit content.",
      "id": "GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame",
      "properties": {
        "pornographyLikelihood": {
          "description": "Likelihood of the pornography content..",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ],
          "type": "string"
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the\nvideo frame for this location.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_LabelAnnotation": {
      "description": "Label annotation.",
      "id": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation",
      "properties": {
        "categoryEntities": {
          "description": "Common categories for the detected entity.\nE.g. when the label is `Terrier` the category is likely `dog`. And in some\ncases there might be more than one categories e.g. `Terrier` could also be\na `pet`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_Entity"
          },
          "type": "array"
        },
        "entity": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_Entity",
          "description": "Detected entity."
        },
        "frames": {
          "description": "All video frames where a label was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelFrame"
          },
          "type": "array"
        },
        "segments": {
          "description": "All video segments where a label was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelSegment"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_LabelFrame": {
      "description": "Video frame level annotation results for label detection.",
      "id": "GoogleCloudVideointelligenceV1beta2_LabelFrame",
      "properties": {
        "confidence": {
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float",
          "type": "number"
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the\nvideo frame for this location.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_LabelSegment": {
      "description": "Video segment level annotation results for label detection.",
      "id": "GoogleCloudVideointelligenceV1beta2_LabelSegment",
      "properties": {
        "confidence": {
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float",
          "type": "number"
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment",
          "description": "Video segment where a label was detected."
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress": {
      "description": "Annotation progress for a single video.",
      "id": "GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress",
      "properties": {
        "inputUri": {
          "description": "Output only. Video file location in\n[Google Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "progressPercent": {
          "description": "Output only. Approximate percentage processed thus far. Guaranteed to be\n100 when fully processed.",
          "format": "int32",
          "type": "integer"
        },
        "startTime": {
          "description": "Output only. Time when the request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time of the most recent update.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_VideoAnnotationResults": {
      "description": "Annotation results for a single video.",
      "id": "GoogleCloudVideointelligenceV1beta2_VideoAnnotationResults",
      "properties": {
        "error": {
          "$ref": "GoogleRpc_Status",
          "description": "Output only. Non-streaming error only. If set, indicates an error. Note\nthat for a single `AnnotateVideoRequest` some videos may succeed and some\nmay fail."
        },
        "explicitAnnotation": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation",
          "description": "Explicit content annotation."
        },
        "frameLabelAnnotations": {
          "description": "Label annotations on frame level.\nThere is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          },
          "type": "array"
        },
        "inputUri": {
          "description": "Output only. Video file location in\n[Google Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "segmentLabelAnnotations": {
          "description": "Label annotations on video level or user specified segment level.\nThere is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          },
          "type": "array"
        },
        "shotAnnotations": {
          "description": "Shot annotations. Each shot is represented as a video segment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
          },
          "type": "array"
        },
        "shotLabelAnnotations": {
          "description": "Label annotations on shot level.\nThere is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_VideoSegment": {
      "description": "Video segment.",
      "id": "GoogleCloudVideointelligenceV1beta2_VideoSegment",
      "properties": {
        "endTimeOffset": {
          "description": "Time-offset, relative to the beginning of the video,\ncorresponding to the end of the segment (inclusive).",
          "format": "google-duration",
          "type": "string"
        },
        "startTimeOffset": {
          "description": "Time-offset, relative to the beginning of the video,\ncorresponding to the start of the segment (inclusive).",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoProgress": {
      "description": "Video annotation progress. Included in the `metadata`\nfield of the `Operation` returned by the `GetOperation`\ncall of the `google::longrunning::Operations` service.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoProgress",
      "properties": {
        "annotationProgress": {
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoResponse": {
      "description": "Video annotation response. Included in the `response`\nfield of the `Operation` returned by the `GetOperation`\ncall of the `google::longrunning::Operations` service.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoResponse",
      "properties": {
        "annotationResults": {
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_EmotionAttribute": {
      "description": "Emotion attribute.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_EmotionAttribute",
      "properties": {
        "emotion": {
          "description": "Emotion entry.",
          "enum": [
            "EMOTION_UNSPECIFIED",
            "AMUSEMENT",
            "ANGER",
            "CONCENTRATION",
            "CONTENTMENT",
            "DESIRE",
            "DISAPPOINTMENT",
            "DISGUST",
            "ELATION",
            "EMBARRASSMENT",
            "INTEREST",
            "PRIDE",
            "SADNESS",
            "SURPRISE"
          ],
          "enumDescriptions": [
            "Unspecified emotion.",
            "Amusement.",
            "Anger.",
            "Concentration.",
            "Contentment.",
            "Desire.",
            "Disappointment.",
            "Disgust.",
            "Elation.",
            "Embarrassment.",
            "Interest.",
            "Pride.",
            "Sadness.",
            "Surprise."
          ],
          "type": "string"
        },
        "score": {
          "description": "Confidence score.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_Entity": {
      "description": "Detected entity from video analysis.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_Entity",
      "properties": {
        "description": {
          "description": "Textual description, e.g. `Fixed-gear bicycle`.",
          "type": "string"
        },
        "entityId": {
          "description": "Opaque entity ID. Some IDs may be available in\n[Google Knowledge Graph Search\nAPI](https://developers.google.com/knowledge-graph/).",
          "type": "string"
        },
        "languageCode": {
          "description": "Language code for `description` in BCP-47 format.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation": {
      "description": "Explicit content annotation (based on per-frame visual signals only).\nIf no explicit content has been detected in a frame, no annotations are\npresent for that frame.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation",
      "properties": {
        "frames": {
          "description": "All video frames where explicit content was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame": {
      "description": "Video frame level annotation results for explicit content.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame",
      "properties": {
        "pornographyLikelihood": {
          "description": "Likelihood of the pornography content..",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ],
          "type": "string"
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the\nvideo frame for this location.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionAnnotation": {
      "description": "Face detection annotation.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionAnnotation",
      "properties": {
        "frames": {
          "description": "All video frames where a face was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionFrame"
          },
          "type": "array"
        },
        "segments": {
          "description": "All video segments where a face was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceSegment"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionAttribute": {
      "description": "Face detection attribute.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionAttribute",
      "properties": {
        "emotions": {
          "description": "Emotion attributes.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_EmotionAttribute"
          },
          "type": "array"
        },
        "normalizedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox",
          "description": "Normalized Bounding box."
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionFrame": {
      "description": "Video frame level annotation results for face detection.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionFrame",
      "properties": {
        "attributes": {
          "description": "Face attributes in a frame.\nThere can be more than one attributes if the same face is detected in\nmultiple locations within the current frame.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionAttribute"
          },
          "type": "array"
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video,\ncorresponding to the video frame for this location.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_FaceSegment": {
      "description": "Video segment level annotation results for face detection.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_FaceSegment",
      "properties": {
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment",
          "description": "Video segment where a face was detected."
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation": {
      "description": "Label annotation.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation",
      "properties": {
        "categoryEntities": {
          "description": "Common categories for the detected entity.\nE.g. when the label is `Terrier` the category is likely `dog`. And in some\ncases there might be more than one categories e.g. `Terrier` could also be\na `pet`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_Entity"
          },
          "type": "array"
        },
        "entity": {
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_Entity",
          "description": "Detected entity."
        },
        "frames": {
          "description": "All video frames where a label was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelFrame"
          },
          "type": "array"
        },
        "segments": {
          "description": "All video segments where a label was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelSegment"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_LabelFrame": {
      "description": "Video frame level annotation results for label detection.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_LabelFrame",
      "properties": {
        "confidence": {
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float",
          "type": "number"
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the\nvideo frame for this location.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_LabelSegment": {
      "description": "Video segment level annotation results for label detection.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_LabelSegment",
      "properties": {
        "confidence": {
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float",
          "type": "number"
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment",
          "description": "Video segment where a label was detected."
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox": {
      "description": "Normalized bounding box.\nThe normalized vertex coordinates are relative to the original image.\nRange: [0, 1].",
      "id": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox",
      "properties": {
        "bottom": {
          "description": "Bottom Y coordinate.",
          "format": "float",
          "type": "number"
        },
        "left": {
          "description": "Left X coordinate.",
          "format": "float",
          "type": "number"
        },
        "right": {
          "description": "Right X coordinate.",
          "format": "float",
          "type": "number"
        },
        "top": {
          "description": "Top Y coordinate.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_SpeechRecognitionAlternative": {
      "description": "Alternative hypotheses (a.k.a. n-best list).",
      "id": "GoogleCloudVideointelligenceV1p1beta1_SpeechRecognitionAlternative",
      "properties": {
        "confidence": {
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number\nindicates an estimated greater likelihood that the recognized words are\ncorrect. This field is typically provided only for the top hypothesis, and\nonly for `is_final=true` results. Clients should not rely on the\n`confidence` field as it is not guaranteed to be accurate or consistent.\nThe default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "format": "float",
          "type": "number"
        },
        "transcript": {
          "description": "Output only. Transcript text representing the words that the user spoke.",
          "type": "string"
        },
        "words": {
          "description": "Output only. A list of word-specific information for each recognized word.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_WordInfo"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_SpeechTranscription": {
      "description": "A speech recognition result corresponding to a portion of the audio.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_SpeechTranscription",
      "properties": {
        "alternatives": {
          "description": "Output only. May contain one or more recognition hypotheses (up to the\nmaximum specified in `max_alternatives`).\nThese alternatives are ordered in terms of accuracy, with the top (first)\nalternative being the most probable, as ranked by the recognizer.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_SpeechRecognitionAlternative"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress": {
      "description": "Annotation progress for a single video.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress",
      "properties": {
        "inputUri": {
          "description": "Output only. Video file location in\n[Google Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "progressPercent": {
          "description": "Output only. Approximate percentage processed thus far. Guaranteed to be\n100 when fully processed.",
          "format": "int32",
          "type": "integer"
        },
        "startTime": {
          "description": "Output only. Time when the request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time of the most recent update.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults": {
      "description": "Annotation results for a single video.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults",
      "properties": {
        "error": {
          "$ref": "GoogleRpc_Status",
          "description": "Output only. Non-streaming error only. If set, indicates an error. Note\nthat for a single `AnnotateVideoRequest` some videos may succeed and some\nmay fail."
        },
        "explicitAnnotation": {
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation",
          "description": "Explicit content annotation."
        },
        "faceDetectionAnnotations": {
          "description": "Face detection annotations.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionAnnotation"
          },
          "type": "array"
        },
        "frameLabelAnnotations": {
          "description": "Label annotations on frame level.\nThere is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          },
          "type": "array"
        },
        "inputUri": {
          "description": "Output only. Video file location in\n[Google Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "segmentLabelAnnotations": {
          "description": "Label annotations on video level or user specified segment level.\nThere is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          },
          "type": "array"
        },
        "shotAnnotations": {
          "description": "Shot annotations. Each shot is represented as a video segment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
          },
          "type": "array"
        },
        "shotLabelAnnotations": {
          "description": "Label annotations on shot level.\nThere is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          },
          "type": "array"
        },
        "speechTranscriptions": {
          "description": "Speech transcription.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_SpeechTranscription"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_VideoSegment": {
      "description": "Video segment.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment",
      "properties": {
        "endTimeOffset": {
          "description": "Time-offset, relative to the beginning of the video,\ncorresponding to the end of the segment (inclusive).",
          "format": "google-duration",
          "type": "string"
        },
        "startTimeOffset": {
          "description": "Time-offset, relative to the beginning of the video,\ncorresponding to the start of the segment (inclusive).",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_WordInfo": {
      "description": "Word-specific information for recognized words. Word information is only\nincluded in the response when certain request parameters are set, such\nas `enable_word_time_offsets`.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_WordInfo",
      "properties": {
        "endTime": {
          "description": "Output only. Time offset relative to the beginning of the audio, and\ncorresponding to the end of the spoken word. This field is only set if\n`enable_word_time_offsets=true` and only in the top hypothesis. This is an\nexperimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration",
          "type": "string"
        },
        "startTime": {
          "description": "Output only. Time offset relative to the beginning of the audio, and\ncorresponding to the start of the spoken word. This field is only set if\n`enable_word_time_offsets=true` and only in the top hypothesis. This is an\nexperimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration",
          "type": "string"
        },
        "word": {
          "description": "Output only. The word corresponding to this set of information.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleLongrunning_Operation": {
      "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
      "id": "GoogleLongrunning_Operation",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
          "type": "boolean"
        },
        "error": {
          "$ref": "GoogleRpc_Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should have the format of `operations/some/unique/name`.",
          "type": "string"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`/`Create`/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleRpc_Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different\nprogramming environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc). The error model is designed to be:\n\n- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error message,\nand error details. The error code should be an enum value of\ngoogle.rpc.Code, but it may accept additional error codes if needed.  The\nerror message should be a developer-facing English message that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror message is needed, put the localized message in the error details or\nlocalize it in the client. The optional error details may contain arbitrary\ninformation about the error. There is a predefined set of error detail types\nin the package `google.rpc` that can be used for common error conditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security/privacy reasons.",
      "id": "GoogleRpc_Status",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "servicePath": "",
  "title": "Cloud Video Intelligence API",
  "version": "v1beta1",
  "version_module": true
}