*~
_junk/
rclone
rclone.exe
build
docs/public
rclone.iml
.idea
.history
.vscode
*.test
*.iml
fuzz-build.zip
*.orig
*.rej
Thumbs.db
__pycache__
.DS_Store
/docs/static/img/logos/
resource_windows_*.syso
.devcontainer
