{
  "ownerName": "Google",
  "resources": {
    "sites": {
      "methods": {
        "get": {
          "description": "Gets a summary of the ad experience rating of a site.",
          "response": {
            "$ref": "SiteSummaryResponse"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/xapi.zoo"
          ],
          "parameters": {
            "name": {
              "description": "The required site name. It should be the site property whose ad experiences\nmay have been reviewed, and it should be URL-encoded. For example,\nsites/https%3A%2F%2Fwww.google.com. The server will return an error of\nBAD_REQUEST if this field is not filled in. Note that if the site property\nis not yet verified in Search Console, the reportUrl field returned by the\nAPI will lead to the verification page, prompting the user to go through\nthat process before they can gain access to the Ad Experience Report.",
              "required": true,
              "type": "string",
              "pattern": "^sites/[^/]+$",
              "location": "path"
            }
          },
          "flatPath": "v1/sites/{sitesId}",
          "path": "v1/{+name}",
          "id": "adexperiencereport.sites.get"
        }
      }
    },
    "violatingSites": {
      "methods": {
        "list": {
          "description": "Lists sites with Ad Experience Report statuses of \"Failing\" or \"Warning\".",
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "ViolatingSitesResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/xapi.zoo"
          ],
          "flatPath": "v1/violatingSites",
          "id": "adexperiencereport.violatingSites.list",
          "path": "v1/violatingSites"
        }
      }
    }
  },
  "parameters": {
    "pp": {
      "description": "Pretty-print response.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "bearer_token": {
      "description": "OAuth bearer token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "version": "v1",
  "baseUrl": "https://adexperiencereport.googleapis.com/",
  "servicePath": "",
  "description": "View Ad Experience Report data, and get a list of sites that have a significant number of annoying ads.",
  "kind": "discovery#restDescription",
  "basePath": "",
  "revision": "20171129",
  "documentationLink": "https://developers.google.com/ad-experience-report/",
  "id": "adexperiencereport:v1",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "PlatformSummary": {
      "description": "Summary of the ad experience rating of a site for a specific platform.",
      "type": "object",
      "properties": {
        "enforcementTime": {
          "description": "The date on which ad filtering begins.",
          "format": "google-datetime",
          "type": "string"
        },
        "region": {
          "description": "The assigned regions for the site and platform.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "REGION_UNKNOWN",
              "REGION_A",
              "REGION_B"
            ]
          },
          "enumDescriptions": [
            "Ad standard not yet defined for your region.",
            "Region A.",
            "Region B."
          ]
        },
        "filterStatus": {
          "enumDescriptions": [
            "N/A.",
            "Ad filtering is on.",
            "Ad filtering is off.",
            "Ad filtering is paused.",
            "Ad filtering is pending."
          ],
          "enum": [
            "UNKNOWN",
            "ON",
            "OFF",
            "PAUSED",
            "PENDING"
          ],
          "description": "The ad filtering status of the site.",
          "type": "string"
        },
        "underReview": {
          "description": "Whether the site is currently under review.",
          "type": "boolean"
        },
        "reportUrl": {
          "description": "A link that leads to a full ad experience report.",
          "type": "string"
        },
        "lastChangeTime": {
          "description": "The last time that the site changed status.",
          "format": "google-datetime",
          "type": "string"
        },
        "betterAdsStatus": {
          "description": "The status of the site reviewed for the Better Ads Standards.",
          "type": "string",
          "enumDescriptions": [
            "Not reviewed.",
            "Passing.",
            "Warning.",
            "Failing."
          ],
          "enum": [
            "UNKNOWN",
            "PASSING",
            "WARNING",
            "FAILING"
          ]
        }
      },
      "id": "PlatformSummary"
    },
    "ViolatingSitesResponse": {
      "description": "Response message for ListViolatingSites.",
      "type": "object",
      "properties": {
        "violatingSites": {
          "description": "A list of summaries of violating sites.",
          "type": "array",
          "items": {
            "$ref": "SiteSummaryResponse"
          }
        }
      },
      "id": "ViolatingSitesResponse"
    },
    "SiteSummaryResponse": {
      "description": "Response message for GetSiteSummary.",
      "type": "object",
      "properties": {
        "reviewedSite": {
          "description": "The name of the site reviewed.",
          "type": "string"
        },
        "desktopSummary": {
          "description": "Summary for the desktop review of the site.",
          "$ref": "PlatformSummary"
        },
        "mobileSummary": {
          "$ref": "PlatformSummary",
          "description": "Summary for the mobile review of the site."
        }
      },
      "id": "SiteSummaryResponse"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "canonicalName": "Ad Experience Report",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/xapi.zoo": {
          "description": "Test scope for access to the Zoo service"
        }
      }
    }
  },
  "rootUrl": "https://adexperiencereport.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "adexperiencereport",
  "batchPath": "batch",
  "title": "Google Ad Experience Report API"
}
