{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/compute.readonly": {
          "description": "View your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/ndev.cloudman": {
          "description": "View and manage your Google Cloud Platform management resources and deployment status information"
        },
        "https://www.googleapis.com/auth/ndev.cloudman.readonly": {
          "description": "View your Google Cloud Platform management resources and deployment status information"
        }
      }
    }
  },
  "basePath": "/resourceviews/v1beta1/projects/",
  "baseUrl": "https://www.googleapis.com/resourceviews/v1beta1/projects/",
  "batchPath": "batch/resourceviews/v1beta1",
  "description": "The Resource View API allows users to create and manage logical sets of Google Compute Engine instances.",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/compute/",
  "etag": "\"-iA1DTNe4s-I6JZXPt1t1Ypy8IU/HxZRDFK7f86Z7kwjlvcp4S6C4Oc\"",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "id": "resourceviews:v1beta1",
  "kind": "discovery#restDescription",
  "labels": [
    "limited_availability"
  ],
  "name": "resourceviews",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "alt": {
      "default": "json",
      "description": "Data format for the response.",
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "location": "query",
      "type": "string"
    },
    "userIp": {
      "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "regionViews": {
      "methods": {
        "addresources": {
          "description": "Add resources to the view.",
          "httpMethod": "POST",
          "id": "resourceviews.regionViews.addresources",
          "parameterOrder": [
            "projectName",
            "region",
            "resourceViewName"
          ],
          "parameters": {
            "projectName": {
              "description": "The project name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "region": {
              "description": "The region name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "resourceViewName": {
              "description": "The name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{projectName}/regions/{region}/resourceViews/{resourceViewName}/addResources",
          "request": {
            "$ref": "RegionViewsAddResourcesRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ]
        },
        "delete": {
          "description": "Delete a resource view.",
          "httpMethod": "DELETE",
          "id": "resourceviews.regionViews.delete",
          "parameterOrder": [
            "projectName",
            "region",
            "resourceViewName"
          ],
          "parameters": {
            "projectName": {
              "description": "The project name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "region": {
              "description": "The region name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "resourceViewName": {
              "description": "The name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{projectName}/regions/{region}/resourceViews/{resourceViewName}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ]
        },
        "get": {
          "description": "Get the information of a resource view.",
          "httpMethod": "GET",
          "id": "resourceviews.regionViews.get",
          "parameterOrder": [
            "projectName",
            "region",
            "resourceViewName"
          ],
          "parameters": {
            "projectName": {
              "description": "The project name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "region": {
              "description": "The region name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "resourceViewName": {
              "description": "The name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{projectName}/regions/{region}/resourceViews/{resourceViewName}",
          "response": {
            "$ref": "ResourceView"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ]
        },
        "insert": {
          "description": "Create a resource view.",
          "httpMethod": "POST",
          "id": "resourceviews.regionViews.insert",
          "parameterOrder": [
            "projectName",
            "region"
          ],
          "parameters": {
            "projectName": {
              "description": "The project name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "region": {
              "description": "The region name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{projectName}/regions/{region}/resourceViews",
          "request": {
            "$ref": "ResourceView"
          },
          "response": {
            "$ref": "RegionViewsInsertResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ]
        },
        "list": {
          "description": "List resource views.",
          "httpMethod": "GET",
          "id": "resourceviews.regionViews.list",
          "parameterOrder": [
            "projectName",
            "region"
          ],
          "parameters": {
            "maxResults": {
              "default": "5000",
              "description": "Maximum count of results to be returned. Acceptable values are 0 to 5000, inclusive. (Default: 5000)",
              "format": "int32",
              "location": "query",
              "maximum": "5000",
              "minimum": "0",
              "type": "integer"
            },
            "pageToken": {
              "description": "Specifies a nextPageToken returned by a previous list request. This token can be used to request the next page of results from a previous list request.",
              "location": "query",
              "type": "string"
            },
            "projectName": {
              "description": "The project name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "region": {
              "description": "The region name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{projectName}/regions/{region}/resourceViews",
          "response": {
            "$ref": "RegionViewsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ]
        },
        "listresources": {
          "description": "List the resources in the view.",
          "httpMethod": "POST",
          "id": "resourceviews.regionViews.listresources",
          "parameterOrder": [
            "projectName",
            "region",
            "resourceViewName"
          ],
          "parameters": {
            "maxResults": {
              "default": "5000",
              "description": "Maximum count of results to be returned. Acceptable values are 0 to 5000, inclusive. (Default: 5000)",
              "format": "int32",
              "location": "query",
              "maximum": "5000",
              "minimum": "0",
              "type": "integer"
            },
            "pageToken": {
              "description": "Specifies a nextPageToken returned by a previous list request. This token can be used to request the next page of results from a previous list request.",
              "location": "query",
              "type": "string"
            },
            "projectName": {
              "description": "The project name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "region": {
              "description": "The region name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "resourceViewName": {
              "description": "The name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{projectName}/regions/{region}/resourceViews/{resourceViewName}/resources",
          "response": {
            "$ref": "RegionViewsListResourcesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ]
        },
        "removeresources": {
          "description": "Remove resources from the view.",
          "httpMethod": "POST",
          "id": "resourceviews.regionViews.removeresources",
          "parameterOrder": [
            "projectName",
            "region",
            "resourceViewName"
          ],
          "parameters": {
            "projectName": {
              "description": "The project name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "region": {
              "description": "The region name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "resourceViewName": {
              "description": "The name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{projectName}/regions/{region}/resourceViews/{resourceViewName}/removeResources",
          "request": {
            "$ref": "RegionViewsRemoveResourcesRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ]
        }
      }
    },
    "zoneViews": {
      "methods": {
        "addresources": {
          "description": "Add resources to the view.",
          "httpMethod": "POST",
          "id": "resourceviews.zoneViews.addresources",
          "parameterOrder": [
            "projectName",
            "zone",
            "resourceViewName"
          ],
          "parameters": {
            "projectName": {
              "description": "The project name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "resourceViewName": {
              "description": "The name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "zone": {
              "description": "The zone name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{projectName}/zones/{zone}/resourceViews/{resourceViewName}/addResources",
          "request": {
            "$ref": "ZoneViewsAddResourcesRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ]
        },
        "delete": {
          "description": "Delete a resource view.",
          "httpMethod": "DELETE",
          "id": "resourceviews.zoneViews.delete",
          "parameterOrder": [
            "projectName",
            "zone",
            "resourceViewName"
          ],
          "parameters": {
            "projectName": {
              "description": "The project name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "resourceViewName": {
              "description": "The name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "zone": {
              "description": "The zone name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{projectName}/zones/{zone}/resourceViews/{resourceViewName}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ]
        },
        "get": {
          "description": "Get the information of a zonal resource view.",
          "httpMethod": "GET",
          "id": "resourceviews.zoneViews.get",
          "parameterOrder": [
            "projectName",
            "zone",
            "resourceViewName"
          ],
          "parameters": {
            "projectName": {
              "description": "The project name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "resourceViewName": {
              "description": "The name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "zone": {
              "description": "The zone name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{projectName}/zones/{zone}/resourceViews/{resourceViewName}",
          "response": {
            "$ref": "ResourceView"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ]
        },
        "insert": {
          "description": "Create a resource view.",
          "httpMethod": "POST",
          "id": "resourceviews.zoneViews.insert",
          "parameterOrder": [
            "projectName",
            "zone"
          ],
          "parameters": {
            "projectName": {
              "description": "The project name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "zone": {
              "description": "The zone name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{projectName}/zones/{zone}/resourceViews",
          "request": {
            "$ref": "ResourceView"
          },
          "response": {
            "$ref": "ZoneViewsInsertResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ]
        },
        "list": {
          "description": "List resource views.",
          "httpMethod": "GET",
          "id": "resourceviews.zoneViews.list",
          "parameterOrder": [
            "projectName",
            "zone"
          ],
          "parameters": {
            "maxResults": {
              "default": "5000",
              "description": "Maximum count of results to be returned. Acceptable values are 0 to 5000, inclusive. (Default: 5000)",
              "format": "int32",
              "location": "query",
              "maximum": "5000",
              "minimum": "0",
              "type": "integer"
            },
            "pageToken": {
              "description": "Specifies a nextPageToken returned by a previous list request. This token can be used to request the next page of results from a previous list request.",
              "location": "query",
              "type": "string"
            },
            "projectName": {
              "description": "The project name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "zone": {
              "description": "The zone name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{projectName}/zones/{zone}/resourceViews",
          "response": {
            "$ref": "ZoneViewsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ]
        },
        "listresources": {
          "description": "List the resources of the resource view.",
          "httpMethod": "POST",
          "id": "resourceviews.zoneViews.listresources",
          "parameterOrder": [
            "projectName",
            "zone",
            "resourceViewName"
          ],
          "parameters": {
            "maxResults": {
              "default": "5000",
              "description": "Maximum count of results to be returned. Acceptable values are 0 to 5000, inclusive. (Default: 5000)",
              "format": "int32",
              "location": "query",
              "maximum": "5000",
              "minimum": "0",
              "type": "integer"
            },
            "pageToken": {
              "description": "Specifies a nextPageToken returned by a previous list request. This token can be used to request the next page of results from a previous list request.",
              "location": "query",
              "type": "string"
            },
            "projectName": {
              "description": "The project name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "resourceViewName": {
              "description": "The name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "zone": {
              "description": "The zone name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{projectName}/zones/{zone}/resourceViews/{resourceViewName}/resources",
          "response": {
            "$ref": "ZoneViewsListResourcesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ]
        },
        "removeresources": {
          "description": "Remove resources from the view.",
          "httpMethod": "POST",
          "id": "resourceviews.zoneViews.removeresources",
          "parameterOrder": [
            "projectName",
            "zone",
            "resourceViewName"
          ],
          "parameters": {
            "projectName": {
              "description": "The project name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "resourceViewName": {
              "description": "The name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "zone": {
              "description": "The zone name of the resource view.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{projectName}/zones/{zone}/resourceViews/{resourceViewName}/removeResources",
          "request": {
            "$ref": "ZoneViewsRemoveResourcesRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ]
        }
      }
    }
  },
  "revision": "20160512",
  "rootUrl": "https://www.googleapis.com/",
  "schemas": {
    "Label": {
      "description": "The Label to be applied to the resource views.",
      "id": "Label",
      "properties": {
        "key": {
          "description": "Key of the label.",
          "type": "string"
        },
        "value": {
          "description": "Value of the label.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RegionViewsAddResourcesRequest": {
      "description": "The request to add resources to the resource view.",
      "id": "RegionViewsAddResourcesRequest",
      "properties": {
        "resources": {
          "description": "The list of resources to be added.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "RegionViewsInsertResponse": {
      "description": "The response to a resource view insert request.",
      "id": "RegionViewsInsertResponse",
      "properties": {
        "resource": {
          "$ref": "ResourceView",
          "description": "The resource view object inserted."
        }
      },
      "type": "object"
    },
    "RegionViewsListResourcesResponse": {
      "description": "The response to the list resource request.",
      "id": "RegionViewsListResourcesResponse",
      "properties": {
        "members": {
          "description": "The resources in the view.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token used for pagination.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RegionViewsListResponse": {
      "description": "The response to the list resource view request.",
      "id": "RegionViewsListResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token used for pagination.",
          "type": "string"
        },
        "resourceViews": {
          "description": "The list of resource views that meet the criteria.",
          "items": {
            "$ref": "ResourceView"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "RegionViewsRemoveResourcesRequest": {
      "description": "The request to remove resources from the resource view.",
      "id": "RegionViewsRemoveResourcesRequest",
      "properties": {
        "resources": {
          "description": "The list of resources to be removed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ResourceView": {
      "description": "The resource view object.",
      "id": "ResourceView",
      "properties": {
        "creationTime": {
          "description": "The creation time of the resource view.",
          "type": "string"
        },
        "description": {
          "description": "The detailed description of the resource view.",
          "type": "string"
        },
        "id": {
          "description": "[Output Only] The ID of the resource view.",
          "type": "string"
        },
        "kind": {
          "default": "resourceviews#resourceView",
          "description": "Type of the resource.",
          "type": "string"
        },
        "labels": {
          "description": "The labels for events.",
          "items": {
            "$ref": "Label"
          },
          "type": "array"
        },
        "lastModified": {
          "description": "The last modified time of the view. Not supported yet.",
          "type": "string"
        },
        "members": {
          "description": "A list of all resources in the resource view.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "The name of the resource view.",
          "type": "string"
        },
        "numMembers": {
          "description": "The total number of resources in the resource view.",
          "format": "uint32",
          "type": "integer"
        },
        "selfLink": {
          "description": "[Output Only] A self-link to the resource view.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ZoneViewsAddResourcesRequest": {
      "description": "The request to add resources to the resource view.",
      "id": "ZoneViewsAddResourcesRequest",
      "properties": {
        "resources": {
          "description": "The list of resources to be added.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ZoneViewsInsertResponse": {
      "description": "The response to an insert request.",
      "id": "ZoneViewsInsertResponse",
      "properties": {
        "resource": {
          "$ref": "ResourceView",
          "description": "The resource view object that has been inserted."
        }
      },
      "type": "object"
    },
    "ZoneViewsListResourcesResponse": {
      "description": "The response to a list resource request.",
      "id": "ZoneViewsListResourcesResponse",
      "properties": {
        "members": {
          "description": "The full URL of resources in the view.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token used for pagination.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ZoneViewsListResponse": {
      "description": "The response to a list request.",
      "id": "ZoneViewsListResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token used for pagination.",
          "type": "string"
        },
        "resourceViews": {
          "description": "The result that contains all resource views that meet the criteria.",
          "items": {
            "$ref": "ResourceView"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ZoneViewsRemoveResourcesRequest": {
      "description": "The request to remove resources from the resource view.",
      "id": "ZoneViewsRemoveResourcesRequest",
      "properties": {
        "resources": {
          "description": "The list of resources to be removed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    }
  },
  "servicePath": "resourceviews/v1beta1/projects/",
  "title": "Resource Views API",
  "version": "v1beta1"
}