{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery"
        },
        "https://www.googleapis.com/auth/bigquery.insertdata": {
          "description": "Insert data into Google BigQuery"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/devstorage.full_control": {
          "description": "Manage your data and permissions in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/devstorage.read_only": {
          "description": "View your data in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/devstorage.read_write": {
          "description": "Manage your data in Google Cloud Storage"
        }
      }
    }
  },
  "basePath": "/bigquery/v2/",
  "baseUrl": "https://www.googleapis.com/bigquery/v2/",
  "batchPath": "batch/bigquery/v2",
  "description": "A data platform for customers to create, manage, share and query data.",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/bigquery/",
  "etag": "\"-iA1DTNe4s-I6JZXPt1t1Ypy8IU/77sYFu0di9EzzwuBGmUFES4JWbE\"",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/search-16.gif",
    "x32": "https://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "bigquery:v2",
  "kind": "discovery#restDescription",
  "name": "bigquery",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "alt": {
      "default": "json",
      "description": "Data format for the response.",
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "location": "query",
      "type": "string"
    },
    "userIp": {
      "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "datasets": {
      "methods": {
        "delete": {
          "description": "Deletes the dataset specified by the datasetId value. Before you can delete a dataset, you must delete all its tables, either manually or by specifying deleteContents. Immediately after deletion, you can create another dataset with the same name.",
          "httpMethod": "DELETE",
          "id": "bigquery.datasets.delete",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "parameters": {
            "datasetId": {
              "description": "Dataset ID of dataset being deleted",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "deleteContents": {
              "description": "If True, delete all the tables in the dataset. If False and the dataset contains tables, the request will fail. Default is False",
              "location": "query",
              "type": "boolean"
            },
            "projectId": {
              "description": "Project ID of the dataset being deleted",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "get": {
          "description": "Returns the dataset specified by datasetID.",
          "httpMethod": "GET",
          "id": "bigquery.datasets.get",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "parameters": {
            "datasetId": {
              "description": "Dataset ID of the requested dataset",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "projectId": {
              "description": "Project ID of the requested dataset",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}",
          "response": {
            "$ref": "Dataset"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "insert": {
          "description": "Creates a new empty dataset.",
          "httpMethod": "POST",
          "id": "bigquery.datasets.insert",
          "parameterOrder": [
            "projectId"
          ],
          "parameters": {
            "projectId": {
              "description": "Project ID of the new dataset",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{projectId}/datasets",
          "request": {
            "$ref": "Dataset"
          },
          "response": {
            "$ref": "Dataset"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "list": {
          "description": "Lists all datasets in the specified project to which you have been granted the READER dataset role.",
          "httpMethod": "GET",
          "id": "bigquery.datasets.list",
          "parameterOrder": [
            "projectId"
          ],
          "parameters": {
            "all": {
              "description": "Whether to list all datasets, including hidden ones",
              "location": "query",
              "type": "boolean"
            },
            "filter": {
              "description": "An expression for filtering the results of the request by label. The syntax is \"labels.\u003cname\u003e[:\u003cvalue\u003e]\". Multiple filters can be ANDed together by connecting with a space. Example: \"labels.department:receiving labels.active\". See Filtering datasets using labels for details.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of results to return",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query",
              "type": "string"
            },
            "projectId": {
              "description": "Project ID of the datasets to be listed",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{projectId}/datasets",
          "response": {
            "$ref": "DatasetList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "patch": {
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "id": "bigquery.datasets.patch",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "parameters": {
            "datasetId": {
              "description": "Dataset ID of the dataset being updated",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "projectId": {
              "description": "Project ID of the dataset being updated",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}",
          "request": {
            "$ref": "Dataset"
          },
          "response": {
            "$ref": "Dataset"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "update": {
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource.",
          "httpMethod": "PUT",
          "id": "bigquery.datasets.update",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "parameters": {
            "datasetId": {
              "description": "Dataset ID of the dataset being updated",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "projectId": {
              "description": "Project ID of the dataset being updated",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}",
          "request": {
            "$ref": "Dataset"
          },
          "response": {
            "$ref": "Dataset"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "jobs": {
      "methods": {
        "cancel": {
          "description": "Requests that a job be cancelled. This call will return immediately, and the client will need to poll for the job status to see if the cancel completed successfully. Cancelled jobs may still incur costs.",
          "httpMethod": "POST",
          "id": "bigquery.jobs.cancel",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "parameters": {
            "jobId": {
              "description": "[Required] Job ID of the job to cancel",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "location": {
              "description": "[Experimental] The geographic location of the job. Required except for US and EU.",
              "location": "query",
              "type": "string"
            },
            "projectId": {
              "description": "[Required] Project ID of the job to cancel",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{projectId}/jobs/{jobId}/cancel",
          "response": {
            "$ref": "JobCancelResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "get": {
          "description": "Returns information about a specific job. Job information is available for a six month period after creation. Requires that you're the person who ran the job, or have the Is Owner project role.",
          "httpMethod": "GET",
          "id": "bigquery.jobs.get",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "parameters": {
            "jobId": {
              "description": "[Required] Job ID of the requested job",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "location": {
              "description": "[Experimental] The geographic location of the job. Required except for US and EU.",
              "location": "query",
              "type": "string"
            },
            "projectId": {
              "description": "[Required] Project ID of the requested job",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{projectId}/jobs/{jobId}",
          "response": {
            "$ref": "Job"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "getQueryResults": {
          "description": "Retrieves the results of a query job.",
          "httpMethod": "GET",
          "id": "bigquery.jobs.getQueryResults",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "parameters": {
            "jobId": {
              "description": "[Required] Job ID of the query job",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "location": {
              "description": "[Experimental] The geographic location where the job should run. Required except for US and EU.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to read",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query",
              "type": "string"
            },
            "projectId": {
              "description": "[Required] Project ID of the query job",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "startIndex": {
              "description": "Zero-based index of the starting row",
              "format": "uint64",
              "location": "query",
              "type": "string"
            },
            "timeoutMs": {
              "description": "How long to wait for the query to complete, in milliseconds, before returning. Default is 10 seconds. If the timeout passes before the job completes, the 'jobComplete' field in the response will be false",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            }
          },
          "path": "projects/{projectId}/queries/{jobId}",
          "response": {
            "$ref": "GetQueryResultsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "insert": {
          "description": "Starts a new asynchronous job. Requires the Can View project role.",
          "httpMethod": "POST",
          "id": "bigquery.jobs.insert",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/bigquery/v2/projects/{projectId}/jobs"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/bigquery/v2/projects/{projectId}/jobs"
              }
            }
          },
          "parameterOrder": [
            "projectId"
          ],
          "parameters": {
            "projectId": {
              "description": "Project ID of the project that will be billed for the job",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{projectId}/jobs",
          "request": {
            "$ref": "Job"
          },
          "response": {
            "$ref": "Job"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ],
          "supportsMediaUpload": true
        },
        "list": {
          "description": "Lists all jobs that you started in the specified project. Job information is available for a six month period after creation. The job list is sorted in reverse chronological order, by job creation time. Requires the Can View project role, or the Is Owner project role if you set the allUsers property.",
          "httpMethod": "GET",
          "id": "bigquery.jobs.list",
          "parameterOrder": [
            "projectId"
          ],
          "parameters": {
            "allUsers": {
              "description": "Whether to display jobs owned by all users in the project. Default false",
              "location": "query",
              "type": "boolean"
            },
            "maxCreationTime": {
              "description": "Max value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created before or at this timestamp are returned",
              "format": "uint64",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "minCreationTime": {
              "description": "Min value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created after or at this timestamp are returned",
              "format": "uint64",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query",
              "type": "string"
            },
            "projectId": {
              "description": "Project ID of the jobs to list",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "projection": {
              "description": "Restrict information returned to a set of selected fields",
              "enum": [
                "full",
                "minimal"
              ],
              "enumDescriptions": [
                "Includes all job data",
                "Does not include the job configuration"
              ],
              "location": "query",
              "type": "string"
            },
            "stateFilter": {
              "description": "Filter for job state",
              "enum": [
                "done",
                "pending",
                "running"
              ],
              "enumDescriptions": [
                "Finished jobs",
                "Pending jobs",
                "Running jobs"
              ],
              "location": "query",
              "repeated": true,
              "type": "string"
            }
          },
          "path": "projects/{projectId}/jobs",
          "response": {
            "$ref": "JobList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "query": {
          "description": "Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout.",
          "httpMethod": "POST",
          "id": "bigquery.jobs.query",
          "parameterOrder": [
            "projectId"
          ],
          "parameters": {
            "projectId": {
              "description": "Project ID of the project billed for the query",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{projectId}/queries",
          "request": {
            "$ref": "QueryRequest"
          },
          "response": {
            "$ref": "QueryResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        }
      }
    },
    "projects": {
      "methods": {
        "getServiceAccount": {
          "description": "Returns the email address of the service account for your project used for interactions with Google Cloud KMS.",
          "httpMethod": "GET",
          "id": "bigquery.projects.getServiceAccount",
          "parameterOrder": [
            "projectId"
          ],
          "parameters": {
            "projectId": {
              "description": "Project ID for which the service account is requested.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{projectId}/serviceAccount",
          "response": {
            "$ref": "GetServiceAccountResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "list": {
          "description": "Lists all projects to which you have been granted any project role.",
          "httpMethod": "GET",
          "id": "bigquery.projects.list",
          "parameters": {
            "maxResults": {
              "description": "Maximum number of results to return",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query",
              "type": "string"
            }
          },
          "path": "projects",
          "response": {
            "$ref": "ProjectList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        }
      }
    },
    "tabledata": {
      "methods": {
        "insertAll": {
          "description": "Streams data into BigQuery one record at a time without needing to run a load job. Requires the WRITER dataset role.",
          "httpMethod": "POST",
          "id": "bigquery.tabledata.insertAll",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "parameters": {
            "datasetId": {
              "description": "Dataset ID of the destination table.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "projectId": {
              "description": "Project ID of the destination table.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "tableId": {
              "description": "Table ID of the destination table.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/insertAll",
          "request": {
            "$ref": "TableDataInsertAllRequest"
          },
          "response": {
            "$ref": "TableDataInsertAllResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.insertdata",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "list": {
          "description": "Retrieves table data from a specified set of rows. Requires the READER dataset role.",
          "httpMethod": "GET",
          "id": "bigquery.tabledata.list",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "parameters": {
            "datasetId": {
              "description": "Dataset ID of the table to read",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, identifying the result set",
              "location": "query",
              "type": "string"
            },
            "projectId": {
              "description": "Project ID of the table to read",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "selectedFields": {
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "location": "query",
              "type": "string"
            },
            "startIndex": {
              "description": "Zero-based index of the starting row to read",
              "format": "uint64",
              "location": "query",
              "type": "string"
            },
            "tableId": {
              "description": "Table ID of the table to read",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/data",
          "response": {
            "$ref": "TableDataList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        }
      }
    },
    "tables": {
      "methods": {
        "delete": {
          "description": "Deletes the table specified by tableId from the dataset. If the table contains data, all the data will be deleted.",
          "httpMethod": "DELETE",
          "id": "bigquery.tables.delete",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "parameters": {
            "datasetId": {
              "description": "Dataset ID of the table to delete",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "projectId": {
              "description": "Project ID of the table to delete",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "tableId": {
              "description": "Table ID of the table to delete",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "get": {
          "description": "Gets the specified table resource by table ID. This method does not return the data in the table, it only returns the table resource, which describes the structure of this table.",
          "httpMethod": "GET",
          "id": "bigquery.tables.get",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "parameters": {
            "datasetId": {
              "description": "Dataset ID of the requested table",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "projectId": {
              "description": "Project ID of the requested table",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "selectedFields": {
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "location": "query",
              "type": "string"
            },
            "tableId": {
              "description": "Table ID of the requested table",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "response": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "insert": {
          "description": "Creates a new, empty table in the dataset.",
          "httpMethod": "POST",
          "id": "bigquery.tables.insert",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "parameters": {
            "datasetId": {
              "description": "Dataset ID of the new table",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "projectId": {
              "description": "Project ID of the new table",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "request": {
            "$ref": "Table"
          },
          "response": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "list": {
          "description": "Lists all tables in the specified dataset. Requires the READER dataset role.",
          "httpMethod": "GET",
          "id": "bigquery.tables.list",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "parameters": {
            "datasetId": {
              "description": "Dataset ID of the tables to list",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query",
              "type": "string"
            },
            "projectId": {
              "description": "Project ID of the tables to list",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "response": {
            "$ref": "TableList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "patch": {
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "id": "bigquery.tables.patch",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "parameters": {
            "datasetId": {
              "description": "Dataset ID of the table to update",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "projectId": {
              "description": "Project ID of the table to update",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "tableId": {
              "description": "Table ID of the table to update",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "request": {
            "$ref": "Table"
          },
          "response": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "update": {
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource.",
          "httpMethod": "PUT",
          "id": "bigquery.tables.update",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "parameters": {
            "datasetId": {
              "description": "Dataset ID of the table to update",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "projectId": {
              "description": "Project ID of the table to update",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "tableId": {
              "description": "Table ID of the table to update",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "request": {
            "$ref": "Table"
          },
          "response": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    }
  },
  "revision": "20180311",
  "rootUrl": "https://www.googleapis.com/",
  "schemas": {
    "BigtableColumn": {
      "id": "BigtableColumn",
      "properties": {
        "encoding": {
          "description": "[Optional] The encoding of the values when the type is not STRING. Acceptable encoding values are: TEXT - indicates values are alphanumeric text strings. BINARY - indicates values are encoded using HBase Bytes.toBytes family of functions. 'encoding' can also be set at the column family level. However, the setting at this level takes precedence if 'encoding' is set at both levels.",
          "type": "string"
        },
        "fieldName": {
          "description": "[Optional] If the qualifier is not a valid BigQuery field identifier i.e. does not match [a-zA-Z][a-zA-Z0-9_]*, a valid identifier must be provided as the column field name and is used as field name in queries.",
          "type": "string"
        },
        "onlyReadLatest": {
          "description": "[Optional] If this is set, only the latest version of value in this column are exposed. 'onlyReadLatest' can also be set at the column family level. However, the setting at this level takes precedence if 'onlyReadLatest' is set at both levels.",
          "type": "boolean"
        },
        "qualifierEncoded": {
          "description": "[Required] Qualifier of the column. Columns in the parent column family that has this exact qualifier are exposed as . field. If the qualifier is valid UTF-8 string, it can be specified in the qualifier_string field. Otherwise, a base-64 encoded value must be set to qualifier_encoded. The column field name is the same as the column qualifier. However, if the qualifier is not a valid BigQuery field identifier i.e. does not match [a-zA-Z][a-zA-Z0-9_]*, a valid identifier must be provided as field_name.",
          "format": "byte",
          "type": "string"
        },
        "qualifierString": {
          "type": "string"
        },
        "type": {
          "description": "[Optional] The type to convert the value in cells of this column. The values are expected to be encoded using HBase Bytes.toBytes function when using the BINARY encoding value. Following BigQuery types are allowed (case-sensitive) - BYTES STRING INTEGER FLOAT BOOLEAN Default type is BYTES. 'type' can also be set at the column family level. However, the setting at this level takes precedence if 'type' is set at both levels.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BigtableColumnFamily": {
      "id": "BigtableColumnFamily",
      "properties": {
        "columns": {
          "description": "[Optional] Lists of columns that should be exposed as individual fields as opposed to a list of (column name, value) pairs. All columns whose qualifier matches a qualifier in this list can be accessed as .. Other columns can be accessed as a list through .Column field.",
          "items": {
            "$ref": "BigtableColumn"
          },
          "type": "array"
        },
        "encoding": {
          "description": "[Optional] The encoding of the values when the type is not STRING. Acceptable encoding values are: TEXT - indicates values are alphanumeric text strings. BINARY - indicates values are encoded using HBase Bytes.toBytes family of functions. This can be overridden for a specific column by listing that column in 'columns' and specifying an encoding for it.",
          "type": "string"
        },
        "familyId": {
          "description": "Identifier of the column family.",
          "type": "string"
        },
        "onlyReadLatest": {
          "description": "[Optional] If this is set only the latest version of value are exposed for all columns in this column family. This can be overridden for a specific column by listing that column in 'columns' and specifying a different setting for that column.",
          "type": "boolean"
        },
        "type": {
          "description": "[Optional] The type to convert the value in cells of this column family. The values are expected to be encoded using HBase Bytes.toBytes function when using the BINARY encoding value. Following BigQuery types are allowed (case-sensitive) - BYTES STRING INTEGER FLOAT BOOLEAN Default type is BYTES. This can be overridden for a specific column by listing that column in 'columns' and specifying a type for it.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BigtableOptions": {
      "id": "BigtableOptions",
      "properties": {
        "columnFamilies": {
          "description": "[Optional] List of column families to expose in the table schema along with their types. This list restricts the column families that can be referenced in queries and specifies their value types. You can use this list to do type conversions - see the 'type' field for more details. If you leave this list empty, all column families are present in the table schema and their values are read as BYTES. During a query only the column families referenced in that query are read from Bigtable.",
          "items": {
            "$ref": "BigtableColumnFamily"
          },
          "type": "array"
        },
        "ignoreUnspecifiedColumnFamilies": {
          "description": "[Optional] If field is true, then the column families that are not specified in columnFamilies list are not exposed in the table schema. Otherwise, they are read with BYTES type values. The default value is false.",
          "type": "boolean"
        },
        "readRowkeyAsString": {
          "description": "[Optional] If field is true, then the rowkey column families will be read and converted to string. Otherwise they are read with BYTES type values and users need to manually cast them with CAST if necessary. The default value is false.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "CsvOptions": {
      "id": "CsvOptions",
      "properties": {
        "allowJaggedRows": {
          "description": "[Optional] Indicates if BigQuery should accept rows that are missing trailing optional columns. If true, BigQuery treats missing trailing columns as null values. If false, records with missing trailing columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false.",
          "type": "boolean"
        },
        "allowQuotedNewlines": {
          "description": "[Optional] Indicates if BigQuery should allow quoted data sections that contain newline characters in a CSV file. The default value is false.",
          "type": "boolean"
        },
        "encoding": {
          "description": "[Optional] The character encoding of the data. The supported values are UTF-8 or ISO-8859-1. The default value is UTF-8. BigQuery decodes the data after the raw, binary data has been split using the values of the quote and fieldDelimiter properties.",
          "type": "string"
        },
        "fieldDelimiter": {
          "description": "[Optional] The separator for fields in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. BigQuery also supports the escape sequence \"\\t\" to specify a tab separator. The default value is a comma (',').",
          "type": "string"
        },
        "quote": {
          "default": "\"",
          "description": "[Optional] The value that is used to quote data sections in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. The default value is a double-quote ('\"'). If your data does not contain quoted sections, set the property value to an empty string. If your data contains quoted newline characters, you must also set the allowQuotedNewlines property to true.",
          "pattern": ".?",
          "type": "string"
        },
        "skipLeadingRows": {
          "description": "[Optional] The number of rows at the top of a CSV file that BigQuery will skip when reading the data. The default value is 0. This property is useful if you have header rows in the file that should be skipped.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Dataset": {
      "id": "Dataset",
      "properties": {
        "access": {
          "description": "[Optional] An array of objects that define dataset access for one or more entities. You can set this property when inserting or updating a dataset in order to control who is allowed to access the data. If unspecified at dataset creation time, BigQuery adds default dataset access for the following entities: access.specialGroup: projectReaders; access.role: READER; access.specialGroup: projectWriters; access.role: WRITER; access.specialGroup: projectOwners; access.role: OWNER; access.userByEmail: [dataset creator email]; access.role: OWNER;",
          "items": {
            "properties": {
              "domain": {
                "description": "[Pick one] A domain to grant access to. Any users signed in with the domain specified will be granted the specified access. Example: \"example.com\".",
                "type": "string"
              },
              "groupByEmail": {
                "description": "[Pick one] An email address of a Google Group to grant access to.",
                "type": "string"
              },
              "role": {
                "description": "[Required] Describes the rights granted to the user specified by the other member of the access object. The following string values are supported: READER, WRITER, OWNER.",
                "type": "string"
              },
              "specialGroup": {
                "description": "[Pick one] A special group to grant access to. Possible values include: projectOwners: Owners of the enclosing project. projectReaders: Readers of the enclosing project. projectWriters: Writers of the enclosing project. allAuthenticatedUsers: All authenticated BigQuery users.",
                "type": "string"
              },
              "userByEmail": {
                "description": "[Pick one] An email address of a user to grant access to. For example: fred@example.com.",
                "type": "string"
              },
              "view": {
                "$ref": "TableReference",
                "description": "[Pick one] A view from a different dataset to grant access to. Queries executed against that view will have read access to tables in this dataset. The role field is not required when this field is set. If that view is updated by any user, access to the view needs to be granted again via an update operation."
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "creationTime": {
          "description": "[Output-only] The time when this dataset was created, in milliseconds since the epoch.",
          "format": "int64",
          "type": "string"
        },
        "datasetReference": {
          "$ref": "DatasetReference",
          "description": "[Required] A reference that identifies the dataset."
        },
        "defaultTableExpirationMs": {
          "description": "[Optional] The default lifetime of all tables in the dataset, in milliseconds. The minimum value is 3600000 milliseconds (one hour). Once this property is set, all newly-created tables in the dataset will have an expirationTime property set to the creation time plus the value in this property, and changing the value will only affect new tables, not existing ones. When the expirationTime for a given table is reached, that table will be deleted automatically. If a table's expirationTime is modified or removed before the table expires, or if you provide an explicit expirationTime when creating a table, that value takes precedence over the default expiration time indicated by this property.",
          "format": "int64",
          "type": "string"
        },
        "description": {
          "description": "[Optional] A user-friendly description of the dataset.",
          "type": "string"
        },
        "etag": {
          "description": "[Output-only] A hash of the resource.",
          "type": "string"
        },
        "friendlyName": {
          "description": "[Optional] A descriptive name for the dataset.",
          "type": "string"
        },
        "id": {
          "description": "[Output-only] The fully-qualified unique name of the dataset in the format projectId:datasetId. The dataset name without the project name is given in the datasetId field. When creating a new dataset, leave this field blank, and instead specify the datasetId field.",
          "type": "string"
        },
        "kind": {
          "default": "bigquery#dataset",
          "description": "[Output-only] The resource type.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this dataset. You can use these to organize and group your datasets. You can set this property when inserting or updating a dataset. See Labeling Datasets for more information.",
          "type": "object"
        },
        "lastModifiedTime": {
          "description": "[Output-only] The date when this dataset or any of its tables was last modified, in milliseconds since the epoch.",
          "format": "int64",
          "type": "string"
        },
        "location": {
          "description": "The geographic location where the dataset should reside. Possible values include EU and US. The default value is US.",
          "type": "string"
        },
        "selfLink": {
          "description": "[Output-only] A URL that can be used to access the resource again. You can use this URL in Get or Update requests to the resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DatasetList": {
      "id": "DatasetList",
      "properties": {
        "datasets": {
          "description": "An array of the dataset resources in the project. Each resource contains basic information. For full information about a particular dataset resource, use the Datasets: get method. This property is omitted when there are no datasets in the project.",
          "items": {
            "properties": {
              "datasetReference": {
                "$ref": "DatasetReference",
                "description": "The dataset reference. Use this property to access specific parts of the dataset's ID, such as project ID or dataset ID."
              },
              "friendlyName": {
                "description": "A descriptive name for the dataset, if one exists.",
                "type": "string"
              },
              "id": {
                "description": "The fully-qualified, unique, opaque ID of the dataset.",
                "type": "string"
              },
              "kind": {
                "default": "bigquery#dataset",
                "description": "The resource type. This property always returns the value \"bigquery#dataset\".",
                "type": "string"
              },
              "labels": {
                "additionalProperties": {
                  "type": "string"
                },
                "description": "The labels associated with this dataset. You can use these to organize and group your datasets.",
                "type": "object"
              },
              "location": {
                "description": "[Experimental] The geographic location where the data resides.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "etag": {
          "description": "A hash value of the results page. You can use this property to determine if the page has changed since the last request.",
          "type": "string"
        },
        "kind": {
          "default": "bigquery#datasetList",
          "description": "The list type. This property always returns the value \"bigquery#datasetList\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "A token that can be used to request the next results page. This property is omitted on the final results page.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DatasetReference": {
      "id": "DatasetReference",
      "properties": {
        "datasetId": {
          "annotations": {
            "required": [
              "bigquery.datasets.update"
            ]
          },
          "description": "[Required] A unique ID for this dataset, without the project name. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters.",
          "type": "string"
        },
        "projectId": {
          "annotations": {
            "required": [
              "bigquery.datasets.update"
            ]
          },
          "description": "[Optional] The ID of the project containing this dataset.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DestinationTableProperties": {
      "id": "DestinationTableProperties",
      "properties": {
        "description": {
          "description": "[Optional] The description for the destination table. This will only be used if the destination table is newly created. If the table already exists and a value different than the current description is provided, the job will fail.",
          "type": "string"
        },
        "friendlyName": {
          "description": "[Optional] The friendly name for the destination table. This will only be used if the destination table is newly created. If the table already exists and a value different than the current friendly name is provided, the job will fail.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EncryptionConfiguration": {
      "id": "EncryptionConfiguration",
      "properties": {
        "kmsKeyName": {
          "description": "[Optional] Describes the Cloud KMS encryption key that will be used to protect destination BigQuery table. The BigQuery Service Account associated with your project requires access to this encryption key.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ErrorProto": {
      "id": "ErrorProto",
      "properties": {
        "debugInfo": {
          "description": "Debugging information. This property is internal to Google and should not be used.",
          "type": "string"
        },
        "location": {
          "description": "Specifies where the error occurred, if present.",
          "type": "string"
        },
        "message": {
          "description": "A human-readable description of the error.",
          "type": "string"
        },
        "reason": {
          "description": "A short error code that summarizes the error.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExplainQueryStage": {
      "id": "ExplainQueryStage",
      "properties": {
        "completedParallelInputs": {
          "description": "Number of parallel input segments completed.",
          "format": "int64",
          "type": "string"
        },
        "computeMsAvg": {
          "description": "Milliseconds the average shard spent on CPU-bound tasks.",
          "format": "int64",
          "type": "string"
        },
        "computeMsMax": {
          "description": "Milliseconds the slowest shard spent on CPU-bound tasks.",
          "format": "int64",
          "type": "string"
        },
        "computeRatioAvg": {
          "description": "Relative amount of time the average shard spent on CPU-bound tasks.",
          "format": "double",
          "type": "number"
        },
        "computeRatioMax": {
          "description": "Relative amount of time the slowest shard spent on CPU-bound tasks.",
          "format": "double",
          "type": "number"
        },
        "endMs": {
          "description": "Stage end time in milliseconds.",
          "format": "int64",
          "type": "string"
        },
        "id": {
          "description": "Unique ID for stage within plan.",
          "format": "int64",
          "type": "string"
        },
        "inputStages": {
          "description": "IDs for stages that are inputs to this stage.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Human-readable name for stage.",
          "type": "string"
        },
        "parallelInputs": {
          "description": "Number of parallel input segments to be processed.",
          "format": "int64",
          "type": "string"
        },
        "readMsAvg": {
          "description": "Milliseconds the average shard spent reading input.",
          "format": "int64",
          "type": "string"
        },
        "readMsMax": {
          "description": "Milliseconds the slowest shard spent reading input.",
          "format": "int64",
          "type": "string"
        },
        "readRatioAvg": {
          "description": "Relative amount of time the average shard spent reading input.",
          "format": "double",
          "type": "number"
        },
        "readRatioMax": {
          "description": "Relative amount of time the slowest shard spent reading input.",
          "format": "double",
          "type": "number"
        },
        "recordsRead": {
          "description": "Number of records read into the stage.",
          "format": "int64",
          "type": "string"
        },
        "recordsWritten": {
          "description": "Number of records written by the stage.",
          "format": "int64",
          "type": "string"
        },
        "shuffleOutputBytes": {
          "description": "Total number of bytes written to shuffle.",
          "format": "int64",
          "type": "string"
        },
        "shuffleOutputBytesSpilled": {
          "description": "Total number of bytes written to shuffle and spilled to disk.",
          "format": "int64",
          "type": "string"
        },
        "startMs": {
          "description": "Stage start time in milliseconds.",
          "format": "int64",
          "type": "string"
        },
        "status": {
          "description": "Current status for the stage.",
          "type": "string"
        },
        "steps": {
          "description": "List of operations within the stage in dependency order (approximately chronological).",
          "items": {
            "$ref": "ExplainQueryStep"
          },
          "type": "array"
        },
        "waitMsAvg": {
          "description": "Milliseconds the average shard spent waiting to be scheduled.",
          "format": "int64",
          "type": "string"
        },
        "waitMsMax": {
          "description": "Milliseconds the slowest shard spent waiting to be scheduled.",
          "format": "int64",
          "type": "string"
        },
        "waitRatioAvg": {
          "description": "Relative amount of time the average shard spent waiting to be scheduled.",
          "format": "double",
          "type": "number"
        },
        "waitRatioMax": {
          "description": "Relative amount of time the slowest shard spent waiting to be scheduled.",
          "format": "double",
          "type": "number"
        },
        "writeMsAvg": {
          "description": "Milliseconds the average shard spent on writing output.",
          "format": "int64",
          "type": "string"
        },
        "writeMsMax": {
          "description": "Milliseconds the slowest shard spent on writing output.",
          "format": "int64",
          "type": "string"
        },
        "writeRatioAvg": {
          "description": "Relative amount of time the average shard spent on writing output.",
          "format": "double",
          "type": "number"
        },
        "writeRatioMax": {
          "description": "Relative amount of time the slowest shard spent on writing output.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "ExplainQueryStep": {
      "id": "ExplainQueryStep",
      "properties": {
        "kind": {
          "description": "Machine-readable operation type.",
          "type": "string"
        },
        "substeps": {
          "description": "Human-readable stage descriptions.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ExternalDataConfiguration": {
      "id": "ExternalDataConfiguration",
      "properties": {
        "autodetect": {
          "description": "Try to detect schema and format options automatically. Any option specified explicitly will be honored.",
          "type": "boolean"
        },
        "bigtableOptions": {
          "$ref": "BigtableOptions",
          "description": "[Optional] Additional options if sourceFormat is set to BIGTABLE."
        },
        "compression": {
          "description": "[Optional] The compression type of the data source. Possible values include GZIP and NONE. The default value is NONE. This setting is ignored for Google Cloud Bigtable, Google Cloud Datastore backups and Avro formats.",
          "type": "string"
        },
        "csvOptions": {
          "$ref": "CsvOptions",
          "description": "Additional properties to set if sourceFormat is set to CSV."
        },
        "googleSheetsOptions": {
          "$ref": "GoogleSheetsOptions",
          "description": "[Optional] Additional options if sourceFormat is set to GOOGLE_SHEETS."
        },
        "ignoreUnknownValues": {
          "description": "[Optional] Indicates if BigQuery should allow extra values that are not represented in the table schema. If true, the extra values are ignored. If false, records with extra columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false. The sourceFormat property determines what BigQuery treats as an extra value: CSV: Trailing columns JSON: Named values that don't match any column names Google Cloud Bigtable: This setting is ignored. Google Cloud Datastore backups: This setting is ignored. Avro: This setting is ignored.",
          "type": "boolean"
        },
        "maxBadRecords": {
          "description": "[Optional] The maximum number of bad records that BigQuery can ignore when reading data. If the number of bad records exceeds this value, an invalid error is returned in the job result. The default value is 0, which requires that all records are valid. This setting is ignored for Google Cloud Bigtable, Google Cloud Datastore backups and Avro formats.",
          "format": "int32",
          "type": "integer"
        },
        "schema": {
          "$ref": "TableSchema",
          "description": "[Optional] The schema for the data. Schema is required for CSV and JSON formats. Schema is disallowed for Google Cloud Bigtable, Cloud Datastore backups, and Avro formats."
        },
        "sourceFormat": {
          "description": "[Required] The data format. For CSV files, specify \"CSV\". For Google sheets, specify \"GOOGLE_SHEETS\". For newline-delimited JSON, specify \"NEWLINE_DELIMITED_JSON\". For Avro files, specify \"AVRO\". For Google Cloud Datastore backups, specify \"DATASTORE_BACKUP\". [Beta] For Google Cloud Bigtable, specify \"BIGTABLE\".",
          "type": "string"
        },
        "sourceUris": {
          "description": "[Required] The fully-qualified URIs that point to your data in Google Cloud. For Google Cloud Storage URIs: Each URI can contain one '*' wildcard character and it must come after the 'bucket' name. Size limits related to load jobs apply to external data sources. For Google Cloud Bigtable URIs: Exactly one URI can be specified and it has be a fully specified and valid HTTPS URL for a Google Cloud Bigtable table. For Google Cloud Datastore backups, exactly one URI can be specified. Also, the '*' wildcard character is not allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GetQueryResultsResponse": {
      "id": "GetQueryResultsResponse",
      "properties": {
        "cacheHit": {
          "description": "Whether the query result was fetched from the query cache.",
          "type": "boolean"
        },
        "errors": {
          "description": "[Output-only] The first errors or warnings encountered during the running of the job. The final message includes the number of errors that caused the process to stop. Errors here do not necessarily mean that the job has completed or was unsuccessful.",
          "items": {
            "$ref": "ErrorProto"
          },
          "type": "array"
        },
        "etag": {
          "description": "A hash of this response.",
          "type": "string"
        },
        "jobComplete": {
          "description": "Whether the query has completed or not. If rows or totalRows are present, this will always be true. If this is false, totalRows will not be available.",
          "type": "boolean"
        },
        "jobReference": {
          "$ref": "JobReference",
          "description": "Reference to the BigQuery Job that was created to run the query. This field will be present even if the original request timed out, in which case GetQueryResults can be used to read the results once the query has completed. Since this API only returns the first page of results, subsequent pages can be fetched via the same mechanism (GetQueryResults)."
        },
        "kind": {
          "default": "bigquery#getQueryResultsResponse",
          "description": "The resource type of the response.",
          "type": "string"
        },
        "numDmlAffectedRows": {
          "description": "[Output-only] The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE.",
          "format": "int64",
          "type": "string"
        },
        "pageToken": {
          "description": "A token used for paging results.",
          "type": "string"
        },
        "rows": {
          "description": "An object with as many results as can be contained within the maximum permitted reply size. To get any additional rows, you can call GetQueryResults and specify the jobReference returned above. Present only when the query completes successfully.",
          "items": {
            "$ref": "TableRow"
          },
          "type": "array"
        },
        "schema": {
          "$ref": "TableSchema",
          "description": "The schema of the results. Present only when the query completes successfully."
        },
        "totalBytesProcessed": {
          "description": "The total number of bytes processed for this query.",
          "format": "int64",
          "type": "string"
        },
        "totalRows": {
          "description": "The total number of rows in the complete query result set, which can be more than the number of rows in this single page of results. Present only when the query completes successfully.",
          "format": "uint64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GetServiceAccountResponse": {
      "id": "GetServiceAccountResponse",
      "properties": {
        "email": {
          "description": "The service account email address.",
          "type": "string"
        },
        "kind": {
          "default": "bigquery#getServiceAccountResponse",
          "description": "The resource type of the response.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleSheetsOptions": {
      "id": "GoogleSheetsOptions",
      "properties": {
        "skipLeadingRows": {
          "description": "[Optional] The number of rows at the top of a sheet that BigQuery will skip when reading the data. The default value is 0. This property is useful if you have header rows that should be skipped. When autodetect is on, behavior is the following: * skipLeadingRows unspecified - Autodetect tries to detect headers in the first row. If they are not detected, the row is read as data. Otherwise data is read starting from the second row. * skipLeadingRows is 0 - Instructs autodetect that there are no headers and data should be read starting from the first row. * skipLeadingRows = N \u003e 0 - Autodetect skips N-1 rows and tries to detect headers in row N. If headers are not detected, row N is just skipped. Otherwise row N is used to extract column names for the detected schema.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Job": {
      "id": "Job",
      "properties": {
        "configuration": {
          "$ref": "JobConfiguration",
          "description": "[Required] Describes the job configuration."
        },
        "etag": {
          "description": "[Output-only] A hash of this resource.",
          "type": "string"
        },
        "id": {
          "description": "[Output-only] Opaque ID field of the job",
          "type": "string"
        },
        "jobReference": {
          "$ref": "JobReference",
          "description": "[Optional] Reference describing the unique-per-user name of the job."
        },
        "kind": {
          "default": "bigquery#job",
          "description": "[Output-only] The type of the resource.",
          "type": "string"
        },
        "selfLink": {
          "description": "[Output-only] A URL that can be used to access this resource again.",
          "type": "string"
        },
        "statistics": {
          "$ref": "JobStatistics",
          "description": "[Output-only] Information about the job, including starting time and ending time of the job."
        },
        "status": {
          "$ref": "JobStatus",
          "description": "[Output-only] The status of this job. Examine this value when polling an asynchronous job to see if the job is complete."
        },
        "user_email": {
          "description": "[Output-only] Email address of the user who ran the job.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "JobCancelResponse": {
      "id": "JobCancelResponse",
      "properties": {
        "job": {
          "$ref": "Job",
          "description": "The final state of the job."
        },
        "kind": {
          "default": "bigquery#jobCancelResponse",
          "description": "The resource type of the response.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "JobConfiguration": {
      "id": "JobConfiguration",
      "properties": {
        "copy": {
          "$ref": "JobConfigurationTableCopy",
          "description": "[Pick one] Copies a table."
        },
        "dryRun": {
          "description": "[Optional] If set, don't actually run this job. A valid query will return a mostly empty response with some processing statistics, while an invalid query will return the same error it would if it wasn't a dry run. Behavior of non-query jobs is undefined.",
          "type": "boolean"
        },
        "extract": {
          "$ref": "JobConfigurationExtract",
          "description": "[Pick one] Configures an extract job."
        },
        "jobTimeoutMs": {
          "description": "[Optional] Job timeout in milliseconds. If this time limit is exceeded, BigQuery may attempt to terminate the job.",
          "format": "int64",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this job. You can use these to organize and group your jobs. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key.",
          "type": "object"
        },
        "load": {
          "$ref": "JobConfigurationLoad",
          "description": "[Pick one] Configures a load job."
        },
        "query": {
          "$ref": "JobConfigurationQuery",
          "description": "[Pick one] Configures a query job."
        }
      },
      "type": "object"
    },
    "JobConfigurationExtract": {
      "id": "JobConfigurationExtract",
      "properties": {
        "compression": {
          "description": "[Optional] The compression type to use for exported files. Possible values include GZIP, DEFLATE, SNAPPY, and NONE. The default value is NONE. DEFLATE and SNAPPY are only supported for Avro.",
          "type": "string"
        },
        "destinationFormat": {
          "description": "[Optional] The exported file format. Possible values include CSV, NEWLINE_DELIMITED_JSON and AVRO. The default value is CSV. Tables with nested or repeated fields cannot be exported as CSV.",
          "type": "string"
        },
        "destinationUri": {
          "description": "[Pick one] DEPRECATED: Use destinationUris instead, passing only one URI as necessary. The fully-qualified Google Cloud Storage URI where the extracted table should be written.",
          "type": "string"
        },
        "destinationUris": {
          "description": "[Pick one] A list of fully-qualified Google Cloud Storage URIs where the extracted table should be written.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "fieldDelimiter": {
          "description": "[Optional] Delimiter to use between fields in the exported data. Default is ','",
          "type": "string"
        },
        "printHeader": {
          "default": "true",
          "description": "[Optional] Whether to print out a header row in the results. Default is true.",
          "type": "boolean"
        },
        "sourceTable": {
          "$ref": "TableReference",
          "description": "[Required] A reference to the table being exported."
        }
      },
      "type": "object"
    },
    "JobConfigurationLoad": {
      "id": "JobConfigurationLoad",
      "properties": {
        "allowJaggedRows": {
          "description": "[Optional] Accept rows that are missing trailing optional columns. The missing values are treated as nulls. If false, records with missing trailing columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false. Only applicable to CSV, ignored for other formats.",
          "type": "boolean"
        },
        "allowQuotedNewlines": {
          "description": "Indicates if BigQuery should allow quoted data sections that contain newline characters in a CSV file. The default value is false.",
          "type": "boolean"
        },
        "autodetect": {
          "description": "Indicates if we should automatically infer the options and schema for CSV and JSON sources.",
          "type": "boolean"
        },
        "createDisposition": {
          "description": "[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion.",
          "type": "string"
        },
        "destinationEncryptionConfiguration": {
          "$ref": "EncryptionConfiguration",
          "description": "Custom encryption configuration (e.g., Cloud KMS keys)."
        },
        "destinationTable": {
          "$ref": "TableReference",
          "description": "[Required] The destination table to load the data into."
        },
        "destinationTableProperties": {
          "$ref": "DestinationTableProperties",
          "description": "[Experimental] [Optional] Properties with which to create the destination table if it is new."
        },
        "encoding": {
          "description": "[Optional] The character encoding of the data. The supported values are UTF-8 or ISO-8859-1. The default value is UTF-8. BigQuery decodes the data after the raw, binary data has been split using the values of the quote and fieldDelimiter properties.",
          "type": "string"
        },
        "fieldDelimiter": {
          "description": "[Optional] The separator for fields in a CSV file. The separator can be any ISO-8859-1 single-byte character. To use a character in the range 128-255, you must encode the character as UTF8. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. BigQuery also supports the escape sequence \"\\t\" to specify a tab separator. The default value is a comma (',').",
          "type": "string"
        },
        "ignoreUnknownValues": {
          "description": "[Optional] Indicates if BigQuery should allow extra values that are not represented in the table schema. If true, the extra values are ignored. If false, records with extra columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false. The sourceFormat property determines what BigQuery treats as an extra value: CSV: Trailing columns JSON: Named values that don't match any column names",
          "type": "boolean"
        },
        "maxBadRecords": {
          "description": "[Optional] The maximum number of bad records that BigQuery can ignore when running the job. If the number of bad records exceeds this value, an invalid error is returned in the job result. The default value is 0, which requires that all records are valid.",
          "format": "int32",
          "type": "integer"
        },
        "nullMarker": {
          "description": "[Optional] Specifies a string that represents a null value in a CSV file. For example, if you specify \"\\N\", BigQuery interprets \"\\N\" as a null value when loading a CSV file. The default value is the empty string. If you set this property to a custom value, BigQuery throws an error if an empty string is present for all data types except for STRING and BYTE. For STRING and BYTE columns, BigQuery interprets the empty string as an empty value.",
          "type": "string"
        },
        "projectionFields": {
          "description": "If sourceFormat is set to \"DATASTORE_BACKUP\", indicates which entity properties to load into BigQuery from a Cloud Datastore backup. Property names are case sensitive and must be top-level properties. If no properties are specified, BigQuery loads all properties. If any named property isn't found in the Cloud Datastore backup, an invalid error is returned in the job result.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "quote": {
          "default": "\"",
          "description": "[Optional] The value that is used to quote data sections in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. The default value is a double-quote ('\"'). If your data does not contain quoted sections, set the property value to an empty string. If your data contains quoted newline characters, you must also set the allowQuotedNewlines property to true.",
          "pattern": ".?",
          "type": "string"
        },
        "schema": {
          "$ref": "TableSchema",
          "description": "[Optional] The schema for the destination table. The schema can be omitted if the destination table already exists, or if you're loading data from Google Cloud Datastore."
        },
        "schemaInline": {
          "description": "[Deprecated] The inline schema. For CSV schemas, specify as \"Field1:Type1[,Field2:Type2]*\". For example, \"foo:STRING, bar:INTEGER, baz:FLOAT\".",
          "type": "string"
        },
        "schemaInlineFormat": {
          "description": "[Deprecated] The format of the schemaInline property.",
          "type": "string"
        },
        "schemaUpdateOptions": {
          "description": "Allows the schema of the destination table to be updated as a side effect of the load job if a schema is autodetected or supplied in the job configuration. Schema update options are supported in two cases: when writeDisposition is WRITE_APPEND; when writeDisposition is WRITE_TRUNCATE and the destination table is a partition of a table, specified by partition decorators. For normal tables, WRITE_TRUNCATE will always overwrite the schema. One or more of the following values are specified: ALLOW_FIELD_ADDITION: allow adding a nullable field to the schema. ALLOW_FIELD_RELAXATION: allow relaxing a required field in the original schema to nullable.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "skipLeadingRows": {
          "description": "[Optional] The number of rows at the top of a CSV file that BigQuery will skip when loading the data. The default value is 0. This property is useful if you have header rows in the file that should be skipped.",
          "format": "int32",
          "type": "integer"
        },
        "sourceFormat": {
          "description": "[Optional] The format of the data files. For CSV files, specify \"CSV\". For datastore backups, specify \"DATASTORE_BACKUP\". For newline-delimited JSON, specify \"NEWLINE_DELIMITED_JSON\". For Avro, specify \"AVRO\". For parquet, specify \"PARQUET\". For orc, specify \"ORC\". The default value is CSV.",
          "type": "string"
        },
        "sourceUris": {
          "description": "[Required] The fully-qualified URIs that point to your data in Google Cloud. For Google Cloud Storage URIs: Each URI can contain one '*' wildcard character and it must come after the 'bucket' name. Size limits related to load jobs apply to external data sources. For Google Cloud Bigtable URIs: Exactly one URI can be specified and it has be a fully specified and valid HTTPS URL for a Google Cloud Bigtable table. For Google Cloud Datastore backups: Exactly one URI can be specified. Also, the '*' wildcard character is not allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "timePartitioning": {
          "$ref": "TimePartitioning",
          "description": "If specified, configures time-based partitioning for the destination table."
        },
        "writeDisposition": {
          "description": "[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a 'duplicate' error is returned in the job result. The default value is WRITE_APPEND. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "JobConfigurationQuery": {
      "id": "JobConfigurationQuery",
      "properties": {
        "allowLargeResults": {
          "default": "false",
          "description": "[Optional] If true and query uses legacy SQL dialect, allows the query to produce arbitrarily large result tables at a slight cost in performance. Requires destinationTable to be set. For standard SQL queries, this flag is ignored and large results are always allowed. However, you must still set destinationTable when result size exceeds the allowed maximum response size.",
          "type": "boolean"
        },
        "createDisposition": {
          "description": "[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion.",
          "type": "string"
        },
        "defaultDataset": {
          "$ref": "DatasetReference",
          "description": "[Optional] Specifies the default dataset to use for unqualified table names in the query."
        },
        "destinationEncryptionConfiguration": {
          "$ref": "EncryptionConfiguration",
          "description": "Custom encryption configuration (e.g., Cloud KMS keys)."
        },
        "destinationTable": {
          "$ref": "TableReference",
          "description": "[Optional] Describes the table where the query results should be stored. If not present, a new table will be created to store the results. This property must be set for large results that exceed the maximum response size."
        },
        "flattenResults": {
          "default": "true",
          "description": "[Optional] If true and query uses legacy SQL dialect, flattens all nested and repeated fields in the query results. allowLargeResults must be true if this is set to false. For standard SQL queries, this flag is ignored and results are never flattened.",
          "type": "boolean"
        },
        "maximumBillingTier": {
          "default": "1",
          "description": "[Optional] Limits the billing tier for this job. Queries that have resource usage beyond this tier will fail (without incurring a charge). If unspecified, this will be set to your project default.",
          "format": "int32",
          "type": "integer"
        },
        "maximumBytesBilled": {
          "description": "[Optional] Limits the bytes billed for this job. Queries that will have bytes billed beyond this limit will fail (without incurring a charge). If unspecified, this will be set to your project default.",
          "format": "int64",
          "type": "string"
        },
        "parameterMode": {
          "description": "Standard SQL only. Set to POSITIONAL to use positional (?) query parameters or to NAMED to use named (@myparam) query parameters in this query.",
          "type": "string"
        },
        "preserveNulls": {
          "description": "[Deprecated] This property is deprecated.",
          "type": "boolean"
        },
        "priority": {
          "description": "[Optional] Specifies a priority for the query. Possible values include INTERACTIVE and BATCH. The default value is INTERACTIVE.",
          "type": "string"
        },
        "query": {
          "description": "[Required] SQL query text to execute. The useLegacySql field can be used to indicate whether the query uses legacy SQL or standard SQL.",
          "type": "string"
        },
        "queryParameters": {
          "description": "Query parameters for standard SQL queries.",
          "items": {
            "$ref": "QueryParameter"
          },
          "type": "array"
        },
        "schemaUpdateOptions": {
          "description": "Allows the schema of the destination table to be updated as a side effect of the query job. Schema update options are supported in two cases: when writeDisposition is WRITE_APPEND; when writeDisposition is WRITE_TRUNCATE and the destination table is a partition of a table, specified by partition decorators. For normal tables, WRITE_TRUNCATE will always overwrite the schema. One or more of the following values are specified: ALLOW_FIELD_ADDITION: allow adding a nullable field to the schema. ALLOW_FIELD_RELAXATION: allow relaxing a required field in the original schema to nullable.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "tableDefinitions": {
          "additionalProperties": {
            "$ref": "ExternalDataConfiguration"
          },
          "description": "[Optional] If querying an external data source outside of BigQuery, describes the data format, location and other properties of the data source. By defining these properties, the data source can then be queried as if it were a standard BigQuery table.",
          "type": "object"
        },
        "timePartitioning": {
          "$ref": "TimePartitioning",
          "description": "If specified, configures time-based partitioning for the destination table."
        },
        "useLegacySql": {
          "description": "Specifies whether to use BigQuery's legacy SQL dialect for this query. The default value is true. If set to false, the query will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/ When useLegacySql is set to false, the value of flattenResults is ignored; query will be run as if flattenResults is false.",
          "type": "boolean"
        },
        "useQueryCache": {
          "default": "true",
          "description": "[Optional] Whether to look for the result in the query cache. The query cache is a best-effort cache that will be flushed whenever tables in the query are modified. Moreover, the query cache is only available when a query does not have a destination table specified. The default value is true.",
          "type": "boolean"
        },
        "userDefinedFunctionResources": {
          "description": "Describes user-defined function resources used in the query.",
          "items": {
            "$ref": "UserDefinedFunctionResource"
          },
          "type": "array"
        },
        "writeDisposition": {
          "description": "[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data and uses the schema from the query result. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a 'duplicate' error is returned in the job result. The default value is WRITE_EMPTY. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "JobConfigurationTableCopy": {
      "id": "JobConfigurationTableCopy",
      "properties": {
        "createDisposition": {
          "description": "[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion.",
          "type": "string"
        },
        "destinationEncryptionConfiguration": {
          "$ref": "EncryptionConfiguration",
          "description": "Custom encryption configuration (e.g., Cloud KMS keys)."
        },
        "destinationTable": {
          "$ref": "TableReference",
          "description": "[Required] The destination table"
        },
        "sourceTable": {
          "$ref": "TableReference",
          "description": "[Pick one] Source table to copy."
        },
        "sourceTables": {
          "description": "[Pick one] Source tables to copy.",
          "items": {
            "$ref": "TableReference"
          },
          "type": "array"
        },
        "writeDisposition": {
          "description": "[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a 'duplicate' error is returned in the job result. The default value is WRITE_EMPTY. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "JobList": {
      "id": "JobList",
      "properties": {
        "etag": {
          "description": "A hash of this page of results.",
          "type": "string"
        },
        "jobs": {
          "description": "List of jobs that were requested.",
          "items": {
            "properties": {
              "configuration": {
                "$ref": "JobConfiguration",
                "description": "[Full-projection-only] Specifies the job configuration."
              },
              "errorResult": {
                "$ref": "ErrorProto",
                "description": "A result object that will be present only if the job has failed."
              },
              "id": {
                "description": "Unique opaque ID of the job.",
                "type": "string"
              },
              "jobReference": {
                "$ref": "JobReference",
                "description": "Job reference uniquely identifying the job."
              },
              "kind": {
                "default": "bigquery#job",
                "description": "The resource type.",
                "type": "string"
              },
              "state": {
                "description": "Running state of the job. When the state is DONE, errorResult can be checked to determine whether the job succeeded or failed.",
                "type": "string"
              },
              "statistics": {
                "$ref": "JobStatistics",
                "description": "[Output-only] Information about the job, including starting time and ending time of the job."
              },
              "status": {
                "$ref": "JobStatus",
                "description": "[Full-projection-only] Describes the state of the job."
              },
              "user_email": {
                "description": "[Full-projection-only] Email address of the user who ran the job.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "kind": {
          "default": "bigquery#jobList",
          "description": "The resource type of the response.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "JobReference": {
      "id": "JobReference",
      "properties": {
        "jobId": {
          "annotations": {
            "required": [
              "bigquery.jobs.getQueryResults"
            ]
          },
          "description": "[Required] The ID of the job. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-). The maximum length is 1,024 characters.",
          "type": "string"
        },
        "location": {
          "description": "[Experimental] The geographic location of the job. Required except for US and EU.",
          "type": "string"
        },
        "projectId": {
          "annotations": {
            "required": [
              "bigquery.jobs.getQueryResults"
            ]
          },
          "description": "[Required] The ID of the project containing this job.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "JobStatistics": {
      "id": "JobStatistics",
      "properties": {
        "completionRatio": {
          "description": "[Experimental] [Output-only] Job progress (0.0 -\u003e 1.0) for LOAD and EXTRACT jobs.",
          "format": "double",
          "type": "number"
        },
        "creationTime": {
          "description": "[Output-only] Creation time of this job, in milliseconds since the epoch. This field will be present on all jobs.",
          "format": "int64",
          "type": "string"
        },
        "endTime": {
          "description": "[Output-only] End time of this job, in milliseconds since the epoch. This field will be present whenever a job is in the DONE state.",
          "format": "int64",
          "type": "string"
        },
        "extract": {
          "$ref": "JobStatistics4",
          "description": "[Output-only] Statistics for an extract job."
        },
        "load": {
          "$ref": "JobStatistics3",
          "description": "[Output-only] Statistics for a load job."
        },
        "query": {
          "$ref": "JobStatistics2",
          "description": "[Output-only] Statistics for a query job."
        },
        "startTime": {
          "description": "[Output-only] Start time of this job, in milliseconds since the epoch. This field will be present when the job transitions from the PENDING state to either RUNNING or DONE.",
          "format": "int64",
          "type": "string"
        },
        "totalBytesProcessed": {
          "description": "[Output-only] [Deprecated] Use the bytes processed in the query statistics instead.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "JobStatistics2": {
      "id": "JobStatistics2",
      "properties": {
        "billingTier": {
          "description": "[Output-only] Billing tier for the job.",
          "format": "int32",
          "type": "integer"
        },
        "cacheHit": {
          "description": "[Output-only] Whether the query result was fetched from the query cache.",
          "type": "boolean"
        },
        "ddlOperationPerformed": {
          "description": "[Output-only, Experimental] The DDL operation performed, possibly dependent on the pre-existence of the DDL target. Possible values (new values might be added in the future): \"CREATE\": The query created the DDL target. \"SKIP\": No-op. Example cases: the query is CREATE TABLE IF NOT EXISTS while the table already exists, or the query is DROP TABLE IF EXISTS while the table does not exist. \"REPLACE\": The query replaced the DDL target. Example case: the query is CREATE OR REPLACE TABLE, and the table already exists. \"DROP\": The query deleted the DDL target.",
          "type": "string"
        },
        "ddlTargetTable": {
          "$ref": "TableReference",
          "description": "[Output-only, Experimental] The DDL target table. Present only for CREATE/DROP TABLE/VIEW queries."
        },
        "estimatedBytesProcessed": {
          "description": "[Output-only] The original estimate of bytes processed for the job.",
          "format": "int64",
          "type": "string"
        },
[...]
