{
  "name": "dataflow",
  "batchPath": "batch",
  "revision": "20180107",
  "documentationLink": "https://cloud.google.com/dataflow",
  "id": "dataflow:v1b3",
  "title": "Google Dataflow API",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "methods": {
        "workerMessages": {
          "request": {
            "$ref": "SendWorkerMessagesRequest"
          },
          "description": "Send a worker_message to the service.",
          "response": {
            "$ref": "SendWorkerMessagesResponse"
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "The project to send the WorkerMessages to.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly",
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "flatPath": "v1b3/projects/{projectId}/WorkerMessages",
          "path": "v1b3/projects/{projectId}/WorkerMessages",
          "id": "dataflow.projects.workerMessages"
        }
      },
      "resources": {
        "templates": {
          "methods": {
            "launch": {
              "response": {
                "$ref": "LaunchTemplateResponse"
              },
              "parameterOrder": [
                "projectId"
              ],
              "httpMethod": "POST",
              "parameters": {
                "location": {
                  "description": "The location to which to direct the request.",
                  "type": "string",
                  "location": "query"
                },
                "validateOnly": {
                  "location": "query",
                  "description": "If true, the request is validated but not actually executed.\nDefaults to false.",
                  "type": "boolean"
                },
                "projectId": {
                  "location": "path",
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "required": true,
                  "type": "string"
                },
                "gcsPath": {
                  "location": "query",
                  "description": "Required. A Cloud Storage path to the template from which to create\nthe job.\nMust be valid Cloud Storage URL, beginning with 'gs://'.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1b3/projects/{projectId}/templates:launch",
              "path": "v1b3/projects/{projectId}/templates:launch",
              "id": "dataflow.projects.templates.launch",
              "request": {
                "$ref": "LaunchTemplateParameters"
              },
              "description": "Launch a template."
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId"
              ],
              "response": {
                "$ref": "GetTemplateResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "required": true,
                  "type": "string"
                },
                "view": {
                  "location": "query",
                  "enum": [
                    "METADATA_ONLY"
                  ],
                  "description": "The view to retrieve. Defaults to METADATA_ONLY.",
                  "type": "string"
                },
                "gcsPath": {
                  "location": "query",
                  "description": "Required. A Cloud Storage path to the template from which to\ncreate the job.\nMust be a valid Cloud Storage URL, beginning with `gs://`.",
                  "type": "string"
                },
                "location": {
                  "location": "query",
                  "description": "The location to which to direct the request.",
                  "type": "string"
                }
              },
              "flatPath": "v1b3/projects/{projectId}/templates:get",
              "id": "dataflow.projects.templates.get",
              "path": "v1b3/projects/{projectId}/templates:get",
              "description": "Get the template associated with a template."
            },
            "create": {
              "id": "dataflow.projects.templates.create",
              "path": "v1b3/projects/{projectId}/templates",
              "description": "Creates a Cloud Dataflow job from a template.",
              "request": {
                "$ref": "CreateJobFromTemplateRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "projectId"
              ],
              "response": {
                "$ref": "Job"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1b3/projects/{projectId}/templates"
            }
          }
        },
        "locations": {
          "methods": {
            "workerMessages": {
              "request": {
                "$ref": "SendWorkerMessagesRequest"
              },
              "description": "Send a worker_message to the service.",
              "response": {
                "$ref": "SendWorkerMessagesResponse"
              },
              "parameterOrder": [
                "projectId",
                "location"
              ],
              "httpMethod": "POST",
              "parameters": {
                "location": {
                  "description": "The location which contains the job",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "projectId": {
                  "description": "The project to send the WorkerMessages to.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages",
              "path": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages",
              "id": "dataflow.projects.locations.workerMessages"
            }
          },
          "resources": {
            "jobs": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Job"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "required": true,
                      "type": "string"
                    },
                    "jobId": {
                      "description": "The job ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "view": {
                      "description": "The level of information requested in response.",
                      "type": "string",
                      "location": "query",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ]
                    },
                    "location": {
                      "location": "path",
                      "description": "The location that contains this job.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "id": "dataflow.projects.locations.jobs.get",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "description": "Gets the state of the specified Cloud Dataflow job."
                },
                "list": {
                  "description": "List the jobs of a project in a given region.",
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "description": "The project which owns the jobs.",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "description": "The kind of filter to use.",
                      "type": "string",
                      "location": "query",
                      "enum": [
                        "UNKNOWN",
                        "ALL",
                        "TERMINATED",
                        "ACTIVE"
                      ]
                    },
                    "location": {
                      "location": "path",
                      "description": "The location that contains this job.",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Set this to the 'next_page_token' field of a previous response\nto request additional results in a long list.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "If there are many jobs, limit response to at most this many.\nThe actual number of jobs returned will be the lesser of max_responses\nand an unspecified server-defined limit.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "view": {
                      "description": "Level of information requested in response. Default is `JOB_VIEW_SUMMARY`.",
                      "type": "string",
                      "location": "query",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ]
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "id": "dataflow.projects.locations.jobs.list"
                },
                "update": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "required": true,
                      "type": "string"
                    },
                    "jobId": {
                      "description": "The job ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "location": {
                      "location": "path",
                      "description": "The location that contains this job.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "id": "dataflow.projects.locations.jobs.update",
                  "description": "Updates the state of an existing Cloud Dataflow job.",
                  "request": {
                    "$ref": "Job"
                  },
                  "response": {
                    "$ref": "Job"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "httpMethod": "PUT"
                },
                "create": {
                  "request": {
                    "$ref": "Job"
                  },
                  "description": "Creates a Cloud Dataflow job.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "response": {
                    "$ref": "Job"
                  },
                  "parameters": {
                    "location": {
                      "description": "The location that contains this job.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "replaceJobId": {
                      "location": "query",
                      "description": "Deprecated. This field is now in the Job message.",
                      "type": "string"
                    },
                    "projectId": {
                      "location": "path",
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "required": true,
                      "type": "string"
                    },
                    "view": {
                      "location": "query",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "description": "The level of information requested in response.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "id": "dataflow.projects.locations.jobs.create",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs"
                },
                "getMetrics": {
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                  "id": "dataflow.projects.locations.jobs.getMetrics",
                  "description": "Request the job status.",
                  "response": {
                    "$ref": "JobMetrics"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameters": {
                    "location": {
                      "location": "path",
                      "description": "The location which contains the job specified by job_id.",
                      "required": true,
                      "type": "string"
                    },
                    "startTime": {
                      "description": "Return only metric data that has changed since this time.\nDefault is to return all information about all metrics for the job.",
                      "format": "google-datetime",
                      "type": "string",
                      "location": "query"
                    },
                    "projectId": {
                      "location": "path",
                      "description": "A project id.",
                      "required": true,
                      "type": "string"
                    },
                    "jobId": {
                      "location": "path",
                      "description": "The job to get messages for.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics"
                }
              },
              "resources": {
                "messages": {
                  "methods": {
                    "list": {
                      "id": "dataflow.projects.locations.jobs.messages.list",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                      "description": "Request the job status.",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListJobMessagesResponse"
                      },
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "parameters": {
                        "pageToken": {
                          "description": "If supplied, this should be the value of next_page_token returned\nby an earlier call. This will cause the next page of results to\nbe returned.",
                          "type": "string",
                          "location": "query"
                        },
                        "startTime": {
                          "location": "query",
                          "description": "If specified, return only messages with timestamps \u003e= start_time.\nThe default is the job creation time (i.e. beginning of messages).",
                          "format": "google-datetime",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "If specified, determines the maximum number of messages to\nreturn.  If unspecified, the service may choose an appropriate\ndefault, or may return an arbitrarily large number of results.",
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        },
                        "minimumImportance": {
                          "description": "Filter to only get messages with importance \u003e= level",
                          "type": "string",
                          "location": "query",
                          "enum": [
                            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                            "JOB_MESSAGE_DEBUG",
                            "JOB_MESSAGE_DETAILED",
                            "JOB_MESSAGE_BASIC",
                            "JOB_MESSAGE_WARNING",
                            "JOB_MESSAGE_ERROR"
                          ]
                        },
                        "projectId": {
                          "description": "A project id.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "jobId": {
                          "location": "path",
                          "description": "The job to get messages about.",
                          "required": true,
                          "type": "string"
                        },
                        "endTime": {
                          "description": "Return only messages with timestamps \u003c end_time. The default is now\n(i.e. return up to the latest messages available).",
                          "format": "google-datetime",
                          "type": "string",
                          "location": "query"
                        },
                        "location": {
                          "location": "path",
                          "description": "The location which contains the job specified by job_id.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages"
                    }
                  }
                },
                "debug": {
                  "methods": {
                    "getConfig": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "parameters": {
                        "location": {
                          "location": "path",
                          "description": "The location which contains the job specified by job_id.",
                          "required": true,
                          "type": "string"
                        },
                        "projectId": {
                          "description": "The project id.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "jobId": {
                          "location": "path",
                          "description": "The job id.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                      "id": "dataflow.projects.locations.jobs.debug.getConfig",
                      "description": "Get encoded debug configuration for component. Not cacheable.",
                      "request": {
                        "$ref": "GetDebugConfigRequest"
                      },
                      "response": {
                        "$ref": "GetDebugConfigResponse"
                      },
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "httpMethod": "POST"
                    },
                    "sendCapture": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "parameters": {
                        "location": {
                          "location": "path",
                          "description": "The location which contains the job specified by job_id.",
                          "required": true,
                          "type": "string"
                        },
                        "projectId": {
                          "description": "The project id.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "jobId": {
                          "description": "The job id.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                      "id": "dataflow.projects.locations.jobs.debug.sendCapture",
                      "description": "Send encoded debug capture data for component.",
                      "request": {
                        "$ref": "SendDebugCaptureRequest"
                      },
                      "response": {
                        "$ref": "SendDebugCaptureResponse"
                      },
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "httpMethod": "POST"
                    }
                  }
                },
                "workItems": {
                  "methods": {
                    "reportStatus": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "parameters": {
                        "projectId": {
                          "description": "The project which owns the WorkItem's job.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "jobId": {
                          "description": "The job which the WorkItem is part of.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "location": {
                          "description": "The location which contains the WorkItem's job.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                      "id": "dataflow.projects.locations.jobs.workItems.reportStatus",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                      "description": "Reports the status of dataflow WorkItems leased by a worker.",
                      "request": {
                        "$ref": "ReportWorkItemStatusRequest"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "response": {
                        "$ref": "ReportWorkItemStatusResponse"
                      }
                    },
                    "lease": {
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                      "id": "dataflow.projects.locations.jobs.workItems.lease",
                      "request": {
                        "$ref": "LeaseWorkItemRequest"
                      },
                      "description": "Leases a dataflow WorkItem to run.",
                      "response": {
                        "$ref": "LeaseWorkItemResponse"
                      },
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "location": {
                          "location": "path",
                          "description": "The location which contains the WorkItem's job.",
                          "required": true,
                          "type": "string"
                        },
                        "projectId": {
                          "description": "Identifies the project this worker belongs to.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "jobId": {
                          "location": "path",
                          "description": "Identifies the workflow job this worker belongs to.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease"
                    }
                  }
                }
              }
            },
            "templates": {
              "methods": {
                "launch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameters": {
                    "validateOnly": {
                      "location": "query",
                      "description": "If true, the request is validated but not actually executed.\nDefaults to false.",
                      "type": "boolean"
                    },
                    "projectId": {
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "gcsPath": {
                      "description": "Required. A Cloud Storage path to the template from which to create\nthe job.\nMust be valid Cloud Storage URL, beginning with 'gs://'.",
                      "type": "string",
                      "location": "query"
                    },
                    "location": {
                      "location": "path",
                      "description": "The location to which to direct the request.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:launch",
                  "id": "dataflow.projects.locations.templates.launch",
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:launch",
                  "description": "Launch a template.",
                  "request": {
                    "$ref": "LaunchTemplateParameters"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "response": {
                    "$ref": "LaunchTemplateResponse"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "GetTemplateResponse"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "location": {
                      "description": "The location to which to direct the request.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "projectId": {
                      "location": "path",
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "required": true,
                      "type": "string"
                    },
                    "view": {
                      "location": "query",
                      "enum": [
                        "METADATA_ONLY"
                      ],
                      "description": "The view to retrieve. Defaults to METADATA_ONLY.",
                      "type": "string"
                    },
                    "gcsPath": {
                      "description": "Required. A Cloud Storage path to the template from which to\ncreate the job.\nMust be a valid Cloud Storage URL, beginning with `gs://`.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:get",
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:get",
                  "id": "dataflow.projects.locations.templates.get",
                  "description": "Get the template associated with a template."
                },
                "create": {
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates",
                  "id": "dataflow.projects.locations.templates.create",
                  "request": {
                    "$ref": "CreateJobFromTemplateRequest"
                  },
                  "description": "Creates a Cloud Dataflow job from a template.",
                  "response": {
                    "$ref": "Job"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "projectId": {
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "location": {
                      "description": "The location to which to direct the request.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates"
                }
              }
            }
          }
        },
        "jobs": {
          "methods": {
            "aggregated": {
              "response": {
                "$ref": "ListJobsResponse"
              },
              "parameterOrder": [
                "projectId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "The project which owns the jobs.",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "description": "The kind of filter to use.",
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "UNKNOWN",
                    "ALL",
                    "TERMINATED",
                    "ACTIVE"
                  ]
                },
                "location": {
                  "description": "The location that contains this job.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Set this to the 'next_page_token' field of a previous response\nto request additional results in a long list.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "If there are many jobs, limit response to at most this many.\nThe actual number of jobs returned will be the lesser of max_responses\nand an unspecified server-defined limit.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "view": {
                  "description": "Level of information requested in response. Default is `JOB_VIEW_SUMMARY`.",
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ]
                }
              },
              "flatPath": "v1b3/projects/{projectId}/jobs:aggregated",
              "path": "v1b3/projects/{projectId}/jobs:aggregated",
              "id": "dataflow.projects.jobs.aggregated",
              "description": "List the jobs of a project across all regions."
            },
            "list": {
              "description": "List the jobs of a project in a given region.",
              "response": {
                "$ref": "ListJobsResponse"
              },
              "parameterOrder": [
                "projectId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "filter": {
                  "description": "The kind of filter to use.",
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "UNKNOWN",
                    "ALL",
                    "TERMINATED",
                    "ACTIVE"
                  ]
                },
                "location": {
                  "location": "query",
                  "description": "The location that contains this job.",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Set this to the 'next_page_token' field of a previous response\nto request additional results in a long list.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "If there are many jobs, limit response to at most this many.\nThe actual number of jobs returned will be the lesser of max_responses\nand an unspecified server-defined limit.",
                  "format": "int32",
                  "type": "integer"
                },
                "view": {
                  "description": "Level of information requested in response. Default is `JOB_VIEW_SUMMARY`.",
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ]
                },
                "projectId": {
                  "location": "path",
                  "description": "The project which owns the jobs.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1b3/projects/{projectId}/jobs",
              "path": "v1b3/projects/{projectId}/jobs",
              "id": "dataflow.projects.jobs.list"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "required": true,
                  "type": "string"
                },
                "view": {
                  "description": "The level of information requested in response.",
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ]
                },
                "location": {
                  "location": "query",
                  "description": "The location that contains this job.",
                  "type": "string"
                },
                "replaceJobId": {
                  "description": "Deprecated. This field is now in the Job message.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1b3/projects/{projectId}/jobs",
              "id": "dataflow.projects.jobs.create",
              "path": "v1b3/projects/{projectId}/jobs",
              "description": "Creates a Cloud Dataflow job.",
              "request": {
                "$ref": "Job"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "projectId"
              ],
              "response": {
                "$ref": "Job"
              }
            },
            "getMetrics": {
              "response": {
                "$ref": "JobMetrics"
              },
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "startTime": {
                  "location": "query",
                  "description": "Return only metric data that has changed since this time.\nDefault is to return all information about all metrics for the job.",
                  "format": "google-datetime",
                  "type": "string"
                },
                "projectId": {
                  "description": "A project id.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "jobId": {
                  "description": "The job to get messages for.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "location": {
                  "location": "query",
                  "description": "The location which contains the job specified by job_id.",
                  "type": "string"
                }
              },
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
              "id": "dataflow.projects.jobs.getMetrics",
              "description": "Request the job status."
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "response": {
                "$ref": "Job"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "location": {
                  "description": "The location that contains this job.",
                  "type": "string",
                  "location": "query"
                },
                "projectId": {
                  "location": "path",
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "required": true,
                  "type": "string"
                },
                "jobId": {
                  "location": "path",
                  "description": "The job ID.",
                  "required": true,
                  "type": "string"
                },
                "view": {
                  "description": "The level of information requested in response.",
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ]
                }
              },
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
              "id": "dataflow.projects.jobs.get",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}",
              "description": "Gets the state of the specified Cloud Dataflow job."
            },
            "update": {
              "description": "Updates the state of an existing Cloud Dataflow job.",
              "request": {
                "$ref": "Job"
              },
              "response": {
                "$ref": "Job"
              },
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "required": true,
                  "type": "string"
                },
                "jobId": {
                  "description": "The job ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "location": {
                  "description": "The location that contains this job.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}",
              "id": "dataflow.projects.jobs.update"
            }
          },
          "resources": {
            "messages": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "response": {
                    "$ref": "ListJobMessagesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameters": {
                    "startTime": {
                      "description": "If specified, return only messages with timestamps \u003e= start_time.\nThe default is the job creation time (i.e. beginning of messages).",
                      "format": "google-datetime",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "If supplied, this should be the value of next_page_token returned\nby an earlier call. This will cause the next page of results to\nbe returned.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "If specified, determines the maximum number of messages to\nreturn.  If unspecified, the service may choose an appropriate\ndefault, or may return an arbitrarily large number of results.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "minimumImportance": {
                      "location": "query",
                      "enum": [
                        "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                        "JOB_MESSAGE_DEBUG",
                        "JOB_MESSAGE_DETAILED",
                        "JOB_MESSAGE_BASIC",
                        "JOB_MESSAGE_WARNING",
                        "JOB_MESSAGE_ERROR"
                      ],
                      "description": "Filter to only get messages with importance \u003e= level",
                      "type": "string"
                    },
                    "jobId": {
                      "description": "The job to get messages about.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "projectId": {
                      "description": "A project id.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "location": {
                      "location": "query",
                      "description": "The location which contains the job specified by job_id.",
                      "type": "string"
                    },
                    "endTime": {
                      "description": "Return only messages with timestamps \u003c end_time. The default is now\n(i.e. return up to the latest messages available).",
                      "format": "google-datetime",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/messages",
                  "id": "dataflow.projects.jobs.messages.list",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/messages",
                  "description": "Request the job status."
                }
              }
            },
            "debug": {
              "methods": {
                "getConfig": {
                  "id": "dataflow.projects.jobs.debug.getConfig",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                  "request": {
                    "$ref": "GetDebugConfigRequest"
                  },
                  "description": "Get encoded debug configuration for component. Not cacheable.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "response": {
                    "$ref": "GetDebugConfigResponse"
                  },
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "description": "The project id.",
                      "required": true,
                      "type": "string"
                    },
                    "jobId": {
                      "location": "path",
                      "description": "The job id.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig"
                },
                "sendCapture": {
                  "response": {
                    "$ref": "SendDebugCaptureResponse"
                  },
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "projectId": {
                      "description": "The project id.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "jobId": {
                      "location": "path",
                      "description": "The job id.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "id": "dataflow.projects.jobs.debug.sendCapture",
                  "request": {
                    "$ref": "SendDebugCaptureRequest"
                  },
                  "description": "Send encoded debug capture data for component."
                }
              }
            },
            "workItems": {
              "methods": {
                "reportStatus": {
                  "request": {
                    "$ref": "ReportWorkItemStatusRequest"
                  },
                  "description": "Reports the status of dataflow WorkItems leased by a worker.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "response": {
                    "$ref": "ReportWorkItemStatusResponse"
                  },
                  "parameters": {
                    "projectId": {
                      "description": "The project which owns the WorkItem's job.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "jobId": {
                      "description": "The job which the WorkItem is part of.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus",
                  "id": "dataflow.projects.jobs.workItems.reportStatus",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus"
                },
                "lease": {
                  "id": "dataflow.projects.jobs.workItems.lease",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease",
                  "description": "Leases a dataflow WorkItem to run.",
                  "request": {
                    "$ref": "LeaseWorkItemRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "response": {
                    "$ref": "LeaseWorkItemResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameters": {
                    "projectId": {
                      "description": "Identifies the project this worker belongs to.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "jobId": {
                      "description": "Identifies the workflow job this worker belongs to.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease"
                }
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "pp": {
      "location": "query",
      "description": "Pretty-print response.",
      "type": "boolean",
      "default": "true"
    },
    "bearer_token": {
      "location": "query",
      "description": "OAuth bearer token.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "schemas": {
    "FlattenInstruction": {
      "description": "An instruction that copies its inputs (zero or more) to its (single) output.",
      "type": "object",
      "properties": {
        "inputs": {
          "description": "Describes the inputs to the flatten instruction.",
          "type": "array",
          "items": {
            "$ref": "InstructionInput"
          }
        }
      },
      "id": "FlattenInstruction"
    },
    "PartialGroupByKeyInstruction": {
      "id": "PartialGroupByKeyInstruction",
      "description": "An instruction that does a partial group-by-key.\nOne input and one output.",
      "type": "object",
      "properties": {
        "inputElementCodec": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The codec to use for interpreting an element in the input PTable.",
          "type": "object"
        },
        "valueCombiningFn": {
          "description": "The value combining function to invoke.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "originalCombineValuesInputStoreName": {
          "description": "If this instruction includes a combining function this is the name of the\nintermediate store between the GBK and the CombineValues.",
          "type": "string"
        },
        "originalCombineValuesStepName": {
          "description": "If this instruction includes a combining function, this is the name of the\nCombineValues instruction lifted into this instruction.",
          "type": "string"
        },
        "sideInputs": {
          "description": "Zero or more side inputs.",
          "type": "array",
          "items": {
            "$ref": "SideInputInfo"
          }
        },
        "input": {
          "$ref": "InstructionInput",
          "description": "Describes the input to the partial group-by-key instruction."
        }
      }
    },
    "StageSource": {
      "description": "Description of an input or output of an execution stage.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        },
        "sizeBytes": {
          "description": "Size of the source, if measurable.",
          "format": "int64",
          "type": "string"
        },
        "userName": {
          "description": "Human-readable name for this source; may be user or system generated.",
          "type": "string"
        },
        "originalTransformOrCollection": {
          "description": "User name for the original user transform or collection with which this\nsource is most closely associated.",
          "type": "string"
        }
      },
      "id": "StageSource"
    },
    "InstructionInput": {
      "id": "InstructionInput",
      "description": "An input of an instruction, as a reference to an output of a\nproducer instruction.",
      "type": "object",
      "properties": {
        "producerInstructionIndex": {
          "description": "The index (origin zero) of the parallel instruction that produces\nthe output to be consumed by this input.  This index is relative\nto the list of instructions in this input's instruction's\ncontaining MapTask.",
          "format": "int32",
          "type": "integer"
        },
        "outputNum": {
          "description": "The output index (origin zero) within the producer.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "StringList": {
      "description": "A metric value representing a list of strings.",
      "type": "object",
      "properties": {
        "elements": {
          "description": "Elements of the list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "StringList"
    },
    "DisplayData": {
      "id": "DisplayData",
      "description": "Data provided with a pipeline or transform to provide descriptive info.",
      "type": "object",
      "properties": {
        "timestampValue": {
          "description": "Contains value if the data is of timestamp type.",
          "format": "google-datetime",
          "type": "string"
        },
        "javaClassValue": {
          "description": "Contains value if the data is of java class type.",
          "type": "string"
        },
        "boolValue": {
          "description": "Contains value if the data is of a boolean type.",
          "type": "boolean"
        },
        "strValue": {
          "description": "Contains value if the data is of string type.",
          "type": "string"
        },
        "int64Value": {
          "description": "Contains value if the data is of int64 type.",
          "format": "int64",
          "type": "string"
        },
        "durationValue": {
          "description": "Contains value if the data is of duration type.",
          "format": "google-duration",
          "type": "string"
        },
        "namespace": {
          "description": "The namespace for the key. This is usually a class name or programming\nlanguage namespace (i.e. python module) which defines the display data.\nThis allows a dax monitoring system to specially handle the data\nand perform custom rendering.",
          "type": "string"
        },
        "floatValue": {
          "description": "Contains value if the data is of float type.",
          "format": "float",
          "type": "number"
        },
        "key": {
          "description": "The key identifying the display data.\nThis is intended to be used as a label for the display data\nwhen viewed in a dax monitoring system.",
          "type": "string"
        },
        "shortStrValue": {
          "description": "A possible additional shorter value to display.\nFor example a java_class_name_value of com.mypackage.MyDoFn\nwill be stored with MyDoFn as the short_str_value and\ncom.mypackage.MyDoFn as the java_class_name value.\nshort_str_value can be displayed and java_class_name_value\nwill be displayed as a tooltip.",
          "type": "string"
        },
        "url": {
          "description": "An optional full URL.",
          "type": "string"
        },
        "label": {
          "description": "An optional label to display in a dax UI for the element.",
          "type": "string"
        }
      }
    },
    "GetDebugConfigRequest": {
      "description": "Request to get updated debug configuration for component.",
      "type": "object",
      "properties": {
        "componentId": {
          "description": "The internal component id for which debug configuration is\nrequested.",
          "type": "string"
        },
        "workerId": {
          "description": "The worker id, i.e., VM hostname.",
          "type": "string"
        },
        "location": {
          "description": "The location which contains the job specified by job_id.",
          "type": "string"
        }
      },
      "id": "GetDebugConfigRequest"
    },
    "LeaseWorkItemRequest": {
      "description": "Request to lease WorkItems.",
      "type": "object",
      "properties": {
        "currentWorkerTime": {
          "description": "The current timestamp at the worker.",
          "format": "google-datetime",
          "type": "string"
        },
        "location": {
          "description": "The location which contains the WorkItem's job.",
          "type": "string"
        },
        "workItemTypes": {
          "description": "Filter for WorkItem type.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "workerCapabilities": {
          "description": "Worker capabilities. WorkItems might be limited to workers with specific\ncapabilities.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "workerId": {
          "description": "Identifies the worker leasing work -- typically the ID of the\nvirtual machine running the worker.",
          "type": "string"
        },
        "requestedLeaseDuration": {
          "description": "The initial lease period.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "LeaseWorkItemRequest"
    },
    "GetTemplateResponse": {
      "id": "GetTemplateResponse",
      "description": "The response to a GetTemplate request.",
      "type": "object",
      "properties": {
        "status": {
          "description": "The status of the get template request. Any problems with the\nrequest will be indicated in the error_details.",
          "$ref": "Status"
        },
        "metadata": {
          "$ref": "TemplateMetadata",
          "description": "The template metadata describing the template name, available\nparameters, etc."
        }
      }
    },
    "Parameter": {
      "description": "Structured data associated with this message.",
      "type": "object",
      "properties": {
        "key": {
          "description": "Key or name for this parameter.",
          "type": "string"
        },
        "value": {
          "description": "Value for this parameter.",
          "type": "any"
        }
      },
      "id": "Parameter"
    },
    "ReportWorkItemStatusRequest": {
      "description": "Request to report the status of WorkItems.",
      "type": "object",
      "properties": {
        "workItemStatuses": {
          "description": "The order is unimportant, except that the order of the\nWorkItemServiceState messages in the ReportWorkItemStatusResponse\ncorresponds to the order of WorkItemStatus messages here.",
          "type": "array",
          "items": {
            "$ref": "WorkItemStatus"
          }
        },
        "workerId": {
          "description": "The ID of the worker reporting the WorkItem status.  If this\ndoes not match the ID of the worker which the Dataflow service\nbelieves currently has the lease on the WorkItem, the report\nwill be dropped (with an error response).",
          "type": "string"
        },
        "currentWorkerTime": {
          "description": "The current timestamp at the worker.",
          "format": "google-datetime",
          "type": "string"
        },
        "location": {
          "description": "The location which contains the WorkItem's job.",
          "type": "string"
        }
      },
      "id": "ReportWorkItemStatusRequest"
    },
    "StreamingConfigTask": {
      "description": "A task that carries configuration information for streaming computations.",
      "type": "object",
      "properties": {
        "streamingComputationConfigs": {
          "description": "Set of computation configuration information.",
          "type": "array",
          "items": {
            "$ref": "StreamingComputationConfig"
          }
        },
        "windmillServiceEndpoint": {
          "description": "If present, the worker must use this endpoint to communicate with Windmill\nService dispatchers, otherwise the worker must continue to use whatever\nendpoint it had been using.",
          "type": "string"
        },
        "userStepToStateFamilyNameMap": {
          "description": "Map from user step names to state families.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "windmillServicePort": {
          "description": "If present, the worker must use this port to communicate with Windmill\nService dispatchers. Only applicable when windmill_service_endpoint is\nspecified.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "StreamingConfigTask"
    },
    "PipelineDescription": {
      "description": "A descriptive representation of submitted pipeline as well as the executed\nform.  This data is provided by the Dataflow service for ease of visualizing\nthe pipeline and interpretting Dataflow provided metrics.",
      "type": "object",
      "properties": {
        "executionPipelineStage": {
          "description": "Description of each stage of execution of the pipeline.",
          "type": "array",
          "items": {
            "$ref": "ExecutionStageSummary"
          }
        },
        "originalPipelineTransform": {
          "description": "Description of each transform in the pipeline and collections between them.",
          "type": "array",
          "items": {
            "$ref": "TransformSummary"
          }
        },
        "displayData": {
          "description": "Pipeline level display data.",
          "type": "array",
          "items": {
            "$ref": "DisplayData"
          }
        }
      },
      "id": "PipelineDescription"
    },
    "Step": {
      "description": "Defines a particular step within a Cloud Dataflow job.\n\nA job consists of multiple steps, each of which performs some\nspecific operation as part of the overall job.  Data is typically\npassed from one step to another as part of the job.\n\nHere's an example of a sequence of steps which together implement a\nMap-Reduce job:\n\n  * Read a collection of data from some source, parsing the\n    collection's elements.\n\n  * Validate the elements.\n\n  * Apply a user-defined function to map each element to some value\n    and extract an element-specific key value.\n\n  * Group elements with the same key into a single element with\n    that key, transforming a multiply-keyed collection into a\n    uniquely-keyed collection.\n\n  * Write the elements out to some data sink.\n\nNote that the Cloud Dataflow service may be used to run many different\ntypes of jobs, not just Map-Reduce.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name that identifies the step. This must be unique for each\nstep with respect to all other steps in the Cloud Dataflow job.",
          "type": "string"
        },
        "kind": {
          "description": "The kind of step in the Cloud Dataflow job.",
          "type": "string"
        },
        "properties": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Named properties associated with the step. Each kind of\npredefined step has its own required set of properties.\nMust be provided on Create.  Only retrieved with JOB_VIEW_ALL.",
          "type": "object"
        }
      },
      "id": "Step"
    },
    "JobExecutionInfo": {
      "description": "Additional information about how a Cloud Dataflow job will be executed that\nisn't contained in the submitted job.",
      "type": "object",
      "properties": {
        "stages": {
          "description": "A mapping from each stage to the information about that stage.",
          "type": "object",
          "additionalProperties": {
            "$ref": "JobExecutionStageInfo"
          }
        }
      },
      "id": "JobExecutionInfo"
    },
    "FailedLocation": {
      "description": "Indicates which location failed to respond to a request for data.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the failed location.",
          "type": "string"
        }
      },
      "id": "FailedLocation"
    },
    "Disk": {
      "description": "Describes the data disk used by a workflow job.",
      "type": "object",
      "properties": {
        "mountPoint": {
          "description": "Directory in a VM where disk is mounted.",
          "type": "string"
        },
        "sizeGb": {
          "description": "Size of disk in GB.  If zero or unspecified, the service will\nattempt to choose a reasonable default.",
          "format": "int32",
          "type": "integer"
        },
        "diskType": {
          "description": "Disk storage type, as defined by Google Compute Engine.  This\nmust be a disk type appropriate to the project and zone in which\nthe workers will run.  If unknown or unspecified, the service\nwill attempt to choose a reasonable default.\n\nFor example, the standard persistent disk type is a resource name\ntypically ending in \"pd-standard\".  If SSD persistent disks are\navailable, the resource name typically ends with \"pd-ssd\".  The\nactual valid values are defined the Google Compute Engine API,\nnot by the Cloud Dataflow API; consult the Google Compute Engine\ndocumentation for more information about determining the set of\navailable disk types for a particular project and zone.\n\nGoogle Compute Engine Disk types are local to a particular\nproject in a particular zone, and so the resource name will\ntypically look something like this:\n\ncompute.googleapis.com/projects/project-id/zones/zone/diskTypes/pd-standard",
          "type": "string"
        }
      },
      "id": "Disk"
    },
    "ListJobMessagesResponse": {
      "description": "Response to a request to list job messages.",
      "type": "object",
      "properties": {
        "autoscalingEvents": {
          "description": "Autoscaling events in ascending timestamp order.",
          "type": "array",
          "items": {
            "$ref": "AutoscalingEvent"
          }
        },
        "jobMessages": {
          "description": "Messages in ascending timestamp order.",
          "type": "array",
          "items": {
            "$ref": "JobMessage"
          }
        },
        "nextPageToken": {
          "description": "The token to obtain the next page of results if there are more.",
          "type": "string"
        }
      },
      "id": "ListJobMessagesResponse"
    },
    "CounterMetadata": {
      "id": "CounterMetadata",
      "description": "CounterMetadata includes all static non-name non-value counter attributes.",
      "type": "object",
      "properties": {
        "otherUnits": {
          "description": "A string referring to the unit type.",
          "type": "string"
        },
        "kind": {
          "description": "Counter aggregation kind.",
          "type": "string",
          "enumDescriptions": [
            "Counter aggregation kind was not set.",
            "Aggregated value is the sum of all contributed values.",
            "Aggregated value is the max of all contributed values.",
            "Aggregated value is the min of all contributed values.",
            "Aggregated value is the mean of all contributed values.",
            "Aggregated value represents the logical 'or' of all contributed values.",
            "Aggregated value represents the logical 'and' of all contributed values.",
            "Aggregated value is a set of unique contributed values.",
            "Aggregated value captures statistics about a distribution."
          ],
          "enum": [
            "INVALID",
            "SUM",
            "MAX",
            "MIN",
            "MEAN",
            "OR",
            "AND",
            "SET",
            "DISTRIBUTION"
          ]
        },
        "description": {
          "description": "Human-readable description of the counter semantics.",
          "type": "string"
        },
        "standardUnits": {
          "enumDescriptions": [
            "Counter returns a value in bytes.",
            "Counter returns a value in bytes per second.",
            "Counter returns a value in milliseconds.",
            "Counter returns a value in microseconds.",
            "Counter returns a value in nanoseconds.",
            "Counter returns a timestamp in milliseconds.",
            "Counter returns a timestamp in microseconds.",
            "Counter returns a timestamp in nanoseconds."
          ],
          "enum": [
            "BYTES",
            "BYTES_PER_SEC",
            "MILLISECONDS",
            "MICROSECONDS",
            "NANOSECONDS",
            "TIMESTAMP_MSEC",
            "TIMESTAMP_USEC",
            "TIMESTAMP_NSEC"
          ],
          "description": "System defined Units, see above enum.",
          "type": "string"
        }
      }
    },
    "ApproximateReportedProgress": {
      "id": "ApproximateReportedProgress",
      "description": "A progress measurement of a WorkItem by a worker.",
      "type": "object",
      "properties": {
        "position": {
          "description": "A Position within the work to represent a progress.",
          "$ref": "Position"
        },
        "fractionConsumed": {
          "description": "Completion as fraction of the input consumed, from 0.0 (beginning, nothing\nconsumed), to 1.0 (end of the input, entire input consumed).",
          "format": "double",
          "type": "number"
        },
        "consumedParallelism": {
          "$ref": "ReportedParallelism",
          "description": "Total amount of parallelism in the portion of input of this task that has\nalready been consumed and is no longer active. In the first two examples\nabove (see remaining_parallelism), the value should be 29 or 2\nrespectively.  The sum of remaining_parallelism and consumed_parallelism\nshould equal the total amount of parallelism in this work item.  If\nspecified, must be finite."
        },
        "remainingParallelism": {
          "$ref": "ReportedParallelism",
          "description": "Total amount of parallelism in the input of this task that remains,\n(i.e. can be delegated to this task and any new tasks via dynamic\nsplitting). Always at least 1 for non-finished work items and 0 for\nfinished.\n\n\"Amount of parallelism\" refers to how many non-empty parts of the input\ncan be read in parallel. This does not necessarily equal number\nof records. An input that can be read in parallel down to the\nindividual records is called \"perfectly splittable\".\nAn example of non-perfectly parallelizable input is a block-compressed\nfile format where a block of records has to be read as a whole,\nbut different blocks can be read in parallel.\n\nExamples:\n* If we are processing record #30 (starting at 1) out of 50 in a perfectly\n  splittable 50-record input, this value should be 21 (20 remaining + 1\n  current).\n* If we are reading through block 3 in a block-compressed file consisting\n  of 5 blocks, this value should be 3 (since blocks 4 and 5 can be\n  processed in parallel by new tasks via dynamic splitting and the current\n  task remains processing block 3).\n* If we are reading through the last block in a block-compressed file,\n  or reading or processing the last record in a perfectly splittable\n  input, this value should be 1, because apart from the current task, no\n  additional remainder can be split off."
        }
      }
    },
    "StateFamilyConfig": {
      "id": "StateFamilyConfig",
      "description": "State family configuration.",
      "type": "object",
      "properties": {
        "isRead": {
          "description": "If true, this family corresponds to a read operation.",
          "type": "boolean"
        },
        "stateFamily": {
          "description": "The state family value.",
          "type": "string"
        }
      }
    },
    "IntegerList": {
      "id": "IntegerList",
      "description": "A metric value representing a list of integers.",
      "type": "object",
      "properties": {
        "elements": {
          "description": "Elements of the list.",
          "type": "array",
          "items": {
            "$ref": "SplitInt64"
          }
        }
      }
    },
    "ResourceUtilizationReportResponse": {
      "description": "Service-side response to WorkerMessage reporting resource utilization.",
      "type": "object",
      "properties": {},
      "id": "ResourceUtilizationReportResponse"
    },
    "SourceSplitResponse": {
      "description": "The response to a SourceSplitRequest.",
      "type": "object",
      "properties": {
        "shards": {
          "description": "DEPRECATED in favor of bundles.",
          "type": "array",
          "items": {
            "$ref": "SourceSplitShard"
          }
        },
        "outcome": {
          "enumDescriptions": [
            "The source split outcome is unknown, or unspecified.",
            "The current source should be processed \"as is\" without splitting.",
            "Splitting produced a list of bundles."
          ],
          "enum": [
            "SOURCE_SPLIT_OUTCOME_UNKNOWN",
            "SOURCE_SPLIT_OUTCOME_USE_CURRENT",
            "SOURCE_SPLIT_OUTCOME_SPLITTING_HAPPENED"
          ],
          "description": "Indicates whether splitting happened and produced a list of bundles.\nIf this is USE_CURRENT_SOURCE_AS_IS, the current source should\nbe processed \"as is\" without splitting. \"bundles\" is ignored in this case.\nIf this is SPLITTING_HAPPENED, then \"bundles\" contains a list of\nbundles into which the source was split.",
          "type": "string"
        },
        "bundles": {
          "description": "If outcome is SPLITTING_HAPPENED, then this is a list of bundles\ninto which the source was split. Otherwise this field is ignored.\nThis list can be empty, which means the source represents an empty input.",
          "type": "array",
          "items": {
            "$ref": "DerivedSource"
          }
        }
      },
      "id": "SourceSplitResponse"
    },
    "ParallelInstruction": {
      "id": "ParallelInstruction",
      "description": "Describes a particular operation comprising a MapTask.",
      "type": "object",
      "properties": {
        "name": {
          "description": "User-provided name of this operation.",
          "type": "string"
        },
        "parDo": {
          "description": "Additional information for ParDo instructions.",
          "$ref": "ParDoInstruction"
        },
        "read": {
          "description": "Additional information for Read instructions.",
          "$ref": "ReadInstruction"
        },
        "flatten": {
          "$ref": "FlattenInstruction",
          "description": "Additional information for Flatten instructions."
        },
        "originalName": {
          "description": "System-defined name for the operation in the original workflow graph.",
          "type": "string"
        },
        "write": {
          "$ref": "WriteInstruction",
          "description": "Additional information for Write instructions."
        },
        "systemName": {
          "description": "System-defined name of this operation.\nUnique across the workflow.",
          "type": "string"
        },
        "partialGroupByKey": {
          "$ref": "PartialGroupByKeyInstruction",
          "description": "Additional information for PartialGroupByKey instructions."
        },
        "outputs": {
          "description": "Describes the outputs of the instruction.",
          "type": "array",
          "items": {
            "$ref": "InstructionOutput"
          }
        }
      }
    },
    "KeyRangeDataDiskAssignment": {
      "description": "Data disk assignment information for a specific key-range of a sharded\ncomputation.\nCurrently we only support UTF-8 character splits to simplify encoding into\nJSON.",
      "type": "object",
      "properties": {
        "start": {
          "description": "The start (inclusive) of the key range.",
          "type": "string"
        },
        "dataDisk": {
          "description": "The name of the data disk where data for this range is stored.\nThis name is local to the Google Cloud Platform project and uniquely\nidentifies the disk within that project, for example\n\"myproject-1014-104817-4c2-harness-0-disk-1\".",
          "type": "string"
        },
        "end": {
          "description": "The end (exclusive) of the key range.",
          "type": "string"
        }
      },
      "id": "KeyRangeDataDiskAssignment"
    },
    "Package": {
      "id": "Package",
      "description": "The packages that must be installed in order for a worker to run the\nsteps of the Cloud Dataflow job that will be assigned to its worker\npool.\n\nThis is the mechanism by which the Cloud Dataflow SDK causes code to\nbe loaded onto the workers. For example, the Cloud Dataflow Java SDK\nmight use this to install jars containing the user's code and all of the\nvarious dependencies (libraries, data files, etc.) required in order\nfor that code to run.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the package.",
          "type": "string"
        },
        "location": {
          "description": "The resource to read the package from. The supported resource type is:\n\nGoogle Cloud Storage:\n\n  storage.googleapis.com/{bucket}\n  bucket.storage.googleapis.com/",
          "type": "string"
        }
      }
    },
    "ParDoInstruction": {
      "description": "An instruction that does a ParDo operation.\nTakes one main input and zero or more side inputs, and produces\nzero or more outputs.\nRuns user code.",
      "type": "object",
      "properties": {
        "numOutputs": {
          "description": "The number of outputs.",
          "format": "int32",
          "type": "integer"
        },
        "sideInputs": {
          "description": "Zero or more side inputs.",
          "type": "array",
          "items": {
            "$ref": "SideInputInfo"
          }
        },
        "multiOutputInfos": {
          "description": "Information about each of the outputs, if user_fn is a  MultiDoFn.",
          "type": "array",
          "items": {
            "$ref": "MultiOutputInfo"
          }
        },
        "userFn": {
          "description": "The user function to invoke.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "input": {
          "$ref": "InstructionInput",
          "description": "The input."
        }
      },
      "id": "ParDoInstruction"
    },
    "MetricUpdate": {
      "id": "MetricUpdate",
      "description": "Describes the state of a metric.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Metric aggregation kind.  The possible metric aggregation kinds are\n\"Sum\", \"Max\", \"Min\", \"Mean\", \"Set\", \"And\", \"Or\", and \"Distribution\".\nThe specified aggregation kind is case-insensitive.\n\nIf omitted, this is not an aggregated value but instead\na single metric sample value.",
          "type": "string"
        },
        "scalar": {
          "description": "Worker-computed aggregate value for aggregation kinds \"Sum\", \"Max\", \"Min\",\n\"And\", and \"Or\".  The possible value types are Long, Double, and Boolean.",
          "type": "any"
        },
        "meanCount": {
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind.\nThis holds the count of the aggregated values and is used in combination\nwith mean_sum above to obtain the actual mean aggregate value.\nThe only possible value type is Long.",
          "type": "any"
        },
        "meanSum": {
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind.\nThis holds the sum of the aggregated values and is used in combination\nwith mean_count below to obtain the actual mean aggregate value.\nThe only possible value types are Long and Double.",
          "type": "any"
        },
        "updateTime": {
          "description": "Timestamp associated with the metric value. Optional when workers are\nreporting work progress; it will be filled in responses from the\nmetrics API.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Name of the metric.",
          "$ref": "MetricStructuredName"
        },
        "distribution": {
          "description": "A struct value describing properties of a distribution of numeric values.",
          "type": "any"
        },
        "set": {
          "description": "Worker-computed aggregate value for the \"Set\" aggregation kind.  The only\npossible value type is a list of Values whose type can be Long, Double,\nor String, according to the metric's type.  All Values in the list must\nbe of the same type.",
          "type": "any"
        },
        "internal": {
          "description": "Worker-computed aggregate value for internal use by the Dataflow\nservice.",
          "type": "any"
        },
        "cumulative": {
          "description": "True if this metric is reported as the total cumulative aggregate\nvalue accumulated since the worker started working on this WorkItem.\nBy default this is false, indicating that this metric is reported\nas a delta that is not associated with any WorkItem.",
          "type": "boolean"
        }
      }
    },
    "CounterStructuredName": {
      "id": "CounterStructuredName",
      "description": "Identifies a counter within a per-job namespace. Counters whose structured\nnames are the same get merged into a single value for the job.",
      "type": "object",
      "properties": {
        "executionStepName": {
          "description": "Name of the stage. An execution step contains multiple component steps.",
          "type": "string"
        },
        "name": {
          "description": "Counter name. Not necessarily globally-unique, but unique within the\ncontext of the other fields.\nRequired.",
          "type": "string"
        },
        "origin": {
          "description": "One of the standard Origins defined above.",
          "type": "string",
          "enumDescriptions": [
            "Counter was created by the Dataflow system.",
            "Counter was created by the user."
          ],
          "enum": [
            "SYSTEM",
            "USER"
          ]
        },
        "originalRequestingStepName": {
          "description": "The step name requesting an operation, such as GBK.\nI.e. the ParDo causing a read/write from shuffle to occur, or a\nread from side inputs.",
          "type": "string"
        },
        "inputIndex": {
          "description": "Index of an input collection that's being read from/written to as a side\ninput.\nThe index identifies a step's side inputs starting by 1 (e.g. the first\nside input has input_index 1, the third has input_index 3).\nSide inputs are identified by a pair of (original_step_name, input_index).\nThis field helps uniquely identify them.",
          "format": "int32",
          "type": "integer"
        },
        "componentStepName": {
          "description": "Name of the optimized step being executed by the workers.",
          "type": "string"
        },
        "portion": {
          "description": "Portion of this counter, either key or value.",
          "type": "string",
          "enumDescriptions": [
            "Counter portion has not been set.",
[...]
