{
  "batchPath": "batch",
  "id": "dataflow:v1b3",
  "documentationLink": "https://cloud.google.com/dataflow",
  "revision": "20170426",
  "title": "Google Dataflow API",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "methods": {
        "workerMessages": {
          "response": {
            "$ref": "SendWorkerMessagesResponse"
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "parameters": {
            "projectId": {
              "description": "The project to send the WorkerMessages to.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "v1b3/projects/{projectId}/WorkerMessages",
          "path": "v1b3/projects/{projectId}/WorkerMessages",
          "id": "dataflow.projects.workerMessages",
          "description": "Send a worker_message to the service.",
          "request": {
            "$ref": "SendWorkerMessagesRequest"
          }
        }
      },
      "resources": {
        "templates": {
          "methods": {
            "launch": {
              "request": {
                "$ref": "LaunchTemplateParameters"
              },
              "description": "Launch a template.",
              "response": {
                "$ref": "LaunchTemplateResponse"
              },
              "parameterOrder": [
                "projectId"
              ],
              "httpMethod": "POST",
              "parameters": {
                "validateOnly": {
                  "location": "query",
                  "description": "If true, the request is validated but not actually executed.\nDefaults to false.",
                  "type": "boolean"
                },
                "projectId": {
                  "location": "path",
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "required": true,
                  "type": "string"
                },
                "gcsPath": {
                  "location": "query",
                  "description": "Required. A Cloud Storage path to the template from which to create\nthe job.\nMust be valid Cloud Storage URL, beginning with 'gs://'.",
                  "type": "string"
                },
                "location": {
                  "location": "query",
                  "description": "The location to which to direct the request.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1b3/projects/{projectId}/templates:launch",
              "path": "v1b3/projects/{projectId}/templates:launch",
              "id": "dataflow.projects.templates.launch"
            },
            "get": {
              "description": "Get the template associated with a template.",
              "response": {
                "$ref": "GetTemplateResponse"
              },
              "parameterOrder": [
                "projectId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "location": {
                  "location": "query",
                  "description": "The location to which to direct the request.",
                  "type": "string"
                },
                "projectId": {
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "view": {
                  "location": "query",
                  "enum": [
                    "METADATA_ONLY"
                  ],
                  "description": "The view to retrieve. Defaults to METADATA_ONLY.",
                  "type": "string"
                },
                "gcsPath": {
                  "description": "Required. A Cloud Storage path to the template from which to\ncreate the job.\nMust be a valid Cloud Storage URL, beginning with `gs://`.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1b3/projects/{projectId}/templates:get",
              "path": "v1b3/projects/{projectId}/templates:get",
              "id": "dataflow.projects.templates.get"
            },
            "create": {
              "request": {
                "$ref": "CreateJobFromTemplateRequest"
              },
              "description": "Creates a Cloud Dataflow job from a template.",
              "httpMethod": "POST",
              "parameterOrder": [
                "projectId"
              ],
              "response": {
                "$ref": "Job"
              },
              "parameters": {
                "projectId": {
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1b3/projects/{projectId}/templates",
              "id": "dataflow.projects.templates.create",
              "path": "v1b3/projects/{projectId}/templates"
            }
          }
        },
        "locations": {
          "methods": {
            "workerMessages": {
              "response": {
                "$ref": "SendWorkerMessagesResponse"
              },
              "parameterOrder": [
                "projectId",
                "location"
              ],
              "httpMethod": "POST",
              "parameters": {
                "projectId": {
                  "description": "The project to send the WorkerMessages to.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "location": {
                  "description": "The location which contains the job",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages",
              "path": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages",
              "id": "dataflow.projects.locations.workerMessages",
              "request": {
                "$ref": "SendWorkerMessagesRequest"
              },
              "description": "Send a worker_message to the service."
            }
          },
          "resources": {
            "templates": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GetTemplateResponse"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameters": {
                    "location": {
                      "description": "The location to which to direct the request.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "projectId": {
                      "location": "path",
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "required": true,
                      "type": "string"
                    },
                    "view": {
                      "location": "query",
                      "enum": [
                        "METADATA_ONLY"
                      ],
                      "description": "The view to retrieve. Defaults to METADATA_ONLY.",
                      "type": "string"
                    },
                    "gcsPath": {
                      "location": "query",
                      "description": "Required. A Cloud Storage path to the template from which to\ncreate the job.\nMust be a valid Cloud Storage URL, beginning with `gs://`.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:get",
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:get",
                  "id": "dataflow.projects.locations.templates.get",
                  "description": "Get the template associated with a template."
                },
                "create": {
                  "description": "Creates a Cloud Dataflow job from a template.",
                  "request": {
                    "$ref": "CreateJobFromTemplateRequest"
                  },
                  "response": {
                    "$ref": "Job"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameters": {
                    "location": {
                      "location": "path",
                      "description": "The location to which to direct the request.",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates",
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates",
                  "id": "dataflow.projects.locations.templates.create"
                },
                "launch": {
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:launch",
                  "id": "dataflow.projects.locations.templates.launch",
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:launch",
                  "request": {
                    "$ref": "LaunchTemplateParameters"
                  },
                  "description": "Launch a template.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "response": {
                    "$ref": "LaunchTemplateResponse"
                  },
                  "parameters": {
                    "location": {
                      "location": "path",
                      "description": "The location to which to direct the request.",
                      "required": true,
                      "type": "string"
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "If true, the request is validated but not actually executed.\nDefaults to false.",
                      "type": "boolean"
                    },
                    "projectId": {
                      "location": "path",
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "required": true,
                      "type": "string"
                    },
                    "gcsPath": {
                      "location": "query",
                      "description": "Required. A Cloud Storage path to the template from which to create\nthe job.\nMust be valid Cloud Storage URL, beginning with 'gs://'.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ]
                }
              }
            },
            "jobs": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "Job"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "projectId": {
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "jobId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The job ID."
                    },
                    "view": {
                      "location": "query",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "description": "The level of information requested in response.",
                      "type": "string"
                    },
                    "location": {
                      "location": "path",
                      "description": "The location that contains this job.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "id": "dataflow.projects.locations.jobs.get",
                  "description": "Gets the state of the specified Cloud Dataflow job."
                },
                "list": {
                  "description": "List the jobs of a project.",
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "enum": [
                        "UNKNOWN",
                        "ALL",
                        "TERMINATED",
                        "ACTIVE"
                      ],
                      "description": "The kind of filter to use.",
                      "type": "string"
                    },
                    "location": {
                      "description": "The location that contains this job.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Set this to the 'next_page_token' field of a previous response\nto request additional results in a long list.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "If there are many jobs, limit response to at most this many.\nThe actual number of jobs returned will be the lesser of max_responses\nand an unspecified server-defined limit.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "view": {
                      "type": "string",
                      "location": "query",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "description": "Level of information requested in response. Default is `JOB_VIEW_SUMMARY`."
                    },
                    "projectId": {
                      "location": "path",
                      "description": "The project which owns the jobs.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "id": "dataflow.projects.locations.jobs.list"
                },
                "update": {
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "id": "dataflow.projects.locations.jobs.update",
                  "description": "Updates the state of an existing Cloud Dataflow job.",
                  "request": {
                    "$ref": "Job"
                  },
                  "response": {
                    "$ref": "Job"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The ID of the Cloud Platform project that the job belongs to."
                    },
                    "jobId": {
                      "location": "path",
                      "description": "The job ID.",
                      "required": true,
                      "type": "string"
                    },
                    "location": {
                      "description": "The location that contains this job.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}"
                },
                "create": {
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "id": "dataflow.projects.locations.jobs.create",
                  "description": "Creates a Cloud Dataflow job.",
                  "request": {
                    "$ref": "Job"
                  },
                  "response": {
                    "$ref": "Job"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameters": {
                    "location": {
                      "location": "path",
                      "description": "The location that contains this job.",
                      "required": true,
                      "type": "string"
                    },
                    "replaceJobId": {
                      "location": "query",
                      "description": "Deprecated. This field is now in the Job message.",
                      "type": "string"
                    },
                    "projectId": {
                      "location": "path",
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "required": true,
                      "type": "string"
                    },
                    "view": {
                      "location": "query",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "description": "The level of information requested in response.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs"
                },
                "getMetrics": {
                  "description": "Request the job status.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "response": {
                    "$ref": "JobMetrics"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameters": {
                    "location": {
                      "location": "path",
                      "description": "The location which contains the job specified by job_id.",
                      "required": true,
                      "type": "string"
                    },
                    "startTime": {
                      "location": "query",
                      "description": "Return only metric data that has changed since this time.\nDefault is to return all information about all metrics for the job.",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "projectId": {
                      "description": "A project id.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "jobId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The job to get messages for."
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                  "id": "dataflow.projects.locations.jobs.getMetrics",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics"
                }
              },
              "resources": {
                "debug": {
                  "methods": {
                    "getConfig": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "response": {
                        "$ref": "GetDebugConfigResponse"
                      },
                      "parameters": {
                        "projectId": {
                          "description": "The project id.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "jobId": {
                          "description": "The job id.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "location": {
                          "description": "The location which contains the job specified by job_id.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                      "id": "dataflow.projects.locations.jobs.debug.getConfig",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                      "request": {
                        "$ref": "GetDebugConfigRequest"
                      },
                      "description": "Get encoded debug configuration for component. Not cacheable."
                    },
                    "sendCapture": {
                      "description": "Send encoded debug capture data for component.",
                      "request": {
                        "$ref": "SendDebugCaptureRequest"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "response": {
                        "$ref": "SendDebugCaptureResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "parameters": {
                        "location": {
                          "location": "path",
                          "description": "The location which contains the job specified by job_id.",
                          "required": true,
                          "type": "string"
                        },
                        "projectId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The project id."
                        },
                        "jobId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The job id."
                        }
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                      "id": "dataflow.projects.locations.jobs.debug.sendCapture",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture"
                    }
                  }
                },
                "workItems": {
                  "methods": {
                    "reportStatus": {
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                      "id": "dataflow.projects.locations.jobs.workItems.reportStatus",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                      "request": {
                        "$ref": "ReportWorkItemStatusRequest"
                      },
                      "description": "Reports the status of dataflow WorkItems leased by a worker.",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "response": {
                        "$ref": "ReportWorkItemStatusResponse"
                      },
                      "parameters": {
                        "projectId": {
                          "location": "path",
                          "description": "The project which owns the WorkItem's job.",
                          "required": true,
                          "type": "string"
                        },
                        "jobId": {
                          "location": "path",
                          "description": "The job which the WorkItem is part of.",
                          "required": true,
                          "type": "string"
                        },
                        "location": {
                          "location": "path",
                          "description": "The location which contains the WorkItem's job.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ]
                    },
                    "lease": {
                      "request": {
                        "$ref": "LeaseWorkItemRequest"
                      },
                      "description": "Leases a dataflow WorkItem to run.",
                      "response": {
                        "$ref": "LeaseWorkItemResponse"
                      },
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "location": {
                          "location": "path",
                          "description": "The location which contains the WorkItem's job.",
                          "required": true,
                          "type": "string"
                        },
                        "projectId": {
                          "description": "Identifies the project this worker belongs to.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "jobId": {
                          "location": "path",
                          "description": "Identifies the workflow job this worker belongs to.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                      "id": "dataflow.projects.locations.jobs.workItems.lease"
                    }
                  }
                },
                "messages": {
                  "methods": {
                    "list": {
                      "description": "Request the job status.",
                      "response": {
                        "$ref": "ListJobMessagesResponse"
                      },
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "endTime": {
                          "location": "query",
                          "description": "Return only messages with timestamps \u003c end_time. The default is now\n(i.e. return up to the latest messages available).",
                          "format": "google-datetime",
                          "type": "string"
                        },
                        "location": {
                          "description": "The location which contains the job specified by job_id.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "If supplied, this should be the value of next_page_token returned\nby an earlier call. This will cause the next page of results to\nbe returned.",
                          "type": "string"
                        },
                        "startTime": {
                          "location": "query",
                          "description": "If specified, return only messages with timestamps \u003e= start_time.\nThe default is the job creation time (i.e. beginning of messages).",
                          "format": "google-datetime",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "If specified, determines the maximum number of messages to\nreturn.  If unspecified, the service may choose an appropriate\ndefault, or may return an arbitrarily large number of results.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "minimumImportance": {
                          "location": "query",
                          "enum": [
                            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                            "JOB_MESSAGE_DEBUG",
                            "JOB_MESSAGE_DETAILED",
                            "JOB_MESSAGE_BASIC",
                            "JOB_MESSAGE_WARNING",
                            "JOB_MESSAGE_ERROR"
                          ],
                          "description": "Filter to only get messages with importance \u003e= level",
                          "type": "string"
                        },
                        "projectId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "A project id."
                        },
                        "jobId": {
                          "location": "path",
                          "description": "The job to get messages about.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                      "id": "dataflow.projects.locations.jobs.messages.list"
                    }
                  }
                }
              }
            }
          }
        },
        "jobs": {
          "methods": {
            "getMetrics": {
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "response": {
                "$ref": "JobMetrics"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "A project id.",
                  "required": true,
                  "type": "string"
                },
                "jobId": {
                  "description": "The job to get messages for.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "location": {
                  "type": "string",
                  "location": "query",
                  "description": "The location which contains the job specified by job_id."
                },
                "startTime": {
                  "description": "Return only metric data that has changed since this time.\nDefault is to return all information about all metrics for the job.",
                  "format": "google-datetime",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
              "id": "dataflow.projects.jobs.getMetrics",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
              "description": "Request the job status."
            },
            "get": {
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Job"
              },
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "required": true,
                  "type": "string"
                },
                "jobId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The job ID."
                },
                "view": {
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "description": "The level of information requested in response.",
                  "type": "string",
                  "location": "query"
                },
                "location": {
                  "type": "string",
                  "location": "query",
                  "description": "The location that contains this job."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}",
              "id": "dataflow.projects.jobs.get",
              "description": "Gets the state of the specified Cloud Dataflow job."
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "view": {
                  "location": "query",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "description": "Level of information requested in response. Default is `JOB_VIEW_SUMMARY`.",
                  "type": "string"
                },
                "projectId": {
                  "description": "The project which owns the jobs.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "UNKNOWN",
                    "ALL",
                    "TERMINATED",
                    "ACTIVE"
                  ],
                  "description": "The kind of filter to use."
                },
                "location": {
                  "location": "query",
                  "description": "The location that contains this job.",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Set this to the 'next_page_token' field of a previous response\nto request additional results in a long list.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "If there are many jobs, limit response to at most this many.\nThe actual number of jobs returned will be the lesser of max_responses\nand an unspecified server-defined limit.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              },
              "flatPath": "v1b3/projects/{projectId}/jobs",
              "id": "dataflow.projects.jobs.list",
              "path": "v1b3/projects/{projectId}/jobs",
              "description": "List the jobs of a project.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListJobsResponse"
              },
              "parameterOrder": [
                "projectId"
              ]
            },
            "update": {
              "response": {
                "$ref": "Job"
              },
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "location": {
                  "description": "The location that contains this job.",
                  "type": "string",
                  "location": "query"
                },
                "projectId": {
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "jobId": {
                  "description": "The job ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}",
              "id": "dataflow.projects.jobs.update",
              "description": "Updates the state of an existing Cloud Dataflow job.",
              "request": {
                "$ref": "Job"
              }
            },
            "create": {
              "flatPath": "v1b3/projects/{projectId}/jobs",
              "id": "dataflow.projects.jobs.create",
              "path": "v1b3/projects/{projectId}/jobs",
              "request": {
                "$ref": "Job"
              },
              "description": "Creates a Cloud Dataflow job.",
              "httpMethod": "POST",
              "parameterOrder": [
                "projectId"
              ],
              "response": {
                "$ref": "Job"
              },
              "parameters": {
                "projectId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the Cloud Platform project that the job belongs to."
                },
                "view": {
                  "description": "The level of information requested in response.",
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ]
                },
                "location": {
                  "location": "query",
                  "description": "The location that contains this job.",
                  "type": "string"
                },
                "replaceJobId": {
                  "location": "query",
                  "description": "Deprecated. This field is now in the Job message.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/userinfo.email"
              ]
            }
          },
          "resources": {
            "debug": {
              "methods": {
                "getConfig": {
                  "response": {
                    "$ref": "GetDebugConfigResponse"
                  },
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "description": "The project id.",
                      "required": true,
                      "type": "string"
                    },
                    "jobId": {
                      "description": "The job id.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                  "id": "dataflow.projects.jobs.debug.getConfig",
                  "request": {
                    "$ref": "GetDebugConfigRequest"
                  },
                  "description": "Get encoded debug configuration for component. Not cacheable."
                },
                "sendCapture": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameters": {
                    "projectId": {
                      "description": "The project id.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "jobId": {
                      "description": "The job id.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "id": "dataflow.projects.jobs.debug.sendCapture",
                  "description": "Send encoded debug capture data for component.",
                  "request": {
                    "$ref": "SendDebugCaptureRequest"
                  },
                  "response": {
                    "$ref": "SendDebugCaptureResponse"
                  },
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "httpMethod": "POST"
                }
              }
            },
            "workItems": {
              "methods": {
                "lease": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "response": {
                    "$ref": "LeaseWorkItemResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameters": {
                    "projectId": {
                      "description": "Identifies the project this worker belongs to.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "jobId": {
                      "description": "Identifies the workflow job this worker belongs to.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease",
                  "id": "dataflow.projects.jobs.workItems.lease",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease",
                  "description": "Leases a dataflow WorkItem to run.",
                  "request": {
                    "$ref": "LeaseWorkItemRequest"
                  }
                },
                "reportStatus": {
                  "id": "dataflow.projects.jobs.workItems.reportStatus",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus",
                  "request": {
                    "$ref": "ReportWorkItemStatusRequest"
                  },
                  "description": "Reports the status of dataflow WorkItems leased by a worker.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "response": {
                    "$ref": "ReportWorkItemStatusResponse"
                  },
                  "parameters": {
                    "projectId": {
                      "description": "The project which owns the WorkItem's job.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "jobId": {
                      "location": "path",
                      "description": "The job which the WorkItem is part of.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus"
                }
              }
            },
            "messages": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListJobMessagesResponse"
                  },
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "location": {
                      "description": "The location which contains the job specified by job_id.",
                      "type": "string",
                      "location": "query"
                    },
                    "endTime": {
                      "location": "query",
                      "description": "Return only messages with timestamps \u003c end_time. The default is now\n(i.e. return up to the latest messages available).",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "startTime": {
                      "type": "string",
                      "location": "query",
                      "description": "If specified, return only messages with timestamps \u003e= start_time.\nThe default is the job creation time (i.e. beginning of messages).",
                      "format": "google-datetime"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "If supplied, this should be the value of next_page_token returned\nby an earlier call. This will cause the next page of results to\nbe returned.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "If specified, determines the maximum number of messages to\nreturn.  If unspecified, the service may choose an appropriate\ndefault, or may return an arbitrarily large number of results.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "minimumImportance": {
                      "description": "Filter to only get messages with importance \u003e= level",
                      "type": "string",
                      "location": "query",
                      "enum": [
                        "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                        "JOB_MESSAGE_DEBUG",
                        "JOB_MESSAGE_DETAILED",
                        "JOB_MESSAGE_BASIC",
                        "JOB_MESSAGE_WARNING",
                        "JOB_MESSAGE_ERROR"
                      ]
                    },
                    "jobId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The job to get messages about."
                    },
                    "projectId": {
                      "location": "path",
                      "description": "A project id.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/messages",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/messages",
                  "id": "dataflow.projects.jobs.messages.list",
                  "description": "Request the job status."
                }
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "pp": {
      "location": "query",
      "description": "Pretty-print response.",
      "type": "boolean",
      "default": "true"
    },
    "bearer_token": {
      "description": "OAuth bearer token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    }
  },
  "schemas": {
    "SourceOperationResponse": {
      "description": "The result of a SourceOperationRequest, specified in\nReportWorkItemStatusRequest.source_operation when the work item\nis completed.",
      "type": "object",
      "properties": {
        "getMetadata": {
          "description": "A response to a request to get metadata about a source.",
          "$ref": "SourceGetMetadataResponse"
        },
        "split": {
          "$ref": "SourceSplitResponse",
          "description": "A response to a request to split a source."
        }
      },
      "id": "SourceOperationResponse"
    },
    "SendDebugCaptureResponse": {
      "id": "SendDebugCaptureResponse",
      "description": "Response to a send capture request.\nnothing",
      "type": "object",
      "properties": {}
    },
    "SideInputInfo": {
      "description": "Information about a side input of a DoFn or an input of a SeqDoFn.",
      "type": "object",
      "properties": {
        "sources": {
          "type": "array",
          "items": {
            "$ref": "Source"
          },
          "description": "The source(s) to read element(s) from to get the value of this side input.\nIf more than one source, then the elements are taken from the\nsources, in the specified order if order matters.\nAt least one source is required."
        },
        "kind": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "How to interpret the source element(s) as a side input value.",
          "type": "object"
        },
        "tag": {
          "description": "The id of the tag the user code will access this side input by;\nthis should correspond to the tag of some MultiOutputInfo.",
          "type": "string"
        }
      },
      "id": "SideInputInfo"
    },
    "CounterStructuredNameAndMetadata": {
      "properties": {
        "name": {
          "$ref": "CounterStructuredName",
          "description": "Structured name of the counter."
        },
        "metadata": {
          "description": "Metadata associated with a counter",
          "$ref": "CounterMetadata"
        }
      },
      "id": "CounterStructuredNameAndMetadata",
      "description": "A single message which encapsulates structured name and metadata for a given\ncounter.",
      "type": "object"
    },
    "ConcatPosition": {
      "description": "A position that encapsulates an inner position and an index for the inner\nposition. A ConcatPosition can be used by a reader of a source that\nencapsulates a set of other sources.",
      "type": "object",
      "properties": {
        "position": {
          "description": "Position within the inner source.",
          "$ref": "Position"
        },
        "index": {
          "description": "Index of the inner source.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ConcatPosition"
    },
    "WriteInstruction": {
      "description": "An instruction that writes records.\nTakes one input, produces no outputs.",
      "type": "object",
      "properties": {
        "input": {
          "description": "The input.",
          "$ref": "InstructionInput"
        },
        "sink": {
          "$ref": "Sink",
          "description": "The sink to write to."
        }
      },
      "id": "WriteInstruction"
    },
    "StreamingComputationRanges": {
      "type": "object",
      "properties": {
        "rangeAssignments": {
          "description": "Data disk assignments for ranges from this computation.",
          "type": "array",
          "items": {
            "$ref": "KeyRangeDataDiskAssignment"
          }
        },
        "computationId": {
          "description": "The ID of the computation.",
          "type": "string"
        }
      },
      "id": "StreamingComputationRanges",
      "description": "Describes full or partial data disk assignment information of the computation\nranges."
    },
    "AutoscalingSettings": {
      "type": "object",
      "properties": {
        "algorithm": {
          "type": "string",
          "enumDescriptions": [
            "The algorithm is unknown, or unspecified.",
            "Disable autoscaling.",
            "Increase worker count over time to reduce job execution time."
          ],
          "enum": [
            "AUTOSCALING_ALGORITHM_UNKNOWN",
            "AUTOSCALING_ALGORITHM_NONE",
            "AUTOSCALING_ALGORITHM_BASIC"
          ],
          "description": "The algorithm to use for autoscaling."
        },
        "maxNumWorkers": {
          "description": "The maximum number of workers to cap scaling at.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "AutoscalingSettings",
      "description": "Settings for WorkerPool autoscaling."
    },
    "ExecutionStageSummary": {
      "type": "object",
      "properties": {
        "outputSource": {
          "description": "Output sources for this stage.",
          "type": "array",
          "items": {
            "$ref": "StageSource"
          }
        },
        "name": {
          "description": "Dataflow service generated name for this stage.",
          "type": "string"
        },
        "inputSource": {
          "description": "Input sources for this stage.",
          "type": "array",
          "items": {
            "$ref": "StageSource"
          }
        },
        "id": {
          "description": "Dataflow service generated id for this stage.",
          "type": "string"
        },
        "componentTransform": {
          "type": "array",
          "items": {
            "$ref": "ComponentTransform"
          },
          "description": "Transforms that comprise this execution stage."
        },
        "componentSource": {
          "description": "Collections produced and consumed by component transforms of this stage.",
          "type": "array",
          "items": {
            "$ref": "ComponentSource"
          }
        },
        "kind": {
          "enum": [
            "UNKNOWN_KIND",
            "PAR_DO_KIND",
            "GROUP_BY_KEY_KIND",
            "FLATTEN_KIND",
            "READ_KIND",
            "WRITE_KIND",
            "CONSTANT_KIND",
            "SINGLETON_KIND",
            "SHUFFLE_KIND"
          ],
          "description": "Type of tranform this stage is executing.",
          "type": "string",
          "enumDescriptions": [
            "Unrecognized transform type.",
            "ParDo transform.",
            "Group By Key transform.",
            "Flatten transform.",
            "Read transform.",
            "Write transform.",
            "Constructs from a constant value, such as with Create.of.",
            "Creates a Singleton view of a collection.",
            "Opening or closing a shuffle session, often as part of a GroupByKey."
          ]
        }
      },
      "id": "ExecutionStageSummary",
      "description": "Description of the composing transforms, names/ids, and input/outputs of a\nstage of execution.  Some composing transforms and sources may have been\ngenerated by the Dataflow service during execution planning."
    },
    "SendWorkerMessagesRequest": {
      "description": "A request for sending worker messages to the service.",
      "type": "object",
      "properties": {
        "workerMessages": {
          "description": "The WorkerMessages to send.",
          "type": "array",
          "items": {
            "$ref": "WorkerMessage"
          }
        },
        "location": {
          "description": "The location which contains the job",
          "type": "string"
        }
      },
      "id": "SendWorkerMessagesRequest"
    },
    "LogBucket": {
      "description": "Bucket of values for Distribution's logarithmic histogram.",
      "type": "object",
      "properties": {
        "log": {
          "description": "floor(log2(value)); defined to be zero for nonpositive values.\n  log(-1) = 0\n  log(0) = 0\n  log(1) = 0\n  log(2) = 1\n  log(3) = 1\n  log(4) = 2\n  log(5) = 2",
          "format": "int32",
          "type": "integer"
        },
        "count": {
          "description": "Number of values in this bucket.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "LogBucket"
    },
    "SourceSplitShard": {
      "id": "SourceSplitShard",
      "description": "DEPRECATED in favor of DerivedSource.",
      "type": "object",
      "properties": {
        "derivationMode": {
          "type": "string",
          "enumDescriptions": [
            "The source derivation is unknown, or unspecified.",
            "Produce a completely independent Source with no base.",
            "Produce a Source based on the Source being split.",
            "Produce a Source based on the base of the Source being split."
          ],
          "enum": [
            "SOURCE_DERIVATION_MODE_UNKNOWN",
            "SOURCE_DERIVATION_MODE_INDEPENDENT",
            "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
            "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT"
          ],
          "description": "DEPRECATED"
        },
        "source": {
          "description": "DEPRECATED",
          "$ref": "Source"
        }
      }
    },
    "CPUTime": {
      "description": "Modeled after information exposed by /proc/stat.",
      "type": "object",
      "properties": {
        "timestamp": {
          "description": "Timestamp of the measurement.",
          "format": "google-datetime",
          "type": "string"
        },
        "totalMs": {
          "description": "Total active CPU time across all cores (ie., non-idle) in milliseconds\nsince start-up.",
          "format": "uint64",
          "type": "string"
        },
        "rate": {
          "description": "Average CPU utilization rate (% non-idle cpu / second) since previous\nsample.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "CPUTime"
    },
    "Environment": {
      "description": "Describes the environment in which a Dataflow Job runs.",
      "type": "object",
      "properties": {
        "userAgent": {
          "description": "A description of the process that generated the request.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "sdkPipelineOptions": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The Cloud Dataflow SDK pipeline options specified by the user. These\noptions are passed through the service and are used to recreate the\nSDK pipeline options on the worker in a language agnostic and platform\nindependent way.",
          "type": "object"
        },
        "clusterManagerApiService": {
          "description": "The type of cluster manager API to use.  If unknown or\nunspecified, the service will attempt to choose a reasonable\ndefault.  This should be in the form of the API service name,\ne.g. \"compute.googleapis.com\".",
          "type": "string"
        },
        "tempStoragePrefix": {
          "description": "The prefix of the resources the system should use for temporary\nstorage.  The system will append the suffix \"/temp-{JOBNAME} to\nthis resource prefix, where {JOBNAME} is the value of the\njob_name field.  The resulting bucket and object prefix is used\nas the prefix of the resources used to store temporary data\nneeded during the job execution.  NOTE: This will override the\nvalue in taskrunner_settings.\nThe supported resource type is:\n\nGoogle Cloud Storage:\n\n  storage.googleapis.com/{bucket}/{object}\n  bucket.storage.googleapis.com/{object}",
          "type": "string"
        },
        "workerPools": {
          "description": "The worker pools. At least one \"harness\" worker pool must be\nspecified in order for the job to have workers.",
          "type": "array",
          "items": {
            "$ref": "WorkerPool"
          }
        },
        "dataset": {
          "type": "string",
          "description": "The dataset for the current project where various workflow\nrelated tables are stored.\n\nThe supported resource type is:\n\nGoogle BigQuery:\n  bigquery.googleapis.com/{dataset}"
        },
        "experiments": {
          "description": "The list of experiments to enable.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "internalExperiments": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Experimental settings.",
          "type": "object"
        },
        "version": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "A structure describing which components and their versions of the service\nare required in order to run the job.",
          "type": "object"
        },
        "serviceAccountEmail": {
          "description": "Identity to run virtual machines as. Defaults to the default account.",
          "type": "string"
        }
      },
      "id": "Environment"
    },
    "StreamingComputationTask": {
      "id": "StreamingComputationTask",
      "description": "A task which describes what action should be performed for the specified\nstreaming computation ranges.",
      "type": "object",
      "properties": {
        "taskType": {
          "enumDescriptions": [
            "The streaming computation task is unknown, or unspecified.",
            "Stop processing specified streaming computation range(s).",
            "Start processing specified streaming computation range(s)."
          ],
          "enum": [
            "STREAMING_COMPUTATION_TASK_UNKNOWN",
            "STREAMING_COMPUTATION_TASK_STOP",
            "STREAMING_COMPUTATION_TASK_START"
          ],
          "description": "A type of streaming computation task.",
          "type": "string"
        },
        "computationRanges": {
          "description": "Contains ranges of a streaming computation this task should apply to.",
          "type": "array",
          "items": {
            "$ref": "StreamingComputationRanges"
          }
        },
        "dataDisks": {
          "description": "Describes the set of data disks this task should apply to.",
          "type": "array",
          "items": {
            "$ref": "MountedDataDisk"
          }
        }
      }
    },
    "SendDebugCaptureRequest": {
      "type": "object",
      "properties": {
        "componentId": {
          "description": "The internal component id for which debug information is sent.",
          "type": "string"
        },
        "workerId": {
          "type": "string",
          "description": "The worker id, i.e., VM hostname."
        },
        "location": {
          "description": "The location which contains the job specified by job_id.",
          "type": "string"
        },
        "data": {
          "description": "The encoded debug information.",
          "type": "string"
        }
      },
      "id": "SendDebugCaptureRequest",
      "description": "Request to send encoded debug information."
    },
    "GetDebugConfigResponse": {
      "description": "Response to a get debug configuration request.",
      "type": "object",
      "properties": {
        "config": {
          "type": "string",
          "description": "The encoded debug configuration for the requested component."
        }
      },
      "id": "GetDebugConfigResponse"
    },
    "ComponentTransform": {
      "properties": {
        "originalTransform": {
          "description": "User name for the original user transform with which this transform is\nmost closely associated.",
          "type": "string"
        },
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        },
        "userName": {
          "description": "Human-readable name for this transform; may be user or system generated.",
          "type": "string"
        }
      },
      "id": "ComponentTransform",
      "description": "Description of a transform executed as part of an execution stage.",
      "type": "object"
    },
    "StreamingSetupTask": {
      "properties": {
        "streamingComputationTopology": {
          "$ref": "TopologyConfig",
          "description": "The global topology of the streaming Dataflow job."
        },
        "workerHarnessPort": {
          "description": "The TCP port used by the worker to communicate with the Dataflow\nworker harness.",
          "format": "int32",
          "type": "integer"
        },
        "drain": {
          "description": "The user has requested drain.",
          "type": "boolean"
        },
        "receiveWorkPort": {
          "description": "The TCP port on which the worker should listen for messages from\nother streaming computation workers.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "StreamingSetupTask",
      "description": "A task which initializes part of a streaming Dataflow job.",
      "type": "object"
    },
    "PubsubLocation": {
      "description": "Identifies a pubsub location to use for transferring data into or\nout of a streaming Dataflow job.",
      "type": "object",
      "properties": {
        "withAttributes": {
          "description": "If true, then the client has requested to get pubsub attributes.",
          "type": "boolean"
        },
        "idLabel": {
          "description": "If set, contains a pubsub label from which to extract record ids.\nIf left empty, record deduplication will be strictly best effort.",
          "type": "string"
        },
        "timestampLabel": {
          "description": "If set, contains a pubsub label from which to extract record timestamps.\nIf left empty, record timestamps will be generated upon arrival.",
          "type": "string"
        },
        "topic": {
          "description": "A pubsub topic, in the form of\n\"pubsub.googleapis.com/topics/\u003cproject-id\u003e/\u003ctopic-name\u003e\"",
          "type": "string"
        },
        "subscription": {
          "description": "A pubsub subscription, in the form of\n\"pubsub.googleapis.com/subscriptions/\u003cproject-id\u003e/\u003csubscription-name\u003e\"",
          "type": "string"
        },
        "dropLateData": {
          "description": "Indicates whether the pipeline allows late-arriving data.",
          "type": "boolean"
        },
        "trackingSubscription": {
          "description": "If set, specifies the pubsub subscription that will be used for tracking\ncustom time timestamps for watermark estimation.",
          "type": "string"
        }
      },
      "id": "PubsubLocation"
    },
    "WorkerHealthReport": {
      "id": "WorkerHealthReport",
      "description": "WorkerHealthReport contains information about the health of a worker.\n\nThe VM should be identified by the labels attached to the WorkerMessage that\nthis health ping belongs to.",
      "type": "object",
      "properties": {
        "pods": {
          "description": "The pods running on the worker. See:\nhttp://kubernetes.io/v1.1/docs/api-reference/v1/definitions.html#_v1_pod\n\nThis field is used by the worker to send the status of the indvidual\ncontainers running on each worker.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "vmStartupTime": {
          "description": "The time the VM was booted.",
          "format": "google-datetime",
          "type": "string"
        },
        "vmIsHealthy": {
          "description": "Whether the VM is healthy.",
          "type": "boolean"
        },
        "reportInterval": {
          "description": "The interval at which the worker is sending health reports.\nThe default value of 0 should be interpreted as the field is not being\nexplicitly set by the worker.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "JobMessage": {
      "description": "A particular message pertaining to a Dataflow job.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Deprecated.",
          "type": "string"
        },
        "messageText": {
          "type": "string",
          "description": "The text of the message."
        },
        "messageImportance": {
          "enum": [
            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
            "JOB_MESSAGE_DEBUG",
            "JOB_MESSAGE_DETAILED",
            "JOB_MESSAGE_BASIC",
            "JOB_MESSAGE_WARNING",
            "JOB_MESSAGE_ERROR"
          ],
          "description": "Importance level of the message.",
          "type": "string",
          "enumDescriptions": [
            "The message importance isn't specified, or is unknown.",
            "The message is at the 'debug' level: typically only useful for\nsoftware engineers working on the code the job is running.\nTypically, Dataflow pipeline runners do not display log messages\nat this level by default.",
            "The message is at the 'detailed' level: somewhat verbose, but\npotentially useful to users.  Typically, Dataflow pipeline\nrunners do not display log messages at this level by default.\nThese messages are displayed by default in the Dataflow\nmonitoring UI.",
            "The message is at the 'basic' level: useful for keeping\ntrack of the execution of a Dataflow pipeline.  Typically,\nDataflow pipeline runners display log messages at this level by\ndefault, and these messages are displayed by default in the\nDataflow monitoring UI.",
            "The message is at the 'warning' level: indicating a condition\npertaining to a job which may require human intervention.\nTypically, Dataflow pipeline runners display log messages at this\nlevel by default, and these messages are displayed by default in\nthe Dataflow monitoring UI.",
            "The message is at the 'error' level: indicating a condition\npreventing a job from succeeding.  Typically, Dataflow pipeline\nrunners display log messages at this level by default, and these\nmessages are displayed by default in the Dataflow monitoring UI."
          ]
        },
        "time": {
          "description": "The timestamp of the message.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "JobMessage"
    },
    "ParameterMetadata": {
      "description": "Metadata for a specific parameter.",
      "type": "object",
      "properties": {
        "regexes": {
          "description": "Optional. Regexes that the parameter must match.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "label": {
          "description": "Required. The label to display for the parameter.",
          "type": "string"
        },
        "helpText": {
          "description": "Required. The help text to display for the parameter.",
          "type": "string"
        },
        "isOptional": {
          "description": "Optional. Whether the parameter is optional. Defaults to false.",
          "type": "boolean"
        },
        "name": {
          "description": "Required. The name of the parameter.",
          "type": "string"
        }
      },
      "id": "ParameterMetadata"
    },
    "MultiOutputInfo": {
      "description": "Information about an output of a multi-output DoFn.",
      "type": "object",
      "properties": {
        "tag": {
          "description": "The id of the tag the user code will emit to this output by; this\nshould correspond to the tag of some SideInputInfo.",
          "type": "string"
        }
      },
      "id": "MultiOutputInfo"
    },
    "SourceSplitRequest": {
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "Specification of the source to be split."
        },
        "options": {
          "$ref": "SourceSplitOptions",
          "description": "Hints for tuning the splitting process."
        }
      },
      "id": "SourceSplitRequest",
      "description": "Represents the operation to split a high-level Source specification\ninto bundles (parts for parallel processing).\n\nAt a high level, splitting of a source into bundles happens as follows:\nSourceSplitRequest is applied to the source. If it returns\nSOURCE_SPLIT_OUTCOME_USE_CURRENT, no further splitting happens and the source\nis used \"as is\". Otherwise, splitting is applied recursively to each\nproduced DerivedSource.\n\nAs an optimization, for any Source, if its does_not_need_splitting is\ntrue, the framework assumes that splitting this source would return\nSOURCE_SPLIT_OUTCOME_USE_CURRENT, and doesn't initiate a SourceSplitRequest.\nThis applies both to the initial source being split and to bundles\nproduced from it.",
      "type": "object"
    },
    "SourceGetMetadataResponse": {
      "description": "The result of a SourceGetMetadataOperation.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "The computed metadata.",
          "$ref": "SourceMetadata"
        }
      },
      "id": "SourceGetMetadataResponse"
    },
    "AutoscalingEvent": {
      "description": "A structured message reporting an autoscaling decision made by the Dataflow\nservice.",
      "type": "object",
      "properties": {
        "description": {
          "description": "A message describing why the system decided to adjust the current\nnumber of workers, why it failed, or why the system decided to\nnot make any changes to the number of workers.",
          "$ref": "StructuredMessage"
        },
        "time": {
          "type": "string",
          "description": "The time this event was emitted to indicate a new target or current\nnum_workers value.",
          "format": "google-datetime"
        },
        "targetNumWorkers": {
          "description": "The target number of workers the worker pool wants to resize to use.",
          "format": "int64",
          "type": "string"
        },
        "eventType": {
          "type": "string",
          "enumDescriptions": [
            "Default type for the enum.  Value should never be returned.",
            "The TARGET_NUM_WORKERS_CHANGED type should be used when the target\nworker pool size has changed at the start of an actuation. An event\nshould always be specified as TARGET_NUM_WORKERS_CHANGED if it reflects\na change in the target_num_workers.",
            "The CURRENT_NUM_WORKERS_CHANGED type should be used when actual worker\npool size has been changed, but the target_num_workers has not changed.",
            "The ACTUATION_FAILURE type should be used when we want to report\nan error to the user indicating why the current number of workers\nin the pool could not be changed.\nDisplayed in the current status and history widgets.",
            "Used when we want to report to the user a reason why we are\nnot currently adjusting the number of workers.\nShould specify both target_num_workers, current_num_workers and a\ndecision_message."
          ],
          "enum": [
            "TYPE_UNKNOWN",
            "TARGET_NUM_WORKERS_CHANGED",
            "CURRENT_NUM_WORKERS_CHANGED",
            "ACTUATION_FAILURE",
            "NO_CHANGE"
          ],
          "description": "The type of autoscaling event to report."
        },
        "currentNumWorkers": {
          "description": "The current number of workers the job has.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "AutoscalingEvent"
    },
    "MetricShortId": {
      "description": "The metric short id is returned to the user alongside an offset into\nReportWorkItemStatusRequest",
      "type": "object",
      "properties": {
        "metricIndex": {
          "description": "The index of the corresponding metric in\nthe ReportWorkItemStatusRequest. Required.",
          "format": "int32",
          "type": "integer"
        },
        "shortId": {
          "description": "The service-generated short identifier for the metric.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "MetricShortId"
    },
    "ShellTask": {
      "properties": {
        "command": {
          "description": "The shell command to run.",
          "type": "string"
        },
        "exitCode": {
          "description": "Exit code for the task.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ShellTask",
      "description": "A task which consists of a shell command for the worker to execute.",
      "type": "object"
    },
    "TaskRunnerSettings": {
      "description": "Taskrunner configuration settings.",
      "type": "object",
      "properties": {
        "alsologtostderr": {
          "type": "boolean",
          "description": "Whether to also send taskrunner log info to stderr."
        },
        "taskGroup": {
          "description": "The UNIX group ID on the worker VM to use for tasks launched by\ntaskrunner; e.g. \"wheel\".",
          "type": "string"
        },
        "harnessCommand": {
          "description": "The command to launch the worker harness.",
          "type": "string"
        },
        "logDir": {
          "description": "The directory on the VM to store logs.",
          "type": "string"
        },
        "dataflowApiVersion": {
          "type": "string",
          "description": "The API version of endpoint, e.g. \"v1b3\""
        },
        "oauthScopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The OAuth2 scopes to be requested by the taskrunner in order to\naccess the Cloud Dataflow API."
        },
        "streamingWorkerMainClass": {
          "description": "The streaming worker main class name.",
          "type": "string"
        },
        "logUploadLocation": {
          "description": "Indicates where to put logs.  If this is not specified, the logs\nwill not be uploaded.\n\nThe supported resource type is:\n\nGoogle Cloud Storage:\n  storage.googleapis.com/{bucket}/{object}\n  bucket.storage.googleapis.com/{object}",
          "type": "string"
        },
        "workflowFileName": {
          "description": "The file to store the workflow in.",
          "type": "string"
        },
        "baseTaskDir": {
          "description": "The location on the worker for task-specific subdirectories.",
          "type": "string"
        },
        "tempStoragePrefix": {
          "description": "The prefix of the resources the taskrunner should use for\ntemporary storage.\n\nThe supported resource type is:\n\nGoogle Cloud Storage:\n  storage.googleapis.com/{bucket}/{object}\n  bucket.storage.googleapis.com/{object}",
          "type": "string"
        },
        "commandlinesFileName": {
          "description": "The file to store preprocessing commands in.",
          "type": "string"
        },
        "languageHint": {
          "description": "The suggested backend language.",
          "type": "string"
        },
        "baseUrl": {
          "description": "The base URL for the taskrunner to use when accessing Google Cloud APIs.\n\nWhen workers access Google Cloud APIs, they logically do so via\nrelative URLs.  If this field is specified, it supplies the base\nURL to use for resolving these relative URLs.  The normative\nalgorithm used is defined by RFC 1808, \"Relative Uniform Resource\nLocators\".\n\nIf not specified, the default value is \"http://www.googleapis.com/\"",
          "type": "string"
        },
        "logToSerialconsole": {
          "description": "Whether to send taskrunner log info to Google Compute Engine VM serial\nconsole.",
          "type": "boolean"
        },
        "continueOnException": {
          "description": "Whether to continue taskrunner if an exception is hit.",
          "type": "boolean"
        },
        "parallelWorkerSettings": {
          "$ref": "WorkerSettings",
          "description": "The settings to pass to the parallel worker harness."
        },
        "taskUser": {
          "description": "The UNIX user ID on the worker VM to use for tasks launched by\ntaskrunner; e.g. \"root\".",
          "type": "string"
        },
        "vmId": {
          "description": "The ID string of the VM.",
          "type": "string"
        }
      },
      "id": "TaskRunnerSettings"
    },
    "Position": {
      "description": "Position defines a position within a collection of data.  The value\ncan be either the end position, a key (used with ordered\ncollections), a byte offset, or a record index.",
      "type": "object",
      "properties": {
        "recordIndex": {
          "type": "string",
          "description": "Position is a record index.",
          "format": "int64"
        },
        "shufflePosition": {
          "description": "CloudPosition is a base64 encoded BatchShufflePosition (with FIXED\nsharding).",
          "type": "string"
        },
        "byteOffset": {
          "description": "Position is a byte offset.",
          "format": "int64",
          "type": "string"
        },
        "concatPosition": {
          "$ref": "ConcatPosition",
          "description": "CloudPosition is a concat position."
        },
        "end": {
          "type": "boolean",
          "description": "Position is past all other positions. Also useful for the end\nposition of an unbounded range."
        },
        "key": {
          "description": "Position is a string key, ordered lexicographically.",
          "type": "string"
        }
      },
      "id": "Position"
    },
    "Source": {
      "description": "A source that records can be read and decoded from.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "SourceMetadata",
          "description": "Optionally, metadata for this source can be supplied right away,\navoiding a SourceGetMetadataOperation roundtrip\n(see SourceOperationRequest).\n\nThis field is meaningful only in the Source objects populated\nby the user (e.g. when filling in a DerivedSource).\nSource objects supplied by the framework to the user don't have\nthis field populated."
        },
        "baseSpecs": {
          "description": "While splitting, sources may specify the produced bundles\nas differences against another source, in order to save backend-side\nmemory and allow bigger jobs. For details, see SourceSplitRequest.\nTo support this use case, the full set of parameters of the source\nis logically obtained by taking the latest explicitly specified value\nof each parameter in the order:\nbase_specs (later items win), spec (overrides anything in base_specs).",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "codec": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The codec to use to decode data read from the source.",
          "type": "object"
        },
        "doesNotNeedSplitting": {
          "type": "boolean",
          "description": "Setting this value to true hints to the framework that the source\ndoesn't need splitting, and using SourceSplitRequest on it would\nyield SOURCE_SPLIT_OUTCOME_USE_CURRENT.\n\nE.g. a file splitter may set this to true when splitting a single file\ninto a set of byte ranges of appropriate size, and set this\nto false when splitting a filepattern into individual files.\nHowever, for efficiency, a file splitter may decide to produce\nfile subranges directly from the filepattern to avoid a splitting\nround-trip.\n\nSee SourceSplitRequest for an overview of the splitting process.\n\nThis field is meaningful only in the Source objects populated\nby the user (e.g. when filling in a DerivedSource).\nSource objects supplied by the framework to the user don't have\nthis field populated."
        },
        "spec": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The source to read from, plus its parameters.",
          "type": "object"
        }
      },
      "id": "Source"
    },
    "SplitInt64": {
      "description": "A representation of an int64, n, that is immune to precision loss when\nencoded in JSON.",
      "type": "object",
      "properties": {
        "lowBits": {
          "description": "The low order bits: n & 0xffffffff.",
          "format": "uint32",
          "type": "integer"
        },
        "highBits": {
          "description": "The high order bits, including the sign: n \u003e\u003e 32.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "SplitInt64"
    },
    "WorkerPool": {
      "description": "Describes one particular pool of Cloud Dataflow workers to be\ninstantiated by the Cloud Dataflow service in order to perform the\ncomputations required by a job.  Note that a workflow job may use\nmultiple pools, in order to match the various computational\nrequirements of the various stages of the job.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The kind of the worker pool; currently only `harness` and `shuffle`\nare supported.",
          "type": "string"
        },
        "dataDisks": {
          "description": "Data disks that are used by a VM in this workflow.",
          "type": "array",
          "items": {
            "$ref": "Disk"
          }
        },
        "subnetwork": {
          "description": "Subnetwork to which VMs will be assigned, if desired.  Expected to be of\nthe form \"regions/REGION/subnetworks/SUBNETWORK\".",
          "type": "string"
        },
        "ipConfiguration": {
          "description": "Configuration for VM IPs.",
          "type": "string",
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ],
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ]
        },
        "taskrunnerSettings": {
          "$ref": "TaskRunnerSettings",
          "description": "Settings passed through to Google Compute Engine workers when\nusing the standard Dataflow task runner.  Users should ignore\nthis field."
        },
        "autoscalingSettings": {
          "$ref": "AutoscalingSettings",
          "description": "Settings for autoscaling of this WorkerPool."
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata to set on the Google Compute Engine VMs.",
          "type": "object"
        },
        "defaultPackageSet": {
[...]
