{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/devstorage.read_write": {
          "description": "Manage your data in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/genomics": {
          "description": "View and manage Genomics data"
        },
        "https://www.googleapis.com/auth/genomics.readonly": {
          "description": "View Genomics data"
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://genomics.googleapis.com/",
  "batchPath": "batch",
  "description": "Upload, process, query, and search Genomics data in the cloud.",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/genomics",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "genomics:v1",
  "kind": "discovery#restDescription",
  "name": "genomics",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "bearer_token": {
      "description": "OAuth bearer token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "pp": {
      "default": "true",
      "description": "Pretty-print response.",
      "location": "query",
      "type": "boolean"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "annotations": {
      "methods": {
        "batchCreate": {
          "description": "Creates one or more new annotations atomically. All annotations must\nbelong to the same annotation set. Caller must have WRITE\npermission for this annotation set. For optimal performance, batch\npositionally adjacent annotations together.\n\nIf the request has a systemic issue, such as an attempt to write to\nan inaccessible annotation set, the entire RPC will fail accordingly. For\nlesser data issues, when possible an error will be isolated to the\ncorresponding batch entry in the response; the remaining well formed\nannotations will be created normally.\n\nFor details on the requirements for each individual annotation resource,\nsee\nCreateAnnotation.",
          "flatPath": "v1/annotations:batchCreate",
          "httpMethod": "POST",
          "id": "genomics.annotations.batchCreate",
          "parameterOrder": [],
          "parameters": {},
          "path": "v1/annotations:batchCreate",
          "request": {
            "$ref": "BatchCreateAnnotationsRequest"
          },
          "response": {
            "$ref": "BatchCreateAnnotationsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "create": {
          "description": "Creates a new annotation. Caller must have WRITE permission\nfor the associated annotation set.\n\nThe following fields are required:\n\n* annotationSetId\n* referenceName or\n  referenceId\n\n### Transcripts\n\nFor annotations of type TRANSCRIPT, the following fields of\ntranscript must be provided:\n\n* exons.start\n* exons.end\n\nAll other fields may be optionally specified, unless documented as being\nserver-generated (for example, the `id` field). The annotated\nrange must be no longer than 100Mbp (mega base pairs). See the\nAnnotation resource\nfor additional restrictions on each field.",
          "flatPath": "v1/annotations",
          "httpMethod": "POST",
          "id": "genomics.annotations.create",
          "parameterOrder": [],
          "parameters": {},
          "path": "v1/annotations",
          "request": {
            "$ref": "Annotation"
          },
          "response": {
            "$ref": "Annotation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "delete": {
          "description": "Deletes an annotation. Caller must have WRITE permission for\nthe associated annotation set.",
          "flatPath": "v1/annotations/{annotationId}",
          "httpMethod": "DELETE",
          "id": "genomics.annotations.delete",
          "parameterOrder": [
            "annotationId"
          ],
          "parameters": {
            "annotationId": {
              "description": "The ID of the annotation to be deleted.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/annotations/{annotationId}",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "get": {
          "description": "Gets an annotation. Caller must have READ permission\nfor the associated annotation set.",
          "flatPath": "v1/annotations/{annotationId}",
          "httpMethod": "GET",
          "id": "genomics.annotations.get",
          "parameterOrder": [
            "annotationId"
          ],
          "parameters": {
            "annotationId": {
              "description": "The ID of the annotation to be retrieved.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/annotations/{annotationId}",
          "response": {
            "$ref": "Annotation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ]
        },
        "search": {
          "description": "Searches for annotations that match the given criteria. Results are\nordered by genomic coordinate (by reference sequence, then position).\nAnnotations with equivalent genomic coordinates are returned in an\nunspecified order. This order is consistent, such that two queries for the\nsame content (regardless of page size) yield annotations in the same order\nacross their respective streams of paginated responses. Caller must have\nREAD permission for the queried annotation sets.",
          "flatPath": "v1/annotations/search",
          "httpMethod": "POST",
          "id": "genomics.annotations.search",
          "parameterOrder": [],
          "parameters": {},
          "path": "v1/annotations/search",
          "request": {
            "$ref": "SearchAnnotationsRequest"
          },
          "response": {
            "$ref": "SearchAnnotationsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ]
        },
        "update": {
          "description": "Updates an annotation. Caller must have\nWRITE permission for the associated dataset.",
          "flatPath": "v1/annotations/{annotationId}",
          "httpMethod": "PUT",
          "id": "genomics.annotations.update",
          "parameterOrder": [
            "annotationId"
          ],
          "parameters": {
            "annotationId": {
              "description": "The ID of the annotation to be updated.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "description": "An optional mask specifying which fields to update. Mutable fields are\nname,\nvariant,\ntranscript, and\ninfo. If unspecified, all mutable\nfields will be updated.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/annotations/{annotationId}",
          "request": {
            "$ref": "Annotation"
          },
          "response": {
            "$ref": "Annotation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        }
      }
    },
    "annotationsets": {
      "methods": {
        "create": {
          "description": "Creates a new annotation set. Caller must have WRITE permission for the\nassociated dataset.\n\nThe following fields are required:\n\n  * datasetId\n  * referenceSetId\n\nAll other fields may be optionally specified, unless documented as being\nserver-generated (for example, the `id` field).",
          "flatPath": "v1/annotationsets",
          "httpMethod": "POST",
          "id": "genomics.annotationsets.create",
          "parameterOrder": [],
          "parameters": {},
          "path": "v1/annotationsets",
          "request": {
            "$ref": "AnnotationSet"
          },
          "response": {
            "$ref": "AnnotationSet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "delete": {
          "description": "Deletes an annotation set. Caller must have WRITE permission\nfor the associated annotation set.",
          "flatPath": "v1/annotationsets/{annotationSetId}",
          "httpMethod": "DELETE",
          "id": "genomics.annotationsets.delete",
          "parameterOrder": [
            "annotationSetId"
          ],
          "parameters": {
            "annotationSetId": {
              "description": "The ID of the annotation set to be deleted.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/annotationsets/{annotationSetId}",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "get": {
          "description": "Gets an annotation set. Caller must have READ permission for\nthe associated dataset.",
          "flatPath": "v1/annotationsets/{annotationSetId}",
          "httpMethod": "GET",
          "id": "genomics.annotationsets.get",
          "parameterOrder": [
            "annotationSetId"
          ],
          "parameters": {
            "annotationSetId": {
              "description": "The ID of the annotation set to be retrieved.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/annotationsets/{annotationSetId}",
          "response": {
            "$ref": "AnnotationSet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ]
        },
        "search": {
          "description": "Searches for annotation sets that match the given criteria. Annotation sets\nare returned in an unspecified order. This order is consistent, such that\ntwo queries for the same content (regardless of page size) yield annotation\nsets in the same order across their respective streams of paginated\nresponses. Caller must have READ permission for the queried datasets.",
          "flatPath": "v1/annotationsets/search",
          "httpMethod": "POST",
          "id": "genomics.annotationsets.search",
          "parameterOrder": [],
          "parameters": {},
          "path": "v1/annotationsets/search",
          "request": {
            "$ref": "SearchAnnotationSetsRequest"
          },
          "response": {
            "$ref": "SearchAnnotationSetsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ]
        },
        "update": {
          "description": "Updates an annotation set. The update must respect all mutability\nrestrictions and other invariants described on the annotation set resource.\nCaller must have WRITE permission for the associated dataset.",
          "flatPath": "v1/annotationsets/{annotationSetId}",
          "httpMethod": "PUT",
          "id": "genomics.annotationsets.update",
          "parameterOrder": [
            "annotationSetId"
          ],
          "parameters": {
            "annotationSetId": {
              "description": "The ID of the annotation set to be updated.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "description": "An optional mask specifying which fields to update. Mutable fields are\nname,\nsource_uri, and\ninfo. If unspecified, all\nmutable fields will be updated.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/annotationsets/{annotationSetId}",
          "request": {
            "$ref": "AnnotationSet"
          },
          "response": {
            "$ref": "AnnotationSet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        }
      }
    },
    "callsets": {
      "methods": {
        "create": {
          "description": "Creates a new call set.\n\nFor the definitions of call sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "flatPath": "v1/callsets",
          "httpMethod": "POST",
          "id": "genomics.callsets.create",
          "parameterOrder": [],
          "parameters": {},
          "path": "v1/callsets",
          "request": {
            "$ref": "CallSet"
          },
          "response": {
            "$ref": "CallSet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "delete": {
          "description": "Deletes a call set.\n\nFor the definitions of call sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "flatPath": "v1/callsets/{callSetId}",
          "httpMethod": "DELETE",
          "id": "genomics.callsets.delete",
          "parameterOrder": [
            "callSetId"
          ],
          "parameters": {
            "callSetId": {
              "description": "The ID of the call set to be deleted.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/callsets/{callSetId}",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "get": {
          "description": "Gets a call set by ID.\n\nFor the definitions of call sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "flatPath": "v1/callsets/{callSetId}",
          "httpMethod": "GET",
          "id": "genomics.callsets.get",
          "parameterOrder": [
            "callSetId"
          ],
          "parameters": {
            "callSetId": {
              "description": "The ID of the call set.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/callsets/{callSetId}",
          "response": {
            "$ref": "CallSet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ]
        },
        "patch": {
          "description": "Updates a call set.\n\nFor the definitions of call sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nThis method supports patch semantics.",
          "flatPath": "v1/callsets/{callSetId}",
          "httpMethod": "PATCH",
          "id": "genomics.callsets.patch",
          "parameterOrder": [
            "callSetId"
          ],
          "parameters": {
            "callSetId": {
              "description": "The ID of the call set to be updated.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "description": "An optional mask specifying which fields to update. At this time, the only\nmutable field is name. The only\nacceptable value is \"name\". If unspecified, all mutable fields will be\nupdated.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/callsets/{callSetId}",
          "request": {
            "$ref": "CallSet"
          },
          "response": {
            "$ref": "CallSet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "search": {
          "description": "Gets a list of call sets matching the criteria.\n\nFor the definitions of call sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nImplements\n[GlobalAllianceApi.searchCallSets](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/variantmethods.avdl#L178).",
          "flatPath": "v1/callsets/search",
          "httpMethod": "POST",
          "id": "genomics.callsets.search",
          "parameterOrder": [],
          "parameters": {},
          "path": "v1/callsets/search",
          "request": {
            "$ref": "SearchCallSetsRequest"
          },
          "response": {
            "$ref": "SearchCallSetsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ]
        }
      }
    },
    "datasets": {
      "methods": {
        "create": {
          "description": "Creates a new dataset.\n\nFor the definitions of datasets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "flatPath": "v1/datasets",
          "httpMethod": "POST",
          "id": "genomics.datasets.create",
          "parameterOrder": [],
          "parameters": {},
          "path": "v1/datasets",
          "request": {
            "$ref": "Dataset"
          },
          "response": {
            "$ref": "Dataset"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "delete": {
          "description": "Deletes a dataset and all of its contents (all read group sets,\nreference sets, variant sets, call sets, annotation sets, etc.)\nThis is reversible (up to one week after the deletion) via\nthe\ndatasets.undelete\noperation.\n\nFor the definitions of datasets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "flatPath": "v1/datasets/{datasetId}",
          "httpMethod": "DELETE",
          "id": "genomics.datasets.delete",
          "parameterOrder": [
            "datasetId"
          ],
          "parameters": {
            "datasetId": {
              "description": "The ID of the dataset to be deleted.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/datasets/{datasetId}",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "get": {
          "description": "Gets a dataset by ID.\n\nFor the definitions of datasets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "flatPath": "v1/datasets/{datasetId}",
          "httpMethod": "GET",
          "id": "genomics.datasets.get",
          "parameterOrder": [
            "datasetId"
          ],
          "parameters": {
            "datasetId": {
              "description": "The ID of the dataset.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/datasets/{datasetId}",
          "response": {
            "$ref": "Dataset"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ]
        },
        "getIamPolicy": {
          "description": "Gets the access control policy for the dataset. This is empty if the\npolicy or resource does not exist.\n\nSee \u003ca href=\"/iam/docs/managing-policies#getting_a_policy\"\u003eGetting a\nPolicy\u003c/a\u003e for more information.\n\nFor the definitions of datasets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "flatPath": "v1/datasets/{datasetsId}:getIamPolicy",
          "httpMethod": "POST",
          "id": "genomics.datasets.getIamPolicy",
          "parameterOrder": [
            "resource"
          ],
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which policy is being specified. Format is\n`datasets/\u003cdataset ID\u003e`.",
              "location": "path",
              "pattern": "^datasets/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+resource}:getIamPolicy",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "response": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "list": {
          "description": "Lists datasets within a project.\n\nFor the definitions of datasets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "flatPath": "v1/datasets",
          "httpMethod": "GET",
          "id": "genomics.datasets.list",
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "description": "The maximum number of results to return in a single page. If unspecified,\ndefaults to 50. The maximum value is 1024.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "The continuation token, which is used to page through large result sets.\nTo get the next page of results, set this parameter to the value of\n`nextPageToken` from the previous response.",
              "location": "query",
              "type": "string"
            },
            "projectId": {
              "description": "Required. The Google Cloud project ID to list datasets for.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/datasets",
          "response": {
            "$ref": "ListDatasetsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ]
        },
        "patch": {
          "description": "Updates a dataset.\n\nFor the definitions of datasets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nThis method supports patch semantics.",
          "flatPath": "v1/datasets/{datasetId}",
          "httpMethod": "PATCH",
          "id": "genomics.datasets.patch",
          "parameterOrder": [
            "datasetId"
          ],
          "parameters": {
            "datasetId": {
              "description": "The ID of the dataset to be updated.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "description": "An optional mask specifying which fields to update. At this time, the only\nmutable field is name. The only\nacceptable value is \"name\". If unspecified, all mutable fields will be\nupdated.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/datasets/{datasetId}",
          "request": {
            "$ref": "Dataset"
          },
          "response": {
            "$ref": "Dataset"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "setIamPolicy": {
          "description": "Sets the access control policy on the specified dataset. Replaces any\nexisting policy.\n\nFor the definitions of datasets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nSee \u003ca href=\"/iam/docs/managing-policies#setting_a_policy\"\u003eSetting a\nPolicy\u003c/a\u003e for more information.",
          "flatPath": "v1/datasets/{datasetsId}:setIamPolicy",
          "httpMethod": "POST",
          "id": "genomics.datasets.setIamPolicy",
          "parameterOrder": [
            "resource"
          ],
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which policy is being specified. Format is\n`datasets/\u003cdataset ID\u003e`.",
              "location": "path",
              "pattern": "^datasets/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+resource}:setIamPolicy",
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "response": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "testIamPermissions": {
          "description": "Returns permissions that a caller has on the specified resource.\nSee \u003ca href=\"/iam/docs/managing-policies#testing_permissions\"\u003eTesting\nPermissions\u003c/a\u003e for more information.\n\nFor the definitions of datasets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "flatPath": "v1/datasets/{datasetsId}:testIamPermissions",
          "httpMethod": "POST",
          "id": "genomics.datasets.testIamPermissions",
          "parameterOrder": [
            "resource"
          ],
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which policy is being specified. Format is\n`datasets/\u003cdataset ID\u003e`.",
              "location": "path",
              "pattern": "^datasets/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+resource}:testIamPermissions",
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "undelete": {
          "description": "Undeletes a dataset by restoring a dataset which was deleted via this API.\n\nFor the definitions of datasets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nThis operation is only possible for a week after the deletion occurred.",
          "flatPath": "v1/datasets/{datasetId}:undelete",
          "httpMethod": "POST",
          "id": "genomics.datasets.undelete",
          "parameterOrder": [
            "datasetId"
          ],
          "parameters": {
            "datasetId": {
              "description": "The ID of the dataset to be undeleted.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/datasets/{datasetId}:undelete",
          "request": {
            "$ref": "UndeleteDatasetRequest"
          },
          "response": {
            "$ref": "Dataset"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        }
      }
    },
    "operations": {
      "methods": {
        "cancel": {
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. Clients may use Operations.GetOperation or Operations.ListOperations to check whether the cancellation succeeded or the operation completed despite cancellation.",
          "flatPath": "v1/operations/{operationsId}:cancel",
          "httpMethod": "POST",
          "id": "genomics.operations.cancel",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "The name of the operation resource to be cancelled.",
              "location": "path",
              "pattern": "^operations/.+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+name}:cancel",
          "request": {
            "$ref": "CancelOperationRequest"
          },
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "get": {
          "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
          "flatPath": "v1/operations/{operationsId}",
          "httpMethod": "GET",
          "id": "genomics.operations.get",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "The name of the operation resource.",
              "location": "path",
              "pattern": "^operations/.+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+name}",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "list": {
          "description": "Lists operations that match the specified filter in the request.",
          "flatPath": "v1/operations",
          "httpMethod": "GET",
          "id": "genomics.operations.list",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "filter": {
              "description": "A string for filtering Operations.\nIn v2alpha1, the following filter fields are supported\u0026#58;\n\n* createTime\u0026#58; The time this job was created\n* events\u0026#58; The set of event (names) that have occurred while running\n  the pipeline.  The \u0026#58; operator can be used to determine if a\n  particular event has occurred.\n* error\u0026#58; If the pipeline is running, this value is NULL.  Once the\n  pipeline finishes, the value is the standard Google error code.\n* labels.key or labels.\"key with space\" where key is a label key.\n\nIn v1 and v1alpha2, the following filter fields are supported\u0026#58;\n\n* projectId\u0026#58; Required. Corresponds to\n  OperationMetadata.projectId.\n* createTime\u0026#58; The time this job was created, in seconds from the\n  [epoch](http://en.wikipedia.org/wiki/Unix_time). Can use `\u003e=` and/or `\u003c=`\n  operators.\n* status\u0026#58; Can be `RUNNING`, `SUCCESS`, `FAILURE`, or `CANCELED`. Only\n  one status may be specified.\n* labels.key where key is a label key.\n\nExamples\u0026#58;\n\n* `projectId = my-project AND createTime \u003e= 1432140000`\n* `projectId = my-project AND createTime \u003e= 1432140000 AND createTime \u003c= 1432150000 AND status = RUNNING`\n* `projectId = my-project AND labels.color = *`\n* `projectId = my-project AND labels.color = red`",
              "location": "query",
              "type": "string"
            },
            "name": {
              "description": "The name of the operation's parent resource.",
              "location": "path",
              "pattern": "^operations$",
              "required": true,
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of results to return. If unspecified, defaults to\n256. The maximum value is 2048.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "The standard list page token.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/{+name}",
          "response": {
            "$ref": "ListOperationsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        }
      }
    },
    "readgroupsets": {
      "methods": {
        "delete": {
          "description": "Deletes a read group set.\n\nFor the definitions of read group sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "flatPath": "v1/readgroupsets/{readGroupSetId}",
          "httpMethod": "DELETE",
          "id": "genomics.readgroupsets.delete",
          "parameterOrder": [
            "readGroupSetId"
          ],
          "parameters": {
            "readGroupSetId": {
              "description": "The ID of the read group set to be deleted. The caller must have WRITE\npermissions to the dataset associated with this read group set.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/readgroupsets/{readGroupSetId}",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "export": {
          "description": "Exports a read group set to a BAM file in Google Cloud Storage.\n\nFor the definitions of read group sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nNote that currently there may be some differences between exported BAM\nfiles and the original BAM file at the time of import. See\nImportReadGroupSets\nfor caveats.",
          "flatPath": "v1/readgroupsets/{readGroupSetId}:export",
          "httpMethod": "POST",
          "id": "genomics.readgroupsets.export",
          "parameterOrder": [
            "readGroupSetId"
          ],
          "parameters": {
            "readGroupSetId": {
              "description": "Required. The ID of the read group set to export. The caller must have\nREAD access to this read group set.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/readgroupsets/{readGroupSetId}:export",
          "request": {
            "$ref": "ExportReadGroupSetRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.read_write",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "get": {
          "description": "Gets a read group set by ID.\n\nFor the definitions of read group sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "flatPath": "v1/readgroupsets/{readGroupSetId}",
          "httpMethod": "GET",
          "id": "genomics.readgroupsets.get",
          "parameterOrder": [
            "readGroupSetId"
          ],
          "parameters": {
            "readGroupSetId": {
              "description": "The ID of the read group set.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/readgroupsets/{readGroupSetId}",
          "response": {
            "$ref": "ReadGroupSet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ]
        },
        "import": {
          "description": "Creates read group sets by asynchronously importing the provided\ninformation.\n\nFor the definitions of read group sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nThe caller must have WRITE permissions to the dataset.\n\n## Notes on [BAM](https://samtools.github.io/hts-specs/SAMv1.pdf) import\n\n- Tags will be converted to strings - tag types are not preserved\n- Comments (`@CO`) in the input file header will not be preserved\n- Original header order of references (`@SQ`) will not be preserved\n- Any reverse stranded unmapped reads will be reverse complemented, and\ntheir qualities (also the \"BQ\" and \"OQ\" tags, if any) will be reversed\n- Unmapped reads will be stripped of positional information (reference name\nand position)",
          "flatPath": "v1/readgroupsets:import",
          "httpMethod": "POST",
          "id": "genomics.readgroupsets.import",
          "parameterOrder": [],
          "parameters": {},
          "path": "v1/readgroupsets:import",
          "request": {
            "$ref": "ImportReadGroupSetsRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.read_write",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "patch": {
          "description": "Updates a read group set.\n\nFor the definitions of read group sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nThis method supports patch semantics.",
          "flatPath": "v1/readgroupsets/{readGroupSetId}",
          "httpMethod": "PATCH",
          "id": "genomics.readgroupsets.patch",
          "parameterOrder": [
            "readGroupSetId"
          ],
          "parameters": {
            "readGroupSetId": {
              "description": "The ID of the read group set to be updated. The caller must have WRITE\npermissions to the dataset associated with this read group set.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "description": "An optional mask specifying which fields to update. Supported fields:\n\n* name.\n* referenceSetId.\n\nLeaving `updateMask` unset is equivalent to specifying all mutable\nfields.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/readgroupsets/{readGroupSetId}",
          "request": {
            "$ref": "ReadGroupSet"
          },
          "response": {
            "$ref": "ReadGroupSet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "search": {
          "description": "Searches for read group sets matching the criteria.\n\nFor the definitions of read group sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nImplements\n[GlobalAllianceApi.searchReadGroupSets](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/readmethods.avdl#L135).",
          "flatPath": "v1/readgroupsets/search",
          "httpMethod": "POST",
          "id": "genomics.readgroupsets.search",
          "parameterOrder": [],
          "parameters": {},
          "path": "v1/readgroupsets/search",
          "request": {
            "$ref": "SearchReadGroupSetsRequest"
          },
          "response": {
            "$ref": "SearchReadGroupSetsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ]
        }
      },
      "resources": {
        "coveragebuckets": {
          "methods": {
            "list": {
              "description": "Lists fixed width coverage buckets for a read group set, each of which\ncorrespond to a range of a reference sequence. Each bucket summarizes\ncoverage information across its corresponding genomic range.\n\nFor the definitions of read group sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nCoverage is defined as the number of reads which are aligned to a given\nbase in the reference sequence. Coverage buckets are available at several\nprecomputed bucket widths, enabling retrieval of various coverage 'zoom\nlevels'. The caller must have READ permissions for the target read group\nset.",
              "flatPath": "v1/readgroupsets/{readGroupSetId}/coveragebuckets",
              "httpMethod": "GET",
              "id": "genomics.readgroupsets.coveragebuckets.list",
              "parameterOrder": [
                "readGroupSetId"
              ],
              "parameters": {
                "end": {
                  "description": "The end position of the range on the reference, 0-based exclusive. If\nspecified, `referenceName` must also be specified. If unset or 0, defaults\nto the length of the reference.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return in a single page. If unspecified,\ndefaults to 1024. The maximum value is 2048.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The continuation token, which is used to page through large result sets.\nTo get the next page of results, set this parameter to the value of\n`nextPageToken` from the previous response.",
                  "location": "query",
                  "type": "string"
                },
                "readGroupSetId": {
                  "description": "Required. The ID of the read group set over which coverage is requested.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "referenceName": {
                  "description": "The name of the reference to query, within the reference set associated\nwith this query. Optional.",
                  "location": "query",
                  "type": "string"
                },
                "start": {
                  "description": "The start position of the range on the reference, 0-based inclusive. If\nspecified, `referenceName` must also be specified. Defaults to 0.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                },
                "targetBucketWidth": {
                  "description": "The desired width of each reported coverage bucket in base pairs. This\nwill be rounded down to the nearest precomputed bucket width; the value\nof which is returned as `bucketWidth` in the response. Defaults\nto infinity (each bucket spans an entire reference sequence) or the length\nof the target range, if specified. The smallest precomputed\n`bucketWidth` is currently 2048 base pairs; this is subject to\nchange.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/readgroupsets/{readGroupSetId}/coveragebuckets",
              "response": {
                "$ref": "ListCoverageBucketsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/genomics",
                "https://www.googleapis.com/auth/genomics.readonly"
              ]
            }
          }
        }
      }
    },
    "reads": {
      "methods": {
        "search": {
          "description": "Gets a list of reads for one or more read group sets.\n\nFor the definitions of read group sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nReads search operates over a genomic coordinate space of reference sequence\n\u0026 position defined over the reference sequences to which the requested\nread group sets are aligned.\n\nIf a target positional range is specified, search returns all reads whose\nalignment to the reference genome overlap the range. A query which\nspecifies only read group set IDs yields all reads in those read group\nsets, including unmapped reads.\n\nAll reads returned (including reads on subsequent pages) are ordered by\ngenomic coordinate (by reference sequence, then position). Reads with\nequivalent genomic coordinates are returned in an unspecified order. This\norder is consistent, such that two queries for the same content (regardless\nof page size) yield reads in the same order across their respective streams\nof paginated responses.\n\nImplements\n[GlobalAllianceApi.searchReads](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/readmethods.avdl#L85).",
          "flatPath": "v1/reads/search",
          "httpMethod": "POST",
          "id": "genomics.reads.search",
          "parameterOrder": [],
          "parameters": {},
          "path": "v1/reads/search",
          "request": {
            "$ref": "SearchReadsRequest"
          },
          "response": {
            "$ref": "SearchReadsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ]
        }
      }
    },
    "references": {
      "methods": {
        "get": {
          "description": "Gets a reference.\n\nFor the definitions of references and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nImplements\n[GlobalAllianceApi.getReference](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/referencemethods.avdl#L158).",
          "flatPath": "v1/references/{referenceId}",
          "httpMethod": "GET",
          "id": "genomics.references.get",
          "parameterOrder": [
            "referenceId"
          ],
          "parameters": {
            "referenceId": {
              "description": "The ID of the reference.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/references/{referenceId}",
          "response": {
            "$ref": "Reference"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ]
        },
        "search": {
          "description": "Searches for references which match the given criteria.\n\nFor the definitions of references and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nImplements\n[GlobalAllianceApi.searchReferences](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/referencemethods.avdl#L146).",
          "flatPath": "v1/references/search",
          "httpMethod": "POST",
          "id": "genomics.references.search",
          "parameterOrder": [],
          "parameters": {},
          "path": "v1/references/search",
          "request": {
            "$ref": "SearchReferencesRequest"
          },
          "response": {
            "$ref": "SearchReferencesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ]
        }
      },
      "resources": {
        "bases": {
          "methods": {
            "list": {
              "description": "Lists the bases in a reference, optionally restricted to a range.\n\nFor the definitions of references and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nImplements\n[GlobalAllianceApi.getReferenceBases](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/referencemethods.avdl#L221).",
              "flatPath": "v1/references/{referenceId}/bases",
              "httpMethod": "GET",
              "id": "genomics.references.bases.list",
              "parameterOrder": [
                "referenceId"
              ],
              "parameters": {
                "end": {
                  "description": "The end position (0-based, exclusive) of this query. Defaults to the length\nof this reference.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of bases to return in a single page. If unspecified,\ndefaults to 200Kbp (kilo base pairs). The maximum value is 10Mbp (mega base\npairs).",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The continuation token, which is used to page through large result sets.\nTo get the next page of results, set this parameter to the value of\n`nextPageToken` from the previous response.",
                  "location": "query",
                  "type": "string"
                },
                "referenceId": {
                  "description": "The ID of the reference.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "start": {
                  "description": "The start position (0-based) of this query. Defaults to 0.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/references/{referenceId}/bases",
              "response": {
                "$ref": "ListBasesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/genomics",
                "https://www.googleapis.com/auth/genomics.readonly"
              ]
            }
          }
        }
      }
    },
    "referencesets": {
      "methods": {
        "get": {
          "description": "Gets a reference set.\n\nFor the definitions of references and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nImplements\n[GlobalAllianceApi.getReferenceSet](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/referencemethods.avdl#L83).",
          "flatPath": "v1/referencesets/{referenceSetId}",
          "httpMethod": "GET",
          "id": "genomics.referencesets.get",
          "parameterOrder": [
            "referenceSetId"
          ],
          "parameters": {
            "referenceSetId": {
              "description": "The ID of the reference set.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/referencesets/{referenceSetId}",
          "response": {
            "$ref": "ReferenceSet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ]
        },
        "search": {
          "description": "Searches for reference sets which match the given criteria.\n\nFor the definitions of references and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nImplements\n[GlobalAllianceApi.searchReferenceSets](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/referencemethods.avdl#L71)",
          "flatPath": "v1/referencesets/search",
          "httpMethod": "POST",
          "id": "genomics.referencesets.search",
          "parameterOrder": [],
          "parameters": {},
          "path": "v1/referencesets/search",
          "request": {
            "$ref": "SearchReferenceSetsRequest"
          },
          "response": {
            "$ref": "SearchReferenceSetsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ]
        }
      }
    },
    "variants": {
      "methods": {
        "create": {
          "description": "Creates a new variant.\n\nFor the definitions of variants and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "flatPath": "v1/variants",
          "httpMethod": "POST",
          "id": "genomics.variants.create",
          "parameterOrder": [],
          "parameters": {},
          "path": "v1/variants",
          "request": {
            "$ref": "Variant"
          },
          "response": {
            "$ref": "Variant"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "delete": {
          "description": "Deletes a variant.\n\nFor the definitions of variants and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "flatPath": "v1/variants/{variantId}",
          "httpMethod": "DELETE",
          "id": "genomics.variants.delete",
          "parameterOrder": [
            "variantId"
          ],
          "parameters": {
            "variantId": {
              "description": "The ID of the variant to be deleted.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/variants/{variantId}",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "get": {
          "description": "Gets a variant by ID.\n\nFor the definitions of variants and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "flatPath": "v1/variants/{variantId}",
          "httpMethod": "GET",
          "id": "genomics.variants.get",
          "parameterOrder": [
            "variantId"
          ],
          "parameters": {
            "variantId": {
              "description": "The ID of the variant.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/variants/{variantId}",
          "response": {
            "$ref": "Variant"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ]
        },
        "import": {
          "description": "Creates variant data by asynchronously importing the provided information.\n\nFor the definitions of variant sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nThe variants for import will be merged with any existing variant that\nmatches its reference sequence, start, end, reference bases, and\nalternative bases. If no such variant exists, a new one will be created.\n\nWhen variants are merged, the call information from the new variant\nis added to the existing variant, and Variant info fields are merged\nas specified in\ninfoMergeConfig.\nAs a special case, for single-sample VCF files, QUAL and FILTER fields will\nbe moved to the call level; these are sometimes interpreted in a\ncall-specific context.\nImported VCF headers are appended to the metadata already in a variant set.",
          "flatPath": "v1/variants:import",
          "httpMethod": "POST",
          "id": "genomics.variants.import",
          "parameterOrder": [],
          "parameters": {},
          "path": "v1/variants:import",
          "request": {
            "$ref": "ImportVariantsRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.read_write",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "merge": {
          "description": "Merges the given variants with existing variants.\n\nFor the definitions of variants and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nEach variant will be\nmerged with an existing variant that matches its reference sequence,\nstart, end, reference bases, and alternative bases. If no such variant\nexists, a new one will be created.\n\nWhen variants are merged, the call information from the new variant\nis added to the existing variant. Variant info fields are merged as\nspecified in the\ninfoMergeConfig\nfield of the MergeVariantsRequest.\n\nPlease exercise caution when using this method!  It is easy to introduce\nmistakes in existing variants and difficult to back out of them.  For\nexample,\nsuppose you were trying to merge a new variant with an existing one and\nboth\nvariants contain calls that belong to callsets with the same callset ID.\n\n    // Existing variant - irrelevant fields trimmed for clarity\n    {\n        \"variantSetId\": \"10473108253681171589\",\n        \"referenceName\": \"1\",\n        \"start\": \"10582\",\n        \"referenceBases\": \"G\",\n        \"alternateBases\": [\n            \"A\"\n        ],\n        \"calls\": [\n            {\n                \"callSetId\": \"10473108253681171589-0\",\n                \"callSetName\": \"CALLSET0\",\n                \"genotype\": [\n                    0,\n                    1\n                ],\n            }\n        ]\n    }\n\n    // New variant with conflicting call information\n    {\n        \"variantSetId\": \"10473108253681171589\",\n        \"referenceName\": \"1\",\n        \"start\": \"10582\",\n        \"referenceBases\": \"G\",\n        \"alternateBases\": [\n            \"A\"\n        ],\n        \"calls\": [\n            {\n                \"callSetId\": \"10473108253681171589-0\",\n                \"callSetName\": \"CALLSET0\",\n                \"genotype\": [\n                    1,\n                    1\n                ],\n            }\n        ]\n    }\n\nThe resulting merged variant would overwrite the existing calls with those\nfrom the new variant:\n\n    {\n        \"variantSetId\": \"10473108253681171589\",\n        \"referenceName\": \"1\",\n        \"start\": \"10582\",\n        \"referenceBases\": \"G\",\n        \"alternateBases\": [\n            \"A\"\n        ],\n        \"calls\": [\n            {\n                \"callSetId\": \"10473108253681171589-0\",\n                \"callSetName\": \"CALLSET0\",\n                \"genotype\": [\n                    1,\n                    1\n                ],\n            }\n        ]\n    }\n\nThis may be the desired outcome, but it is up to the user to determine if\nif that is indeed the case.",
          "flatPath": "v1/variants:merge",
          "httpMethod": "POST",
          "id": "genomics.variants.merge",
          "parameterOrder": [],
          "parameters": {},
          "path": "v1/variants:merge",
          "request": {
            "$ref": "MergeVariantsRequest"
          },
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "patch": {
          "description": "Updates a variant.\n\nFor the definitions of variants and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nThis method supports patch semantics. Returns the modified variant without\nits calls.",
          "flatPath": "v1/variants/{variantId}",
          "httpMethod": "PATCH",
          "id": "genomics.variants.patch",
          "parameterOrder": [
            "variantId"
          ],
          "parameters": {
            "updateMask": {
              "description": "An optional mask specifying which fields to update. At this time, mutable\nfields are names and\ninfo. Acceptable values are \"names\" and\n\"info\". If unspecified, all mutable fields will be updated.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            },
            "variantId": {
              "description": "The ID of the variant to be updated.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/variants/{variantId}",
          "request": {
            "$ref": "Variant"
          },
          "response": {
            "$ref": "Variant"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "search": {
          "description": "Gets a list of variants matching the criteria.\n\nFor the definitions of variants and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nImplements\n[GlobalAllianceApi.searchVariants](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/variantmethods.avdl#L126).",
          "flatPath": "v1/variants/search",
          "httpMethod": "POST",
          "id": "genomics.variants.search",
          "parameterOrder": [],
          "parameters": {},
          "path": "v1/variants/search",
          "request": {
            "$ref": "SearchVariantsRequest"
          },
          "response": {
            "$ref": "SearchVariantsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ]
        }
      }
    },
    "variantsets": {
      "methods": {
        "create": {
          "description": "Creates a new variant set.\n\nFor the definitions of variant sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nThe provided variant set must have a valid `datasetId` set - all other\nfields are optional. Note that the `id` field will be ignored, as this is\nassigned by the server.",
          "flatPath": "v1/variantsets",
          "httpMethod": "POST",
          "id": "genomics.variantsets.create",
          "parameterOrder": [],
          "parameters": {},
          "path": "v1/variantsets",
          "request": {
            "$ref": "VariantSet"
          },
          "response": {
            "$ref": "VariantSet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "delete": {
          "description": "Deletes a variant set including all variants, call sets, and calls within.\nThis is not reversible.\n\nFor the definitions of variant sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "flatPath": "v1/variantsets/{variantSetId}",
          "httpMethod": "DELETE",
          "id": "genomics.variantsets.delete",
          "parameterOrder": [
            "variantSetId"
          ],
          "parameters": {
            "variantSetId": {
              "description": "The ID of the variant set to be deleted.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/variantsets/{variantSetId}",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "export": {
          "description": "Exports variant set data to an external destination.\n\nFor the definitions of variant sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "flatPath": "v1/variantsets/{variantSetId}:export",
          "httpMethod": "POST",
          "id": "genomics.variantsets.export",
          "parameterOrder": [
            "variantSetId"
          ],
          "parameters": {
            "variantSetId": {
              "description": "Required. The ID of the variant set that contains variant data which\nshould be exported. The caller must have READ access to this variant set.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/variantsets/{variantSetId}:export",
          "request": {
            "$ref": "ExportVariantSetRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "get": {
          "description": "Gets a variant set by ID.\n\nFor the definitions of variant sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "flatPath": "v1/variantsets/{variantSetId}",
          "httpMethod": "GET",
          "id": "genomics.variantsets.get",
          "parameterOrder": [
            "variantSetId"
          ],
          "parameters": {
            "variantSetId": {
              "description": "Required. The ID of the variant set.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/variantsets/{variantSetId}",
          "response": {
            "$ref": "VariantSet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ]
        },
        "patch": {
          "description": "Updates a variant set using patch semantics.\n\nFor the definitions of variant sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "flatPath": "v1/variantsets/{variantSetId}",
          "httpMethod": "PATCH",
          "id": "genomics.variantsets.patch",
          "parameterOrder": [
            "variantSetId"
          ],
          "parameters": {
            "updateMask": {
              "description": "An optional mask specifying which fields to update. Supported fields:\n\n* metadata.\n* name.\n* description.\n\nLeaving `updateMask` unset is equivalent to specifying all mutable\nfields.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            },
            "variantSetId": {
              "description": "The ID of the variant to be updated (must already exist).",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/variantsets/{variantSetId}",
          "request": {
            "$ref": "VariantSet"
          },
          "response": {
            "$ref": "VariantSet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "search": {
          "description": "Returns a list of all variant sets matching search criteria.\n\nFor the definitions of variant sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nImplements\n[GlobalAllianceApi.searchVariantSets](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/variantmethods.avdl#L49).",
          "flatPath": "v1/variantsets/search",
          "httpMethod": "POST",
          "id": "genomics.variantsets.search",
          "parameterOrder": [],
          "parameters": {},
          "path": "v1/variantsets/search",
          "request": {
            "$ref": "SearchVariantSetsRequest"
          },
          "response": {
            "$ref": "SearchVariantSetsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ]
        }
      }
    }
  },
  "revision": "20180225",
  "rootUrl": "https://genomics.googleapis.com/",
  "schemas": {
    "Annotation": {
      "description": "An annotation describes a region of reference genome. The value of an\nannotation may be one of several canonical types, supplemented by arbitrary\ninfo tags. An annotation is not inherently associated with a specific\nsample or individual (though a client could choose to use annotations in\nthis way). Example canonical annotation types are `GENE` and\n`VARIANT`.",
      "id": "Annotation",
      "properties": {
        "annotationSetId": {
          "description": "The annotation set to which this annotation belongs.",
          "type": "string"
        },
        "end": {
          "description": "The end position of the range on the reference, 0-based exclusive.",
          "format": "int64",
          "type": "string"
        },
        "id": {
          "description": "The server-generated annotation ID, unique across all annotations.",
          "type": "string"
        },
        "info": {
          "additionalProperties": {
            "items": {
              "type": "any"
            },
            "type": "array"
          },
          "description": "A map of additional read alignment information. This must be of the form\nmap\u003cstring, string[]\u003e (string key mapping to a list of string values).",
          "type": "object"
        },
        "name": {
          "description": "The display name of this annotation.",
          "type": "string"
        },
        "referenceId": {
          "description": "The ID of the Google Genomics reference associated with this range.",
          "type": "string"
        },
        "referenceName": {
          "description": "The display name corresponding to the reference specified by\n`referenceId`, for example `chr1`, `1`, or `chrX`.",
          "type": "string"
        },
        "reverseStrand": {
          "description": "Whether this range refers to the reverse strand, as opposed to the forward\nstrand. Note that regardless of this field, the start/end position of the\nrange always refer to the forward strand.",
          "type": "boolean"
        },
        "start": {
          "description": "The start position of the range on the reference, 0-based inclusive.",
          "format": "int64",
          "type": "string"
        },
        "transcript": {
          "$ref": "Transcript",
          "description": "A transcript value represents the assertion that a particular region of\nthe reference genome may be transcribed as RNA. An alternative splicing\npattern would be represented as a separate transcript object. This field\nis only set for annotations of type `TRANSCRIPT`."
        },
        "type": {
          "description": "The data type for this annotation. Must match the containing annotation\nset's type.",
          "enum": [
            "ANNOTATION_TYPE_UNSPECIFIED",
            "GENERIC",
            "VARIANT",
            "GENE",
            "TRANSCRIPT"
          ],
          "enumDescriptions": [
            "",
            "A `GENERIC` annotation type should be used when no other annotation\ntype will suffice. This represents an untyped annotation of the reference\ngenome.",
            "A `VARIANT` annotation type.",
            "A `GENE` annotation type represents the existence of a gene at the\nassociated reference coordinates. The start coordinate is typically the\ngene's transcription start site and the end is typically the end of the\ngene's last exon.",
            "A `TRANSCRIPT` annotation type represents the assertion that a\nparticular region of the reference genome may be transcribed as RNA."
          ],
          "type": "string"
        },
        "variant": {
          "$ref": "VariantAnnotation",
          "description": "A variant annotation, which describes the effect of a variant on the\ngenome, the coding sequence, and/or higher level consequences at the\norganism level e.g. pathogenicity. This field is only set for annotations\nof type `VARIANT`."
        }
      },
      "type": "object"
    },
    "AnnotationSet": {
      "description": "An annotation set is a logical grouping of annotations that share consistent\ntype information and provenance. Examples of annotation sets include 'all\ngenes from refseq', and 'all variant annotations from ClinVar'.",
      "id": "AnnotationSet",
      "properties": {
        "datasetId": {
          "description": "The dataset to which this annotation set belongs.",
          "type": "string"
        },
        "id": {
          "description": "The server-generated annotation set ID, unique across all annotation sets.",
          "type": "string"
        },
        "info": {
          "additionalProperties": {
            "items": {
              "type": "any"
            },
            "type": "array"
          },
          "description": "A map of additional read alignment information. This must be of the form\nmap\u003cstring, string[]\u003e (string key mapping to a list of string values).",
          "type": "object"
        },
        "name": {
          "description": "The display name for this annotation set.",
          "type": "string"
        },
        "referenceSetId": {
          "description": "The ID of the reference set that defines the coordinate space for this\nset's annotations.",
          "type": "string"
        },
        "sourceUri": {
          "description": "The source URI describing the file from which this annotation set was\ngenerated, if any.",
          "type": "string"
        },
        "type": {
          "description": "The type of annotations contained within this set.",
          "enum": [
            "ANNOTATION_TYPE_UNSPECIFIED",
            "GENERIC",
            "VARIANT",
            "GENE",
            "TRANSCRIPT"
          ],
          "enumDescriptions": [
            "",
            "A `GENERIC` annotation type should be used when no other annotation\ntype will suffice. This represents an untyped annotation of the reference\ngenome.",
            "A `VARIANT` annotation type.",
            "A `GENE` annotation type represents the existence of a gene at the\nassociated reference coordinates. The start coordinate is typically the\ngene's transcription start site and the end is typically the end of the\ngene's last exon.",
            "A `TRANSCRIPT` annotation type represents the assertion that a\nparticular region of the reference genome may be transcribed as RNA."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchCreateAnnotationsRequest": {
      "id": "BatchCreateAnnotationsRequest",
      "properties": {
        "annotations": {
          "description": "The annotations to be created. At most 4096 can be specified in a single\nrequest.",
          "items": {
            "$ref": "Annotation"
          },
          "type": "array"
        },
        "requestId": {
          "description": "A unique request ID which enables the server to detect duplicated requests.\nIf provided, duplicated requests will result in the same response; if not\nprovided, duplicated requests may result in duplicated data. For a given\nannotation set, callers should not reuse `request_id`s when writing\ndifferent batches of annotations - behavior in this case is undefined.\nA common approach is to use a UUID. For batch jobs where worker crashes are\na possibility, consider using some unique variant of a worker or run ID.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchCreateAnnotationsResponse": {
      "id": "BatchCreateAnnotationsResponse",
      "properties": {
        "entries": {
          "description": "The resulting per-annotation entries, ordered consistently with the\noriginal request.",
          "items": {
            "$ref": "Entry"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Binding": {
      "description": "Associates `members` with a `role`.",
      "id": "Binding",
      "properties": {
        "members": {
          "description": "Specifies the identities requesting access for a Cloud Platform resource.\n`members` can have the following values:\n\n* `allUsers`: A special identifier that represents anyone who is\n   on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`: A special identifier that represents anyone\n   who is authenticated with a Google account or a service account.\n\n* `user:{emailid}`: An email address that represents a specific Google\n   account. For example, `alice@gmail.com` or `joe@example.com`.\n\n\n* `serviceAccount:{emailid}`: An email address that represents a service\n   account. For example, `my-other-app@appspot.gserviceaccount.com`.\n\n* `group:{emailid}`: An email address that represents a Google group.\n   For example, `admins@example.com`.\n\n\n* `domain:{domain}`: A Google Apps domain name that represents all the\n   users of that domain. For example, `google.com` or `example.com`.\n\n",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "role": {
          "description": "Role that is assigned to `members`.\nFor example, `roles/viewer`, `roles/editor`, or `roles/owner`.\nRequired",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CallSet": {
      "description": "A call set is a collection of variant calls, typically for one sample. It\nbelongs to a variant set.\n\nFor more genomics resource definitions, see [Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
      "id": "CallSet",
      "properties": {
        "created": {
          "description": "The date this call set was created in milliseconds from the epoch.",
          "format": "int64",
          "type": "string"
        },
        "id": {
          "description": "The server-generated call set ID, unique across all call sets.",
          "type": "string"
        },
        "info": {
          "additionalProperties": {
            "items": {
              "type": "any"
            },
            "type": "array"
          },
          "description": "A map of additional call set information. This must be of the form\nmap\u003cstring, string[]\u003e (string key mapping to a list of string values).",
          "type": "object"
        },
        "name": {
          "description": "The call set name.",
          "type": "string"
        },
        "sampleId": {
          "description": "The sample ID this call set corresponds to.",
          "type": "string"
        },
        "variantSetIds": {
          "description": "The IDs of the variant sets this call set belongs to. This field must\nhave exactly length one, as a call set belongs to a single variant set.\nThis field is repeated for compatibility with the\n[GA4GH 0.5.1\nAPI](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/variants.avdl#L76).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object"
    },
    "CigarUnit": {
      "description": "A single CIGAR operation.",
      "id": "CigarUnit",
      "properties": {
        "operation": {
          "enum": [
            "OPERATION_UNSPECIFIED",
            "ALIGNMENT_MATCH",
            "INSERT",
            "DELETE",
            "SKIP",
            "CLIP_SOFT",
            "CLIP_HARD",
            "PAD",
            "SEQUENCE_MATCH",
            "SEQUENCE_MISMATCH"
          ],
          "enumDescriptions": [
            "",
            "An alignment match indicates that a sequence can be aligned to the\nreference without evidence of an INDEL. Unlike the\n`SEQUENCE_MATCH` and `SEQUENCE_MISMATCH` operators,\nthe `ALIGNMENT_MATCH` operator does not indicate whether the\nreference and read sequences are an exact match. This operator is\nequivalent to SAM's `M`.",
            "The insert operator indicates that the read contains evidence of bases\nbeing inserted into the reference. This operator is equivalent to SAM's\n`I`.",
            "The delete operator indicates that the read contains evidence of bases\nbeing deleted from the reference. This operator is equivalent to SAM's\n`D`.",
            "The skip operator indicates that this read skips a long segment of the\nreference, but the bases have not been deleted. This operator is commonly\nused when working with RNA-seq data, where reads may skip long segments\nof the reference between exons. This operator is equivalent to SAM's\n`N`.",
            "The soft clip operator indicates that bases at the start/end of a read\nhave not been considered during alignment. This may occur if the majority\nof a read maps, except for low quality bases at the start/end of a read.\nThis operator is equivalent to SAM's `S`. Bases that are soft\nclipped will still be stored in the read.",
            "The hard clip operator indicates that bases at the start/end of a read\nhave been omitted from this alignment. This may occur if this linear\nalignment is part of a chimeric alignment, or if the read has been\ntrimmed (for example, during error correction or to trim poly-A tails for\nRNA-seq). This operator is equivalent to SAM's `H`.",
            "The pad operator indicates that there is padding in an alignment. This\noperator is equivalent to SAM's `P`.",
            "This operator indicates that this portion of the aligned sequence exactly\nmatches the reference. This operator is equivalent to SAM's `=`.",
            "This operator indicates that this portion of the aligned sequence is an\nalignment match to the reference, but a sequence mismatch. This can\nindicate a SNP or a read error. This operator is equivalent to SAM's\n`X`."
          ],
          "type": "string"
        },
        "operationLength": {
          "description": "The number of genomic bases that the operation runs for. Required.",
          "format": "int64",
          "type": "string"
        },
        "referenceSequence": {
          "description": "`referenceSequence` is only used at mismatches\n(`SEQUENCE_MISMATCH`) and deletions (`DELETE`).\nFilling this field replaces SAM's MD tag. If the relevant information is\nnot available, this field is unset.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ClinicalCondition": {
      "id": "ClinicalCondition",
      "properties": {
        "conceptId": {
          "description": "The MedGen concept id associated with this gene.\nSearch for these IDs at http://www.ncbi.nlm.nih.gov/medgen/",
          "type": "string"
        },
        "externalIds": {
          "description": "The set of external IDs for this condition.",
          "items": {
            "$ref": "ExternalId"
          },
          "type": "array"
        },
        "names": {
          "description": "A set of names for the condition.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "omimId": {
          "description": "The OMIM id for this condition.\nSearch for these IDs at http://omim.org/",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CodingSequence": {
      "id": "CodingSequence",
      "properties": {
        "end": {
          "description": "The end of the coding sequence on this annotation's reference sequence,\n0-based exclusive. Note that this position is relative to the reference\nstart, and *not* the containing annotation start.",
          "format": "int64",
          "type": "string"
        },
        "start": {
          "description": "The start of the coding sequence on this annotation's reference sequence,\n0-based inclusive. Note that this position is relative to the reference\nstart, and *not* the containing annotation start.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ComputeEngine": {
      "description": "Describes a Compute Engine resource that is being managed by a running\npipeline.",
      "id": "ComputeEngine",
      "properties": {
        "diskNames": {
          "description": "The names of the disks that were created for this pipeline.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "instanceName": {
          "description": "The instance on which the operation is running.",
          "type": "string"
        },
        "machineType": {
          "description": "The machine type of the instance.",
          "type": "string"
        },
        "zone": {
          "description": "The availability zone in which the instance resides.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ContainerStartedEvent": {
      "description": "This event is generated when a container starts.",
      "id": "ContainerStartedEvent",
      "properties": {
        "actionId": {
          "description": "The numeric ID of the action that started this container.",
          "format": "int32",
          "type": "integer"
        },
        "ipAddress": {
          "description": "The public IP address that can be used to connect to the container.  This\nfield is only populated when at least one port mapping is present.  If the\ninstance was created with a private address this field will be empty even\nif port mappings exist.",
          "type": "string"
        },
        "portMappings": {
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          },
          "description": "The container to host port mappings installed for this container.  This\nset will contain any ports exposed using the PUBLISH_EXPOSED_PORTS flag as\nwell as any specified in the Action definition.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "ContainerStoppedEvent": {
      "description": "This event is generated when a container exits.",
      "id": "ContainerStoppedEvent",
      "properties": {
        "actionId": {
          "description": "The numeric ID of the action that started this container.",
          "format": "int32",
          "type": "integer"
        },
        "exitStatus": {
          "description": "The exit status of the container.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "CoverageBucket": {
      "description": "A bucket over which read coverage has been precomputed. A bucket corresponds\nto a specific range of the reference sequence.",
      "id": "CoverageBucket",
      "properties": {
        "meanCoverage": {
          "description": "The average number of reads which are aligned to each individual\nreference base in this bucket.",
          "format": "float",
          "type": "number"
        },
        "range": {
          "$ref": "Range",
          "description": "The genomic coordinate range spanned by this bucket."
        }
      },
      "type": "object"
    },
    "Dataset": {
      "description": "A Dataset is a collection of genomic data.\n\nFor more genomics resource definitions, see [Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
      "id": "Dataset",
      "properties": {
        "createTime": {
          "description": "The time this dataset was created, in seconds from the epoch.",
          "format": "google-datetime",
          "type": "string"
        },
        "id": {
          "description": "The server-generated dataset ID, unique across all datasets.",
          "type": "string"
        },
        "name": {
          "description": "The dataset name.",
          "type": "string"
        },
        "projectId": {
          "description": "The Google Cloud project ID that this dataset belongs to.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DelayedEvent": {
      "description": "This event is generated whenever a resource limitation or transient error\ndelays execution of a pipeline that was otherwise ready to run.",
      "id": "DelayedEvent",
      "properties": {
        "cause": {
          "description": "A textual description of the cause of the delay.  The string may change\nwithout notice since it is often generated by another service (such as\nCompute Engine).",
          "type": "string"
        },
        "metrics": {
          "description": "If the delay was caused by a resource shortage, this field lists the\nCompute Engine metrics that are preventing this operation from running\n(for example, CPUS or INSTANCES).  If the particular metric is not known,\na single UNKNOWN metric will be present.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "Entry": {
      "id": "Entry",
      "properties": {
        "annotation": {
          "$ref": "Annotation",
          "description": "The created annotation, if creation was successful."
        },
        "status": {
          "$ref": "Status",
          "description": "The creation status."
        }
      },
      "type": "object"
    },
    "Event": {
      "description": "Event carries information about events that occur during pipeline execution.",
      "id": "Event",
      "properties": {
        "description": {
          "description": "A human readable description of the event.  Note that these strings may\nchange at any time without notice.  Any application logic must use the\ninformation in the details field.",
          "type": "string"
        },
        "details": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Machine readable details about the event.",
          "type": "object"
        },
        "timestamp": {
          "description": "The time that the event occurred.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Exon": {
      "id": "Exon",
      "properties": {
        "end": {
          "description": "The end position of the exon on this annotation's reference sequence,\n0-based exclusive. Note that this is relative to the reference start, and\n*not* the containing annotation start.",
          "format": "int64",
          "type": "string"
        },
        "frame": {
          "description": "The frame of this exon. Contains a value of 0, 1, or 2, which indicates\nthe offset of the first coding base of the exon within the reading frame\nof the coding DNA sequence, if any. This field is dependent on the\nstrandedness of this annotation (see\nAnnotation.reverse_strand).\nFor forward stranded annotations, this offset is relative to the\nexon.start. For reverse\nstrand annotations, this offset is relative to the\nexon.end `- 1`.\n\nUnset if this exon does not intersect the coding sequence. Upon creation\nof a transcript, the frame must be populated for all or none of the\ncoding exons.",
          "format": "int32",
          "type": "integer"
        },
        "start": {
          "description": "The start position of the exon on this annotation's reference sequence,\n0-based inclusive. Note that this is relative to the reference start, and\n**not** the containing annotation start.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Experiment": {
      "id": "Experiment",
      "properties": {
        "instrumentModel": {
[...]
