{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/genomics": {
          "description": "View and manage Genomics data"
        },
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery"
        },
        "https://www.googleapis.com/auth/devstorage.read_write": {
          "description": "Manage your data in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/genomics.readonly": {
          "description": "View Genomics data"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "description": "Upload, process, query, and search Genomics data in the cloud.",
  "servicePath": "",
  "rootUrl": "https://genomics.googleapis.com/",
  "basePath": "",
  "ownerDomain": "google.com",
  "name": "genomics",
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/genomics",
  "id": "genomics:v1",
  "revision": "20170509",
  "title": "Genomics API",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "resources": {
    "variantsets": {
      "methods": {
        "search": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "SearchVariantSetsResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "flatPath": "v1/variantsets/search",
          "id": "genomics.variantsets.search",
          "path": "v1/variantsets/search",
          "request": {
            "$ref": "SearchVariantSetsRequest"
          },
          "description": "Returns a list of all variant sets matching search criteria.\n\nFor the definitions of variant sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nImplements\n[GlobalAllianceApi.searchVariantSets](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/variantmethods.avdl#L49)."
        },
        "patch": {
          "flatPath": "v1/variantsets/{variantSetId}",
          "id": "genomics.variantsets.patch",
          "path": "v1/variantsets/{variantSetId}",
          "description": "Updates a variant set using patch semantics.\n\nFor the definitions of variant sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "request": {
            "$ref": "VariantSet"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "variantSetId"
          ],
          "response": {
            "$ref": "VariantSet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "updateMask": {
              "location": "query",
              "description": "An optional mask specifying which fields to update. Supported fields:\n\n* metadata.\n* name.\n* description.\n\nLeaving `updateMask` unset is equivalent to specifying all mutable\nfields.",
              "format": "google-fieldmask",
              "type": "string"
            },
            "variantSetId": {
              "description": "The ID of the variant to be updated (must already exist).",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        },
        "get": {
          "flatPath": "v1/variantsets/{variantSetId}",
          "id": "genomics.variantsets.get",
          "path": "v1/variantsets/{variantSetId}",
          "description": "Gets a variant set by ID.\n\nFor the definitions of variant sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "httpMethod": "GET",
          "parameterOrder": [
            "variantSetId"
          ],
          "response": {
            "$ref": "VariantSet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "parameters": {
            "variantSetId": {
              "location": "path",
              "description": "Required. The ID of the variant set.",
              "required": true,
              "type": "string"
            }
          }
        },
        "delete": {
          "id": "genomics.variantsets.delete",
          "path": "v1/variantsets/{variantSetId}",
          "description": "Deletes a variant set including all variants, call sets, and calls within.\nThis is not reversible.\n\nFor the definitions of variant sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "variantSetId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "variantSetId": {
              "description": "The ID of the variant set to be deleted.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "v1/variantsets/{variantSetId}"
        },
        "create": {
          "flatPath": "v1/variantsets",
          "path": "v1/variantsets",
          "id": "genomics.variantsets.create",
          "request": {
            "$ref": "VariantSet"
          },
          "description": "Creates a new variant set.\n\nFor the definitions of variant sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nThe provided variant set must have a valid `datasetId` set - all other\nfields are optional. Note that the `id` field will be ignored, as this is\nassigned by the server.",
          "response": {
            "$ref": "VariantSet"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "export": {
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "variantSetId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "variantSetId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The ID of the variant set that contains variant data which\nshould be exported. The caller must have READ access to this variant set."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/variantsets/{variantSetId}:export",
          "path": "v1/variantsets/{variantSetId}:export",
          "id": "genomics.variantsets.export",
          "request": {
            "$ref": "ExportVariantSetRequest"
          },
          "description": "Exports variant set data to an external destination.\n\nFor the definitions of variant sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)"
        }
      }
    },
    "annotations": {
      "methods": {
        "delete": {
          "description": "Deletes an annotation. Caller must have WRITE permission for\nthe associated annotation set.",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "annotationId"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "annotationId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the annotation to be deleted."
            }
          },
          "flatPath": "v1/annotations/{annotationId}",
          "path": "v1/annotations/{annotationId}",
          "id": "genomics.annotations.delete"
        },
        "create": {
          "request": {
            "$ref": "Annotation"
          },
          "description": "Creates a new annotation. Caller must have WRITE permission\nfor the associated annotation set.\n\nThe following fields are required:\n\n* annotationSetId\n* referenceName or\n  referenceId\n\n### Transcripts\n\nFor annotations of type TRANSCRIPT, the following fields of\ntranscript must be provided:\n\n* exons.start\n* exons.end\n\nAll other fields may be optionally specified, unless documented as being\nserver-generated (for example, the `id` field). The annotated\nrange must be no longer than 100Mbp (mega base pairs). See the\nAnnotation resource\nfor additional restrictions on each field.",
          "response": {
            "$ref": "Annotation"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/annotations",
          "path": "v1/annotations",
          "id": "genomics.annotations.create"
        },
        "batchCreate": {
          "description": "Creates one or more new annotations atomically. All annotations must\nbelong to the same annotation set. Caller must have WRITE\npermission for this annotation set. For optimal performance, batch\npositionally adjacent annotations together.\n\nIf the request has a systemic issue, such as an attempt to write to\nan inaccessible annotation set, the entire RPC will fail accordingly. For\nlesser data issues, when possible an error will be isolated to the\ncorresponding batch entry in the response; the remaining well formed\nannotations will be created normally.\n\nFor details on the requirements for each individual annotation resource,\nsee\nCreateAnnotation.",
          "request": {
            "$ref": "BatchCreateAnnotationsRequest"
          },
          "response": {
            "$ref": "BatchCreateAnnotationsResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {},
          "flatPath": "v1/annotations:batchCreate",
          "path": "v1/annotations:batchCreate",
          "id": "genomics.annotations.batchCreate"
        },
        "search": {
          "description": "Searches for annotations that match the given criteria. Results are\nordered by genomic coordinate (by reference sequence, then position).\nAnnotations with equivalent genomic coordinates are returned in an\nunspecified order. This order is consistent, such that two queries for the\nsame content (regardless of page size) yield annotations in the same order\nacross their respective streams of paginated responses. Caller must have\nREAD permission for the queried annotation sets.",
          "request": {
            "$ref": "SearchAnnotationsRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "SearchAnnotationsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "parameters": {},
          "flatPath": "v1/annotations/search",
          "id": "genomics.annotations.search",
          "path": "v1/annotations/search"
        },
        "get": {
          "description": "Gets an annotation. Caller must have READ permission\nfor the associated annotation set.",
          "response": {
            "$ref": "Annotation"
          },
          "parameterOrder": [
            "annotationId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "annotationId": {
              "location": "path",
              "description": "The ID of the annotation to be retrieved.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "flatPath": "v1/annotations/{annotationId}",
          "path": "v1/annotations/{annotationId}",
          "id": "genomics.annotations.get"
        },
        "update": {
          "path": "v1/annotations/{annotationId}",
          "id": "genomics.annotations.update",
          "request": {
            "$ref": "Annotation"
          },
          "description": "Updates an annotation. Caller must have\nWRITE permission for the associated dataset.",
          "response": {
            "$ref": "Annotation"
          },
          "parameterOrder": [
            "annotationId"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "updateMask": {
              "location": "query",
              "description": "An optional mask specifying which fields to update. Mutable fields are\nname,\nvariant,\ntranscript, and\ninfo. If unspecified, all mutable\nfields will be updated.",
              "format": "google-fieldmask",
              "type": "string"
            },
            "annotationId": {
              "description": "The ID of the annotation to be updated.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/annotations/{annotationId}"
        }
      }
    },
    "operations": {
      "methods": {
        "cancel": {
          "flatPath": "v1/operations/{operationsId}:cancel",
          "id": "genomics.operations.cancel",
          "path": "v1/{+name}:cancel",
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. Clients may use Operations.GetOperation or Operations.ListOperations to check whether the cancellation succeeded or the operation completed despite cancellation.",
          "request": {
            "$ref": "CancelOperationRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "description": "The name of the operation resource to be cancelled.",
              "required": true,
              "type": "string",
              "pattern": "^operations/.+$"
            }
          }
        },
        "list": {
          "flatPath": "v1/operations",
          "path": "v1/{+name}",
          "id": "genomics.operations.list",
          "description": "Lists operations that match the specified filter in the request.",
          "response": {
            "$ref": "ListOperationsResponse"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^operations$",
              "location": "path",
              "description": "The name of the operation collection.",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "The standard list page token.",
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of results to return. If unspecified, defaults to\n256. The maximum value is 2048.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "filter": {
              "description": "A string for filtering Operations.\nThe following filter fields are supported&#58;\n\n* projectId&#58; Required. Corresponds to\n  OperationMetadata.projectId.\n* createTime&#58; The time this job was created, in seconds from the\n  [epoch](http://en.wikipedia.org/wiki/Unix_time). Can use `\u003e=` and/or `\u003c=`\n  operators.\n* status&#58; Can be `RUNNING`, `SUCCESS`, `FAILURE`, or `CANCELED`. Only\n  one status may be specified.\n* labels.key where key is a label key.\n\nExamples&#58;\n\n* `projectId = my-project AND createTime \u003e= 1432140000`\n* `projectId = my-project AND createTime \u003e= 1432140000 AND createTime \u003c= 1432150000 AND status = RUNNING`\n* `projectId = my-project AND labels.color = *`\n* `projectId = my-project AND labels.color = red`",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        },
        "get": {
          "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "description": "The name of the operation resource.",
              "required": true,
              "type": "string",
              "pattern": "^operations/.+$"
            }
          },
          "flatPath": "v1/operations/{operationsId}",
          "id": "genomics.operations.get",
          "path": "v1/{+name}"
        }
      }
    },
    "referencesets": {
      "methods": {
        "search": {
          "request": {
            "$ref": "SearchReferenceSetsRequest"
          },
          "description": "Searches for reference sets which match the given criteria.\n\nFor the definitions of references and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nImplements\n[GlobalAllianceApi.searchReferenceSets](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/referencemethods.avdl#L71)",
          "response": {
            "$ref": "SearchReferenceSetsResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "flatPath": "v1/referencesets/search",
          "path": "v1/referencesets/search",
          "id": "genomics.referencesets.search"
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ReferenceSet"
          },
          "parameterOrder": [
            "referenceSetId"
          ],
          "parameters": {
            "referenceSetId": {
              "location": "path",
              "description": "The ID of the reference set.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "flatPath": "v1/referencesets/{referenceSetId}",
          "id": "genomics.referencesets.get",
          "path": "v1/referencesets/{referenceSetId}",
          "description": "Gets a reference set.\n\nFor the definitions of references and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nImplements\n[GlobalAllianceApi.getReferenceSet](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/referencemethods.avdl#L83)."
        }
      }
    },
    "callsets": {
      "methods": {
        "delete": {
          "path": "v1/callsets/{callSetId}",
          "id": "genomics.callsets.delete",
          "description": "Deletes a call set.\n\nFor the definitions of call sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "callSetId"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "callSetId": {
              "description": "The ID of the call set to be deleted.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/callsets/{callSetId}"
        },
        "search": {
          "id": "genomics.callsets.search",
          "path": "v1/callsets/search",
          "request": {
            "$ref": "SearchCallSetsRequest"
          },
          "description": "Gets a list of call sets matching the criteria.\n\nFor the definitions of call sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nImplements\n[GlobalAllianceApi.searchCallSets](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/variantmethods.avdl#L178).",
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "SearchCallSetsResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "flatPath": "v1/callsets/search"
        },
        "patch": {
          "description": "Updates a call set.\n\nFor the definitions of call sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nThis method supports patch semantics.",
          "request": {
            "$ref": "CallSet"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "callSetId"
          ],
          "response": {
            "$ref": "CallSet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "updateMask": {
              "location": "query",
              "description": "An optional mask specifying which fields to update. At this time, the only\nmutable field is name. The only\nacceptable value is \"name\". If unspecified, all mutable fields will be\nupdated.",
              "format": "google-fieldmask",
              "type": "string"
            },
            "callSetId": {
              "location": "path",
              "description": "The ID of the call set to be updated.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/callsets/{callSetId}",
          "id": "genomics.callsets.patch",
          "path": "v1/callsets/{callSetId}"
        },
        "get": {
          "response": {
            "$ref": "CallSet"
          },
          "parameterOrder": [
            "callSetId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "parameters": {
            "callSetId": {
              "location": "path",
              "description": "The ID of the call set.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/callsets/{callSetId}",
          "path": "v1/callsets/{callSetId}",
          "id": "genomics.callsets.get",
          "description": "Gets a call set by ID.\n\nFor the definitions of call sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)"
        },
        "create": {
          "response": {
            "$ref": "CallSet"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {},
          "flatPath": "v1/callsets",
          "path": "v1/callsets",
          "id": "genomics.callsets.create",
          "description": "Creates a new call set.\n\nFor the definitions of call sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "request": {
            "$ref": "CallSet"
          }
        }
      }
    },
    "reads": {
      "methods": {
        "search": {
          "flatPath": "v1/reads/search",
          "path": "v1/reads/search",
          "id": "genomics.reads.search",
          "request": {
            "$ref": "SearchReadsRequest"
          },
          "description": "Gets a list of reads for one or more read group sets.\n\nFor the definitions of read group sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nReads search operates over a genomic coordinate space of reference sequence\n& position defined over the reference sequences to which the requested\nread group sets are aligned.\n\nIf a target positional range is specified, search returns all reads whose\nalignment to the reference genome overlap the range. A query which\nspecifies only read group set IDs yields all reads in those read group\nsets, including unmapped reads.\n\nAll reads returned (including reads on subsequent pages) are ordered by\ngenomic coordinate (by reference sequence, then position). Reads with\nequivalent genomic coordinates are returned in an unspecified order. This\norder is consistent, such that two queries for the same content (regardless\nof page size) yield reads in the same order across their respective streams\nof paginated responses.\n\nImplements\n[GlobalAllianceApi.searchReads](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/readmethods.avdl#L85).",
          "response": {
            "$ref": "SearchReadsResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ]
        }
      }
    },
    "readgroupsets": {
      "methods": {
        "import": {
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.read_write",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/readgroupsets:import",
          "path": "v1/readgroupsets:import",
          "id": "genomics.readgroupsets.import",
          "request": {
            "$ref": "ImportReadGroupSetsRequest"
          },
          "description": "Creates read group sets by asynchronously importing the provided\ninformation.\n\nFor the definitions of read group sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nThe caller must have WRITE permissions to the dataset.\n\n## Notes on [BAM](https://samtools.github.io/hts-specs/SAMv1.pdf) import\n\n- Tags will be converted to strings - tag types are not preserved\n- Comments (`@CO`) in the input file header will not be preserved\n- Original header order of references (`@SQ`) will not be preserved\n- Any reverse stranded unmapped reads will be reverse complemented, and\ntheir qualities (also the \"BQ\" and \"OQ\" tags, if any) will be reversed\n- Unmapped reads will be stripped of positional information (reference name\nand position)"
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "readGroupSetId"
          ],
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "readGroupSetId": {
              "location": "path",
              "description": "The ID of the read group set to be deleted. The caller must have WRITE\npermissions to the dataset associated with this read group set.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/readgroupsets/{readGroupSetId}",
          "id": "genomics.readgroupsets.delete",
          "path": "v1/readgroupsets/{readGroupSetId}",
          "description": "Deletes a read group set.\n\nFor the definitions of read group sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)"
        },
        "export": {
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "readGroupSetId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "readGroupSetId": {
              "description": "Required. The ID of the read group set to export. The caller must have\nREAD access to this read group set.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.read_write",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/readgroupsets/{readGroupSetId}:export",
          "path": "v1/readgroupsets/{readGroupSetId}:export",
          "id": "genomics.readgroupsets.export",
          "request": {
            "$ref": "ExportReadGroupSetRequest"
          },
          "description": "Exports a read group set to a BAM file in Google Cloud Storage.\n\nFor the definitions of read group sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nNote that currently there may be some differences between exported BAM\nfiles and the original BAM file at the time of import. See\nImportReadGroupSets\nfor caveats."
        },
        "search": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "SearchReadGroupSetsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "parameters": {},
          "flatPath": "v1/readgroupsets/search",
          "id": "genomics.readgroupsets.search",
          "path": "v1/readgroupsets/search",
          "description": "Searches for read group sets matching the criteria.\n\nFor the definitions of read group sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nImplements\n[GlobalAllianceApi.searchReadGroupSets](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/readmethods.avdl#L135).",
          "request": {
            "$ref": "SearchReadGroupSetsRequest"
          }
        },
        "get": {
          "response": {
            "$ref": "ReadGroupSet"
          },
          "parameterOrder": [
            "readGroupSetId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "parameters": {
            "readGroupSetId": {
              "location": "path",
              "description": "The ID of the read group set.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/readgroupsets/{readGroupSetId}",
          "path": "v1/readgroupsets/{readGroupSetId}",
          "id": "genomics.readgroupsets.get",
          "description": "Gets a read group set by ID.\n\nFor the definitions of read group sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)"
        },
        "patch": {
          "flatPath": "v1/readgroupsets/{readGroupSetId}",
          "path": "v1/readgroupsets/{readGroupSetId}",
          "id": "genomics.readgroupsets.patch",
          "request": {
            "$ref": "ReadGroupSet"
          },
          "description": "Updates a read group set.\n\nFor the definitions of read group sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nThis method supports patch semantics.",
          "response": {
            "$ref": "ReadGroupSet"
          },
          "parameterOrder": [
            "readGroupSetId"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "readGroupSetId": {
              "description": "The ID of the read group set to be updated. The caller must have WRITE\npermissions to the dataset associated with this read group set.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "updateMask": {
              "location": "query",
              "description": "An optional mask specifying which fields to update. Supported fields:\n\n* name.\n* referenceSetId.\n\nLeaving `updateMask` unset is equivalent to specifying all mutable\nfields.",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ]
        }
      },
      "resources": {
        "coveragebuckets": {
          "methods": {
            "list": {
              "id": "genomics.readgroupsets.coveragebuckets.list",
              "path": "v1/readgroupsets/{readGroupSetId}/coveragebuckets",
              "description": "Lists fixed width coverage buckets for a read group set, each of which\ncorrespond to a range of a reference sequence. Each bucket summarizes\ncoverage information across its corresponding genomic range.\n\nFor the definitions of read group sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nCoverage is defined as the number of reads which are aligned to a given\nbase in the reference sequence. Coverage buckets are available at several\nprecomputed bucket widths, enabling retrieval of various coverage 'zoom\nlevels'. The caller must have READ permissions for the target read group\nset.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListCoverageBucketsResponse"
              },
              "parameterOrder": [
                "readGroupSetId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/genomics",
                "https://www.googleapis.com/auth/genomics.readonly"
              ],
              "parameters": {
                "pageToken": {
                  "description": "The continuation token, which is used to page through large result sets.\nTo get the next page of results, set this parameter to the value of\n`nextPageToken` from the previous response.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of results to return in a single page. If unspecified,\ndefaults to 1024. The maximum value is 2048.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "start": {
                  "description": "The start position of the range on the reference, 0-based inclusive. If\nspecified, `referenceName` must also be specified. Defaults to 0.",
                  "format": "int64",
                  "type": "string",
                  "location": "query"
                },
                "readGroupSetId": {
                  "location": "path",
                  "description": "Required. The ID of the read group set over which coverage is requested.",
                  "required": true,
                  "type": "string"
                },
                "targetBucketWidth": {
                  "location": "query",
                  "description": "The desired width of each reported coverage bucket in base pairs. This\nwill be rounded down to the nearest precomputed bucket width; the value\nof which is returned as `bucketWidth` in the response. Defaults\nto infinity (each bucket spans an entire reference sequence) or the length\nof the target range, if specified. The smallest precomputed\n`bucketWidth` is currently 2048 base pairs; this is subject to\nchange.",
                  "format": "int64",
                  "type": "string"
                },
                "referenceName": {
                  "description": "The name of the reference to query, within the reference set associated\nwith this query. Optional.",
                  "type": "string",
                  "location": "query"
                },
                "end": {
                  "location": "query",
                  "description": "The end position of the range on the reference, 0-based exclusive. If\nspecified, `referenceName` must also be specified. If unset or 0, defaults\nto the length of the reference.",
                  "format": "int64",
                  "type": "string"
                }
              },
              "flatPath": "v1/readgroupsets/{readGroupSetId}/coveragebuckets"
            }
          }
        }
      }
    },
    "variants": {
      "methods": {
        "create": {
          "response": {
            "$ref": "Variant"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/variants",
          "path": "v1/variants",
          "id": "genomics.variants.create",
          "request": {
            "$ref": "Variant"
          },
          "description": "Creates a new variant.\n\nFor the definitions of variants and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)"
        },
        "search": {
          "description": "Gets a list of variants matching the criteria.\n\nFor the definitions of variants and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nImplements\n[GlobalAllianceApi.searchVariants](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/variantmethods.avdl#L126).",
          "request": {
            "$ref": "SearchVariantsRequest"
          },
          "response": {
            "$ref": "SearchVariantsResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "parameters": {},
          "flatPath": "v1/variants/search",
          "path": "v1/variants/search",
          "id": "genomics.variants.search"
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameterOrder": [
            "variantId"
          ],
          "response": {
            "$ref": "Variant"
          },
          "parameters": {
            "variantId": {
              "location": "path",
              "description": "The ID of the variant to be updated.",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "description": "An optional mask specifying which fields to update. At this time, mutable\nfields are names and\ninfo. Acceptable values are \"names\" and\n\"info\". If unspecified, all mutable fields will be updated.",
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/variants/{variantId}",
          "id": "genomics.variants.patch",
          "path": "v1/variants/{variantId}",
          "request": {
            "$ref": "Variant"
          },
          "description": "Updates a variant.\n\nFor the definitions of variants and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nThis method supports patch semantics. Returns the modified variant without\nits calls."
        },
        "get": {
          "description": "Gets a variant by ID.\n\nFor the definitions of variants and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "response": {
            "$ref": "Variant"
          },
          "parameterOrder": [
            "variantId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "variantId": {
              "location": "path",
              "description": "The ID of the variant.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "flatPath": "v1/variants/{variantId}",
          "path": "v1/variants/{variantId}",
          "id": "genomics.variants.get"
        },
        "merge": {
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {},
          "flatPath": "v1/variants:merge",
          "path": "v1/variants:merge",
          "id": "genomics.variants.merge",
          "description": "Merges the given variants with existing variants.\n\nFor the definitions of variants and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nEach variant will be\nmerged with an existing variant that matches its reference sequence,\nstart, end, reference bases, and alternative bases. If no such variant\nexists, a new one will be created.\n\nWhen variants are merged, the call information from the new variant\nis added to the existing variant. Variant info fields are merged as\nspecified in the\ninfoMergeConfig\nfield of the MergeVariantsRequest.\n\nPlease exercise caution when using this method!  It is easy to introduce\nmistakes in existing variants and difficult to back out of them.  For\nexample,\nsuppose you were trying to merge a new variant with an existing one and\nboth\nvariants contain calls that belong to callsets with the same callset ID.\n\n    // Existing variant - irrelevant fields trimmed for clarity\n    {\n        \"variantSetId\": \"10473108253681171589\",\n        \"referenceName\": \"1\",\n        \"start\": \"10582\",\n        \"referenceBases\": \"G\",\n        \"alternateBases\": [\n            \"A\"\n        ],\n        \"calls\": [\n            {\n                \"callSetId\": \"10473108253681171589-0\",\n                \"callSetName\": \"CALLSET0\",\n                \"genotype\": [\n                    0,\n                    1\n                ],\n            }\n        ]\n    }\n\n    // New variant with conflicting call information\n    {\n        \"variantSetId\": \"10473108253681171589\",\n        \"referenceName\": \"1\",\n        \"start\": \"10582\",\n        \"referenceBases\": \"G\",\n        \"alternateBases\": [\n            \"A\"\n        ],\n        \"calls\": [\n            {\n                \"callSetId\": \"10473108253681171589-0\",\n                \"callSetName\": \"CALLSET0\",\n                \"genotype\": [\n                    1,\n                    1\n                ],\n            }\n        ]\n    }\n\nThe resulting merged variant would overwrite the existing calls with those\nfrom the new variant:\n\n    {\n        \"variantSetId\": \"10473108253681171589\",\n        \"referenceName\": \"1\",\n        \"start\": \"10582\",\n        \"referenceBases\": \"G\",\n        \"alternateBases\": [\n            \"A\"\n        ],\n        \"calls\": [\n            {\n                \"callSetId\": \"10473108253681171589-0\",\n                \"callSetName\": \"CALLSET0\",\n                \"genotype\": [\n                    1,\n                    1\n                ],\n            }\n        ]\n    }\n\nThis may be the desired outcome, but it is up to the user to determine if\nif that is indeed the case.",
          "request": {
            "$ref": "MergeVariantsRequest"
          }
        },
        "import": {
          "description": "Creates variant data by asynchronously importing the provided information.\n\nFor the definitions of variant sets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nThe variants for import will be merged with any existing variant that\nmatches its reference sequence, start, end, reference bases, and\nalternative bases. If no such variant exists, a new one will be created.\n\nWhen variants are merged, the call information from the new variant\nis added to the existing variant, and Variant info fields are merged\nas specified in\ninfoMergeConfig.\nAs a special case, for single-sample VCF files, QUAL and FILTER fields will\nbe moved to the call level; these are sometimes interpreted in a\ncall-specific context.\nImported VCF headers are appended to the metadata already in a variant set.",
          "request": {
            "$ref": "ImportVariantsRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.read_write",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {},
          "flatPath": "v1/variants:import",
          "path": "v1/variants:import",
          "id": "genomics.variants.import"
        },
        "delete": {
          "path": "v1/variants/{variantId}",
          "id": "genomics.variants.delete",
          "description": "Deletes a variant.\n\nFor the definitions of variants and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "variantId"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "variantId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the variant to be deleted."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/variants/{variantId}"
        }
      }
    },
    "annotationsets": {
      "methods": {
        "search": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "SearchAnnotationSetsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "parameters": {},
          "flatPath": "v1/annotationsets/search",
          "id": "genomics.annotationsets.search",
          "path": "v1/annotationsets/search",
          "description": "Searches for annotation sets that match the given criteria. Annotation sets\nare returned in an unspecified order. This order is consistent, such that\ntwo queries for the same content (regardless of page size) yield annotation\nsets in the same order across their respective streams of paginated\nresponses. Caller must have READ permission for the queried datasets.",
          "request": {
            "$ref": "SearchAnnotationSetsRequest"
          }
        },
        "get": {
          "description": "Gets an annotation set. Caller must have READ permission for\nthe associated dataset.",
          "httpMethod": "GET",
          "parameterOrder": [
            "annotationSetId"
          ],
          "response": {
            "$ref": "AnnotationSet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "parameters": {
            "annotationSetId": {
              "location": "path",
              "description": "The ID of the annotation set to be retrieved.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/annotationsets/{annotationSetId}",
          "id": "genomics.annotationsets.get",
          "path": "v1/annotationsets/{annotationSetId}"
        },
        "update": {
          "flatPath": "v1/annotationsets/{annotationSetId}",
          "id": "genomics.annotationsets.update",
          "path": "v1/annotationsets/{annotationSetId}",
          "description": "Updates an annotation set. The update must respect all mutability\nrestrictions and other invariants described on the annotation set resource.\nCaller must have WRITE permission for the associated dataset.",
          "request": {
            "$ref": "AnnotationSet"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "annotationSetId"
          ],
          "response": {
            "$ref": "AnnotationSet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "updateMask": {
              "type": "string",
              "location": "query",
              "description": "An optional mask specifying which fields to update. Mutable fields are\nname,\nsource_uri, and\ninfo. If unspecified, all\nmutable fields will be updated.",
              "format": "google-fieldmask"
            },
            "annotationSetId": {
              "description": "The ID of the annotation set to be updated.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        },
        "create": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "AnnotationSet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {},
          "flatPath": "v1/annotationsets",
          "id": "genomics.annotationsets.create",
          "path": "v1/annotationsets",
          "description": "Creates a new annotation set. Caller must have WRITE permission for the\nassociated dataset.\n\nThe following fields are required:\n\n  * datasetId\n  * referenceSetId\n\nAll other fields may be optionally specified, unless documented as being\nserver-generated (for example, the `id` field).",
          "request": {
            "$ref": "AnnotationSet"
          }
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "annotationSetId"
          ],
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "annotationSetId": {
              "location": "path",
              "description": "The ID of the annotation set to be deleted.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/annotationsets/{annotationSetId}",
          "id": "genomics.annotationsets.delete",
          "path": "v1/annotationsets/{annotationSetId}",
          "description": "Deletes an annotation set. Caller must have WRITE permission\nfor the associated annotation set."
        }
      }
    },
    "references": {
      "resources": {
        "bases": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListBasesResponse"
              },
              "parameterOrder": [
                "referenceId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "start": {
                  "location": "query",
                  "description": "The start position (0-based) of this query. Defaults to 0.",
                  "format": "int64",
                  "type": "string"
                },
                "referenceId": {
                  "location": "path",
                  "description": "The ID of the reference.",
                  "required": true,
                  "type": "string"
                },
                "end": {
                  "location": "query",
                  "description": "The end position (0-based, exclusive) of this query. Defaults to the length\nof this reference.",
                  "format": "int64",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The continuation token, which is used to page through large result sets.\nTo get the next page of results, set this parameter to the value of\n`nextPageToken` from the previous response.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of bases to return in a single page. If unspecified,\ndefaults to 200Kbp (kilo base pairs). The maximum value is 10Mbp (mega base\npairs).",
                  "format": "int32"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/genomics",
                "https://www.googleapis.com/auth/genomics.readonly"
              ],
              "flatPath": "v1/references/{referenceId}/bases",
              "path": "v1/references/{referenceId}/bases",
              "id": "genomics.references.bases.list",
              "description": "Lists the bases in a reference, optionally restricted to a range.\n\nFor the definitions of references and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nImplements\n[GlobalAllianceApi.getReferenceBases](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/referencemethods.avdl#L221)."
            }
          }
        }
      },
      "methods": {
        "search": {
          "flatPath": "v1/references/search",
          "path": "v1/references/search",
          "id": "genomics.references.search",
          "description": "Searches for references which match the given criteria.\n\nFor the definitions of references and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nImplements\n[GlobalAllianceApi.searchReferences](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/referencemethods.avdl#L146).",
          "request": {
            "$ref": "SearchReferencesRequest"
          },
          "response": {
            "$ref": "SearchReferencesResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "parameters": {}
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "Reference"
          },
          "parameterOrder": [
            "referenceId"
          ],
          "parameters": {
            "referenceId": {
              "location": "path",
              "description": "The ID of the reference.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "flatPath": "v1/references/{referenceId}",
          "id": "genomics.references.get",
          "path": "v1/references/{referenceId}",
          "description": "Gets a reference.\n\nFor the definitions of references and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nImplements\n[GlobalAllianceApi.getReference](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/referencemethods.avdl#L158)."
        }
      }
    },
    "datasets": {
      "methods": {
        "delete": {
          "flatPath": "v1/datasets/{datasetId}",
          "id": "genomics.datasets.delete",
          "path": "v1/datasets/{datasetId}",
          "description": "Deletes a dataset and all of its contents (all read group sets,\nreference sets, variant sets, call sets, annotation sets, etc.)\nThis is reversible (up to one week after the deletion) via\nthe\ndatasets.undelete\noperation.\n\nFor the definitions of datasets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "datasetId"
          ],
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "datasetId": {
              "location": "path",
              "description": "The ID of the dataset to be deleted.",
              "required": true,
              "type": "string"
            }
          }
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "ListDatasetsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "parameters": {
            "projectId": {
              "location": "query",
              "description": "Required. The Google Cloud project ID to list datasets for.",
              "type": "string"
            },
            "pageToken": {
              "description": "The continuation token, which is used to page through large result sets.\nTo get the next page of results, set this parameter to the value of\n`nextPageToken` from the previous response.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "description": "The maximum number of results to return in a single page. If unspecified,\ndefaults to 50. The maximum value is 1024.",
              "format": "int32",
              "type": "integer"
            }
          },
          "flatPath": "v1/datasets",
          "id": "genomics.datasets.list",
          "path": "v1/datasets",
          "description": "Lists datasets within a project.\n\nFor the definitions of datasets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)"
        },
        "setIamPolicy": {
          "path": "v1/{+resource}:setIamPolicy",
          "id": "genomics.datasets.setIamPolicy",
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "description": "Sets the access control policy on the specified dataset. Replaces any\nexisting policy.\n\nFor the definitions of datasets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nSee \u003ca href=\"/iam/docs/managing-policies#setting_a_policy\"\u003eSetting a\nPolicy\u003c/a\u003e for more information.",
          "response": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which policy is being specified. Format is\n`datasets/\u003cdataset ID\u003e`.",
              "required": true,
              "type": "string",
              "pattern": "^datasets/[^/]+$",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/datasets/{datasetsId}:setIamPolicy"
        },
        "create": {
          "id": "genomics.datasets.create",
          "path": "v1/datasets",
          "description": "Creates a new dataset.\n\nFor the definitions of datasets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "request": {
            "$ref": "Dataset"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "Dataset"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {},
          "flatPath": "v1/datasets"
        },
        "getIamPolicy": {
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ],
          "response": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "resource": {
              "required": true,
              "type": "string",
              "pattern": "^datasets/[^/]+$",
              "location": "path",
              "description": "REQUIRED: The resource for which policy is being specified. Format is\n`datasets/\u003cdataset ID\u003e`."
            }
          },
          "flatPath": "v1/datasets/{datasetsId}:getIamPolicy",
          "id": "genomics.datasets.getIamPolicy",
          "path": "v1/{+resource}:getIamPolicy",
          "description": "Gets the access control policy for the dataset. This is empty if the\npolicy or resource does not exist.\n\nSee \u003ca href=\"/iam/docs/managing-policies#getting_a_policy\"\u003eGetting a\nPolicy\u003c/a\u003e for more information.\n\nFor the definitions of datasets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
          "request": {
            "$ref": "GetIamPolicyRequest"
          }
        },
        "undelete": {
          "httpMethod": "POST",
          "parameterOrder": [
            "datasetId"
          ],
          "response": {
            "$ref": "Dataset"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "datasetId": {
              "description": "The ID of the dataset to be undeleted.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "v1/datasets/{datasetId}:undelete",
          "id": "genomics.datasets.undelete",
          "path": "v1/datasets/{datasetId}:undelete",
          "description": "Undeletes a dataset by restoring a dataset which was deleted via this API.\n\nFor the definitions of datasets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nThis operation is only possible for a week after the deletion occurred.",
          "request": {
            "$ref": "UndeleteDatasetRequest"
          }
        },
        "patch": {
          "id": "genomics.datasets.patch",
          "path": "v1/datasets/{datasetId}",
          "description": "Updates a dataset.\n\nFor the definitions of datasets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\nThis method supports patch semantics.",
          "request": {
            "$ref": "Dataset"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "datasetId"
          ],
          "response": {
            "$ref": "Dataset"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "parameters": {
            "datasetId": {
              "description": "The ID of the dataset to be updated.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "updateMask": {
              "description": "An optional mask specifying which fields to update. At this time, the only\nmutable field is name. The only\nacceptable value is \"name\". If unspecified, all mutable fields will be\nupdated.",
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v1/datasets/{datasetId}"
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "datasetId"
          ],
          "parameters": {
            "datasetId": {
              "description": "The ID of the dataset.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics",
            "https://www.googleapis.com/auth/genomics.readonly"
          ],
          "flatPath": "v1/datasets/{datasetId}",
          "id": "genomics.datasets.get",
          "path": "v1/datasets/{datasetId}",
          "description": "Gets a dataset by ID.\n\nFor the definitions of datasets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)"
        },
        "testIamPermissions": {
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ],
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "parameters": {
            "resource": {
              "pattern": "^datasets/[^/]+$",
              "location": "path",
              "description": "REQUIRED: The resource for which policy is being specified. Format is\n`datasets/\u003cdataset ID\u003e`.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/genomics"
          ],
          "flatPath": "v1/datasets/{datasetsId}:testIamPermissions",
          "id": "genomics.datasets.testIamPermissions",
          "path": "v1/{+resource}:testIamPermissions",
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "description": "Returns permissions that a caller has on the specified resource.\nSee \u003ca href=\"/iam/docs/managing-policies#testing_permissions\"\u003eTesting\nPermissions\u003c/a\u003e for more information.\n\nFor the definitions of datasets and other genomics resources, see\n[Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)"
        }
      }
    }
  },
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "bearer_token": {
      "location": "query",
      "description": "OAuth bearer token.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "pp": {
      "location": "query",
      "description": "Pretty-print response.",
      "type": "boolean",
      "default": "true"
    }
  },
  "schemas": {
    "ExternalId": {
      "type": "object",
      "properties": {
        "sourceName": {
          "description": "The name of the source of this data.",
          "type": "string"
        },
        "id": {
          "description": "The id used by the source of this data.",
          "type": "string"
        }
      },
      "id": "ExternalId"
    },
    "SearchVariantSetsRequest": {
      "type": "object",
      "properties": {
        "datasetIds": {
          "description": "Exactly one dataset ID must be provided here. Only variant sets which\nbelong to this dataset will be returned.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pageToken": {
          "description": "The continuation token, which is used to page through large result sets.\nTo get the next page of results, set this parameter to the value of\n`nextPageToken` from the previous response.",
          "type": "string"
        },
        "pageSize": {
          "description": "The maximum number of results to return in a single page. If unspecified,\ndefaults to 1024.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "SearchVariantSetsRequest",
      "description": "The search variant sets request."
    },
    "VariantSetMetadata": {
      "type": "object",
      "properties": {
        "info": {
          "description": "Remaining structured metadata key-value pairs. This must be of the form\nmap\u003cstring, string[]\u003e (string key mapping to a list of string values).",
          "type": "object",
          "additionalProperties": {
            "type": "array",
            "items": {
              "type": "any"
            }
          }
        },
        "type": {
          "description": "The type of data. Possible types include: Integer, Float,\nFlag, Character, and String.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "INTEGER",
            "FLOAT",
            "FLAG",
            "CHARACTER",
            "STRING"
          ]
        },
        "value": {
          "description": "The value field for simple metadata",
          "type": "string"
        },
        "id": {
          "description": "User-provided ID field, not enforced by this API.\nTwo or more pieces of structured metadata with identical\nid and key fields are considered equivalent.",
          "type": "string"
        },
        "number": {
          "description": "The number of values that can be included in a field described by this\nmetadata.",
          "type": "string"
        },
        "key": {
          "description": "The top-level key.",
          "type": "string"
        },
        "description": {
          "description": "A textual description of this metadata.",
          "type": "string"
        }
      },
      "id": "VariantSetMetadata",
      "description": "Metadata describes a single piece of variant call metadata.\nThese data include a top level key and either a single value string (value)\nor a list of key-value pairs (info.)\nValue and info are mutually exclusive."
    },
    "Reference": {
      "properties": {
        "sourceUri": {
          "type": "string",
          "description": "The URI from which the sequence was obtained. Typically specifies a FASTA\nformat file."
        },
        "ncbiTaxonId": {
          "description": "ID from http://www.ncbi.nlm.nih.gov/taxonomy. For example, 9606 for human.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "The name of this reference, for example `22`.",
          "type": "string"
        },
        "md5checksum": {
          "description": "MD5 of the upper-case sequence excluding all whitespace characters (this\nis equivalent to SQ:M5 in SAM). This value is represented in lower case\nhexadecimal format.",
          "type": "string"
        },
        "id": {
          "description": "The server-generated reference ID, unique across all references.",
          "type": "string"
        },
        "length": {
          "description": "The length of this reference's sequence.",
          "format": "int64",
          "type": "string"
        },
        "sourceAccessions": {
          "description": "All known corresponding accession IDs in INSDC (GenBank/ENA/DDBJ) ideally\nwith a version number, for example `GCF_000001405.26`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Reference",
      "description": "A reference is a canonical assembled DNA sequence, intended to act as a\nreference coordinate space for other genomic annotations. A single reference\nmight represent the human chromosome 1 or mitochandrial DNA, for instance. A\nreference belongs to one or more reference sets.\n\nFor more genomics resource definitions, see [Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
      "type": "object"
    },
    "SearchReferenceSetsRequest": {
      "type": "object",
      "properties": {
        "md5checksums": {
          "description": "If present, return reference sets for which the\nmd5checksum matches exactly.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "accessions": {
          "description": "If present, return reference sets for which a prefix of any of\nsourceAccessions\nmatch any of these strings. Accession numbers typically have a main number\nand a version, for example `NC_000001.11`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pageToken": {
          "description": "The continuation token, which is used to page through large result sets.\nTo get the next page of results, set this parameter to the value of\n`nextPageToken` from the previous response.",
          "type": "string"
        },
        "pageSize": {
          "description": "The maximum number of results to return in a single page. If unspecified,\ndefaults to 1024. The maximum value is 4096.",
          "format": "int32",
          "type": "integer"
        },
        "assemblyId": {
          "type": "string",
          "description": "If present, return reference sets for which a substring of their\n`assemblyId` matches this string (case insensitive)."
        }
      },
      "id": "SearchReferenceSetsRequest"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of\nthe policy is limited to a few 10s of KB. An empty policy is a\nvalid policy but certain Cloud Platform services (such as Projects)\nmight reject them.",
          "$ref": "Policy"
        }
      },
      "id": "SetIamPolicyRequest"
    },
    "MergeVariantsRequest": {
      "type": "object",
      "properties": {
        "variants": {
          "description": "The variants to be merged with existing variants.",
          "type": "array",
          "items": {
            "$ref": "Variant"
          }
        },
        "infoMergeConfig": {
          "type": "object",
          "additionalProperties": {
            "enum": [
              "INFO_MERGE_OPERATION_UNSPECIFIED",
              "IGNORE_NEW",
              "MOVE_TO_CALLS"
            ],
            "type": "string"
          },
          "description": "A mapping between info field keys and the InfoMergeOperations to\nbe performed on them."
        },
        "variantSetId": {
          "description": "The destination variant set.",
          "type": "string"
        }
      },
      "id": "MergeVariantsRequest"
    },
    "BatchCreateAnnotationsRequest": {
      "id": "BatchCreateAnnotationsRequest",
      "type": "object",
      "properties": {
        "annotations": {
          "type": "array",
          "items": {
            "$ref": "Annotation"
          },
          "description": "The annotations to be created. At most 4096 can be specified in a single\nrequest."
        },
        "requestId": {
          "description": "A unique request ID which enables the server to detect duplicated requests.\nIf provided, duplicated requests will result in the same response; if not\nprovided, duplicated requests may result in duplicated data. For a given\nannotation set, callers should not reuse `request_id`s when writing\ndifferent batches of annotations - behavior in this case is undefined.\nA common approach is to use a UUID. For batch jobs where worker crashes are\na possibility, consider using some unique variant of a worker or run ID.",
          "type": "string"
        }
      }
    },
    "Read": {
      "description": "A read alignment describes a linear alignment of a string of DNA to a\nreference sequence, in addition to metadata\nabout the fragment (the molecule of DNA sequenced) and the read (the bases\nwhich were read by the sequencer). A read is equivalent to a line in a SAM\nfile. A read belongs to exactly one read group and exactly one\nread group set.\n\nFor more genomics resource definitions, see [Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)\n\n### Reverse-stranded reads\n\nMapped reads (reads having a non-null `alignment`) can be aligned to either\nthe forward or the reverse strand of their associated reference. Strandedness\nof a mapped read is encoded by `alignment.position.reverseStrand`.\n\nIf we consider the reference to be a forward-stranded coordinate space of\n`[0, reference.length)` with `0` as the left-most position and\n`reference.length` as the right-most position, reads are always aligned left\nto right. That is, `alignment.position.position` always refers to the\nleft-most reference coordinate and `alignment.cigar` describes the alignment\nof this read to the reference from left to right. All per-base fields such as\n`alignedSequence` and `alignedQuality` share this same left-to-right\norientation; this is true of reads which are aligned to either strand. For\nreverse-stranded reads, this means that `alignedSequence` is the reverse\ncomplement of the bases that were originally reported by the sequencing\nmachine.\n\n### Generating a reference-aligned sequence string\n\nWhen interacting with mapped reads, it's often useful to produce a string\nrepresenting the local alignment of the read to reference. The following\npseudocode demonstrates one way of doing this:\n\n    out = \"\"\n    offset = 0\n    for c in read.alignment.cigar {\n      switch c.operation {\n      case \"ALIGNMENT_MATCH\", \"SEQUENCE_MATCH\", \"SEQUENCE_MISMATCH\":\n        out += read.alignedSequence[offset:offset+c.operationLength]\n        offset += c.operationLength\n        break\n      case \"CLIP_SOFT\", \"INSERT\":\n        offset += c.operationLength\n        break\n      case \"PAD\":\n        out += repeat(\"*\", c.operationLength)\n        break\n      case \"DELETE\":\n        out += repeat(\"-\", c.operationLength)\n        break\n      case \"SKIP\":\n        out += repeat(\" \", c.operationLength)\n        break\n      case \"CLIP_HARD\":\n        break\n      }\n    }\n    return out\n\n### Converting to SAM's CIGAR string\n\nThe following pseudocode generates a SAM CIGAR string from the\n`cigar` field. Note that this is a lossy conversion\n(`cigar.referenceSequence` is lost).\n\n    cigarMap = {\n      \"ALIGNMENT_MATCH\": \"M\",\n      \"INSERT\": \"I\",\n      \"DELETE\": \"D\",\n      \"SKIP\": \"N\",\n      \"CLIP_SOFT\": \"S\",\n      \"CLIP_HARD\": \"H\",\n      \"PAD\": \"P\",\n      \"SEQUENCE_MATCH\": \"=\",\n      \"SEQUENCE_MISMATCH\": \"X\",\n    }\n    cigarStr = \"\"\n    for c in read.alignment.cigar {\n      cigarStr += c.operationLength + cigarMap[c.operation]\n    }\n    return cigarStr",
      "type": "object",
      "properties": {
        "fragmentName": {
          "description": "The fragment name. Equivalent to QNAME (query template name) in SAM.",
          "type": "string"
        },
        "readGroupSetId": {
          "description": "The ID of the read group set this read belongs to. A read belongs to\nexactly one read group set.",
          "type": "string"
        },
        "duplicateFragment": {
          "description": "The fragment is a PCR or optical duplicate (SAM flag 0x400).",
          "type": "boolean"
        },
        "readNumber": {
          "description": "The read number in sequencing. 0-based and less than numberReads. This\nfield replaces SAM flag 0x40 and 0x80.",
          "format": "int32",
          "type": "integer"
        },
        "readGroupId": {
          "type": "string",
          "description": "The ID of the read group this read belongs to. A read belongs to exactly\none read group. This is a server-generated ID which is distinct from SAM's\nRG tag (for that value, see\nReadGroup.name)."
        },
        "alignedSequence": {
          "description": "The bases of the read sequence contained in this alignment record,\n**without CIGAR operations applied** (equivalent to SEQ in SAM).\n`alignedSequence` and `alignedQuality` may be\nshorter than the full read sequence and quality. This will occur if the\nalignment is part of a chimeric alignment, or if the read was trimmed. When\nthis occurs, the CIGAR for this read will begin/end with a hard clip\noperator that will indicate the length of the excised sequence.",
          "type": "string"
        },
        "nextMatePosition": {
          "$ref": "Position",
          "description": "The mapping of the primary alignment of the\n`(readNumber+1)%numberReads` read in the fragment. It replaces\nmate position and mate strand in SAM."
        },
        "info": {
          "type": "object",
          "additionalProperties": {
            "type": "array",
            "items": {
              "type": "any"
            }
          },
          "description": "A map of additional read alignment information. This must be of the form\nmap\u003cstring, string[]\u003e (string key mapping to a list of string values)."
        },
        "properPlacement": {
          "description": "The orientation and the distance between reads from the fragment are\nconsistent with the sequencing protocol (SAM flag 0x2).",
          "type": "boolean"
        },
        "supplementaryAlignment": {
          "description": "Whether this alignment is supplementary. Equivalent to SAM flag 0x800.\nSupplementary alignments are used in the representation of a chimeric\nalignment. In a chimeric alignment, a read is split into multiple\nlinear alignments that map to different reference contigs. The first\nlinear alignment in the read will be designated as the representative\nalignment; the remaining linear alignments will be designated as\nsupplementary alignments. These alignments may have different mapping\nquality scores. In each linear alignment in a chimeric alignment, the read\nwill be hard clipped. The `alignedSequence` and\n`alignedQuality` fields in the alignment record will only\nrepresent the bases for its respective linear alignment.",
          "type": "boolean"
        },
        "fragmentLength": {
          "description": "The observed length of the fragment, equivalent to TLEN in SAM.",
          "format": "int32",
          "type": "integer"
        },
        "failedVendorQualityChecks": {
          "description": "Whether this read did not pass filters, such as platform or vendor quality\ncontrols (SAM flag 0x200).",
          "type": "boolean"
        },
        "alignedQuality": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "The quality of the read sequence contained in this alignment record\n(equivalent to QUAL in SAM).\n`alignedSequence` and `alignedQuality` may be shorter than the full read\nsequence and quality. This will occur if the alignment is part of a\nchimeric alignment, or if the read was trimmed. When this occurs, the CIGAR\nfor this read will begin/end with a hard clip operator that will indicate\nthe length of the excised sequence."
        },
        "alignment": {
          "$ref": "LinearAlignment",
          "description": "The linear alignment for this alignment record. This field is null for\nunmapped reads."
        },
        "id": {
          "description": "The server-generated read ID, unique across all reads. This is different\nfrom the `fragmentName`.",
          "type": "string"
        },
        "numberReads": {
          "description": "The number of reads in the fragment (extension to SAM flag 0x1).",
          "format": "int32",
          "type": "integer"
        },
        "secondaryAlignment": {
          "type": "boolean",
          "description": "Whether this alignment is secondary. Equivalent to SAM flag 0x100.\nA secondary alignment represents an alternative to the primary alignment\nfor this read. Aligners may return secondary alignments if a read can map\nambiguously to multiple coordinates in the genome. By convention, each read\nhas one and only one alignment where both `secondaryAlignment`\nand `supplementaryAlignment` are false."
        }
      },
      "id": "Read"
    },
    "ReferenceSet": {
      "description": "A reference set is a set of references which typically comprise a reference\nassembly for a species, such as `GRCh38` which is representative\nof the human genome. A reference set defines a common coordinate space for\ncomparing reference-aligned experimental data. A reference set contains 1 or\nmore references.\n\nFor more genomics resource definitions, see [Fundamentals of Google\nGenomics](https://cloud.google.com/genomics/fundamentals-of-google-genomics)",
      "type": "object",
      "properties": {
        "sourceAccessions": {
          "description": "All known corresponding accession IDs in INSDC (GenBank/ENA/DDBJ) ideally\nwith a version number, for example `NC_000001.11`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "Free text description of this reference set.",
          "type": "string"
        },
        "sourceUri": {
          "description": "The URI from which the references were obtained.",
          "type": "string"
        },
        "ncbiTaxonId": {
          "description": "ID from http://www.ncbi.nlm.nih.gov/taxonomy (for example, 9606 for human)\nindicating the species which this reference set is intended to model. Note\nthat contained references may specify a different `ncbiTaxonId`, as\nassemblies may contain reference sequences which do not belong to the\nmodeled species, for example EBV in a human reference genome.",
          "format": "int32",
          "type": "integer"
        },
        "referenceIds": {
          "description": "The IDs of the reference objects that are part of this set.\n`Reference.md5checksum` must be unique within this set.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "md5checksum": {
          "description": "Order-independent MD5 checksum which identifies this reference set. The\nchecksum is computed by sorting all lower case hexidecimal string\n`reference.md5checksum` (for all reference in this set) in\nascending lexicographic order, concatenating, and taking the MD5 of that\nvalue. The resulting value is represented in lower case hexadecimal format.",
          "type": "string"
        },
        "assemblyId": {
          "description": "Public id of this reference set, such as `GRCh37`.",
          "type": "string"
        },
        "id": {
          "description": "The server-generated reference set ID, unique across all reference sets.",
          "type": "string"
        }
      },
      "id": "ReferenceSet"
    },
    "CigarUnit": {
      "description": "A single CIGAR operation.",
      "type": "object",
      "properties": {
        "referenceSequence": {
          "description": "`referenceSequence` is only used at mismatches\n(`SEQUENCE_MISMATCH`) and deletions (`DELETE`).\nFilling this field replaces SAM's MD tag. If the relevant information is\nnot available, this field is unset.",
          "type": "string"
        },
        "operationLength": {
          "description": "The number of genomic bases that the operation runs for. Required.",
          "format": "int64",
          "type": "string"
        },
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "",
            "An alignment match indicates that a sequence can be aligned to the\nreference without evidence of an INDEL. Unlike the\n`SEQUENCE_MATCH` and `SEQUENCE_MISMATCH` operators,\nthe `ALIGNMENT_MATCH` operator does not indicate whether the\nreference and read sequences are an exact match. This operator is\nequivalent to SAM's `M`.",
            "The insert operator indicates that the read contains evidence of bases\nbeing inserted into the reference. This operator is equivalent to SAM's\n`I`.",
            "The delete operator indicates that the read contains evidence of bases\nbeing deleted from the reference. This operator is equivalent to SAM's\n`D`.",
            "The skip operator indicates that this read skips a long segment of the\nreference, but the bases have not been deleted. This operator is commonly\nused when working with RNA-seq data, where reads may skip long segments\nof the reference between exons. This operator is equivalent to SAM's\n`N`.",
            "The soft clip operator indicates that bases at the start/end of a read\nhave not been considered during alignment. This may occur if the majority\nof a read maps, except for low quality bases at the start/end of a read.\nThis operator is equivalent to SAM's `S`. Bases that are soft\nclipped will still be stored in the read.",
            "The hard clip operator indicates that bases at the start/end of a read\nhave been omitted from this alignment. This may occur if this linear\nalignment is part of a chimeric alignment, or if the read has been\ntrimmed (for example, during error correction or to trim poly-A tails for\nRNA-seq). This operator is equivalent to SAM's `H`.",
            "The pad operator indicates that there is padding in an alignment. This\noperator is equivalent to SAM's `P`.",
            "This operator indicates that this portion of the aligned sequence exactly\nmatches the reference. This operator is equivalent to SAM's `=`.",
            "This operator indicates that this portion of the aligned sequence is an\nalignment match to the reference, but a sequence mismatch. This can\nindicate a SNP or a read error. This operator is equivalent to SAM's\n`X`."
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "ALIGNMENT_MATCH",
            "INSERT",
            "DELETE",
            "SKIP",
            "CLIP_SOFT",
            "CLIP_HARD",
            "PAD",
            "SEQUENCE_MATCH",
            "SEQUENCE_MISMATCH"
          ]
        }
      },
      "id": "CigarUnit"
    },
    "AnnotationSet": {
      "description": "An annotation set is a logical grouping of annotations that share consistent\ntype information and provenance. Examples of annotation sets include 'all\ngenes from refseq', and 'all variant annotations from ClinVar'.",
      "type": "object",
      "properties": {
        "datasetId": {
          "description": "The dataset to which this annotation set belongs.",
          "type": "string"
        },
        "sourceUri": {
          "description": "The source URI describing the file from which this annotation set was\ngenerated, if any.",
          "type": "string"
        },
        "name": {
          "description": "The display name for this annotation set.",
          "type": "string"
        },
        "referenceSetId": {
          "description": "The ID of the reference set that defines the coordinate space for this\nset's annotations.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "A `GENERIC` annotation type should be used when no other annotation\ntype will suffice. This represents an untyped annotation of the reference\ngenome.",
            "A `VARIANT` annotation type.",
            "A `GENE` annotation type represents the existence of a gene at the\nassociated reference coordinates. The start coordinate is typically the\ngene's transcription start site and the end is typically the end of the\ngene's last exon.",
            "A `TRANSCRIPT` annotation type represents the assertion that a\nparticular region of the reference genome may be transcribed as RNA."
          ],
          "enum": [
[...]
