{
  "servicePath": "",
  "description": "The Google Data Loss Prevention API provides methods for detection of privacy-sensitive fragments in text, images, and Google Cloud Platform storage repositories.",
  "kind": "discovery#restDescription",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/dlp/docs/",
  "id": "dlp:v2beta2",
  "revision": "20180109",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "GooglePrivacyDlpV2beta2CharsToIgnore": {
      "description": "Characters to skip when doing deidentification of a value. These will be left\nalone and skipped.",
      "type": "object",
      "properties": {
        "commonCharactersToIgnore": {
          "enum": [
            "COMMON_CHARS_TO_IGNORE_UNSPECIFIED",
            "NUMERIC",
            "ALPHA_UPPER_CASE",
            "ALPHA_LOWER_CASE",
            "PUNCTUATION",
            "WHITESPACE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "0-9",
            "A-Z",
            "a-z",
            "US Punctuation, one of !\"#$%&'()*+,-./:;\u003c=\u003e?@[\\]^_`{|}~",
            "Whitespace character, one of [ \\t\\n\\x0B\\f\\r]"
          ]
        },
        "charactersToSkip": {
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta2CharsToIgnore"
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2RedactConfig": {
      "description": "Redact a given value. For example, if used with an `InfoTypeTransformation`\ntransforming PHONE_NUMBER, and input 'My phone number is 206-555-0123', the\noutput would be 'My phone number is '.",
      "type": "object",
      "properties": {},
      "id": "GooglePrivacyDlpV2beta2RedactConfig"
    },
    "GooglePrivacyDlpV2beta2FieldId": {
      "properties": {
        "name": {
          "description": "Name describing the field.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta2FieldId",
      "description": "General identifier of a data field in a storage service.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2AnalyzeDataSourceRiskRequest": {
      "properties": {
        "jobConfig": {
          "$ref": "GooglePrivacyDlpV2beta2RiskAnalysisJobConfig",
          "description": "Configuration for this risk analysis job."
        }
      },
      "id": "GooglePrivacyDlpV2beta2AnalyzeDataSourceRiskRequest",
      "description": "Request for creating a risk analysis DlpJob.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2DeidentifyContentRequest": {
      "description": "Request to de-identify a list of items.",
      "type": "object",
      "properties": {
        "item": {
          "$ref": "GooglePrivacyDlpV2beta2ContentItem",
          "description": "The item to de-identify. Will be treated as text."
        },
        "deidentifyTemplateName": {
          "description": "Optional template to use. Any configuration directly specified in\ndeidentify_config will override those set in the template. Singular fields\nthat are set in this request will replace their corresponding fields in the\ntemplate. Repeated fields are appended. Singular sub-messages and groups\nare recursively merged.",
          "type": "string"
        },
        "deidentifyConfig": {
          "$ref": "GooglePrivacyDlpV2beta2DeidentifyConfig",
          "description": "Configuration for the de-identification of the content item.\nItems specified here will override the template referenced by the\ndeidentify_template_name argument."
        },
        "inspectConfig": {
          "description": "Configuration for the inspector.\nItems specified here will override the template referenced by the\ninspect_template_name argument.",
          "$ref": "GooglePrivacyDlpV2beta2InspectConfig"
        },
        "inspectTemplateName": {
          "description": "Optional template to use. Any configuration directly specified in\ninspect_config will override those set in the template. Singular fields\nthat are set in this request will replace their corresponding fields in the\ntemplate. Repeated fields are appended. Singular sub-messages and groups\nare recursively merged.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta2DeidentifyContentRequest"
    },
    "GooglePrivacyDlpV2beta1KMapEstimationHistogramBucket": {
      "properties": {
        "minAnonymity": {
          "description": "Always positive.",
          "format": "int64",
          "type": "string"
        },
        "maxAnonymity": {
          "description": "Always greater than or equal to min_anonymity.",
          "format": "int64",
          "type": "string"
        },
        "bucketSize": {
          "description": "Number of records within these anonymity bounds.",
          "format": "int64",
          "type": "string"
        },
        "bucketValues": {
          "description": "Sample of quasi-identifier tuple values in this bucket. The total\nnumber of classes returned per bucket is capped at 20.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1KMapEstimationQuasiIdValues"
          }
        }
      },
      "id": "GooglePrivacyDlpV2beta1KMapEstimationHistogramBucket",
      "description": "A KMapEstimationHistogramBucket message with the following values:\n  min_anonymity: 3\n  max_anonymity: 5\n  frequency: 42\nmeans that there are 42 records whose quasi-identifier values correspond\nto 3, 4 or 5 people in the overlying population. An important particular\ncase is when min_anonymity = max_anonymity = 1: the frequency field then\ncorresponds to the number of uniquely identifiable records.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2InspectConfig": {
      "properties": {
        "customInfoTypes": {
          "description": "Custom infoTypes provided by the user.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2CustomInfoType"
          }
        },
        "limits": {
          "$ref": "GooglePrivacyDlpV2beta2FindingLimits"
        },
        "excludeInfoTypes": {
          "description": "When true, excludes type information of the findings.",
          "type": "boolean"
        },
        "minLikelihood": {
          "enumDescriptions": [
            "Default value; information with all likelihoods is included.",
            "Few matching elements.",
            "",
            "Some matching elements.",
            "",
            "Many matching elements."
          ],
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Only returns findings equal or above this threshold. The default is\nPOSSIBLE.",
          "type": "string"
        },
        "infoTypes": {
          "description": "Restricts what info_types to look for. The values must correspond to\nInfoType values returned by ListInfoTypes or found in documentation.\nEmpty info_types runs all enabled detectors.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2InfoType"
          }
        },
        "includeQuote": {
          "description": "When true, a contextual quote from the data that triggered a finding is\nincluded in the response; see Finding.quote.",
          "type": "boolean"
        }
      },
      "id": "GooglePrivacyDlpV2beta2InspectConfig",
      "description": "Configuration description of the scanning process.\nWhen used with redactContent only info_types and min_likelihood are currently\nused.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1CloudStorageOptions": {
      "properties": {
        "fileSet": {
          "$ref": "GooglePrivacyDlpV2beta1FileSet"
        }
      },
      "id": "GooglePrivacyDlpV2beta1CloudStorageOptions",
      "description": "Options defining a file or a set of files (path ending with *) within\na Google Cloud Storage bucket.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2QuasiIdField": {
      "description": "A quasi-identifier column has a custom_tag, used to know which column\nin the data corresponds to which column in the statistical model.",
      "type": "object",
      "properties": {
        "field": {
          "$ref": "GooglePrivacyDlpV2beta2FieldId"
        },
        "customTag": {
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta2QuasiIdField"
    },
    "GooglePrivacyDlpV2beta2AnalyzeDataSourceRiskDetails": {
      "properties": {
        "lDiversityResult": {
          "$ref": "GooglePrivacyDlpV2beta2LDiversityResult"
        },
        "requestedSourceTable": {
          "$ref": "GooglePrivacyDlpV2beta2BigQueryTable",
          "description": "Input dataset to compute metrics over."
        },
        "requestedPrivacyMetric": {
          "$ref": "GooglePrivacyDlpV2beta2PrivacyMetric",
          "description": "Privacy metric to compute."
        },
        "categoricalStatsResult": {
          "$ref": "GooglePrivacyDlpV2beta2CategoricalStatsResult"
        },
        "numericalStatsResult": {
          "$ref": "GooglePrivacyDlpV2beta2NumericalStatsResult"
        },
        "kAnonymityResult": {
          "$ref": "GooglePrivacyDlpV2beta2KAnonymityResult"
        },
        "kMapEstimationResult": {
          "$ref": "GooglePrivacyDlpV2beta2KMapEstimationResult"
        }
      },
      "id": "GooglePrivacyDlpV2beta2AnalyzeDataSourceRiskDetails",
      "description": "Result of a risk analysis operation request.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2BigQueryOptions": {
      "description": "Options defining BigQuery table and row identifiers.",
      "type": "object",
      "properties": {
        "tableReference": {
          "description": "Complete BigQuery table reference.",
          "$ref": "GooglePrivacyDlpV2beta2BigQueryTable"
        },
        "identifyingFields": {
          "description": "References to fields uniquely identifying rows within the table.\nNested fields in the format, like `person.birthdate.year`, are allowed.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2FieldId"
          }
        }
      },
      "id": "GooglePrivacyDlpV2beta2BigQueryOptions"
    },
    "GooglePrivacyDlpV2beta1CloudStoragePath": {
      "description": "A location in Cloud Storage.",
      "type": "object",
      "properties": {
        "path": {
          "description": "The url, in the format of `gs://bucket/\u003cpath\u003e`.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta1CloudStoragePath"
    },
    "GooglePrivacyDlpV2beta2TransformationOverview": {
      "properties": {
        "transformedBytes": {
          "description": "Total size in bytes that were transformed in some way.",
          "format": "int64",
          "type": "string"
        },
        "transformationSummaries": {
          "description": "Transformations applied to the dataset.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2TransformationSummary"
          }
        }
      },
      "id": "GooglePrivacyDlpV2beta2TransformationOverview",
      "description": "Overview of the modifications that occurred.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1InspectOperationResult": {
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should have the format of `inspect/results/{id}`.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta1InspectOperationResult",
      "description": "The operational data.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1KAnonymityHistogramBucket": {
      "description": "Histogram bucket of equivalence class sizes in the table.",
      "type": "object",
      "properties": {
        "bucketValues": {
          "description": "Sample of equivalence classes in this bucket. The total number of\nclasses returned per bucket is capped at 20.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1KAnonymityEquivalenceClass"
          }
        },
        "equivalenceClassSizeLowerBound": {
          "description": "Lower bound on the size of the equivalence classes in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "equivalenceClassSizeUpperBound": {
          "description": "Upper bound on the size of the equivalence classes in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketSize": {
          "description": "Total number of records in this bucket.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta1KAnonymityHistogramBucket"
    },
    "GooglePrivacyDlpV2beta2ListInspectTemplatesResponse": {
      "description": "Response message for ListInspectTemplates.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If the next page is available then the next page token to be used\nin following ListInspectTemplates request.",
          "type": "string"
        },
        "inspectTemplates": {
          "description": "List of inspectTemplates, up to page_size in ListInspectTemplatesRequest.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2InspectTemplate"
          }
        }
      },
      "id": "GooglePrivacyDlpV2beta2ListInspectTemplatesResponse"
    },
    "GooglePrivacyDlpV2beta1CategoricalStatsResult": {
      "properties": {
        "valueFrequencyHistogramBuckets": {
          "description": "Histogram of value frequencies in the column.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1CategoricalStatsHistogramBucket"
          }
        }
      },
      "id": "GooglePrivacyDlpV2beta1CategoricalStatsResult",
      "description": "Result of the categorical stats computation.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1LDiversityResult": {
      "description": "Result of the l-diversity computation.",
      "type": "object",
      "properties": {
        "sensitiveValueFrequencyHistogramBuckets": {
          "description": "Histogram of l-diversity equivalence class sensitive value frequencies.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1LDiversityHistogramBucket"
          }
        }
      },
      "id": "GooglePrivacyDlpV2beta1LDiversityResult"
    },
    "GoogleTypeTimeOfDay": {
      "properties": {
        "hours": {
          "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose\nto allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may\nallow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "minutes": {
          "description": "Minutes of hour of day. Must be from 0 to 59.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleTypeTimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant\nor are specified elsewhere. An API may choose to allow leap seconds. Related\ntypes are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2LDiversityEquivalenceClass": {
      "description": "The set of columns' values that share the same ldiversity value.",
      "type": "object",
      "properties": {
        "equivalenceClassSize": {
          "description": "Size of the k-anonymity equivalence class.",
          "format": "int64",
          "type": "string"
        },
        "quasiIdsValues": {
          "description": "Quasi-identifier values defining the k-anonymity equivalence\nclass. The order is always the same as the original request.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2Value"
          }
        },
        "numDistinctSensitiveValues": {
          "description": "Number of distinct sensitive values in this equivalence class.",
          "format": "int64",
          "type": "string"
        },
        "topSensitiveValues": {
          "description": "Estimated frequencies of top sensitive values.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2ValueFrequency"
          }
        }
      },
      "id": "GooglePrivacyDlpV2beta2LDiversityEquivalenceClass"
    },
    "GooglePrivacyDlpV2beta2CategoricalStatsConfig": {
      "description": "Compute numerical stats over an individual column, including\nnumber of distinct values and value count distribution.",
      "type": "object",
      "properties": {
        "field": {
          "$ref": "GooglePrivacyDlpV2beta2FieldId",
          "description": "Field to compute categorical stats on. All column types are\nsupported except for arrays and structs. However, it may be more\ninformative to use NumericalStats when the field type is supported,\ndepending on the data."
        }
      },
      "id": "GooglePrivacyDlpV2beta2CategoricalStatsConfig"
    },
    "GooglePrivacyDlpV2beta1LDiversityConfig": {
      "properties": {
        "sensitiveAttribute": {
          "$ref": "GooglePrivacyDlpV2beta1FieldId",
          "description": "Sensitive field for computing the l-value."
        },
        "quasiIds": {
          "description": "Set of quasi-identifiers indicating how equivalence classes are\ndefined for the l-diversity computation. When multiple fields are\nspecified, they are considered a single composite key.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1FieldId"
          }
        }
      },
      "id": "GooglePrivacyDlpV2beta1LDiversityConfig",
      "description": "l-diversity metric, used for analysis of reidentification risk.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2ValueFrequency": {
      "description": "A value of a field, including its frequency.",
      "type": "object",
      "properties": {
        "value": {
          "description": "A value contained in the field in question.",
          "$ref": "GooglePrivacyDlpV2beta2Value"
        },
        "count": {
          "description": "How many times the value is contained in the field.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta2ValueFrequency"
    },
    "GooglePrivacyDlpV2beta2ReplaceValueConfig": {
      "description": "Replace each input value with a given `Value`.",
      "type": "object",
      "properties": {
        "newValue": {
          "$ref": "GooglePrivacyDlpV2beta2Value",
          "description": "Value to replace it with."
        }
      },
      "id": "GooglePrivacyDlpV2beta2ReplaceValueConfig"
    },
    "GooglePrivacyDlpV2beta2AuxiliaryTable": {
      "properties": {
        "relativeFrequency": {
          "description": "The relative frequency column must contain a floating-point number\nbetween 0 and 1 (inclusive). Null values are assumed to be zero.\n[required]",
          "$ref": "GooglePrivacyDlpV2beta2FieldId"
        },
        "table": {
          "description": "Auxiliary table location. [required]",
          "$ref": "GooglePrivacyDlpV2beta2BigQueryTable"
        },
        "quasiIds": {
          "description": "Quasi-identifier columns. [required]",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2QuasiIdField"
          }
        }
      },
      "id": "GooglePrivacyDlpV2beta2AuxiliaryTable",
      "description": "An auxiliary table contains statistical information on the relative\nfrequency of different quasi-identifiers values. It has one or several\nquasi-identifiers columns, and one column that indicates the relative\nfrequency of each quasi-identifier tuple.\nIf a tuple is present in the data but not in the auxiliary table, the\ncorresponding relative frequency is assumed to be zero (and thus, the\ntuple is highly reidentifiable).",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1StorageConfig": {
      "description": "Shared message indicating Cloud storage type.",
      "type": "object",
      "properties": {
        "cloudStorageOptions": {
          "description": "Google Cloud Storage options specification.",
          "$ref": "GooglePrivacyDlpV2beta1CloudStorageOptions"
        },
        "datastoreOptions": {
          "$ref": "GooglePrivacyDlpV2beta1DatastoreOptions",
          "description": "Google Cloud Datastore options specification."
        },
        "bigQueryOptions": {
          "description": "BigQuery options specification.",
          "$ref": "GooglePrivacyDlpV2beta1BigQueryOptions"
        }
      },
      "id": "GooglePrivacyDlpV2beta1StorageConfig"
    },
    "GooglePrivacyDlpV2beta1BigQueryOptions": {
      "description": "Options defining BigQuery table and row identifiers.",
      "type": "object",
      "properties": {
        "identifyingFields": {
          "description": "References to fields uniquely identifying rows within the table.\nNested fields in the format, like `person.birthdate.year`, are allowed.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1FieldId"
          }
        },
        "tableReference": {
          "$ref": "GooglePrivacyDlpV2beta1BigQueryTable",
          "description": "Complete BigQuery table reference."
        }
      },
      "id": "GooglePrivacyDlpV2beta1BigQueryOptions"
    },
    "GooglePrivacyDlpV2beta1PrivacyMetric": {
      "description": "Privacy metric to compute for reidentification risk analysis.",
      "type": "object",
      "properties": {
        "numericalStatsConfig": {
          "$ref": "GooglePrivacyDlpV2beta1NumericalStatsConfig"
        },
        "kAnonymityConfig": {
          "$ref": "GooglePrivacyDlpV2beta1KAnonymityConfig"
        },
        "categoricalStatsConfig": {
          "$ref": "GooglePrivacyDlpV2beta1CategoricalStatsConfig"
        },
        "kMapEstimationConfig": {
          "$ref": "GooglePrivacyDlpV2beta1KMapEstimationConfig"
        },
        "lDiversityConfig": {
          "$ref": "GooglePrivacyDlpV2beta1LDiversityConfig"
        }
      },
      "id": "GooglePrivacyDlpV2beta1PrivacyMetric"
    },
    "GooglePrivacyDlpV2beta2Location": {
      "properties": {
        "tableLocation": {
          "description": "The pointer to the row of the table that contained the finding.\nProvided when the finding's containing element is a cell of a table.",
          "$ref": "GooglePrivacyDlpV2beta2TableLocation"
        },
        "codepointRange": {
          "description": "Unicode character offsets delimiting the finding.\nThese are relative to the finding's containing element.\nProvided when the content is text.",
          "$ref": "GooglePrivacyDlpV2beta2Range"
        },
        "fieldId": {
          "$ref": "GooglePrivacyDlpV2beta2FieldId",
          "description": "The pointer to the property or cell that contained the finding.\nProvided when the finding's containing element is a cell in a table\nor a property of storage object."
        },
        "imageBoxes": {
          "description": "The area within the image that contained the finding.\nProvided when the content is an image.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2ImageLocation"
          }
        },
        "byteRange": {
          "$ref": "GooglePrivacyDlpV2beta2Range",
          "description": "Zero-based byte offsets delimiting the finding.\nThese are relative to the finding's containing element.\nNote that when the content is not textual, this references\nthe UTF-8 encoded textual representation of the content.\nOmitted if content is an image."
        },
        "recordKey": {
          "$ref": "GooglePrivacyDlpV2beta2RecordKey",
          "description": "The pointer to the record in storage that contained the field the\nfinding was found in.\nProvided when the finding's containing element is a property\nof a storage object."
        }
      },
      "id": "GooglePrivacyDlpV2beta2Location",
      "description": "Specifies the location of the finding.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2ReidentifyContentResponse": {
      "properties": {
        "overview": {
          "$ref": "GooglePrivacyDlpV2beta2TransformationOverview",
          "description": "An overview of the changes that were made to the `item`."
        },
        "item": {
          "$ref": "GooglePrivacyDlpV2beta2ContentItem",
          "description": "The re-identified item."
        }
      },
      "id": "GooglePrivacyDlpV2beta2ReidentifyContentResponse",
      "description": "Results of re-identifying a item.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2TransientCryptoKey": {
      "description": "Use this to have a random data crypto key generated.\nIt will be discarded after the request finishes.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the key. [required]\nThis is an arbitrary string used to differentiate different keys.\nA unique key is generated per name: two separate `TransientCryptoKey`\nprotos share the same generated key if their names are the same.\nWhen the data crypto key is generated, this name is not used in any way\n(repeating the api call will result in a different key being generated).",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta2TransientCryptoKey"
    },
    "GooglePrivacyDlpV2beta1LDiversityEquivalenceClass": {
      "description": "The set of columns' values that share the same l-diversity value.",
      "type": "object",
      "properties": {
        "quasiIdsValues": {
          "description": "Quasi-identifier values defining the k-anonymity equivalence\nclass. The order is always the same as the original request.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1Value"
          }
        },
        "numDistinctSensitiveValues": {
          "description": "Number of distinct sensitive values in this equivalence class.",
          "format": "int64",
          "type": "string"
        },
        "topSensitiveValues": {
          "description": "Estimated frequencies of top sensitive values.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1ValueFrequency"
          }
        },
        "equivalenceClassSize": {
          "description": "Size of the k-anonymity equivalence class.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta1LDiversityEquivalenceClass"
    },
    "GooglePrivacyDlpV2beta1NumericalStatsConfig": {
      "properties": {
        "field": {
          "description": "Field to compute numerical stats on. Supported types are\ninteger, float, date, datetime, timestamp, time.",
          "$ref": "GooglePrivacyDlpV2beta1FieldId"
        }
      },
      "id": "GooglePrivacyDlpV2beta1NumericalStatsConfig",
      "description": "Compute numerical stats over an individual column, including\nmin, max, and quantiles.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2InfoTypeTransformation": {
      "properties": {
        "primitiveTransformation": {
          "$ref": "GooglePrivacyDlpV2beta2PrimitiveTransformation",
          "description": "Primitive transformation to apply to the infoType. [required]"
        },
        "infoTypes": {
          "description": "InfoTypes to apply the transformation to. Empty list will match all\navailable infoTypes for this transformation.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2InfoType"
          }
        }
      },
      "id": "GooglePrivacyDlpV2beta2InfoTypeTransformation",
      "description": "A transformation to apply to text that is identified as a specific\ninfo_type.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2CloudStorageOptions": {
      "description": "Options defining a file or a set of files (path ending with *) within\na Google Cloud Storage bucket.",
      "type": "object",
      "properties": {
        "fileSet": {
          "$ref": "GooglePrivacyDlpV2beta2FileSet"
        }
      },
      "id": "GooglePrivacyDlpV2beta2CloudStorageOptions"
    },
    "GooglePrivacyDlpV2beta2Condition": {
      "properties": {
        "field": {
          "description": "Field within the record this condition is evaluated against. [required]",
          "$ref": "GooglePrivacyDlpV2beta2FieldId"
        },
        "operator": {
          "enumDescriptions": [
            "",
            "Equal.",
            "Not equal to.",
            "Greater than.",
            "Less than.",
            "Greater than or equals.",
            "Less than or equals.",
            "Exists"
          ],
          "enum": [
            "RELATIONAL_OPERATOR_UNSPECIFIED",
            "EQUAL_TO",
            "NOT_EQUAL_TO",
            "GREATER_THAN",
            "LESS_THAN",
            "GREATER_THAN_OR_EQUALS",
            "LESS_THAN_OR_EQUALS",
            "EXISTS"
          ],
          "description": "Operator used to compare the field or infoType to the value. [required]",
          "type": "string"
        },
        "value": {
          "description": "Value to compare against. [Required, except for `EXISTS` tests.]",
          "$ref": "GooglePrivacyDlpV2beta2Value"
        }
      },
      "id": "GooglePrivacyDlpV2beta2Condition",
      "description": "The field type of `value` and `field` do not need to match to be\nconsidered equal, but not all comparisons are possible.\n\nA `value` of type:\n\n- `string` can be compared against all other types\n- `boolean` can only be compared against other booleans\n- `integer` can be compared against doubles or a string if the string value\ncan be parsed as an integer.\n- `double` can be compared against integers or a string if the string can\nbe parsed as a double.\n- `Timestamp` can be compared against strings in RFC 3339 date string\nformat.\n- `TimeOfDay` can be compared against timestamps and strings in the format\nof 'HH:mm:ss'.\n\nIf we fail to compare do to type mismatch, a warning will be given and\nthe condition will evaluate to false.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2TableLocation": {
      "properties": {
        "rowIndex": {
          "description": "The zero-based index of the row where the finding is located.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta2TableLocation",
      "description": "Location of a finding within a table.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2KMapEstimationResult": {
      "properties": {
        "kMapEstimationHistogram": {
          "description": "The intervals [min_anonymity, max_anonymity] do not overlap. If a value\ndoesn't correspond to any such interval, the associated frequency is\nzero. For example, the following records:\n  {min_anonymity: 1, max_anonymity: 1, frequency: 17}\n  {min_anonymity: 2, max_anonymity: 3, frequency: 42}\n  {min_anonymity: 5, max_anonymity: 10, frequency: 99}\nmean that there are no record with an estimated anonymity of 4, 5, or\nlarger than 10.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2KMapEstimationHistogramBucket"
          }
        }
      },
      "id": "GooglePrivacyDlpV2beta2KMapEstimationResult",
      "description": "Result of the reidentifiability analysis. Note that these results are an\nestimation, not exact values.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2KAnonymityEquivalenceClass": {
      "description": "The set of columns' values that share the same ldiversity value",
      "type": "object",
      "properties": {
        "equivalenceClassSize": {
          "description": "Size of the equivalence class, for example number of rows with the\nabove set of values.",
          "format": "int64",
          "type": "string"
        },
        "quasiIdsValues": {
          "description": "Set of values defining the equivalence class. One value per\nquasi-identifier column in the original KAnonymity metric message.\nThe order is always the same as the original request.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2Value"
          }
        }
      },
      "id": "GooglePrivacyDlpV2beta2KAnonymityEquivalenceClass"
    },
    "GooglePrivacyDlpV2beta2PrimitiveTransformation": {
      "description": "A rule for transforming a value.",
      "type": "object",
      "properties": {
        "timePartConfig": {
          "$ref": "GooglePrivacyDlpV2beta2TimePartConfig"
        },
        "fixedSizeBucketingConfig": {
          "$ref": "GooglePrivacyDlpV2beta2FixedSizeBucketingConfig"
        },
        "characterMaskConfig": {
          "$ref": "GooglePrivacyDlpV2beta2CharacterMaskConfig"
        },
        "redactConfig": {
          "$ref": "GooglePrivacyDlpV2beta2RedactConfig"
        },
        "bucketingConfig": {
          "$ref": "GooglePrivacyDlpV2beta2BucketingConfig"
        },
        "replaceWithInfoTypeConfig": {
          "$ref": "GooglePrivacyDlpV2beta2ReplaceWithInfoTypeConfig"
        },
        "cryptoHashConfig": {
          "$ref": "GooglePrivacyDlpV2beta2CryptoHashConfig"
        },
        "cryptoReplaceFfxFpeConfig": {
          "$ref": "GooglePrivacyDlpV2beta2CryptoReplaceFfxFpeConfig"
        },
        "replaceConfig": {
          "$ref": "GooglePrivacyDlpV2beta2ReplaceValueConfig"
        }
      },
      "id": "GooglePrivacyDlpV2beta2PrimitiveTransformation"
    },
    "GooglePrivacyDlpV2beta1NumericalStatsResult": {
      "properties": {
        "maxValue": {
          "description": "Maximum value appearing in the column.",
          "$ref": "GooglePrivacyDlpV2beta1Value"
        },
        "quantileValues": {
          "description": "List of 99 values that partition the set of field values into 100 equal\nsized buckets.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1Value"
          }
        },
        "minValue": {
          "description": "Minimum value appearing in the column.",
          "$ref": "GooglePrivacyDlpV2beta1Value"
        }
      },
      "id": "GooglePrivacyDlpV2beta1NumericalStatsResult",
      "description": "Result of the numerical stats computation.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1Dictionary": {
      "description": "Custom information type based on a dictionary of words or phrases. This can\nbe used to match sensitive information specific to the data, such as a list\nof employee IDs or job titles.\n\nDictionary words are case-insensitive and all characters other than letters\nand digits in the unicode [Basic Multilingual\nPlane](https://en.wikipedia.org/wiki/Plane_%28Unicode%29#Basic_Multilingual_Plane)\nwill be replaced with whitespace when scanning for matches, so the\ndictionary phrase \"Sam Johnson\" will match all three phrases \"sam johnson\",\n\"Sam, Johnson\", and \"Sam (Johnson)\". Additionally, the characters\nsurrounding any match must be of a different type than the adjacent\ncharacters within the word, so letters must be next to non-letters and\ndigits next to non-digits. For example, the dictionary word \"jen\" will\nmatch the first three letters of the text \"jen123\" but will return no\nmatches for \"jennifer\".\n\nDictionary words containing a large number of characters that are not\nletters or digits may result in unexpected findings because such characters\nare treated as whitespace.",
      "type": "object",
      "properties": {
        "wordList": {
          "$ref": "GooglePrivacyDlpV2beta1WordList",
          "description": "List of words or phrases to search for."
        }
      },
      "id": "GooglePrivacyDlpV2beta1Dictionary"
    },
    "GooglePrivacyDlpV2beta2ListDlpJobsResponse": {
      "properties": {
        "jobs": {
          "description": "A list of DlpJobs that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2DlpJob"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta2ListDlpJobsResponse",
      "description": "The response message for listing DLP jobs.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2InfoType": {
      "properties": {
        "name": {
          "description": "Name of the information type.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta2InfoType",
      "description": "Type of information detected by the API.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1DatastoreOptions": {
      "description": "Options defining a data set within Google Cloud Datastore.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The kind to process.",
          "$ref": "GooglePrivacyDlpV2beta1KindExpression"
        },
        "projection": {
          "description": "Properties to scan. If none are specified, all properties will be scanned\nby default.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1Projection"
          }
        },
        "partitionId": {
          "$ref": "GooglePrivacyDlpV2beta1PartitionId",
          "description": "A partition ID identifies a grouping of entities. The grouping is always\nby project and namespace, however the namespace ID may be empty."
        }
      },
      "id": "GooglePrivacyDlpV2beta1DatastoreOptions"
    },
    "GooglePrivacyDlpV2beta2RiskAnalysisJobConfig": {
      "description": "Configuration for a risk analysis job.",
      "type": "object",
      "properties": {
        "sourceTable": {
          "$ref": "GooglePrivacyDlpV2beta2BigQueryTable",
          "description": "Input dataset to compute metrics over."
        },
        "privacyMetric": {
          "$ref": "GooglePrivacyDlpV2beta2PrivacyMetric",
          "description": "Privacy metric to compute."
        }
      },
      "id": "GooglePrivacyDlpV2beta2RiskAnalysisJobConfig"
    },
    "GooglePrivacyDlpV2beta2UnwrappedCryptoKey": {
      "properties": {
        "key": {
          "description": "The AES 128/192/256 bit key. [required]",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta2UnwrappedCryptoKey",
      "description": "Using raw keys is prone to security risks due to accidentally\nleaking the key. Choose another type of key if possible.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2StorageConfig": {
      "properties": {
        "datastoreOptions": {
          "$ref": "GooglePrivacyDlpV2beta2DatastoreOptions",
          "description": "Google Cloud Datastore options specification."
        },
        "bigQueryOptions": {
          "$ref": "GooglePrivacyDlpV2beta2BigQueryOptions",
          "description": "BigQuery options specification."
        },
        "cloudStorageOptions": {
          "description": "Google Cloud Storage options specification.",
          "$ref": "GooglePrivacyDlpV2beta2CloudStorageOptions"
        }
      },
      "id": "GooglePrivacyDlpV2beta2StorageConfig",
      "description": "Shared message indicating Cloud storage type.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2InfoTypeTransformations": {
      "description": "A type of transformation that will scan unstructured text and\napply various `PrimitiveTransformation`s to each finding, where the\ntransformation is applied to only values that were identified as a specific\ninfo_type.",
      "type": "object",
      "properties": {
        "transformations": {
          "description": "Transformation for each infoType. Cannot specify more than one\nfor a given infoType. [required]",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2InfoTypeTransformation"
          }
        }
      },
      "id": "GooglePrivacyDlpV2beta2InfoTypeTransformations"
    },
    "GooglePrivacyDlpV2beta2KAnonymityHistogramBucket": {
      "properties": {
        "equivalenceClassSizeLowerBound": {
          "description": "Lower bound on the size of the equivalence classes in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "equivalenceClassSizeUpperBound": {
          "description": "Upper bound on the size of the equivalence classes in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketSize": {
          "description": "Total number of equivalence classes in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketValues": {
          "description": "Sample of equivalence classes in this bucket. The total number of\nclasses returned per bucket is capped at 20.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2KAnonymityEquivalenceClass"
          }
        }
      },
      "id": "GooglePrivacyDlpV2beta2KAnonymityHistogramBucket",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1InspectConfig": {
      "description": "Configuration description of the scanning process.\nWhen used with redactContent only info_types and min_likelihood are currently\nused.",
      "type": "object",
      "properties": {
        "customInfoTypes": {
          "description": "Custom info types provided by the user.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1CustomInfoType"
          }
        },
        "excludeTypes": {
          "description": "When true, excludes type information of the findings.",
          "type": "boolean"
        },
        "minLikelihood": {
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Only returns findings equal or above this threshold.",
          "type": "string",
          "enumDescriptions": [
            "Default value; information with all likelihoods is included.",
            "Few matching elements.",
            "",
            "Some matching elements.",
            "",
            "Many matching elements."
          ]
        },
        "infoTypeLimits": {
          "description": "Configuration of findings limit given for specified info types.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1InfoTypeLimit"
          }
        },
        "maxFindings": {
          "description": "Limits the number of findings per content item or long running operation.",
          "format": "int32",
          "type": "integer"
        },
        "infoTypes": {
          "description": "Restricts what info_types to look for. The values must correspond to\nInfoType values returned by ListInfoTypes or found in documentation.\nEmpty info_types runs all enabled detectors.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1InfoType"
          }
        },
        "includeQuote": {
          "description": "When true, a contextual quote from the data that triggered a finding is\nincluded in the response; see Finding.quote.",
          "type": "boolean"
        }
      },
      "id": "GooglePrivacyDlpV2beta1InspectConfig"
    },
    "GooglePrivacyDlpV2beta2Value": {
      "description": "Set of primitive values supported by the system.\nNote that for the purposes of inspection or transformation, the number\nof bytes considered to comprise a 'Value' is based on its representation\nas a UTF-8 encoded string. For example, if 'integer_value' is set to\n123456789, the number of bytes would be counted as 9, even though an\nint64 only holds up to 8 bytes of data.",
      "type": "object",
      "properties": {
        "dateValue": {
          "$ref": "GoogleTypeDate"
        },
        "timestampValue": {
          "format": "google-datetime",
          "type": "string"
        },
        "booleanValue": {
          "type": "boolean"
        },
        "floatValue": {
          "format": "double",
          "type": "number"
        },
        "timeValue": {
          "$ref": "GoogleTypeTimeOfDay"
        },
        "integerValue": {
          "format": "int64",
          "type": "string"
        },
        "stringValue": {
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta2Value"
    },
    "GooglePrivacyDlpV2beta1Projection": {
      "description": "A representation of a Datastore property in a projection.",
      "type": "object",
      "properties": {
        "property": {
          "description": "The property to project.",
          "$ref": "GooglePrivacyDlpV2beta1PropertyReference"
        }
      },
      "id": "GooglePrivacyDlpV2beta1Projection"
    },
    "GooglePrivacyDlpV2beta2ImageRedactionConfig": {
      "properties": {
        "redactAllText": {
          "description": "If true, all text found in the image, regardless whether it matches an\ninfo_type, is redacted.",
          "type": "boolean"
        },
        "infoType": {
          "$ref": "GooglePrivacyDlpV2beta2InfoType",
          "description": "Only one per info_type should be provided per request. If not\nspecified, and redact_all_text is false, the DLP API will redact all\ntext that it matches against all info_types that are found, but not\nspecified in another ImageRedactionConfig."
        },
        "redactionColor": {
          "description": "The color to use when redacting content from an image. If not specified,\nthe default is black.",
          "$ref": "GooglePrivacyDlpV2beta2Color"
        }
      },
      "id": "GooglePrivacyDlpV2beta2ImageRedactionConfig",
      "description": "Configuration for determining how redaction of images should occur.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2RequestedOptions": {
      "type": "object",
      "properties": {
        "snapshotInspectTemplate": {
          "description": "If run with an inspect template, a snapshot of it's state at the time of\nthis run.",
          "$ref": "GooglePrivacyDlpV2beta2InspectTemplate"
        },
        "jobConfig": {
          "$ref": "GooglePrivacyDlpV2beta2InspectJobConfig"
        }
      },
      "id": "GooglePrivacyDlpV2beta2RequestedOptions"
    },
    "GoogleTypeDate": {
      "properties": {
        "year": {
          "description": "Year of date. Must be from 1 to 9999, or 0 if specifying a date without\na year.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "description": "Day of month. Must be from 1 to 31 and valid for the year and month, or 0\nif specifying a year/month where the day is not significant.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "description": "Month of year. Must be from 1 to 12.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleTypeDate",
      "description": "Represents a whole calendar date, e.g. date of birth. The time of day and\ntime zone are either specified elsewhere or are not significant. The date\nis relative to the Proleptic Gregorian Calendar. The day may be 0 to\nrepresent a year and month where the day is not significant, e.g. credit card\nexpiration date. The year may be 0 to represent a month and day independent\nof year, e.g. anniversary date. Related types are google.type.TimeOfDay\nand `google.protobuf.Timestamp`.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2ListInfoTypesResponse": {
      "description": "Response to the ListInfoTypes request.",
      "type": "object",
      "properties": {
        "infoTypes": {
          "description": "Set of sensitive infoTypes.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2InfoTypeDescription"
          }
        }
      },
      "id": "GooglePrivacyDlpV2beta2ListInfoTypesResponse"
    },
    "GooglePrivacyDlpV2beta2FileSet": {
      "description": "Set of files to scan.",
      "type": "object",
      "properties": {
        "url": {
          "description": "The url, in the format `gs://\u003cbucket\u003e/\u003cpath\u003e`. Trailing wildcard in the\npath is allowed.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta2FileSet"
    },
    "GooglePrivacyDlpV2beta1CustomInfoType": {
      "properties": {
        "surrogateType": {
          "description": "Surrogate info type.",
          "$ref": "GooglePrivacyDlpV2beta1SurrogateType"
        },
        "infoType": {
          "$ref": "GooglePrivacyDlpV2beta1InfoType",
          "description": "Info type configuration. All custom info types must have configurations\nthat do not conflict with built-in info types or other custom info types."
        },
        "dictionary": {
          "$ref": "GooglePrivacyDlpV2beta1Dictionary",
          "description": "Dictionary-based custom info type."
        }
      },
      "id": "GooglePrivacyDlpV2beta1CustomInfoType",
      "description": "Custom information type provided by the user. Used to find domain-specific\nsensitive information configurable to the data in question.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1EntityId": {
      "properties": {
        "field": {
          "$ref": "GooglePrivacyDlpV2beta1FieldId",
          "description": "Composite key indicating which field contains the entity identifier."
        }
      },
      "id": "GooglePrivacyDlpV2beta1EntityId",
      "description": "An entity in a dataset is a field or set of fields that correspond to a\nsingle person. For example, in medical records the `EntityId` might be\na patient identifier, or for financial records it might be an account\nidentifier. This message is used when generalizations or analysis must be\nconsistent across multiple rows pertaining to the same entity.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1AuxiliaryTable": {
      "description": "An auxiliary table contains statistical information on the relative\nfrequency of different quasi-identifiers values. It has one or several\nquasi-identifiers columns, and one column that indicates the relative\nfrequency of each quasi-identifier tuple.\nIf a tuple is present in the data but not in the auxiliary table, the\ncorresponding relative frequency is assumed to be zero (and thus, the\ntuple is highly reidentifiable).",
      "type": "object",
      "properties": {
        "quasiIds": {
          "description": "Quasi-identifier columns. [required]",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1QuasiIdField"
          }
        },
        "relativeFrequency": {
          "$ref": "GooglePrivacyDlpV2beta1FieldId",
          "description": "The relative frequency column must contain a floating-point number\nbetween 0 and 1 (inclusive). Null values are assumed to be zero.\n[required]"
        },
        "table": {
          "$ref": "GooglePrivacyDlpV2beta1BigQueryTable",
          "description": "Auxiliary table location. [required]"
        }
      },
      "id": "GooglePrivacyDlpV2beta1AuxiliaryTable"
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different\nprogramming environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc). The error model is designed to be:\n\n- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error message,\nand error details. The error code should be an enum value of\ngoogle.rpc.Code, but it may accept additional error codes if needed.  The\nerror message should be a developer-facing English message that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror message is needed, put the localized message in the error details or\nlocalize it in the client. The optional error details may contain arbitrary\ninformation about the error. There is a predefined set of error detail types\nin the package `google.rpc` that can be used for common error conditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security/privacy reasons.",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleRpcStatus"
    },
    "GooglePrivacyDlpV2beta1KMapEstimationResult": {
      "description": "Result of the reidentifiability analysis. Note that these results are an\nestimation, not exact values.",
      "type": "object",
      "properties": {
        "kMapEstimationHistogram": {
          "description": "The intervals [min_anonymity, max_anonymity] do not overlap. If a value\ndoesn't correspond to any such interval, the associated frequency is\nzero. For example, the following records:\n  {min_anonymity: 1, max_anonymity: 1, frequency: 17}\n  {min_anonymity: 2, max_anonymity: 3, frequency: 42}\n  {min_anonymity: 5, max_anonymity: 10, frequency: 99}\nmean that there are no record with an estimated anonymity of 4, 5, or\nlarger than 10.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1KMapEstimationHistogramBucket"
          }
        }
      },
      "id": "GooglePrivacyDlpV2beta1KMapEstimationResult"
    },
    "GooglePrivacyDlpV2beta2CreateDeidentifyTemplateRequest": {
      "properties": {
        "deidentifyTemplate": {
          "description": "The DeidentifyTemplate to create.",
          "$ref": "GooglePrivacyDlpV2beta2DeidentifyTemplate"
        },
        "templateId": {
          "description": "The template id can contain uppercase and lowercase letters,\nnumbers, and hyphens; that is, it must match the regular\nexpression: `[a-zA-Z\\\\d-]+`. The maximum length is 100\ncharacters. Can be empty to allow the system to generate one.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta2CreateDeidentifyTemplateRequest",
      "description": "Request message for CreateDeidentifyTemplate.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2RedactImageRequest": {
      "properties": {
        "imageRedactionConfigs": {
          "description": "The configuration for specifying what content to redact from images.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2ImageRedactionConfig"
          }
        },
        "inspectConfig": {
          "$ref": "GooglePrivacyDlpV2beta2InspectConfig",
          "description": "Configuration for the inspector."
        },
        "imageData": {
          "description": "The bytes of the image to redact.",
          "format": "byte",
          "type": "string"
        },
        "imageType": {
          "description": "Type of the content, as defined in Content-Type HTTP header.\nSupported types are: PNG, JPEG, SVG, & BMP.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta2RedactImageRequest",
      "description": "Request to search for potentially sensitive info in a list of items\nand replace it with a default or provided content.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1KMapEstimationQuasiIdValues": {
      "properties": {
        "estimatedAnonymity": {
          "description": "The estimated anonymity for these quasi-identifier values.",
          "format": "int64",
          "type": "string"
        },
        "quasiIdsValues": {
          "description": "The quasi-identifier values.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1Value"
          }
        }
      },
      "id": "GooglePrivacyDlpV2beta1KMapEstimationQuasiIdValues",
      "description": "A tuple of values for the quasi-identifier columns.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2WordList": {
      "properties": {
        "words": {
          "description": "Words or phrases defining the dictionary. The dictionary must contain\nat least one phrase and every phrase must contain at least 2 characters\nthat are letters or digits. [required]",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GooglePrivacyDlpV2beta2WordList",
      "description": "Message defining a list of words or phrases to search for in the data.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2ContentItem": {
      "properties": {
        "value": {
          "description": "String data to inspect or redact.",
          "type": "string"
        },
        "table": {
          "description": "Structured content for inspection.",
          "$ref": "GooglePrivacyDlpV2beta2Table"
        },
        "data": {
          "description": "Content data to inspect or redact.",
          "format": "byte",
          "type": "string"
        },
        "type": {
          "description": "Type of the content, as defined in Content-Type HTTP header.\nSupported types are: all \"text\" types, octet streams, PNG images,\nJPEG images.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta2ContentItem",
      "description": "Container structure for the content to inspect.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2CategoricalStatsResult": {
      "description": "Result of the categorical stats computation.",
      "type": "object",
      "properties": {
        "valueFrequencyHistogramBuckets": {
          "description": "Histogram of value frequencies in the column.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2CategoricalStatsHistogramBucket"
          }
        }
      },
      "id": "GooglePrivacyDlpV2beta2CategoricalStatsResult"
    },
    "GooglePrivacyDlpV2beta2ReplaceWithInfoTypeConfig": {
      "description": "Replace each matching finding with the name of the info_type.",
      "type": "object",
      "properties": {},
      "id": "GooglePrivacyDlpV2beta2ReplaceWithInfoTypeConfig"
    },
    "GooglePrivacyDlpV2beta2Key": {
      "properties": {
        "path": {
          "description": "The entity path.\nAn entity path consists of one or more elements composed of a kind and a\nstring or numerical identifier, which identify entities. The first\nelement identifies a _root entity_, the second element identifies\na _child_ of the root entity, the third element identifies a child of the\nsecond entity, and so forth. The entities identified by all prefixes of\nthe path are called the element's _ancestors_.\n\nA path can never be empty, and a path can have at most 100 elements.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2PathElement"
          }
        },
        "partitionId": {
          "description": "Entities are partitioned into subsets, currently identified by a project\nID and namespace ID.\nQueries are scoped to a single partition.",
          "$ref": "GooglePrivacyDlpV2beta2PartitionId"
        }
      },
      "id": "GooglePrivacyDlpV2beta2Key",
      "description": "A unique identifier for a Datastore entity.\nIf a key's partition ID or any of its path kinds or names are\nreserved/read-only, the key is reserved/read-only.\nA reserved/read-only key is forbidden in certain documented contexts.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1BigQueryTable": {
      "properties": {
        "tableId": {
          "description": "Name of the table.",
          "type": "string"
        },
        "projectId": {
          "description": "The Google Cloud Platform project ID of the project containing the table.\nIf omitted, project ID is inferred from the API call.",
          "type": "string"
        },
        "datasetId": {
          "description": "Dataset ID of the table.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta1BigQueryTable",
      "description": "Message defining the location of a BigQuery table. A table is uniquely\nidentified  by its project_id, dataset_id, and table_name. Within a query\na table is often referenced with a string in the format of:\n`\u003cproject_id\u003e:\u003cdataset_id\u003e.\u003ctable_id\u003e` or\n`\u003cproject_id\u003e.\u003cdataset_id\u003e.\u003ctable_id\u003e`.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2FieldTransformation": {
      "properties": {
        "condition": {
          "$ref": "GooglePrivacyDlpV2beta2RecordCondition",
          "description": "Only apply the transformation if the condition evaluates to true for the\ngiven `RecordCondition`. The conditions are allowed to reference fields\nthat are not used in the actual transformation. [optional]\n\nExample Use Cases:\n\n- Apply a different bucket transformation to an age column if the zip code\ncolumn for the same record is within a specific range.\n- Redact a field if the date of birth field is greater than 85."
        },
        "infoTypeTransformations": {
          "$ref": "GooglePrivacyDlpV2beta2InfoTypeTransformations",
          "description": "Treat the contents of the field as free text, and selectively\ntransform content that matches an `InfoType`."
        },
        "fields": {
          "description": "Input field(s) to apply the transformation to. [required]",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2FieldId"
          }
        },
        "primitiveTransformation": {
          "description": "Apply the transformation to the entire field.",
          "$ref": "GooglePrivacyDlpV2beta2PrimitiveTransformation"
        }
      },
      "id": "GooglePrivacyDlpV2beta2FieldTransformation",
      "description": "The transformation to apply to the field.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2PathElement": {
      "properties": {
        "name": {
          "description": "The name of the entity.\nA name matching regex `__.*__` is reserved/read-only.\nA name must not be more than 1500 bytes when UTF-8 encoded.\nCannot be `\"\"`.",
          "type": "string"
        },
        "kind": {
          "description": "The kind of the entity.\nA kind matching regex `__.*__` is reserved/read-only.\nA kind must not contain more than 1500 bytes when UTF-8 encoded.\nCannot be `\"\"`.",
          "type": "string"
        },
        "id": {
          "description": "The auto-allocated ID of the entity.\nNever equal to zero. Values less than zero are discouraged and may not\nbe supported in the future.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta2PathElement",
      "description": "A (kind, ID/name) pair used to construct a key path.\n\nIf either name or ID is set, the element is complete.\nIf neither is set, the element is incomplete.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1KindExpression": {
      "properties": {
        "name": {
          "description": "The name of the kind.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta1KindExpression",
      "description": "A representation of a Datastore kind.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2RecordSuppression": {
      "description": "Configuration to suppress records whose suppression conditions evaluate to\ntrue.",
      "type": "object",
      "properties": {
        "condition": {
          "description": "A condition that when it evaluates to true will result in the record being\nevaluated to be suppressed from the transformed content.",
          "$ref": "GooglePrivacyDlpV2beta2RecordCondition"
        }
      },
      "id": "GooglePrivacyDlpV2beta2RecordSuppression"
    },
    "GooglePrivacyDlpV2beta2NumericalStatsConfig": {
      "properties": {
        "field": {
          "$ref": "GooglePrivacyDlpV2beta2FieldId",
          "description": "Field to compute numerical stats on. Supported types are\ninteger, float, date, datetime, timestamp, time."
        }
      },
      "id": "GooglePrivacyDlpV2beta2NumericalStatsConfig",
      "description": "Compute numerical stats over an individual column, including\nmin, max, and quantiles.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2OutputStorageConfig": {
      "description": "Cloud repository for storing output.",
      "type": "object",
      "properties": {
        "table": {
          "description": "Store findings in a new table in an existing dataset. If table_id is not\nset a new one will be generated for you with the following format:\ndlp_googleapis_yyyy_mm_dd_[dlp_job_id]. Pacific timezone will be used for\ngenerating the date details.",
          "$ref": "GooglePrivacyDlpV2beta2BigQueryTable"
        }
      },
      "id": "GooglePrivacyDlpV2beta2OutputStorageConfig"
    },
    "GooglePrivacyDlpV2beta1FileSet": {
      "description": "Set of files to scan.",
      "type": "object",
      "properties": {
        "url": {
          "description": "The url, in the format `gs://\u003cbucket\u003e/\u003cpath\u003e`. Trailing wildcard in the\npath is allowed.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta1FileSet"
    },
    "GooglePrivacyDlpV2beta2InfoTypeLimit": {
      "description": "Max findings configuration per infoType, per content item or long\nrunning DlpJob.",
      "type": "object",
      "properties": {
        "infoType": {
          "description": "Type of information the findings limit applies to. Only one limit per\ninfo_type should be provided. If InfoTypeLimit does not have an\ninfo_type, the DLP API applies the limit against all info_types that\nare found but not specified in another InfoTypeLimit.",
          "$ref": "GooglePrivacyDlpV2beta2InfoType"
        },
        "maxFindings": {
          "description": "Max findings limit for the given infoType.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GooglePrivacyDlpV2beta2InfoTypeLimit"
    },
    "GooglePrivacyDlpV2beta2InfoTypeStatistics": {
      "description": "Statistics regarding a specific InfoType.",
      "type": "object",
      "properties": {
        "infoType": {
          "$ref": "GooglePrivacyDlpV2beta2InfoType",
          "description": "The type of finding this stat is for."
        },
        "count": {
          "description": "Number of findings for this infoType.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta2InfoTypeStatistics"
    },
    "GooglePrivacyDlpV2beta2LDiversityConfig": {
      "description": "l-diversity metric, used for analysis of reidentification risk.",
      "type": "object",
      "properties": {
        "sensitiveAttribute": {
          "description": "Sensitive field for computing the l-value.",
          "$ref": "GooglePrivacyDlpV2beta2FieldId"
        },
        "quasiIds": {
          "description": "Set of quasi-identifiers indicating how equivalence classes are\ndefined for the l-diversity computation. When multiple fields are\nspecified, they are considered a single composite key.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2FieldId"
          }
        }
      },
      "id": "GooglePrivacyDlpV2beta2LDiversityConfig"
    },
    "GooglePrivacyDlpV2beta1KAnonymityResult": {
      "properties": {
        "equivalenceClassHistogramBuckets": {
          "description": "Histogram of k-anonymity equivalence classes.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1KAnonymityHistogramBucket"
          }
        }
      },
      "id": "GooglePrivacyDlpV2beta1KAnonymityResult",
      "description": "Result of the k-anonymity computation.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2Table": {
      "properties": {
        "headers": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2FieldId"
          }
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2Row"
          }
        }
      },
      "id": "GooglePrivacyDlpV2beta2Table",
      "description": "Structured content to inspect. Up to 50,000 `Value`s per request allowed.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2RecordTransformations": {
      "description": "A type of transformation that is applied over structured data such as a\ntable.",
      "type": "object",
      "properties": {
        "recordSuppressions": {
          "description": "Configuration defining which records get suppressed entirely. Records that\nmatch any suppression rule are omitted from the output [optional].",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2RecordSuppression"
          }
        },
        "fieldTransformations": {
          "description": "Transform the record by applying various field transformations.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2FieldTransformation"
          }
        }
      },
      "id": "GooglePrivacyDlpV2beta2RecordTransformations"
    },
    "GooglePrivacyDlpV2beta1CategoricalStatsHistogramBucket": {
      "properties": {
        "valueFrequencyUpperBound": {
          "description": "Upper bound on the value frequency of the values in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "valueFrequencyLowerBound": {
          "description": "Lower bound on the value frequency of the values in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketValues": {
          "description": "Sample of value frequencies in this bucket. The total number of\nvalues returned per bucket is capped at 20.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1ValueFrequency"
          }
        },
        "bucketSize": {
          "description": "Total number of records in this bucket.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta1CategoricalStatsHistogramBucket",
      "description": "Histogram bucket of value frequencies in the column.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2SummaryResult": {
      "description": "A collection that informs the user the number of times a particular\n`TransformationResultCode` and error details occurred.",
      "type": "object",
      "properties": {
        "details": {
          "description": "A place for warnings or errors to show up if a transformation didn't\nwork as expected.",
          "type": "string"
        },
        "count": {
          "format": "int64",
          "type": "string"
        },
        "code": {
          "enum": [
            "TRANSFORMATION_RESULT_CODE_UNSPECIFIED",
            "SUCCESS",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "GooglePrivacyDlpV2beta2SummaryResult"
    },
    "GooglePrivacyDlpV2beta1KAnonymityConfig": {
      "description": "k-anonymity metric, used for analysis of reidentification risk.",
      "type": "object",
      "properties": {
        "entityId": {
          "description": "Optional message indicating that each distinct entity_id should not\ncontribute to the k-anonymity count more than once per equivalence class.\nIf an entity_id appears on several rows with different quasi-identifier\ntuples, it will contribute to each count exactly once.\n\nThis can lead to unexpected results. Consider a table where ID 1 is\nassociated to quasi-identifier \"foo\", ID 2 to \"bar\", and ID 3 to *both*\nquasi-identifiers \"foo\" and \"bar\" (on separate rows), and where this ID\nis used as entity_id. Then, the anonymity value associated to ID 3 will\nbe 2, even if it is the only ID to be associated to both values \"foo\" and\n\"bar\".",
          "$ref": "GooglePrivacyDlpV2beta1EntityId"
        },
        "quasiIds": {
          "description": "Set of fields to compute k-anonymity over. When multiple fields are\nspecified, they are considered a single composite key. Structs and\nrepeated data types are not supported; however, nested fields are\nsupported so long as they are not structs themselves or nested within\na repeated field.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1FieldId"
          }
        }
      },
      "id": "GooglePrivacyDlpV2beta1KAnonymityConfig"
    },
    "GooglePrivacyDlpV2beta2Range": {
      "description": "Generic half-open interval [start, end)",
      "type": "object",
      "properties": {
        "start": {
          "description": "Index of the first character of the range (inclusive).",
          "format": "int64",
          "type": "string"
        },
        "end": {
          "description": "Index of the last character of the range (exclusive).",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta2Range"
    },
    "GooglePrivacyDlpV2beta2DeidentifyConfig": {
      "properties": {
        "recordTransformations": {
          "description": "Treat the dataset as structured. Transformations can be applied to\nspecific locations within structured datasets, such as transforming\na column within a table.",
          "$ref": "GooglePrivacyDlpV2beta2RecordTransformations"
        },
        "infoTypeTransformations": {
          "$ref": "GooglePrivacyDlpV2beta2InfoTypeTransformations",
          "description": "Treat the dataset as free-form text and apply the same free text\ntransformation everywhere."
        }
      },
      "id": "GooglePrivacyDlpV2beta2DeidentifyConfig",
      "description": "The configuration that controls how the data will change.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2KMapEstimationConfig": {
      "description": "Reidentifiability metric. This corresponds to a risk model similar to what\nis called \"journalist risk\" in the literature, except the attack dataset is\nstatistically modeled instead of being perfectly known. This can be done\nusing publicly available data (like the US Census), or using a custom\nstatistical model (indicated as one or several BigQuery tables), or by\nextrapolating from the distribution of values in the input dataset.",
      "type": "object",
      "properties": {
        "regionCode": {
          "description": "ISO 3166-1 alpha-2 region code to use in the statistical modeling.\nRequired if no column is tagged with a region-specific InfoType (like\nUS_ZIP_5) or a region code.",
          "type": "string"
        },
        "auxiliaryTables": {
          "description": "Several auxiliary tables can be used in the analysis. Each custom_tag\nused to tag a quasi-identifiers column must appear in exactly one column\nof one auxiliary table.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2AuxiliaryTable"
          }
        },
        "quasiIds": {
          "description": "Fields considered to be quasi-identifiers. No two columns can have the\nsame tag. [required]",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2TaggedField"
          }
        }
      },
      "id": "GooglePrivacyDlpV2beta2KMapEstimationConfig"
    },
    "GooglePrivacyDlpV2beta2BucketingConfig": {
      "description": "Generalization function that buckets values based on ranges. The ranges and\nreplacement values are dynamically provided by the user for custom behavior,\nsuch as 1-30 -\u003e LOW 31-65 -\u003e MEDIUM 66-100 -\u003e HIGH\nThis can be used on\ndata of type: number, long, string, timestamp.\nIf the bound `Value` type differs from the type of data being transformed, we\nwill first attempt converting the type of the data to be transformed to match\nthe type of the bound before comparing.",
      "type": "object",
      "properties": {
        "buckets": {
          "description": "Set of buckets. Ranges must be non-overlapping.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2Bucket"
          }
        }
      },
      "id": "GooglePrivacyDlpV2beta2BucketingConfig"
    },
    "GooglePrivacyDlpV2beta2KMapEstimationHistogramBucket": {
      "description": "A KMapEstimationHistogramBucket message with the following values:\n  min_anonymity: 3\n  max_anonymity: 5\n  frequency: 42\nmeans that there are 42 records whose quasi-identifier values correspond\nto 3, 4 or 5 people in the overlying population. An important particular\ncase is when min_anonymity = max_anonymity = 1: the frequency field then\ncorresponds to the number of uniquely identifiable records.",
      "type": "object",
      "properties": {
        "bucketValues": {
          "description": "Sample of quasi-identifier tuple values in this bucket. The total\nnumber of classes returned per bucket is capped at 20.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2KMapEstimationQuasiIdValues"
          }
        },
        "minAnonymity": {
          "description": "Always positive.",
          "format": "int64",
          "type": "string"
        },
        "maxAnonymity": {
          "description": "Always greater than or equal to min_anonymity.",
          "format": "int64",
          "type": "string"
        },
        "bucketSize": {
          "description": "Number of records within these anonymity bounds.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta2KMapEstimationHistogramBucket"
    },
    "GooglePrivacyDlpV2beta2PrivacyMetric": {
      "description": "Privacy metric to compute for reidentification risk analysis.",
      "type": "object",
      "properties": {
        "numericalStatsConfig": {
          "$ref": "GooglePrivacyDlpV2beta2NumericalStatsConfig"
        },
        "kAnonymityConfig": {
          "$ref": "GooglePrivacyDlpV2beta2KAnonymityConfig"
        },
        "categoricalStatsConfig": {
          "$ref": "GooglePrivacyDlpV2beta2CategoricalStatsConfig"
        },
        "kMapEstimationConfig": {
          "$ref": "GooglePrivacyDlpV2beta2KMapEstimationConfig"
        },
        "lDiversityConfig": {
          "$ref": "GooglePrivacyDlpV2beta2LDiversityConfig"
        }
      },
      "id": "GooglePrivacyDlpV2beta2PrivacyMetric"
    },
    "GooglePrivacyDlpV2beta1QuasiIdField": {
      "description": "A quasi-identifier column has a custom_tag, used to know which column\nin the data corresponds to which column in the statistical model.",
      "type": "object",
      "properties": {
        "customTag": {
          "type": "string"
        },
        "field": {
          "$ref": "GooglePrivacyDlpV2beta1FieldId"
        }
      },
      "id": "GooglePrivacyDlpV2beta1QuasiIdField"
    },
    "GooglePrivacyDlpV2beta2KmsWrappedCryptoKey": {
      "description": "Include to use an existing data crypto key wrapped by KMS.\nAuthorization requires the following IAM permissions when sending a request\nto perform a crypto transformation using a kms-wrapped crypto key:\ndlp.kms.encrypt",
      "type": "object",
      "properties": {
        "wrappedKey": {
          "description": "The wrapped data crypto key. [required]",
          "format": "byte",
          "type": "string"
        },
        "cryptoKeyName": {
          "description": "The resource name of the KMS CryptoKey to use for unwrapping. [required]",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta2KmsWrappedCryptoKey"
    },
    "GooglePrivacyDlpV2beta2KAnonymityResult": {
      "description": "Result of the k-anonymity computation.",
      "type": "object",
      "properties": {
        "equivalenceClassHistogramBuckets": {
          "description": "Histogram of k-anonymity equivalence classes.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2KAnonymityHistogramBucket"
          }
        }
      },
      "id": "GooglePrivacyDlpV2beta2KAnonymityResult"
    },
    "GooglePrivacyDlpV2beta2Result": {
      "type": "object",
      "properties": {
        "totalEstimatedBytes": {
          "description": "Estimate of the number of bytes to process.",
          "format": "int64",
          "type": "string"
        },
        "infoTypeStats": {
          "description": "Statistics of how many instances of each info type were found during\ninspect job.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2InfoTypeStatistics"
          }
        },
        "processedBytes": {
          "description": "Total size in bytes that were processed.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta2Result"
    },
    "GooglePrivacyDlpV2beta2CustomInfoType": {
      "properties": {
        "surrogateType": {
          "description": "Surrogate info type.",
          "$ref": "GooglePrivacyDlpV2beta2SurrogateType"
        },
        "infoType": {
          "$ref": "GooglePrivacyDlpV2beta2InfoType",
          "description": "Info type configuration. All custom info types must have configurations\nthat do not conflict with built-in info types or other custom info types."
        },
        "dictionary": {
          "description": "Dictionary-based custom info type.",
          "$ref": "GooglePrivacyDlpV2beta2Dictionary"
        }
      },
      "id": "GooglePrivacyDlpV2beta2CustomInfoType",
      "description": "Custom information type provided by the user. Used to find domain-specific\nsensitive information configurable to the data in question.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2DeidentifyContentResponse": {
      "description": "Results of de-identifying a ContentItem.",
      "type": "object",
      "properties": {
        "overview": {
          "description": "An overview of the changes that were made on the `item`.",
          "$ref": "GooglePrivacyDlpV2beta2TransformationOverview"
        },
        "item": {
          "$ref": "GooglePrivacyDlpV2beta2ContentItem",
          "description": "The de-identified item."
        }
      },
      "id": "GooglePrivacyDlpV2beta2DeidentifyContentResponse"
    },
    "GooglePrivacyDlpV2beta1ValueFrequency": {
      "description": "A value of a field, including its frequency.",
      "type": "object",
      "properties": {
        "count": {
          "description": "How many times the value is contained in the field.",
          "format": "int64",
          "type": "string"
        },
        "value": {
          "$ref": "GooglePrivacyDlpV2beta1Value",
          "description": "A value contained in the field in question."
        }
      },
      "id": "GooglePrivacyDlpV2beta1ValueFrequency"
    },
    "GooglePrivacyDlpV2beta1SurrogateType": {
      "properties": {},
      "id": "GooglePrivacyDlpV2beta1SurrogateType",
      "description": "Message for detecting output from deidentification transformations\nsuch as\n[`CryptoReplaceFfxFpeConfig`](/dlp/docs/reference/rest/v2beta1/content/deidentify#CryptoReplaceFfxFpeConfig).\nThese types of transformations are\nthose that perform pseudonymization, thereby producing a \"surrogate\" as\noutput. This should be used in conjunction with a field on the\ntransformation such as `surrogate_info_type`. This custom info type does\nnot support the use of `detection_rules`.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2CryptoReplaceFfxFpeConfig": {
      "description": "Replaces an identifier with a surrogate using FPE with the FFX\nmode of operation; however when used in the `ReidentifyContent` API method,\nit serves the opposite function by reversing the surrogate back into\nthe original identifier.\nThe identifier must be encoded as ASCII.\nFor a given crypto key and context, the same identifier will be\nreplaced with the same surrogate.\nIdentifiers must be at least two characters long.\nIn the case that the identifier is the empty string, it will be skipped.",
      "type": "object",
      "properties": {
        "context": {
          "description": "The 'tweak', a context may be used for higher security since the same\nidentifier in two different contexts won't be given the same surrogate. If\nthe context is not set, a default tweak will be used.\n\nIf the context is set but:\n\n1. there is no record present when transforming a given value or\n1. the field is not present when transforming a given value,\n\na default tweak will be used.\n\nNote that case (1) is expected when an `InfoTypeTransformation` is\napplied to both structured and non-structured `ContentItem`s.\nCurrently, the referenced field may be of value type integer or string.\n\nThe tweak is constructed as a sequence of bytes in big endian byte order\nsuch that:\n\n- a 64 bit integer is encoded followed by a single byte of value 1\n- a string is encoded in UTF-8 format followed by a single byte of value\n å 2",
          "$ref": "GooglePrivacyDlpV2beta2FieldId"
        },
        "surrogateInfoType": {
          "description": "The custom infoType to annotate the surrogate with.\nThis annotation will be applied to the surrogate by prefixing it with\nthe name of the custom infoType followed by the number of\ncharacters comprising the surrogate. The following scheme defines the\nformat: info_type_name(surrogate_character_count):surrogate\n\nFor example, if the name of custom infoType is 'MY_TOKEN_INFO_TYPE' and\nthe surrogate is 'abc', the full replacement value\nwill be: 'MY_TOKEN_INFO_TYPE(3):abc'\n\nThis annotation identifies the surrogate when inspecting content using the\ncustom infoType\n[`SurrogateType`](/dlp/docs/reference/rest/v2beta2/InspectConfig#surrogatetype).\nThis facilitates reversal of the surrogate when it occurs in free text.\n\nIn order for inspection to work properly, the name of this infoType must\nnot occur naturally anywhere in your data; otherwise, inspection may\nfind a surrogate that does not correspond to an actual identifier.\nTherefore, choose your custom infoType name carefully after considering\nwhat your data looks like. One way to select a name that has a high chance\nof yielding reliable detection is to include one or more unicode characters\nthat are highly improbable to exist in your data.\nFor example, assuming your data is entered from a regular ASCII keyboard,\nthe symbol with the hex code point 29DD might be used like so:\n⧝MY_TOKEN_TYPE",
          "$ref": "GooglePrivacyDlpV2beta2InfoType"
        },
        "commonAlphabet": {
          "enumDescriptions": [
            "",
            "[0-9] (radix of 10)",
            "[0-9A-F] (radix of 16)",
            "[0-9A-Z] (radix of 36)",
            "[0-9A-Za-z] (radix of 62)"
          ],
          "enum": [
            "FFX_COMMON_NATIVE_ALPHABET_UNSPECIFIED",
            "NUMERIC",
            "HEXADECIMAL",
            "UPPER_CASE_ALPHA_NUMERIC",
            "ALPHA_NUMERIC"
          ],
          "type": "string"
        },
        "radix": {
          "description": "The native way to select the alphabet. Must be in the range [2, 62].",
          "format": "int32",
          "type": "integer"
        },
        "customAlphabet": {
          "description": "This is supported by mapping these to the alphanumeric characters\nthat the FFX mode natively supports. This happens before/after\nencryption/decryption.\nEach character listed must appear only once.\nNumber of characters must be in the range [2, 62].\nThis must be encoded as ASCII.\nThe order of characters does not matter.",
          "type": "string"
        },
        "cryptoKey": {
          "description": "The key used by the encryption algorithm. [required]",
          "$ref": "GooglePrivacyDlpV2beta2CryptoKey"
        }
      },
      "id": "GooglePrivacyDlpV2beta2CryptoReplaceFfxFpeConfig"
    },
    "GooglePrivacyDlpV2beta1InfoTypeLimit": {
      "description": "Max findings configuration per info type, per content item or long running\noperation.",
      "type": "object",
      "properties": {
        "infoType": {
          "description": "Type of information the findings limit applies to. Only one limit per\ninfo_type should be provided. If InfoTypeLimit does not have an\ninfo_type, the DLP API applies the limit against all info_types that are\nfound but not specified in another InfoTypeLimit.",
          "$ref": "GooglePrivacyDlpV2beta1InfoType"
        },
        "maxFindings": {
          "description": "Max findings limit for the given infoType.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GooglePrivacyDlpV2beta1InfoTypeLimit"
    },
    "GooglePrivacyDlpV2beta2FindingLimits": {
      "type": "object",
      "properties": {
        "maxFindingsPerInfoType": {
          "description": "Configuration of findings limit given for specified infoTypes.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2InfoTypeLimit"
          }
        },
        "maxFindingsPerItem": {
          "description": "Max number of findings that will be returned for each item scanned.",
          "format": "int32",
          "type": "integer"
        },
        "maxFindingsPerRequest": {
          "description": "Max total number of findings that will be returned per request/job.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GooglePrivacyDlpV2beta2FindingLimits"
    },
    "GooglePrivacyDlpV2beta2DlpJob": {
      "properties": {
        "errorResults": {
          "description": "A stream of errors encountered running the job.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "createTime": {
          "description": "Time when the job was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "The job has not yet started.",
            "The job is currently running.",
            "The job is no longer running.",
            "The job was canceled before it could complete.",
            "The job had an error and did not complete."
          ],
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "CANCELED",
            "FAILED"
          ],
          "description": "State of a job.",
          "type": "string"
        },
        "name": {
          "description": "The server-assigned name.",
          "type": "string"
        },
        "riskDetails": {
          "$ref": "GooglePrivacyDlpV2beta2AnalyzeDataSourceRiskDetails",
          "description": "Results from analyzing risk of a data source."
        },
        "type": {
          "enumDescriptions": [
            "",
            "The job inspected Google Cloud for sensitive data.",
            "The job executed a Risk Analysis computation."
          ],
          "enum": [
            "DLP_JOB_TYPE_UNSPECIFIED",
            "INSPECT_JOB",
            "RISK_ANALYSIS_JOB"
          ],
          "description": "The type of job.",
          "type": "string"
        },
        "endTime": {
          "description": "Time when the job finished.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "description": "Time when the job started.",
          "format": "google-datetime",
          "type": "string"
        },
        "inspectDetails": {
          "description": "Results from inspecting a data source.",
          "$ref": "GooglePrivacyDlpV2beta2InspectDataSourceDetails"
        }
      },
      "id": "GooglePrivacyDlpV2beta2DlpJob",
      "description": "Combines all of the information about a DLP job.",
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1LDiversityHistogramBucket": {
      "description": "Histogram bucket of sensitive value frequencies in the table.",
      "type": "object",
      "properties": {
        "sensitiveValueFrequencyUpperBound": {
          "description": "Upper bound on the sensitive value frequencies of the equivalence\nclasses in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "sensitiveValueFrequencyLowerBound": {
          "description": "Lower bound on the sensitive value frequencies of the equivalence\nclasses in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketValues": {
          "description": "Sample of equivalence classes in this bucket. The total number of\nclasses returned per bucket is capped at 20.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1LDiversityEquivalenceClass"
          }
        },
        "bucketSize": {
          "description": "Total number of records in this bucket.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2beta1LDiversityHistogramBucket"
    },
    "GooglePrivacyDlpV2beta2Dictionary": {
      "description": "Custom information type based on a dictionary of words or phrases. This can\nbe used to match sensitive information specific to the data, such as a list\nof employee IDs or job titles.\n\nDictionary words are case-insensitive and all characters other than letters\nand digits in the unicode [Basic Multilingual\nPlane](https://en.wikipedia.org/wiki/Plane_%28Unicode%29#Basic_Multilingual_Plane)\nwill be replaced with whitespace when scanning for matches, so the\ndictionary phrase \"Sam Johnson\" will match all three phrases \"sam johnson\",\n\"Sam, Johnson\", and \"Sam (Johnson)\". Additionally, the characters\nsurrounding any match must be of a different type than the adjacent\ncharacters within the word, so letters must be next to non-letters and\ndigits next to non-digits. For example, the dictionary word \"jen\" will\nmatch the first three letters of the text \"jen123\" but will return no\nmatches for \"jennifer\".\n\nDictionary words containing a large number of characters that are not\nletters or digits may result in unexpected findings because such characters\nare treated as whitespace.",
      "type": "object",
      "properties": {
        "wordList": {
          "description": "List of words or phrases to search for.",
          "$ref": "GooglePrivacyDlpV2beta2WordList"
        }
      },
      "id": "GooglePrivacyDlpV2beta2Dictionary"
    },
    "GooglePrivacyDlpV2beta1Value": {
      "description": "Set of primitive values supported by the system.\nNote that for the purposes of inspection or transformation, the number\nof bytes considered to comprise a 'Value' is based on its representation\nas a UTF-8 encoded string. For example, if 'integer_value' is set to\n123456789, the number of bytes would be counted as 9, even though an\nint64 only holds up to 8 bytes of data.",
      "type": "object",
      "properties": {
        "timestampValue": {
          "format": "google-datetime",
          "type": "string"
        },
        "booleanValue": {
          "type": "boolean"
        },
        "floatValue": {
          "format": "double",
          "type": "number"
        },
        "integerValue": {
          "format": "int64",
          "type": "string"
        },
        "timeValue": {
          "$ref": "GoogleTypeTimeOfDay"
        },
        "stringValue": {
          "type": "string"
        },
        "dateValue": {
          "$ref": "GoogleTypeDate"
        }
      },
      "id": "GooglePrivacyDlpV2beta1Value"
    },
    "GooglePrivacyDlpV2beta2RecordCondition": {
      "properties": {
        "expressions": {
          "description": "An expression.",
          "$ref": "GooglePrivacyDlpV2beta2Expressions"
        }
      },
      "id": "GooglePrivacyDlpV2beta2RecordCondition",
[...]
