{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://dlp.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "DLP",
  "description": "Provides methods for detection, risk analysis, and de-identification of privacy-sensitive fragments in text, images, and Google Cloud Platform storage repositories.",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/dlp/docs/",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "dlp:v2beta2",
  "kind": "discovery#restDescription",
  "name": "dlp",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "bearer_token": {
      "description": "OAuth bearer token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "pp": {
      "default": "true",
      "description": "Pretty-print response.",
      "location": "query",
      "type": "boolean"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "infoTypes": {
      "methods": {
        "list": {
          "description": "Returns sensitive information types DLP supports.",
          "flatPath": "v2beta2/infoTypes",
          "httpMethod": "GET",
          "id": "dlp.infoTypes.list",
          "parameterOrder": [],
          "parameters": {
            "filter": {
              "description": "Optional filter to only return infoTypes supported by certain parts of the\nAPI. Defaults to supported_by=INSPECT.",
              "location": "query",
              "type": "string"
            },
            "languageCode": {
              "description": "Optional BCP-47 language code for localized infoType friendly\nnames. If omitted, or if localized strings are not available,\nen-US strings will be returned.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v2beta2/infoTypes",
          "response": {
            "$ref": "GooglePrivacyDlpV2beta2ListInfoTypesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "organizations": {
      "resources": {
        "deidentifyTemplates": {
          "methods": {
            "create": {
              "description": "Creates an Deidentify template for re-using frequently used configuration\nfor Deidentifying content, images, and storage.",
              "flatPath": "v2beta2/organizations/{organizationsId}/deidentifyTemplates",
              "httpMethod": "POST",
              "id": "dlp.organizations.deidentifyTemplates.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "The parent resource name, for example projects/my-project-id or\norganizations/my-org-id.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+parent}/deidentifyTemplates",
              "request": {
                "$ref": "GooglePrivacyDlpV2beta2CreateDeidentifyTemplateRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2beta2DeidentifyTemplate"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "description": "Deletes inspect templates.",
              "flatPath": "v2beta2/organizations/{organizationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
              "httpMethod": "DELETE",
              "id": "dlp.organizations.deidentifyTemplates.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Resource name of the organization and deidentify template to be deleted,\nfor example `organizations/433245324/deidentifyTemplates/432452342` or\nprojects/project-id/deidentifyTemplates/432452342.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/deidentifyTemplates/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "Gets an inspect template.",
              "flatPath": "v2beta2/organizations/{organizationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
              "httpMethod": "GET",
              "id": "dlp.organizations.deidentifyTemplates.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Resource name of the organization and deidentify template to be read, for\nexample `organizations/433245324/deidentifyTemplates/432452342` or\nprojects/project-id/deidentifyTemplates/432452342.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/deidentifyTemplates/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+name}",
              "response": {
                "$ref": "GooglePrivacyDlpV2beta2DeidentifyTemplate"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "Lists inspect templates.",
              "flatPath": "v2beta2/organizations/{organizationsId}/deidentifyTemplates",
              "httpMethod": "GET",
              "id": "dlp.organizations.deidentifyTemplates.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "description": "Optional size of the page, can be limited by server. If zero server returns\na page of max size 100.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional page token to continue retrieval. Comes from previous call\nto `ListDeidentifyTemplates`.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "The parent resource name, for example projects/my-project-id or\norganizations/my-org-id.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+parent}/deidentifyTemplates",
              "response": {
                "$ref": "GooglePrivacyDlpV2beta2ListDeidentifyTemplatesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "description": "Updates the inspect template.",
              "flatPath": "v2beta2/organizations/{organizationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
              "httpMethod": "PATCH",
              "id": "dlp.organizations.deidentifyTemplates.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Resource name of organization and deidentify template to be updated, for\nexample `organizations/433245324/deidentifyTemplates/432452342` or\nprojects/project-id/deidentifyTemplates/432452342.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/deidentifyTemplates/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+name}",
              "request": {
                "$ref": "GooglePrivacyDlpV2beta2UpdateDeidentifyTemplateRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2beta2DeidentifyTemplate"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "inspectTemplates": {
          "methods": {
            "create": {
              "description": "Creates an inspect template for re-using frequently used configuration\nfor inspecting content, images, and storage.",
              "flatPath": "v2beta2/organizations/{organizationsId}/inspectTemplates",
              "httpMethod": "POST",
              "id": "dlp.organizations.inspectTemplates.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "The parent resource name, for example projects/my-project-id or\norganizations/my-org-id.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+parent}/inspectTemplates",
              "request": {
                "$ref": "GooglePrivacyDlpV2beta2CreateInspectTemplateRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2beta2InspectTemplate"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "description": "Deletes inspect templates.",
              "flatPath": "v2beta2/organizations/{organizationsId}/inspectTemplates/{inspectTemplatesId}",
              "httpMethod": "DELETE",
              "id": "dlp.organizations.inspectTemplates.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Resource name of the organization and inspectTemplate to be deleted, for\nexample `organizations/433245324/inspectTemplates/432452342` or\nprojects/project-id/inspectTemplates/432452342.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/inspectTemplates/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "Gets an inspect template.",
              "flatPath": "v2beta2/organizations/{organizationsId}/inspectTemplates/{inspectTemplatesId}",
              "httpMethod": "GET",
              "id": "dlp.organizations.inspectTemplates.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Resource name of the organization and inspectTemplate to be read, for\nexample `organizations/433245324/inspectTemplates/432452342` or\nprojects/project-id/inspectTemplates/432452342.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/inspectTemplates/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+name}",
              "response": {
                "$ref": "GooglePrivacyDlpV2beta2InspectTemplate"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "Lists inspect templates.",
              "flatPath": "v2beta2/organizations/{organizationsId}/inspectTemplates",
              "httpMethod": "GET",
              "id": "dlp.organizations.inspectTemplates.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "description": "Optional size of the page, can be limited by server. If zero server returns\na page of max size 100.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional page token to continue retrieval. Comes from previous call\nto `ListInspectTemplates`.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "The parent resource name, for example projects/my-project-id or\norganizations/my-org-id.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+parent}/inspectTemplates",
              "response": {
                "$ref": "GooglePrivacyDlpV2beta2ListInspectTemplatesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "description": "Updates the inspect template.",
              "flatPath": "v2beta2/organizations/{organizationsId}/inspectTemplates/{inspectTemplatesId}",
              "httpMethod": "PATCH",
              "id": "dlp.organizations.inspectTemplates.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Resource name of organization and inspectTemplate to be updated, for\nexample `organizations/433245324/inspectTemplates/432452342` or\nprojects/project-id/inspectTemplates/432452342.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/inspectTemplates/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+name}",
              "request": {
                "$ref": "GooglePrivacyDlpV2beta2UpdateInspectTemplateRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2beta2InspectTemplate"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "content": {
          "methods": {
            "deidentify": {
              "description": "De-identifies potentially sensitive info from a ContentItem.\nThis method has limits on input size and output size.\n[How-to guide](/dlp/docs/deidentify-sensitive-data)",
              "flatPath": "v2beta2/projects/{projectsId}/content:deidentify",
              "httpMethod": "POST",
              "id": "dlp.projects.content.deidentify",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "The parent resource name, for example projects/my-project-id.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+parent}/content:deidentify",
              "request": {
                "$ref": "GooglePrivacyDlpV2beta2DeidentifyContentRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2beta2DeidentifyContentResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "inspect": {
              "description": "Finds potentially sensitive info in content.\nThis method has limits on input size, processing time, and output size.\n[How-to guide for text](/dlp/docs/inspecting-text), [How-to guide for\nimages](/dlp/docs/inspecting-images)",
              "flatPath": "v2beta2/projects/{projectsId}/content:inspect",
              "httpMethod": "POST",
              "id": "dlp.projects.content.inspect",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "The parent resource name, for example projects/my-project-id.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+parent}/content:inspect",
              "request": {
                "$ref": "GooglePrivacyDlpV2beta2InspectContentRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2beta2InspectContentResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "reidentify": {
              "description": "Re-identify content that has been de-identified.",
              "flatPath": "v2beta2/projects/{projectsId}/content:reidentify",
              "httpMethod": "POST",
              "id": "dlp.projects.content.reidentify",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "The parent resource name.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+parent}/content:reidentify",
              "request": {
                "$ref": "GooglePrivacyDlpV2beta2ReidentifyContentRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2beta2ReidentifyContentResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "dataSource": {
          "methods": {
            "analyze": {
              "description": "Schedules a job to compute risk analysis metrics over content in a Google\nCloud Platform repository. [How-to guide](/dlp/docs/compute-risk-analysis)",
              "flatPath": "v2beta2/projects/{projectsId}/dataSource:analyze",
              "httpMethod": "POST",
              "id": "dlp.projects.dataSource.analyze",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "The parent resource name, for example projects/my-project-id.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+parent}/dataSource:analyze",
              "request": {
                "$ref": "GooglePrivacyDlpV2beta2AnalyzeDataSourceRiskRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2beta2DlpJob"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "inspect": {
              "description": "Schedules a job scanning content in a Google Cloud Platform data\nrepository. [How-to guide](/dlp/docs/inspecting-storage)",
              "flatPath": "v2beta2/projects/{projectsId}/dataSource:inspect",
              "httpMethod": "POST",
              "id": "dlp.projects.dataSource.inspect",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "The parent resource name, for example projects/my-project-id.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+parent}/dataSource:inspect",
              "request": {
                "$ref": "GooglePrivacyDlpV2beta2InspectDataSourceRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2beta2DlpJob"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "deidentifyTemplates": {
          "methods": {
            "create": {
              "description": "Creates an Deidentify template for re-using frequently used configuration\nfor Deidentifying content, images, and storage.",
              "flatPath": "v2beta2/projects/{projectsId}/deidentifyTemplates",
              "httpMethod": "POST",
              "id": "dlp.projects.deidentifyTemplates.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "The parent resource name, for example projects/my-project-id or\norganizations/my-org-id.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+parent}/deidentifyTemplates",
              "request": {
                "$ref": "GooglePrivacyDlpV2beta2CreateDeidentifyTemplateRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2beta2DeidentifyTemplate"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "description": "Deletes inspect templates.",
              "flatPath": "v2beta2/projects/{projectsId}/deidentifyTemplates/{deidentifyTemplatesId}",
              "httpMethod": "DELETE",
              "id": "dlp.projects.deidentifyTemplates.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Resource name of the organization and deidentify template to be deleted,\nfor example `organizations/433245324/deidentifyTemplates/432452342` or\nprojects/project-id/deidentifyTemplates/432452342.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/deidentifyTemplates/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "Gets an inspect template.",
              "flatPath": "v2beta2/projects/{projectsId}/deidentifyTemplates/{deidentifyTemplatesId}",
              "httpMethod": "GET",
              "id": "dlp.projects.deidentifyTemplates.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Resource name of the organization and deidentify template to be read, for\nexample `organizations/433245324/deidentifyTemplates/432452342` or\nprojects/project-id/deidentifyTemplates/432452342.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/deidentifyTemplates/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+name}",
              "response": {
                "$ref": "GooglePrivacyDlpV2beta2DeidentifyTemplate"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "Lists inspect templates.",
              "flatPath": "v2beta2/projects/{projectsId}/deidentifyTemplates",
              "httpMethod": "GET",
              "id": "dlp.projects.deidentifyTemplates.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "description": "Optional size of the page, can be limited by server. If zero server returns\na page of max size 100.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional page token to continue retrieval. Comes from previous call\nto `ListDeidentifyTemplates`.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "The parent resource name, for example projects/my-project-id or\norganizations/my-org-id.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+parent}/deidentifyTemplates",
              "response": {
                "$ref": "GooglePrivacyDlpV2beta2ListDeidentifyTemplatesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "description": "Updates the inspect template.",
              "flatPath": "v2beta2/projects/{projectsId}/deidentifyTemplates/{deidentifyTemplatesId}",
              "httpMethod": "PATCH",
              "id": "dlp.projects.deidentifyTemplates.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Resource name of organization and deidentify template to be updated, for\nexample `organizations/433245324/deidentifyTemplates/432452342` or\nprojects/project-id/deidentifyTemplates/432452342.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/deidentifyTemplates/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+name}",
              "request": {
                "$ref": "GooglePrivacyDlpV2beta2UpdateDeidentifyTemplateRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2beta2DeidentifyTemplate"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "dlpJobs": {
          "methods": {
            "cancel": {
              "description": "Starts asynchronous cancellation on a long-running DlpJob.  The server\nmakes a best effort to cancel the DlpJob, but success is not\nguaranteed.",
              "flatPath": "v2beta2/projects/{projectsId}/dlpJobs/{dlpJobsId}:cancel",
              "httpMethod": "POST",
              "id": "dlp.projects.dlpJobs.cancel",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the DlpJob resource to be cancelled.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/dlpJobs/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+name}:cancel",
              "request": {
                "$ref": "GooglePrivacyDlpV2beta2CancelDlpJobRequest"
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "description": "Deletes a long-running DlpJob. This method indicates that the client is\nno longer interested in the DlpJob result. The job will be cancelled if\npossible.",
              "flatPath": "v2beta2/projects/{projectsId}/dlpJobs/{dlpJobsId}",
              "httpMethod": "DELETE",
              "id": "dlp.projects.dlpJobs.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the DlpJob resource to be deleted.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/dlpJobs/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "Gets the latest state of a long-running DlpJob.",
              "flatPath": "v2beta2/projects/{projectsId}/dlpJobs/{dlpJobsId}",
              "httpMethod": "GET",
              "id": "dlp.projects.dlpJobs.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the DlpJob resource.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/dlpJobs/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+name}",
              "response": {
                "$ref": "GooglePrivacyDlpV2beta2DlpJob"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "Lists DlpJobs that match the specified filter in the request.",
              "flatPath": "v2beta2/projects/{projectsId}/dlpJobs",
              "httpMethod": "GET",
              "id": "dlp.projects.dlpJobs.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "filter": {
                  "description": "Optional. Allows filtering.\n\nSupported syntax:\n\n* Filter expressions are made up of one or more restrictions.\n* Restrictions can be combined by `AND` or `OR` logical operators. A\nsequence of restrictions implicitly uses `AND`.\n* A restriction has the form of `\u003cfield\u003e \u003coperator\u003e \u003cvalue\u003e`.\n* Supported fields/values for inspect jobs:\n    - `state` - PENDING|RUNNING|CANCELED|FINISHED|FAILED\n    - `inspected_storage` - DATASTORE|CLOUD_STORAGE|BIGQUERY\n    - `trigger_name` - The resource name of the trigger that created job.\n* Supported fields for risk analysis jobs:\n    - `state` - RUNNING|CANCELED|FINISHED|FAILED\n* The operator must be `=` or `!=`.\n\nExamples:\n\n* inspected_storage = cloud_storage AND state = done\n* inspected_storage = cloud_storage OR inspected_storage = bigquery\n* inspected_storage = cloud_storage AND (state = done OR state = canceled)\n\nThe length of this field should be no more than 500 characters.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "The parent resource name, for example projects/my-project-id.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "type": {
                  "description": "The type of job. Defaults to `DlpJobType.INSPECT`",
                  "enum": [
                    "DLP_JOB_TYPE_UNSPECIFIED",
                    "INSPECT_JOB",
                    "RISK_ANALYSIS_JOB"
                  ],
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v2beta2/{+parent}/dlpJobs",
              "response": {
                "$ref": "GooglePrivacyDlpV2beta2ListDlpJobsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "image": {
          "methods": {
            "redact": {
              "description": "Redacts potentially sensitive info from an image.\nThis method has limits on input size, processing time, and output size.\n[How-to guide](/dlp/docs/redacting-sensitive-data-images)",
              "flatPath": "v2beta2/projects/{projectsId}/image:redact",
              "httpMethod": "POST",
              "id": "dlp.projects.image.redact",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "The parent resource name, for example projects/my-project-id.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+parent}/image:redact",
              "request": {
                "$ref": "GooglePrivacyDlpV2beta2RedactImageRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2beta2RedactImageResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "inspectTemplates": {
          "methods": {
            "create": {
              "description": "Creates an inspect template for re-using frequently used configuration\nfor inspecting content, images, and storage.",
              "flatPath": "v2beta2/projects/{projectsId}/inspectTemplates",
              "httpMethod": "POST",
              "id": "dlp.projects.inspectTemplates.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "The parent resource name, for example projects/my-project-id or\norganizations/my-org-id.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+parent}/inspectTemplates",
              "request": {
                "$ref": "GooglePrivacyDlpV2beta2CreateInspectTemplateRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2beta2InspectTemplate"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "description": "Deletes inspect templates.",
              "flatPath": "v2beta2/projects/{projectsId}/inspectTemplates/{inspectTemplatesId}",
              "httpMethod": "DELETE",
              "id": "dlp.projects.inspectTemplates.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Resource name of the organization and inspectTemplate to be deleted, for\nexample `organizations/433245324/inspectTemplates/432452342` or\nprojects/project-id/inspectTemplates/432452342.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/inspectTemplates/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "Gets an inspect template.",
              "flatPath": "v2beta2/projects/{projectsId}/inspectTemplates/{inspectTemplatesId}",
              "httpMethod": "GET",
              "id": "dlp.projects.inspectTemplates.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Resource name of the organization and inspectTemplate to be read, for\nexample `organizations/433245324/inspectTemplates/432452342` or\nprojects/project-id/inspectTemplates/432452342.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/inspectTemplates/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+name}",
              "response": {
                "$ref": "GooglePrivacyDlpV2beta2InspectTemplate"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "Lists inspect templates.",
              "flatPath": "v2beta2/projects/{projectsId}/inspectTemplates",
              "httpMethod": "GET",
              "id": "dlp.projects.inspectTemplates.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "description": "Optional size of the page, can be limited by server. If zero server returns\na page of max size 100.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional page token to continue retrieval. Comes from previous call\nto `ListInspectTemplates`.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "The parent resource name, for example projects/my-project-id or\norganizations/my-org-id.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+parent}/inspectTemplates",
              "response": {
                "$ref": "GooglePrivacyDlpV2beta2ListInspectTemplatesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "description": "Updates the inspect template.",
              "flatPath": "v2beta2/projects/{projectsId}/inspectTemplates/{inspectTemplatesId}",
              "httpMethod": "PATCH",
              "id": "dlp.projects.inspectTemplates.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Resource name of organization and inspectTemplate to be updated, for\nexample `organizations/433245324/inspectTemplates/432452342` or\nprojects/project-id/inspectTemplates/432452342.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/inspectTemplates/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+name}",
              "request": {
                "$ref": "GooglePrivacyDlpV2beta2UpdateInspectTemplateRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2beta2InspectTemplate"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "jobTriggers": {
          "methods": {
            "create": {
              "description": "Creates a job to run DLP actions such as scanning storage for sensitive\ninformation on a set schedule.",
              "flatPath": "v2beta2/projects/{projectsId}/jobTriggers",
              "httpMethod": "POST",
              "id": "dlp.projects.jobTriggers.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "The parent resource name, for example projects/my-project-id.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+parent}/jobTriggers",
              "request": {
                "$ref": "GooglePrivacyDlpV2beta2CreateJobTriggerRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2beta2JobTrigger"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "description": "Deletes a job trigger.",
              "flatPath": "v2beta2/projects/{projectsId}/jobTriggers/{jobTriggersId}",
              "httpMethod": "DELETE",
              "id": "dlp.projects.jobTriggers.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Resource name of the project and the triggeredJob, for example\n`projects/dlp-test-project/jobTriggers/53234423`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/jobTriggers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "Gets a job trigger.",
              "flatPath": "v2beta2/projects/{projectsId}/jobTriggers/{jobTriggersId}",
              "httpMethod": "GET",
              "id": "dlp.projects.jobTriggers.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Resource name of the project and the triggeredJob, for example\n`projects/dlp-test-project/jobTriggers/53234423`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/jobTriggers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+name}",
              "response": {
                "$ref": "GooglePrivacyDlpV2beta2JobTrigger"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "Lists job triggers.",
              "flatPath": "v2beta2/projects/{projectsId}/jobTriggers",
              "httpMethod": "GET",
              "id": "dlp.projects.jobTriggers.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "orderBy": {
                  "description": "Optional comma separated list of triggeredJob fields to order by,\nfollowed by 'asc/desc' postfix, i.e.\n`\"create_time asc,name desc,schedule_mode asc\"`. This list is\ncase-insensitive.\n\nExample: `\"name asc,schedule_mode desc, status desc\"`\n\nSupported filters keys and values are:\n\n- `create_time`: corresponds to time the triggeredJob was created.\n- `update_time`: corresponds to time the triggeredJob was last updated.\n- `name`: corresponds to JobTrigger's display name.\n- `status`: corresponds to the triggeredJob status.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional size of the page, can be limited by a server.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional page token to continue retrieval. Comes from previous call\nto ListJobTriggers. `order_by` and `filter` should not change for\nsubsequent calls, but can be omitted if token is specified.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "The parent resource name, for example projects/my-project-id.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+parent}/jobTriggers",
              "response": {
                "$ref": "GooglePrivacyDlpV2beta2ListJobTriggersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "description": "Updates a job trigger.",
              "flatPath": "v2beta2/projects/{projectsId}/jobTriggers/{jobTriggersId}",
              "httpMethod": "PATCH",
              "id": "dlp.projects.jobTriggers.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Resource name of the project and the triggeredJob, for example\n`projects/dlp-test-project/jobTriggers/53234423`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/jobTriggers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta2/{+name}",
              "request": {
                "$ref": "GooglePrivacyDlpV2beta2UpdateJobTriggerRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2beta2JobTrigger"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    }
  },
  "revision": "20180404",
  "rootUrl": "https://dlp.googleapis.com/",
  "schemas": {
    "GooglePrivacyDlpV2beta1AuxiliaryTable": {
      "description": "An auxiliary table contains statistical information on the relative\nfrequency of different quasi-identifiers values. It has one or several\nquasi-identifiers columns, and one column that indicates the relative\nfrequency of each quasi-identifier tuple.\nIf a tuple is present in the data but not in the auxiliary table, the\ncorresponding relative frequency is assumed to be zero (and thus, the\ntuple is highly reidentifiable).",
      "id": "GooglePrivacyDlpV2beta1AuxiliaryTable",
      "properties": {
        "quasiIds": {
          "description": "Quasi-identifier columns. [required]",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1QuasiIdField"
          },
          "type": "array"
        },
        "relativeFrequency": {
          "$ref": "GooglePrivacyDlpV2beta1FieldId",
          "description": "The relative frequency column must contain a floating-point number\nbetween 0 and 1 (inclusive). Null values are assumed to be zero.\n[required]"
        },
        "table": {
          "$ref": "GooglePrivacyDlpV2beta1BigQueryTable",
          "description": "Auxiliary table location. [required]"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1BigQueryOptions": {
      "description": "Options defining BigQuery table and row identifiers.",
      "id": "GooglePrivacyDlpV2beta1BigQueryOptions",
      "properties": {
        "identifyingFields": {
          "description": "References to fields uniquely identifying rows within the table.\nNested fields in the format, like `person.birthdate.year`, are allowed.",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1FieldId"
          },
          "type": "array"
        },
        "tableReference": {
          "$ref": "GooglePrivacyDlpV2beta1BigQueryTable",
          "description": "Complete BigQuery table reference."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1BigQueryTable": {
      "description": "Message defining the location of a BigQuery table. A table is uniquely\nidentified  by its project_id, dataset_id, and table_name. Within a query\na table is often referenced with a string in the format of:\n`\u003cproject_id\u003e:\u003cdataset_id\u003e.\u003ctable_id\u003e` or\n`\u003cproject_id\u003e.\u003cdataset_id\u003e.\u003ctable_id\u003e`.",
      "id": "GooglePrivacyDlpV2beta1BigQueryTable",
      "properties": {
        "datasetId": {
          "description": "Dataset ID of the table.",
          "type": "string"
        },
        "projectId": {
          "description": "The Google Cloud Platform project ID of the project containing the table.\nIf omitted, project ID is inferred from the API call.",
          "type": "string"
        },
        "tableId": {
          "description": "Name of the table.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1CategoricalStatsConfig": {
      "description": "Compute numerical stats over an individual column, including\nnumber of distinct values and value count distribution.",
      "id": "GooglePrivacyDlpV2beta1CategoricalStatsConfig",
      "properties": {
        "field": {
          "$ref": "GooglePrivacyDlpV2beta1FieldId",
          "description": "Field to compute categorical stats on. All column types are\nsupported except for arrays and structs. However, it may be more\ninformative to use NumericalStats when the field type is supported,\ndepending on the data."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1CategoricalStatsHistogramBucket": {
      "description": "Histogram bucket of value frequencies in the column.",
      "id": "GooglePrivacyDlpV2beta1CategoricalStatsHistogramBucket",
      "properties": {
        "bucketSize": {
          "description": "Total number of records in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketValues": {
          "description": "Sample of value frequencies in this bucket. The total number of\nvalues returned per bucket is capped at 20.",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1ValueFrequency"
          },
          "type": "array"
        },
        "valueFrequencyLowerBound": {
          "description": "Lower bound on the value frequency of the values in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "valueFrequencyUpperBound": {
          "description": "Upper bound on the value frequency of the values in this bucket.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1CategoricalStatsResult": {
      "description": "Result of the categorical stats computation.",
      "id": "GooglePrivacyDlpV2beta1CategoricalStatsResult",
      "properties": {
        "valueFrequencyHistogramBuckets": {
          "description": "Histogram of value frequencies in the column.",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1CategoricalStatsHistogramBucket"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1CloudStorageOptions": {
      "description": "Options defining a file or a set of files (path ending with *) within\na Google Cloud Storage bucket.",
      "id": "GooglePrivacyDlpV2beta1CloudStorageOptions",
      "properties": {
        "fileSet": {
          "$ref": "GooglePrivacyDlpV2beta1FileSet"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1CloudStoragePath": {
      "description": "A location in Cloud Storage.",
      "id": "GooglePrivacyDlpV2beta1CloudStoragePath",
      "properties": {
        "path": {
          "description": "The url, in the format of `gs://bucket/\u003cpath\u003e`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1CustomInfoType": {
      "description": "Custom information type provided by the user. Used to find domain-specific\nsensitive information configurable to the data in question.",
      "id": "GooglePrivacyDlpV2beta1CustomInfoType",
      "properties": {
        "dictionary": {
          "$ref": "GooglePrivacyDlpV2beta1Dictionary",
          "description": "Dictionary-based custom info type."
        },
        "infoType": {
          "$ref": "GooglePrivacyDlpV2beta1InfoType",
          "description": "Info type configuration. All custom info types must have configurations\nthat do not conflict with built-in info types or other custom info types."
        },
        "surrogateType": {
          "$ref": "GooglePrivacyDlpV2beta1SurrogateType",
          "description": "Surrogate info type."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1DatastoreOptions": {
      "description": "Options defining a data set within Google Cloud Datastore.",
      "id": "GooglePrivacyDlpV2beta1DatastoreOptions",
      "properties": {
        "kind": {
          "$ref": "GooglePrivacyDlpV2beta1KindExpression",
          "description": "The kind to process."
        },
        "partitionId": {
          "$ref": "GooglePrivacyDlpV2beta1PartitionId",
          "description": "A partition ID identifies a grouping of entities. The grouping is always\nby project and namespace, however the namespace ID may be empty."
        },
        "projection": {
          "description": "Properties to scan. If none are specified, all properties will be scanned\nby default.",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1Projection"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1Dictionary": {
      "description": "Custom information type based on a dictionary of words or phrases. This can\nbe used to match sensitive information specific to the data, such as a list\nof employee IDs or job titles.\n\nDictionary words are case-insensitive and all characters other than letters\nand digits in the unicode [Basic Multilingual\nPlane](https://en.wikipedia.org/wiki/Plane_%28Unicode%29#Basic_Multilingual_Plane)\nwill be replaced with whitespace when scanning for matches, so the\ndictionary phrase \"Sam Johnson\" will match all three phrases \"sam johnson\",\n\"Sam, Johnson\", and \"Sam (Johnson)\". Additionally, the characters\nsurrounding any match must be of a different type than the adjacent\ncharacters within the word, so letters must be next to non-letters and\ndigits next to non-digits. For example, the dictionary word \"jen\" will\nmatch the first three letters of the text \"jen123\" but will return no\nmatches for \"jennifer\".\n\nDictionary words containing a large number of characters that are not\nletters or digits may result in unexpected findings because such characters\nare treated as whitespace.",
      "id": "GooglePrivacyDlpV2beta1Dictionary",
      "properties": {
        "wordList": {
          "$ref": "GooglePrivacyDlpV2beta1WordList",
          "description": "List of words or phrases to search for."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1EntityId": {
      "description": "An entity in a dataset is a field or set of fields that correspond to a\nsingle person. For example, in medical records the `EntityId` might be\na patient identifier, or for financial records it might be an account\nidentifier. This message is used when generalizations or analysis must be\nconsistent across multiple rows pertaining to the same entity.",
      "id": "GooglePrivacyDlpV2beta1EntityId",
      "properties": {
        "field": {
          "$ref": "GooglePrivacyDlpV2beta1FieldId",
          "description": "Composite key indicating which field contains the entity identifier."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1FieldId": {
      "description": "General identifier of a data field in a storage service.",
      "id": "GooglePrivacyDlpV2beta1FieldId",
      "properties": {
        "columnName": {
          "description": "Name describing the field.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1FileSet": {
      "description": "Set of files to scan.",
      "id": "GooglePrivacyDlpV2beta1FileSet",
      "properties": {
        "url": {
          "description": "The url, in the format `gs://\u003cbucket\u003e/\u003cpath\u003e`. Trailing wildcard in the\npath is allowed.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1InfoType": {
      "description": "Type of information detected by the API.",
      "id": "GooglePrivacyDlpV2beta1InfoType",
      "properties": {
        "name": {
          "description": "Name of the information type.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1InfoTypeLimit": {
      "description": "Max findings configuration per info type, per content item or long running\noperation.",
      "id": "GooglePrivacyDlpV2beta1InfoTypeLimit",
      "properties": {
        "infoType": {
          "$ref": "GooglePrivacyDlpV2beta1InfoType",
          "description": "Type of information the findings limit applies to. Only one limit per\ninfo_type should be provided. If InfoTypeLimit does not have an\ninfo_type, the DLP API applies the limit against all info_types that are\nfound but not specified in another InfoTypeLimit."
        },
        "maxFindings": {
          "description": "Max findings limit for the given infoType.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1InfoTypeStatistics": {
      "description": "Statistics regarding a specific InfoType.",
      "id": "GooglePrivacyDlpV2beta1InfoTypeStatistics",
      "properties": {
        "count": {
          "description": "Number of findings for this info type.",
          "format": "int64",
          "type": "string"
        },
        "infoType": {
          "$ref": "GooglePrivacyDlpV2beta1InfoType",
          "description": "The type of finding this stat is for."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1InspectConfig": {
      "description": "Configuration description of the scanning process.\nWhen used with redactContent only info_types and min_likelihood are currently\nused.",
      "id": "GooglePrivacyDlpV2beta1InspectConfig",
      "properties": {
        "customInfoTypes": {
          "description": "Custom info types provided by the user.",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1CustomInfoType"
          },
          "type": "array"
        },
        "excludeTypes": {
          "description": "When true, excludes type information of the findings.",
          "type": "boolean"
        },
        "includeQuote": {
          "description": "When true, a contextual quote from the data that triggered a finding is\nincluded in the response; see Finding.quote.",
          "type": "boolean"
        },
        "infoTypeLimits": {
          "description": "Configuration of findings limit given for specified info types.",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1InfoTypeLimit"
          },
          "type": "array"
        },
        "infoTypes": {
          "description": "Restricts what info_types to look for. The values must correspond to\nInfoType values returned by ListInfoTypes or found in documentation.\nEmpty info_types runs all enabled detectors.",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1InfoType"
          },
          "type": "array"
        },
        "maxFindings": {
          "description": "Limits the number of findings per content item or long running operation.",
          "format": "int32",
          "type": "integer"
        },
        "minLikelihood": {
          "description": "Only returns findings equal or above this threshold.",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Default value; information with all likelihoods is included.",
            "Few matching elements.",
            "",
            "Some matching elements.",
            "",
            "Many matching elements."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1InspectOperationMetadata": {
      "description": "Metadata returned within GetOperation for an inspect request.",
      "id": "GooglePrivacyDlpV2beta1InspectOperationMetadata",
      "properties": {
        "createTime": {
          "description": "The time which this request was started.",
          "format": "google-datetime",
          "type": "string"
        },
        "infoTypeStats": {
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1InfoTypeStatistics"
          },
          "type": "array"
        },
        "processedBytes": {
          "description": "Total size in bytes that were processed.",
          "format": "int64",
          "type": "string"
        },
        "requestInspectConfig": {
          "$ref": "GooglePrivacyDlpV2beta1InspectConfig",
          "description": "The inspect config used to create the Operation."
        },
        "requestOutputConfig": {
          "$ref": "GooglePrivacyDlpV2beta1OutputStorageConfig",
          "description": "Optional location to store findings."
        },
        "requestStorageConfig": {
          "$ref": "GooglePrivacyDlpV2beta1StorageConfig",
          "description": "The storage config used to create the Operation."
        },
        "totalEstimatedBytes": {
          "description": "Estimate of the number of bytes to process.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1InspectOperationResult": {
      "description": "The operational data.",
      "id": "GooglePrivacyDlpV2beta1InspectOperationResult",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should have the format of `inspect/results/{id}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1KAnonymityConfig": {
      "description": "k-anonymity metric, used for analysis of reidentification risk.",
      "id": "GooglePrivacyDlpV2beta1KAnonymityConfig",
      "properties": {
        "entityId": {
          "$ref": "GooglePrivacyDlpV2beta1EntityId",
          "description": "Optional message indicating that each distinct entity_id should not\ncontribute to the k-anonymity count more than once per equivalence class.\nIf an entity_id appears on several rows with different quasi-identifier\ntuples, it will contribute to each count exactly once.\n\nThis can lead to unexpected results. Consider a table where ID 1 is\nassociated to quasi-identifier \"foo\", ID 2 to \"bar\", and ID 3 to *both*\nquasi-identifiers \"foo\" and \"bar\" (on separate rows), and where this ID\nis used as entity_id. Then, the anonymity value associated to ID 3 will\nbe 2, even if it is the only ID to be associated to both values \"foo\" and\n\"bar\"."
        },
        "quasiIds": {
          "description": "Set of fields to compute k-anonymity over. When multiple fields are\nspecified, they are considered a single composite key. Structs and\nrepeated data types are not supported; however, nested fields are\nsupported so long as they are not structs themselves or nested within\na repeated field.",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1FieldId"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1KAnonymityEquivalenceClass": {
      "description": "The set of columns' values that share the same k-anonymity value.",
      "id": "GooglePrivacyDlpV2beta1KAnonymityEquivalenceClass",
      "properties": {
        "equivalenceClassSize": {
          "description": "Size of the equivalence class, for example number of rows with the\nabove set of values.",
          "format": "int64",
          "type": "string"
        },
        "quasiIdsValues": {
          "description": "Set of values defining the equivalence class. One value per\nquasi-identifier column in the original KAnonymity metric message.\nThe order is always the same as the original request.",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1Value"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1KAnonymityHistogramBucket": {
      "description": "Histogram bucket of equivalence class sizes in the table.",
      "id": "GooglePrivacyDlpV2beta1KAnonymityHistogramBucket",
      "properties": {
        "bucketSize": {
          "description": "Total number of records in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketValues": {
          "description": "Sample of equivalence classes in this bucket. The total number of\nclasses returned per bucket is capped at 20.",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1KAnonymityEquivalenceClass"
          },
          "type": "array"
        },
        "equivalenceClassSizeLowerBound": {
          "description": "Lower bound on the size of the equivalence classes in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "equivalenceClassSizeUpperBound": {
          "description": "Upper bound on the size of the equivalence classes in this bucket.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1KAnonymityResult": {
      "description": "Result of the k-anonymity computation.",
      "id": "GooglePrivacyDlpV2beta1KAnonymityResult",
      "properties": {
        "equivalenceClassHistogramBuckets": {
          "description": "Histogram of k-anonymity equivalence classes.",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1KAnonymityHistogramBucket"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1KMapEstimationConfig": {
      "description": "Reidentifiability metric. This corresponds to a risk model similar to what\nis called \"journalist risk\" in the literature, except the attack dataset is\nstatistically modeled instead of being perfectly known. This can be done\nusing publicly available data (like the US Census), or using a custom\nstatistical model (indicated as one or several BigQuery tables), or by\nextrapolating from the distribution of values in the input dataset.",
      "id": "GooglePrivacyDlpV2beta1KMapEstimationConfig",
      "properties": {
        "auxiliaryTables": {
          "description": "Several auxiliary tables can be used in the analysis. Each custom_tag\nused to tag a quasi-identifiers column must appear in exactly one column\nof one auxiliary table.",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1AuxiliaryTable"
          },
          "type": "array"
        },
        "quasiIds": {
          "description": "Fields considered to be quasi-identifiers. No two columns can have the\nsame tag. [required]",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1TaggedField"
          },
          "type": "array"
        },
        "regionCode": {
          "description": "ISO 3166-1 alpha-2 region code to use in the statistical modeling.\nRequired if no column is tagged with a region-specific InfoType (like\nUS_ZIP_5) or a region code.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1KMapEstimationHistogramBucket": {
      "description": "A KMapEstimationHistogramBucket message with the following values:\n  min_anonymity: 3\n  max_anonymity: 5\n  frequency: 42\nmeans that there are 42 records whose quasi-identifier values correspond\nto 3, 4 or 5 people in the overlying population. An important particular\ncase is when min_anonymity = max_anonymity = 1: the frequency field then\ncorresponds to the number of uniquely identifiable records.",
      "id": "GooglePrivacyDlpV2beta1KMapEstimationHistogramBucket",
      "properties": {
        "bucketSize": {
          "description": "Number of records within these anonymity bounds.",
          "format": "int64",
          "type": "string"
        },
        "bucketValues": {
          "description": "Sample of quasi-identifier tuple values in this bucket. The total\nnumber of classes returned per bucket is capped at 20.",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1KMapEstimationQuasiIdValues"
          },
          "type": "array"
        },
        "maxAnonymity": {
          "description": "Always greater than or equal to min_anonymity.",
          "format": "int64",
          "type": "string"
        },
        "minAnonymity": {
          "description": "Always positive.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1KMapEstimationQuasiIdValues": {
      "description": "A tuple of values for the quasi-identifier columns.",
      "id": "GooglePrivacyDlpV2beta1KMapEstimationQuasiIdValues",
      "properties": {
        "estimatedAnonymity": {
          "description": "The estimated anonymity for these quasi-identifier values.",
          "format": "int64",
          "type": "string"
        },
        "quasiIdsValues": {
          "description": "The quasi-identifier values.",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1Value"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1KMapEstimationResult": {
      "description": "Result of the reidentifiability analysis. Note that these results are an\nestimation, not exact values.",
      "id": "GooglePrivacyDlpV2beta1KMapEstimationResult",
      "properties": {
        "kMapEstimationHistogram": {
          "description": "The intervals [min_anonymity, max_anonymity] do not overlap. If a value\ndoesn't correspond to any such interval, the associated frequency is\nzero. For example, the following records:\n  {min_anonymity: 1, max_anonymity: 1, frequency: 17}\n  {min_anonymity: 2, max_anonymity: 3, frequency: 42}\n  {min_anonymity: 5, max_anonymity: 10, frequency: 99}\nmean that there are no record with an estimated anonymity of 4, 5, or\nlarger than 10.",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1KMapEstimationHistogramBucket"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1KindExpression": {
      "description": "A representation of a Datastore kind.",
      "id": "GooglePrivacyDlpV2beta1KindExpression",
      "properties": {
        "name": {
          "description": "The name of the kind.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1LDiversityConfig": {
      "description": "l-diversity metric, used for analysis of reidentification risk.",
      "id": "GooglePrivacyDlpV2beta1LDiversityConfig",
      "properties": {
        "quasiIds": {
          "description": "Set of quasi-identifiers indicating how equivalence classes are\ndefined for the l-diversity computation. When multiple fields are\nspecified, they are considered a single composite key.",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1FieldId"
          },
          "type": "array"
        },
        "sensitiveAttribute": {
          "$ref": "GooglePrivacyDlpV2beta1FieldId",
          "description": "Sensitive field for computing the l-value."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1LDiversityEquivalenceClass": {
      "description": "The set of columns' values that share the same l-diversity value.",
      "id": "GooglePrivacyDlpV2beta1LDiversityEquivalenceClass",
      "properties": {
        "equivalenceClassSize": {
          "description": "Size of the k-anonymity equivalence class.",
          "format": "int64",
          "type": "string"
        },
        "numDistinctSensitiveValues": {
          "description": "Number of distinct sensitive values in this equivalence class.",
          "format": "int64",
          "type": "string"
        },
        "quasiIdsValues": {
          "description": "Quasi-identifier values defining the k-anonymity equivalence\nclass. The order is always the same as the original request.",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1Value"
          },
          "type": "array"
        },
        "topSensitiveValues": {
          "description": "Estimated frequencies of top sensitive values.",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1ValueFrequency"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1LDiversityHistogramBucket": {
      "description": "Histogram bucket of sensitive value frequencies in the table.",
      "id": "GooglePrivacyDlpV2beta1LDiversityHistogramBucket",
      "properties": {
        "bucketSize": {
          "description": "Total number of records in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketValues": {
          "description": "Sample of equivalence classes in this bucket. The total number of\nclasses returned per bucket is capped at 20.",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1LDiversityEquivalenceClass"
          },
          "type": "array"
        },
        "sensitiveValueFrequencyLowerBound": {
          "description": "Lower bound on the sensitive value frequencies of the equivalence\nclasses in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "sensitiveValueFrequencyUpperBound": {
          "description": "Upper bound on the sensitive value frequencies of the equivalence\nclasses in this bucket.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1LDiversityResult": {
      "description": "Result of the l-diversity computation.",
      "id": "GooglePrivacyDlpV2beta1LDiversityResult",
      "properties": {
        "sensitiveValueFrequencyHistogramBuckets": {
          "description": "Histogram of l-diversity equivalence class sensitive value frequencies.",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1LDiversityHistogramBucket"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1NumericalStatsConfig": {
      "description": "Compute numerical stats over an individual column, including\nmin, max, and quantiles.",
      "id": "GooglePrivacyDlpV2beta1NumericalStatsConfig",
      "properties": {
        "field": {
          "$ref": "GooglePrivacyDlpV2beta1FieldId",
          "description": "Field to compute numerical stats on. Supported types are\ninteger, float, date, datetime, timestamp, time."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1NumericalStatsResult": {
      "description": "Result of the numerical stats computation.",
      "id": "GooglePrivacyDlpV2beta1NumericalStatsResult",
      "properties": {
        "maxValue": {
          "$ref": "GooglePrivacyDlpV2beta1Value",
          "description": "Maximum value appearing in the column."
        },
        "minValue": {
          "$ref": "GooglePrivacyDlpV2beta1Value",
          "description": "Minimum value appearing in the column."
        },
        "quantileValues": {
          "description": "List of 99 values that partition the set of field values into 100 equal\nsized buckets.",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta1Value"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1OutputStorageConfig": {
      "description": "Cloud repository for storing output.",
      "id": "GooglePrivacyDlpV2beta1OutputStorageConfig",
      "properties": {
        "storagePath": {
          "$ref": "GooglePrivacyDlpV2beta1CloudStoragePath",
          "description": "The path to a Google Cloud Storage location to store output.\nThe bucket must already exist and\nthe Google APIs service account for DLP must have write permission to\nwrite to the given bucket.\nResults are split over multiple csv files with each file name matching\nthe pattern \"[operation_id]_[count].csv\", for example\n`3094877188788974909_1.csv`. The `operation_id` matches the\nidentifier for the Operation, and the `count` is a counter used for\ntracking the number of files written.\n\nThe CSV file(s) contain the following columns regardless of storage type\nscanned:\n- id\n- info_type\n- likelihood\n- byte size of finding\n- quote\n- timestamp\n\nFor Cloud Storage the next columns are:\n\n- file_path\n- start_offset\n\nFor Cloud Datastore the next columns are:\n\n- project_id\n- namespace_id\n- path\n- column_name\n- offset\n\nFor BigQuery the next columns are:\n\n- row_number\n- project_id\n- dataset_id\n- table_id"
        },
        "table": {
          "$ref": "GooglePrivacyDlpV2beta1BigQueryTable",
          "description": "Store findings in a new table in the dataset."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1PartitionId": {
      "description": "Datastore partition ID.\nA partition ID identifies a grouping of entities. The grouping is always\nby project and namespace, however the namespace ID may be empty.\n\nA partition ID contains several dimensions:\nproject ID and namespace ID.",
      "id": "GooglePrivacyDlpV2beta1PartitionId",
      "properties": {
        "namespaceId": {
          "description": "If not empty, the ID of the namespace to which the entities belong.",
          "type": "string"
        },
        "projectId": {
          "description": "The ID of the project to which the entities belong.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1PrivacyMetric": {
      "description": "Privacy metric to compute for reidentification risk analysis.",
      "id": "GooglePrivacyDlpV2beta1PrivacyMetric",
      "properties": {
        "categoricalStatsConfig": {
          "$ref": "GooglePrivacyDlpV2beta1CategoricalStatsConfig"
        },
        "kAnonymityConfig": {
          "$ref": "GooglePrivacyDlpV2beta1KAnonymityConfig"
        },
        "kMapEstimationConfig": {
          "$ref": "GooglePrivacyDlpV2beta1KMapEstimationConfig"
        },
        "lDiversityConfig": {
          "$ref": "GooglePrivacyDlpV2beta1LDiversityConfig"
        },
        "numericalStatsConfig": {
          "$ref": "GooglePrivacyDlpV2beta1NumericalStatsConfig"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1Projection": {
      "description": "A representation of a Datastore property in a projection.",
      "id": "GooglePrivacyDlpV2beta1Projection",
      "properties": {
        "property": {
          "$ref": "GooglePrivacyDlpV2beta1PropertyReference",
          "description": "The property to project."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1PropertyReference": {
      "description": "A reference to a property relative to the Datastore kind expressions.",
      "id": "GooglePrivacyDlpV2beta1PropertyReference",
      "properties": {
        "name": {
          "description": "The name of the property.\nIf name includes \".\"s, it may be interpreted as a property name path.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1QuasiIdField": {
      "description": "A quasi-identifier column has a custom_tag, used to know which column\nin the data corresponds to which column in the statistical model.",
      "id": "GooglePrivacyDlpV2beta1QuasiIdField",
      "properties": {
        "customTag": {
          "type": "string"
        },
        "field": {
          "$ref": "GooglePrivacyDlpV2beta1FieldId"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1RiskAnalysisOperationMetadata": {
      "description": "Metadata returned within the\n[`riskAnalysis.operations.get`](/dlp/docs/reference/rest/v2beta1/riskAnalysis.operations/get)\nfor risk analysis.",
      "id": "GooglePrivacyDlpV2beta1RiskAnalysisOperationMetadata",
      "properties": {
        "createTime": {
          "description": "The time which this request was started.",
          "format": "google-datetime",
          "type": "string"
        },
        "requestedPrivacyMetric": {
          "$ref": "GooglePrivacyDlpV2beta1PrivacyMetric",
          "description": "Privacy metric to compute."
        },
        "requestedSourceTable": {
          "$ref": "GooglePrivacyDlpV2beta1BigQueryTable",
          "description": "Input dataset to compute metrics over."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1RiskAnalysisOperationResult": {
      "description": "Result of a risk analysis\n[`Operation`](/dlp/docs/reference/rest/v2beta1/inspect.operations)\nrequest.",
      "id": "GooglePrivacyDlpV2beta1RiskAnalysisOperationResult",
      "properties": {
        "categoricalStatsResult": {
          "$ref": "GooglePrivacyDlpV2beta1CategoricalStatsResult"
        },
        "kAnonymityResult": {
          "$ref": "GooglePrivacyDlpV2beta1KAnonymityResult"
        },
        "kMapEstimationResult": {
          "$ref": "GooglePrivacyDlpV2beta1KMapEstimationResult"
        },
        "lDiversityResult": {
          "$ref": "GooglePrivacyDlpV2beta1LDiversityResult"
        },
        "numericalStatsResult": {
          "$ref": "GooglePrivacyDlpV2beta1NumericalStatsResult"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1StorageConfig": {
      "description": "Shared message indicating Cloud storage type.",
      "id": "GooglePrivacyDlpV2beta1StorageConfig",
      "properties": {
        "bigQueryOptions": {
          "$ref": "GooglePrivacyDlpV2beta1BigQueryOptions",
          "description": "BigQuery options specification."
        },
        "cloudStorageOptions": {
          "$ref": "GooglePrivacyDlpV2beta1CloudStorageOptions",
          "description": "Google Cloud Storage options specification."
        },
        "datastoreOptions": {
          "$ref": "GooglePrivacyDlpV2beta1DatastoreOptions",
          "description": "Google Cloud Datastore options specification."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1SurrogateType": {
      "description": "Message for detecting output from deidentification transformations\nsuch as\n[`CryptoReplaceFfxFpeConfig`](/dlp/docs/reference/rest/v2beta1/content/deidentify#CryptoReplaceFfxFpeConfig).\nThese types of transformations are\nthose that perform pseudonymization, thereby producing a \"surrogate\" as\noutput. This should be used in conjunction with a field on the\ntransformation such as `surrogate_info_type`. This custom info type does\nnot support the use of `detection_rules`.",
      "id": "GooglePrivacyDlpV2beta1SurrogateType",
      "properties": {},
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1TaggedField": {
      "description": "A column with a semantic tag attached.",
      "id": "GooglePrivacyDlpV2beta1TaggedField",
      "properties": {
        "customTag": {
          "description": "A column can be tagged with a custom tag. In this case, the user must\nindicate an auxiliary table that contains statistical information on\nthe possible values of this column (below).",
          "type": "string"
        },
        "field": {
          "$ref": "GooglePrivacyDlpV2beta1FieldId",
          "description": "Identifies the column. [required]"
        },
        "inferred": {
          "$ref": "GoogleProtobufEmpty",
          "description": "If no semantic tag is indicated, we infer the statistical model from\nthe distribution of values in the input data"
        },
        "infoType": {
          "$ref": "GooglePrivacyDlpV2beta1InfoType",
          "description": "A column can be tagged with a InfoType to use the relevant public\ndataset as a statistical model of population, if available. We\ncurrently support US ZIP codes, region codes, ages and genders."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1Value": {
      "description": "Set of primitive values supported by the system.\nNote that for the purposes of inspection or transformation, the number\nof bytes considered to comprise a 'Value' is based on its representation\nas a UTF-8 encoded string. For example, if 'integer_value' is set to\n123456789, the number of bytes would be counted as 9, even though an\nint64 only holds up to 8 bytes of data.",
      "id": "GooglePrivacyDlpV2beta1Value",
      "properties": {
        "booleanValue": {
          "type": "boolean"
        },
        "dateValue": {
          "$ref": "GoogleTypeDate"
        },
        "floatValue": {
          "format": "double",
          "type": "number"
        },
        "integerValue": {
          "format": "int64",
          "type": "string"
        },
        "stringValue": {
          "type": "string"
        },
        "timeValue": {
          "$ref": "GoogleTypeTimeOfDay"
        },
        "timestampValue": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1ValueFrequency": {
      "description": "A value of a field, including its frequency.",
      "id": "GooglePrivacyDlpV2beta1ValueFrequency",
      "properties": {
        "count": {
          "description": "How many times the value is contained in the field.",
          "format": "int64",
          "type": "string"
        },
        "value": {
          "$ref": "GooglePrivacyDlpV2beta1Value",
          "description": "A value contained in the field in question."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1WordList": {
      "description": "Message defining a list of words or phrases to search for in the data.",
      "id": "GooglePrivacyDlpV2beta1WordList",
      "properties": {
        "words": {
          "description": "Words or phrases defining the dictionary. The dictionary must contain\nat least one phrase and every phrase must contain at least 2 characters\nthat are letters or digits. [required]",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2Action": {
      "description": "A task to execute on the completion of a job.",
      "id": "GooglePrivacyDlpV2beta2Action",
      "properties": {
        "pubSub": {
          "$ref": "GooglePrivacyDlpV2beta2PublishToPubSub",
          "description": "Publish a notification to a pubsub topic."
        },
        "saveFindings": {
          "$ref": "GooglePrivacyDlpV2beta2SaveFindings",
          "description": "Save resulting findings in a provided location."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2AnalyzeDataSourceRiskDetails": {
      "description": "Result of a risk analysis operation request.",
      "id": "GooglePrivacyDlpV2beta2AnalyzeDataSourceRiskDetails",
      "properties": {
        "categoricalStatsResult": {
          "$ref": "GooglePrivacyDlpV2beta2CategoricalStatsResult"
        },
        "kAnonymityResult": {
          "$ref": "GooglePrivacyDlpV2beta2KAnonymityResult"
        },
        "kMapEstimationResult": {
          "$ref": "GooglePrivacyDlpV2beta2KMapEstimationResult"
        },
        "lDiversityResult": {
          "$ref": "GooglePrivacyDlpV2beta2LDiversityResult"
        },
        "numericalStatsResult": {
          "$ref": "GooglePrivacyDlpV2beta2NumericalStatsResult"
        },
        "requestedPrivacyMetric": {
          "$ref": "GooglePrivacyDlpV2beta2PrivacyMetric",
          "description": "Privacy metric to compute."
        },
        "requestedSourceTable": {
          "$ref": "GooglePrivacyDlpV2beta2BigQueryTable",
          "description": "Input dataset to compute metrics over."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2AnalyzeDataSourceRiskRequest": {
      "description": "Request for creating a risk analysis DlpJob.",
      "id": "GooglePrivacyDlpV2beta2AnalyzeDataSourceRiskRequest",
      "properties": {
        "jobConfig": {
          "$ref": "GooglePrivacyDlpV2beta2RiskAnalysisJobConfig",
          "description": "Configuration for this risk analysis job."
        },
        "jobId": {
          "description": "Optional job ID to use for the created job. If not provided, a job ID will\nautomatically be generated. Must be unique within the project. The job ID\ncan contain uppercase and lowercase letters, numbers, and hyphens; that is,\nit must match the regular expression: `[a-zA-Z\\\\d-]+`. The maximum length\nis 100 characters. Can be empty to allow the system to generate one.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2AuxiliaryTable": {
      "description": "An auxiliary table contains statistical information on the relative\nfrequency of different quasi-identifiers values. It has one or several\nquasi-identifiers columns, and one column that indicates the relative\nfrequency of each quasi-identifier tuple.\nIf a tuple is present in the data but not in the auxiliary table, the\ncorresponding relative frequency is assumed to be zero (and thus, the\ntuple is highly reidentifiable).",
      "id": "GooglePrivacyDlpV2beta2AuxiliaryTable",
      "properties": {
        "quasiIds": {
          "description": "Quasi-identifier columns. [required]",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2QuasiIdField"
          },
          "type": "array"
        },
        "relativeFrequency": {
          "$ref": "GooglePrivacyDlpV2beta2FieldId",
          "description": "The relative frequency column must contain a floating-point number\nbetween 0 and 1 (inclusive). Null values are assumed to be zero.\n[required]"
        },
        "table": {
          "$ref": "GooglePrivacyDlpV2beta2BigQueryTable",
          "description": "Auxiliary table location. [required]"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2BigQueryKey": {
      "description": "Row key for identifying a record in BigQuery table.",
      "id": "GooglePrivacyDlpV2beta2BigQueryKey",
      "properties": {
        "rowNumber": {
          "description": "Absolute number of the row from the beginning of the table at the time\nof scanning.",
          "format": "int64",
          "type": "string"
        },
        "tableReference": {
          "$ref": "GooglePrivacyDlpV2beta2BigQueryTable",
          "description": "Complete BigQuery table reference."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2BigQueryOptions": {
      "description": "Options defining BigQuery table and row identifiers.",
      "id": "GooglePrivacyDlpV2beta2BigQueryOptions",
      "properties": {
        "identifyingFields": {
          "description": "References to fields uniquely identifying rows within the table.\nNested fields in the format, like `person.birthdate.year`, are allowed.",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2FieldId"
          },
          "type": "array"
        },
        "tableReference": {
          "$ref": "GooglePrivacyDlpV2beta2BigQueryTable",
          "description": "Complete BigQuery table reference."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2BigQueryTable": {
      "description": "Message defining the location of a BigQuery table. A table is uniquely\nidentified  by its project_id, dataset_id, and table_name. Within a query\na table is often referenced with a string in the format of:\n`\u003cproject_id\u003e:\u003cdataset_id\u003e.\u003ctable_id\u003e` or\n`\u003cproject_id\u003e.\u003cdataset_id\u003e.\u003ctable_id\u003e`.",
      "id": "GooglePrivacyDlpV2beta2BigQueryTable",
      "properties": {
        "datasetId": {
          "description": "Dataset ID of the table.",
          "type": "string"
        },
        "projectId": {
          "description": "The Google Cloud Platform project ID of the project containing the table.\nIf omitted, project ID is inferred from the API call.",
          "type": "string"
        },
        "tableId": {
          "description": "Name of the table.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2Bucket": {
      "description": "Bucket is represented as a range, along with replacement values.",
      "id": "GooglePrivacyDlpV2beta2Bucket",
      "properties": {
        "max": {
          "$ref": "GooglePrivacyDlpV2beta2Value",
          "description": "Upper bound of the range, exclusive; type must match min."
        },
        "min": {
          "$ref": "GooglePrivacyDlpV2beta2Value",
          "description": "Lower bound of the range, inclusive. Type should be the same as max if\nused."
        },
        "replacementValue": {
          "$ref": "GooglePrivacyDlpV2beta2Value",
          "description": "Replacement value for this bucket. If not provided\nthe default behavior will be to hyphenate the min-max range."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2BucketingConfig": {
      "description": "Generalization function that buckets values based on ranges. The ranges and\nreplacement values are dynamically provided by the user for custom behavior,\nsuch as 1-30 -\u003e LOW 31-65 -\u003e MEDIUM 66-100 -\u003e HIGH\nThis can be used on\ndata of type: number, long, string, timestamp.\nIf the bound `Value` type differs from the type of data being transformed, we\nwill first attempt converting the type of the data to be transformed to match\nthe type of the bound before comparing.",
      "id": "GooglePrivacyDlpV2beta2BucketingConfig",
      "properties": {
        "buckets": {
          "description": "Set of buckets. Ranges must be non-overlapping.",
          "items": {
            "$ref": "GooglePrivacyDlpV2beta2Bucket"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2CancelDlpJobRequest": {
      "description": "The request message for canceling a DLP job.",
      "id": "GooglePrivacyDlpV2beta2CancelDlpJobRequest",
      "properties": {},
      "type": "object"
    },
    "GooglePrivacyDlpV2beta2CategoricalStatsConfig": {
      "description": "Compute numerical stats over an individual column, including\nnumber of distinct values and value count distribution.",
      "id": "GooglePrivacyDlpV2beta2CategoricalStatsConfig",
[...]
