<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
</head>

<body>
    <h1>{{ .Title }}</h1>

    <table cellpadding="3" cellspacing="3" border="0" width="100%">
        <tr>
            <th align="left">Name</th>
            <th align="left">Modified</th>
            <th align="left">Size</th>
        </tr>

        {{ if .DirRemote}}
        <tr>
            <td><a href="../">..</a></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        {{ end }}

        {{ range $i := .Entries }}
            <tr>
            <td>
                <a href="{{ $i.URL }}">{{ $i.Leaf }}</a>
            </td>
            <td>
                {{ if not $i.IsDir }}
                    {{ $i.Modified.Format "2006-01-02 15:04:05" }}
                {{ else }}
                    &nbsp;
                {{ end }}
            </td>
            <td>
                {{ if not $i.IsDir }}
                    {{$i.Size}}
                {{ else }}
                    &nbsp;
                {{ end }}
            </td>
            </tr>
        {{ end }}
    </table>

</body>
</html>