{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive": {
          "description": "View and manage the files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "View and manage its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "View and manage Google Drive files and folders that you have opened or created with this app"
        },
        "https://www.googleapis.com/auth/drive.metadata": {
          "description": "View and manage metadata of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.metadata.readonly": {
          "description": "View metadata for files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.photos.readonly": {
          "description": "View the photos, videos and albums in your Google Photos"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "View the files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.scripts": {
          "description": "Modify your Google Apps Script scripts' behavior"
        }
      }
    }
  },
  "basePath": "/drive/v3/",
  "baseUrl": "https://www.googleapis.com/drive/v3/",
  "batchPath": "batch/drive/v3",
  "description": "Manages files in Drive including uploading, downloading, searching, detecting changes, and updating sharing permissions.",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/drive/",
  "etag": "\"Zkyw9ACJZUvcYmlFaKGChzhmtnE/60h7ViKsodHGCzKStsqADfQgTZ0\"",
  "icons": {
    "x16": "https://ssl.gstatic.com/docs/doclist/images/drive_icon_16.png",
    "x32": "https://ssl.gstatic.com/docs/doclist/images/drive_icon_32.png"
  },
  "id": "drive:v3",
  "kind": "discovery#restDescription",
  "name": "drive",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "alt": {
      "default": "json",
      "description": "Data format for the response.",
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "about": {
      "methods": {
        "get": {
          "description": "Gets information about the user, the user's Drive, and system capabilities.",
          "httpMethod": "GET",
          "id": "drive.about.get",
          "path": "about",
          "response": {
            "$ref": "About"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        }
      }
    },
    "changes": {
      "methods": {
        "getStartPageToken": {
          "description": "Gets the starting pageToken for listing future changes.",
          "httpMethod": "GET",
          "id": "drive.changes.getStartPageToken",
          "parameters": {
            "supportsTeamDrives": {
              "default": "false",
              "description": "Whether the requesting application supports Team Drives.",
              "location": "query",
              "type": "boolean"
            },
            "teamDriveId": {
              "description": "The ID of the Team Drive for which the starting pageToken for listing future changes from that Team Drive will be returned.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "changes/startPageToken",
          "response": {
            "$ref": "StartPageToken"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "list": {
          "description": "Lists the changes for a user or Team Drive.",
          "httpMethod": "GET",
          "id": "drive.changes.list",
          "parameterOrder": [
            "pageToken"
          ],
          "parameters": {
            "includeCorpusRemovals": {
              "default": "false",
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
              "location": "query",
              "type": "boolean"
            },
            "includeRemoved": {
              "default": "true",
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
              "location": "query",
              "type": "boolean"
            },
            "includeTeamDriveItems": {
              "default": "false",
              "description": "Whether Team Drive files or changes should be included in results.",
              "location": "query",
              "type": "boolean"
            },
            "pageSize": {
              "default": "100",
              "description": "The maximum number of changes to return per page.",
              "format": "int32",
              "location": "query",
              "maximum": "1000",
              "minimum": "1",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "restrictToMyDrive": {
              "default": "false",
              "description": "Whether to restrict the results to changes inside the My Drive hierarchy. This omits changes to files such as those in the Application Data folder or shared files which have not been added to My Drive.",
              "location": "query",
              "type": "boolean"
            },
            "spaces": {
              "default": "drive",
              "description": "A comma-separated list of spaces to query within the user corpus. Supported values are 'drive', 'appDataFolder' and 'photos'.",
              "location": "query",
              "type": "string"
            },
            "supportsTeamDrives": {
              "default": "false",
              "description": "Whether the requesting application supports Team Drives.",
              "location": "query",
              "type": "boolean"
            },
            "teamDriveId": {
              "description": "The Team Drive from which changes will be returned. If specified the change IDs will be reflective of the Team Drive; use the combined Team Drive ID and change ID as an identifier.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "changes",
          "response": {
            "$ref": "ChangeList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "supportsSubscription": true
        },
        "watch": {
          "description": "Subscribes to changes for a user.",
          "httpMethod": "POST",
          "id": "drive.changes.watch",
          "parameterOrder": [
            "pageToken"
          ],
          "parameters": {
            "includeCorpusRemovals": {
              "default": "false",
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
              "location": "query",
              "type": "boolean"
            },
            "includeRemoved": {
              "default": "true",
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
              "location": "query",
              "type": "boolean"
            },
            "includeTeamDriveItems": {
              "default": "false",
              "description": "Whether Team Drive files or changes should be included in results.",
              "location": "query",
              "type": "boolean"
            },
            "pageSize": {
              "default": "100",
              "description": "The maximum number of changes to return per page.",
              "format": "int32",
              "location": "query",
              "maximum": "1000",
              "minimum": "1",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "restrictToMyDrive": {
              "default": "false",
              "description": "Whether to restrict the results to changes inside the My Drive hierarchy. This omits changes to files such as those in the Application Data folder or shared files which have not been added to My Drive.",
              "location": "query",
              "type": "boolean"
            },
            "spaces": {
              "default": "drive",
              "description": "A comma-separated list of spaces to query within the user corpus. Supported values are 'drive', 'appDataFolder' and 'photos'.",
              "location": "query",
              "type": "string"
            },
            "supportsTeamDrives": {
              "default": "false",
              "description": "Whether the requesting application supports Team Drives.",
              "location": "query",
              "type": "boolean"
            },
            "teamDriveId": {
              "description": "The Team Drive from which changes will be returned. If specified the change IDs will be reflective of the Team Drive; use the combined Team Drive ID and change ID as an identifier.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "changes/watch",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "response": {
            "$ref": "Channel"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "supportsSubscription": true
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "description": "Stop watching resources through this channel",
          "httpMethod": "POST",
          "id": "drive.channels.stop",
          "path": "channels/stop",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        }
      }
    },
    "comments": {
      "methods": {
        "create": {
          "description": "Creates a new comment on a file.",
          "httpMethod": "POST",
          "id": "drive.comments.create",
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "files/{fileId}/comments",
          "request": {
            "$ref": "Comment"
          },
          "response": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "delete": {
          "description": "Deletes a comment.",
          "httpMethod": "DELETE",
          "id": "drive.comments.delete",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "parameters": {
            "commentId": {
              "description": "The ID of the comment.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "files/{fileId}/comments/{commentId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "get": {
          "description": "Gets a comment by ID.",
          "httpMethod": "GET",
          "id": "drive.comments.get",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "parameters": {
            "commentId": {
              "description": "The ID of the comment.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "includeDeleted": {
              "default": "false",
              "description": "Whether to return deleted comments. Deleted comments will not include their original content.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "files/{fileId}/comments/{commentId}",
          "response": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "list": {
          "description": "Lists a file's comments.",
          "httpMethod": "GET",
          "id": "drive.comments.list",
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "includeDeleted": {
              "default": "false",
              "description": "Whether to include deleted comments. Deleted comments will not include their original content.",
              "location": "query",
              "type": "boolean"
            },
            "pageSize": {
              "default": "20",
              "description": "The maximum number of comments to return per page.",
              "format": "int32",
              "location": "query",
              "maximum": "100",
              "minimum": "1",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
              "location": "query",
              "type": "string"
            },
            "startModifiedTime": {
              "description": "The minimum value of 'modifiedTime' for the result comments (RFC 3339 date-time).",
              "location": "query",
              "type": "string"
            }
          },
          "path": "files/{fileId}/comments",
          "response": {
            "$ref": "CommentList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "update": {
          "description": "Updates a comment with patch semantics.",
          "httpMethod": "PATCH",
          "id": "drive.comments.update",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "parameters": {
            "commentId": {
              "description": "The ID of the comment.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "files/{fileId}/comments/{commentId}",
          "request": {
            "$ref": "Comment"
          },
          "response": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        }
      }
    },
    "files": {
      "methods": {
        "copy": {
          "description": "Creates a copy of a file and applies any requested updates with patch semantics.",
          "httpMethod": "POST",
          "id": "drive.files.copy",
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "ignoreDefaultVisibility": {
              "default": "false",
              "description": "Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.",
              "location": "query",
              "type": "boolean"
            },
            "keepRevisionForever": {
              "default": "false",
              "description": "Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Drive.",
              "location": "query",
              "type": "boolean"
            },
            "ocrLanguage": {
              "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
              "location": "query",
              "type": "string"
            },
            "supportsTeamDrives": {
              "default": "false",
              "description": "Whether the requesting application supports Team Drives.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "files/{fileId}/copy",
          "request": {
            "$ref": "File"
          },
          "response": {
            "$ref": "File"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.photos.readonly"
          ]
        },
        "create": {
          "description": "Creates a new file.",
          "httpMethod": "POST",
          "id": "drive.files.create",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "5120GB",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/drive/v3/files"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/drive/v3/files"
              }
            }
          },
          "parameters": {
            "ignoreDefaultVisibility": {
              "default": "false",
              "description": "Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.",
              "location": "query",
              "type": "boolean"
            },
            "keepRevisionForever": {
              "default": "false",
              "description": "Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Drive.",
              "location": "query",
              "type": "boolean"
            },
            "ocrLanguage": {
              "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
              "location": "query",
              "type": "string"
            },
            "supportsTeamDrives": {
              "default": "false",
              "description": "Whether the requesting application supports Team Drives.",
              "location": "query",
              "type": "boolean"
            },
            "useContentAsIndexableText": {
              "default": "false",
              "description": "Whether to use the uploaded content as indexable text.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "files",
          "request": {
            "$ref": "File"
          },
          "response": {
            "$ref": "File"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "supportsMediaUpload": true,
          "supportsSubscription": true
        },
        "delete": {
          "description": "Permanently deletes a file owned by the user without moving it to the trash. If the file belongs to a Team Drive the user must be an organizer on the parent. If the target is a folder, all descendants owned by the user are also deleted.",
          "httpMethod": "DELETE",
          "id": "drive.files.delete",
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "supportsTeamDrives": {
              "default": "false",
              "description": "Whether the requesting application supports Team Drives.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "files/{fileId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "emptyTrash": {
          "description": "Permanently deletes all of the user's trashed files.",
          "httpMethod": "DELETE",
          "id": "drive.files.emptyTrash",
          "path": "files/trash",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "export": {
          "description": "Exports a Google Doc to the requested MIME type and returns the exported content. Please note that the exported content is limited to 10MB.",
          "httpMethod": "GET",
          "id": "drive.files.export",
          "parameterOrder": [
            "fileId",
            "mimeType"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "mimeType": {
              "description": "The MIME type of the format requested for this export.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "files/{fileId}/export",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "supportsMediaDownload": true
        },
        "generateIds": {
          "description": "Generates a set of file IDs which can be provided in create requests.",
          "httpMethod": "GET",
          "id": "drive.files.generateIds",
          "parameters": {
            "count": {
              "default": "10",
              "description": "The number of IDs to return.",
              "format": "int32",
              "location": "query",
              "maximum": "1000",
              "minimum": "1",
              "type": "integer"
            },
            "space": {
              "default": "drive",
              "description": "The space in which the IDs can be used to create new files. Supported values are 'drive' and 'appDataFolder'.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "files/generateIds",
          "response": {
            "$ref": "GeneratedIds"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "get": {
          "description": "Gets a file's metadata or content by ID.",
          "httpMethod": "GET",
          "id": "drive.files.get",
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "acknowledgeAbuse": {
              "default": "false",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when alt=media.",
              "location": "query",
              "type": "boolean"
            },
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "supportsTeamDrives": {
              "default": "false",
              "description": "Whether the requesting application supports Team Drives.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "files/{fileId}",
          "response": {
            "$ref": "File"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "supportsMediaDownload": true,
          "supportsSubscription": true,
          "useMediaDownloadService": true
        },
        "list": {
          "description": "Lists or searches files.",
          "httpMethod": "GET",
          "id": "drive.files.list",
          "parameters": {
            "corpora": {
              "description": "Comma-separated list of bodies of items (files/documents) to which the query applies. Supported bodies are 'user', 'domain', 'teamDrive' and 'allTeamDrives'. 'allTeamDrives' must be combined with 'user'; all other values must be used in isolation. Prefer 'user' or 'teamDrive' to 'allTeamDrives' for efficiency.",
              "location": "query",
              "type": "string"
            },
            "corpus": {
              "description": "The source of files to list. Deprecated: use 'corpora' instead.",
              "enum": [
                "domain",
                "user"
              ],
              "enumDescriptions": [
                "Files shared to the user's domain.",
                "Files owned by or shared to the user."
              ],
              "location": "query",
              "type": "string"
            },
            "includeTeamDriveItems": {
              "default": "false",
              "description": "Whether Team Drive items should be included in results.",
              "location": "query",
              "type": "boolean"
            },
            "orderBy": {
              "description": "A comma-separated list of sort keys. Valid keys are 'createdTime', 'folder', 'modifiedByMeTime', 'modifiedTime', 'name', 'name_natural', 'quotaBytesUsed', 'recency', 'sharedWithMeTime', 'starred', and 'viewedByMeTime'. Each key sorts ascending by default, but may be reversed with the 'desc' modifier. Example usage: ?orderBy=folder,modifiedTime desc,name. Please note that there is a current limitation for users with approximately one million files in which the requested sort order is ignored.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "default": "100",
              "description": "The maximum number of files to return per page. Partial or empty result pages are possible even before the end of the files list has been reached.",
              "format": "int32",
              "location": "query",
              "maximum": "1000",
              "minimum": "1",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
              "location": "query",
              "type": "string"
            },
            "q": {
              "description": "A query for filtering the file results. See the \"Search for Files\" guide for supported syntax.",
              "location": "query",
              "type": "string"
            },
            "spaces": {
              "default": "drive",
              "description": "A comma-separated list of spaces to query within the corpus. Supported values are 'drive', 'appDataFolder' and 'photos'.",
              "location": "query",
              "type": "string"
            },
            "supportsTeamDrives": {
              "default": "false",
              "description": "Whether the requesting application supports Team Drives.",
              "location": "query",
              "type": "boolean"
            },
            "teamDriveId": {
              "description": "ID of Team Drive to search.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "files",
          "response": {
            "$ref": "FileList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "update": {
          "description": "Updates a file's metadata and/or content with patch semantics.",
          "httpMethod": "PATCH",
          "id": "drive.files.update",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "5120GB",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/drive/v3/files/{fileId}"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/drive/v3/files/{fileId}"
              }
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "addParents": {
              "description": "A comma-separated list of parent IDs to add.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "keepRevisionForever": {
              "default": "false",
              "description": "Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Drive.",
              "location": "query",
              "type": "boolean"
            },
            "ocrLanguage": {
              "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
              "location": "query",
              "type": "string"
            },
            "removeParents": {
              "description": "A comma-separated list of parent IDs to remove.",
              "location": "query",
              "type": "string"
            },
            "supportsTeamDrives": {
              "default": "false",
              "description": "Whether the requesting application supports Team Drives.",
              "location": "query",
              "type": "boolean"
            },
            "useContentAsIndexableText": {
              "default": "false",
              "description": "Whether to use the uploaded content as indexable text.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "files/{fileId}",
          "request": {
            "$ref": "File"
          },
          "response": {
            "$ref": "File"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ],
          "supportsMediaUpload": true
        },
        "watch": {
          "description": "Subscribes to changes to a file",
          "httpMethod": "POST",
          "id": "drive.files.watch",
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "acknowledgeAbuse": {
              "default": "false",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when alt=media.",
              "location": "query",
              "type": "boolean"
            },
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "supportsTeamDrives": {
              "default": "false",
              "description": "Whether the requesting application supports Team Drives.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "files/{fileId}/watch",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "response": {
            "$ref": "Channel"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "supportsMediaDownload": true,
          "supportsSubscription": true,
          "useMediaDownloadService": true
        }
      }
    },
    "permissions": {
      "methods": {
        "create": {
          "description": "Creates a permission for a file or Team Drive.",
          "httpMethod": "POST",
          "id": "drive.permissions.create",
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "emailMessage": {
              "description": "A plain text custom message to include in the notification email.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file or Team Drive.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "sendNotificationEmail": {
              "description": "Whether to send a notification email when sharing to users or groups. This defaults to true for users and groups, and is not allowed for other requests. It must not be disabled for ownership transfers.",
              "location": "query",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "default": "false",
              "description": "Whether the requesting application supports Team Drives.",
              "location": "query",
              "type": "boolean"
            },
            "transferOwnership": {
              "default": "false",
              "description": "Whether to transfer ownership to the specified user and downgrade the current owner to a writer. This parameter is required as an acknowledgement of the side effect.",
              "location": "query",
              "type": "boolean"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "description": "Whether the request should be treated as if it was issued by a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the item belongs.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "files/{fileId}/permissions",
          "request": {
            "$ref": "Permission"
          },
          "response": {
            "$ref": "Permission"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "delete": {
          "description": "Deletes a permission.",
          "httpMethod": "DELETE",
          "id": "drive.permissions.delete",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID of the file or Team Drive.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "permissionId": {
              "description": "The ID of the permission.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "supportsTeamDrives": {
              "default": "false",
              "description": "Whether the requesting application supports Team Drives.",
              "location": "query",
              "type": "boolean"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "description": "Whether the request should be treated as if it was issued by a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the item belongs.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "files/{fileId}/permissions/{permissionId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "get": {
          "description": "Gets a permission by ID.",
          "httpMethod": "GET",
          "id": "drive.permissions.get",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "permissionId": {
              "description": "The ID of the permission.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "supportsTeamDrives": {
              "default": "false",
              "description": "Whether the requesting application supports Team Drives.",
              "location": "query",
              "type": "boolean"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "description": "Whether the request should be treated as if it was issued by a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the item belongs.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "files/{fileId}/permissions/{permissionId}",
          "response": {
            "$ref": "Permission"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "list": {
          "description": "Lists a file's or Team Drive's permissions.",
          "httpMethod": "GET",
          "id": "drive.permissions.list",
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID of the file or Team Drive.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of permissions to return per page. When not set for files in a Team Drive, at most 100 results will be returned. When not set for files that are not in a Team Drive, the entire list will be returned.",
              "format": "int32",
              "location": "query",
              "maximum": "100",
              "minimum": "1",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
              "location": "query",
              "type": "string"
            },
            "supportsTeamDrives": {
              "default": "false",
              "description": "Whether the requesting application supports Team Drives.",
              "location": "query",
              "type": "boolean"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "description": "Whether the request should be treated as if it was issued by a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the item belongs.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "files/{fileId}/permissions",
          "response": {
            "$ref": "PermissionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "update": {
          "description": "Updates a permission with patch semantics.",
          "httpMethod": "PATCH",
          "id": "drive.permissions.update",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID of the file or Team Drive.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "permissionId": {
              "description": "The ID of the permission.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "removeExpiration": {
              "default": "false",
              "description": "Whether to remove the expiration date.",
              "location": "query",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "default": "false",
              "description": "Whether the requesting application supports Team Drives.",
              "location": "query",
              "type": "boolean"
            },
            "transferOwnership": {
              "default": "false",
              "description": "Whether to transfer ownership to the specified user and downgrade the current owner to a writer. This parameter is required as an acknowledgement of the side effect.",
              "location": "query",
              "type": "boolean"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "description": "Whether the request should be treated as if it was issued by a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the item belongs.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "files/{fileId}/permissions/{permissionId}",
          "request": {
            "$ref": "Permission"
          },
          "response": {
            "$ref": "Permission"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        }
      }
    },
    "replies": {
      "methods": {
        "create": {
          "description": "Creates a new reply to a comment.",
          "httpMethod": "POST",
          "id": "drive.replies.create",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "parameters": {
            "commentId": {
              "description": "The ID of the comment.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "files/{fileId}/comments/{commentId}/replies",
          "request": {
            "$ref": "Reply"
          },
          "response": {
            "$ref": "Reply"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "delete": {
          "description": "Deletes a reply.",
          "httpMethod": "DELETE",
          "id": "drive.replies.delete",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "parameters": {
            "commentId": {
              "description": "The ID of the comment.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "replyId": {
              "description": "The ID of the reply.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "get": {
          "description": "Gets a reply by ID.",
          "httpMethod": "GET",
          "id": "drive.replies.get",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "parameters": {
            "commentId": {
              "description": "The ID of the comment.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "includeDeleted": {
              "default": "false",
              "description": "Whether to return deleted replies. Deleted replies will not include their original content.",
              "location": "query",
              "type": "boolean"
            },
            "replyId": {
              "description": "The ID of the reply.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "response": {
            "$ref": "Reply"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "list": {
          "description": "Lists a comment's replies.",
          "httpMethod": "GET",
          "id": "drive.replies.list",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "parameters": {
            "commentId": {
              "description": "The ID of the comment.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "includeDeleted": {
              "default": "false",
              "description": "Whether to include deleted replies. Deleted replies will not include their original content.",
              "location": "query",
              "type": "boolean"
            },
            "pageSize": {
              "default": "20",
              "description": "The maximum number of replies to return per page.",
              "format": "int32",
              "location": "query",
              "maximum": "100",
              "minimum": "1",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "files/{fileId}/comments/{commentId}/replies",
          "response": {
            "$ref": "ReplyList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "update": {
          "description": "Updates a reply with patch semantics.",
          "httpMethod": "PATCH",
          "id": "drive.replies.update",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "parameters": {
            "commentId": {
              "description": "The ID of the comment.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "replyId": {
              "description": "The ID of the reply.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "request": {
            "$ref": "Reply"
          },
          "response": {
            "$ref": "Reply"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        }
      }
    },
    "revisions": {
      "methods": {
        "delete": {
          "description": "Permanently deletes a revision. This method is only applicable to files with binary content in Drive.",
          "httpMethod": "DELETE",
          "id": "drive.revisions.delete",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "revisionId": {
              "description": "The ID of the revision.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "files/{fileId}/revisions/{revisionId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "get": {
          "description": "Gets a revision's metadata or content by ID.",
          "httpMethod": "GET",
          "id": "drive.revisions.get",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "parameters": {
            "acknowledgeAbuse": {
              "default": "false",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when alt=media.",
              "location": "query",
              "type": "boolean"
            },
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "revisionId": {
              "description": "The ID of the revision.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "files/{fileId}/revisions/{revisionId}",
          "response": {
            "$ref": "Revision"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "supportsMediaDownload": true,
          "useMediaDownloadService": true
        },
        "list": {
          "description": "Lists a file's revisions.",
          "httpMethod": "GET",
          "id": "drive.revisions.list",
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageSize": {
              "default": "200",
              "description": "The maximum number of revisions to return per page.",
              "format": "int32",
              "location": "query",
              "maximum": "1000",
              "minimum": "1",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "files/{fileId}/revisions",
          "response": {
            "$ref": "RevisionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "update": {
          "description": "Updates a revision with patch semantics.",
          "httpMethod": "PATCH",
          "id": "drive.revisions.update",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "revisionId": {
              "description": "The ID of the revision.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "files/{fileId}/revisions/{revisionId}",
          "request": {
            "$ref": "Revision"
          },
          "response": {
            "$ref": "Revision"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ]
        }
      }
    },
    "teamdrives": {
      "methods": {
        "create": {
          "description": "Creates a new Team Drive.",
          "httpMethod": "POST",
          "id": "drive.teamdrives.create",
          "parameterOrder": [
            "requestId"
          ],
          "parameters": {
            "requestId": {
              "description": "An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a Team Drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same Team Drive. If the Team Drive already exists a 409 error will be returned.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "teamdrives",
          "request": {
            "$ref": "TeamDrive"
          },
          "response": {
            "$ref": "TeamDrive"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "delete": {
          "description": "Permanently deletes a Team Drive for which the user is an organizer. The Team Drive cannot contain any untrashed items.",
          "httpMethod": "DELETE",
          "id": "drive.teamdrives.delete",
          "parameterOrder": [
            "teamDriveId"
          ],
          "parameters": {
            "teamDriveId": {
              "description": "The ID of the Team Drive",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "teamdrives/{teamDriveId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "get": {
          "description": "Gets a Team Drive's metadata by ID.",
          "httpMethod": "GET",
          "id": "drive.teamdrives.get",
          "parameterOrder": [
            "teamDriveId"
          ],
          "parameters": {
            "teamDriveId": {
              "description": "The ID of the Team Drive",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "description": "Whether the request should be treated as if it was issued by a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "teamdrives/{teamDriveId}",
          "response": {
            "$ref": "TeamDrive"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "list": {
          "description": "Lists the user's Team Drives.",
          "httpMethod": "GET",
          "id": "drive.teamdrives.list",
          "parameters": {
            "pageSize": {
              "default": "10",
              "description": "Maximum number of Team Drives to return.",
              "format": "int32",
              "location": "query",
              "maximum": "100",
              "minimum": "1",
              "type": "integer"
            },
            "pageToken": {
              "description": "Page token for Team Drives.",
              "location": "query",
              "type": "string"
            },
            "q": {
              "description": "Query string for searching Team Drives.",
              "location": "query",
              "type": "string"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "description": "Whether the request should be treated as if it was issued by a domain administrator; if set to true, then all Team Drives of the domain in which the requester is an administrator are returned.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "teamdrives",
          "response": {
            "$ref": "TeamDriveList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "update": {
          "description": "Updates a Team Drive's metadata",
          "httpMethod": "PATCH",
          "id": "drive.teamdrives.update",
          "parameterOrder": [
            "teamDriveId"
          ],
          "parameters": {
            "teamDriveId": {
              "description": "The ID of the Team Drive",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "teamdrives/{teamDriveId}",
          "request": {
            "$ref": "TeamDrive"
          },
          "response": {
            "$ref": "TeamDrive"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        }
      }
    }
  },
  "revision": "20180413",
  "rootUrl": "https://www.googleapis.com/",
  "schemas": {
    "About": {
      "description": "Information about the user, the user's Drive, and system capabilities.",
      "id": "About",
      "properties": {
        "appInstalled": {
          "description": "Whether the user has installed the requesting app.",
          "type": "boolean"
        },
        "canCreateTeamDrives": {
          "description": "Whether the user can create Team Drives.",
          "type": "boolean"
        },
        "exportFormats": {
          "additionalProperties": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "description": "A map of source MIME type to possible targets for all supported exports.",
          "type": "object"
        },
        "folderColorPalette": {
          "description": "The currently supported folder colors as RGB hex strings.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "importFormats": {
          "additionalProperties": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "description": "A map of source MIME type to possible targets for all supported imports.",
          "type": "object"
        },
        "kind": {
          "default": "drive#about",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"drive#about\".",
          "type": "string"
        },
        "maxImportSizes": {
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "description": "A map of maximum import sizes by MIME type, in bytes.",
          "type": "object"
        },
        "maxUploadSize": {
          "description": "The maximum upload size in bytes.",
          "format": "int64",
          "type": "string"
        },
        "storageQuota": {
          "description": "The user's storage quota limits and usage. All fields are measured in bytes.",
          "properties": {
            "limit": {
              "description": "The usage limit, if applicable. This will not be present if the user has unlimited storage.",
              "format": "int64",
              "type": "string"
            },
            "usage": {
              "description": "The total usage across all services.",
              "format": "int64",
              "type": "string"
            },
            "usageInDrive": {
              "description": "The usage by all files in Google Drive.",
              "format": "int64",
              "type": "string"
            },
            "usageInDriveTrash": {
              "description": "The usage by trashed files in Google Drive.",
              "format": "int64",
              "type": "string"
            }
          },
          "type": "object"
        },
        "teamDriveThemes": {
          "description": "A list of themes that are supported for Team Drives.",
          "items": {
            "properties": {
              "backgroundImageLink": {
                "description": "A link to this Team Drive theme's background image.",
                "type": "string"
              },
              "colorRgb": {
                "description": "The color of this Team Drive theme as an RGB hex string.",
                "type": "string"
              },
              "id": {
                "description": "The ID of the theme.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "user": {
          "$ref": "User",
          "description": "The authenticated user."
        }
      },
      "type": "object"
    },
    "Change": {
      "description": "A change to a file or Team Drive.",
      "id": "Change",
      "properties": {
        "file": {
          "$ref": "File",
          "description": "The updated state of the file. Present if the type is file and the file has not been removed from this list of changes."
        },
        "fileId": {
          "description": "The ID of the file which has changed.",
          "type": "string"
        },
        "kind": {
          "default": "drive#change",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"drive#change\".",
          "type": "string"
        },
        "removed": {
          "description": "Whether the file or Team Drive has been removed from this list of changes, for example by deletion or loss of access.",
          "type": "boolean"
        },
        "teamDrive": {
          "$ref": "TeamDrive",
          "description": "The updated state of the Team Drive. Present if the type is teamDrive, the user is still a member of the Team Drive, and the Team Drive has not been removed."
        },
        "teamDriveId": {
          "description": "The ID of the Team Drive associated with this change.",
          "type": "string"
        },
        "time": {
          "description": "The time of this change (RFC 3339 date-time).",
          "format": "date-time",
          "type": "string"
        },
        "type": {
          "description": "The type of the change. Possible values are file and teamDrive.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ChangeList": {
      "description": "A list of changes for a user.",
      "id": "ChangeList",
      "properties": {
        "changes": {
          "description": "The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Change"
          },
          "type": "array"
        },
        "kind": {
          "default": "drive#changeList",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"drive#changeList\".",
          "type": "string"
        },
        "newStartPageToken": {
          "description": "The starting page token for future changes. This will be present only if the end of the current changes list has been reached.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The page token for the next page of changes. This will be absent if the end of the changes list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Channel": {
      "description": "An notification channel used to watch for resource changes.",
      "id": "Channel",
      "properties": {
        "address": {
          "description": "The address where notifications are delivered for this channel.",
          "type": "string"
        },
        "expiration": {
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
          "format": "int64",
          "type": "string"
        },
        "id": {
          "description": "A UUID or similar unique string that identifies this channel.",
          "type": "string"
        },
        "kind": {
          "default": "api#channel",
          "description": "Identifies this as a notification channel used to watch for changes to a resource. Value: the fixed string \"api#channel\".",
          "type": "string"
        },
        "params": {
          "additionalProperties": {
            "description": "Declares a new parameter by name.",
            "type": "string"
          },
          "description": "Additional parameters controlling delivery channel behavior. Optional.",
          "type": "object"
        },
        "payload": {
          "description": "A Boolean value to indicate whether payload is wanted. Optional.",
          "type": "boolean"
        },
        "resourceId": {
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.",
          "type": "string"
        },
        "resourceUri": {
          "description": "A version-specific identifier for the watched resource.",
          "type": "string"
        },
        "token": {
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
          "type": "string"
        },
        "type": {
          "description": "The type of delivery mechanism used for this channel.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Comment": {
      "description": "A comment on a file.",
      "id": "Comment",
      "properties": {
        "anchor": {
          "description": "A region of the document represented as a JSON string. See anchor documentation for details on how to define and interpret anchor properties.",
          "type": "string"
        },
        "author": {
          "$ref": "User",
          "description": "The user who created the comment."
        },
        "content": {
          "annotations": {
            "required": [
              "drive.comments.create",
              "drive.comments.update"
            ]
          },
          "description": "The plain text content of the comment. This field is used for setting the content, while htmlContent should be displayed.",
          "type": "string"
        },
        "createdTime": {
          "description": "The time at which the comment was created (RFC 3339 date-time).",
          "format": "date-time",
          "type": "string"
        },
        "deleted": {
          "description": "Whether the comment has been deleted. A deleted comment has no content.",
          "type": "boolean"
        },
        "htmlContent": {
          "description": "The content of the comment with HTML formatting.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the comment.",
          "type": "string"
        },
        "kind": {
          "default": "drive#comment",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"drive#comment\".",
          "type": "string"
        },
        "modifiedTime": {
          "description": "The last time the comment or any of its replies was modified (RFC 3339 date-time).",
          "format": "date-time",
          "type": "string"
        },
        "quotedFileContent": {
          "description": "The file content to which the comment refers, typically within the anchor region. For a text file, for example, this would be the text at the location of the comment.",
          "properties": {
            "mimeType": {
              "description": "The MIME type of the quoted content.",
              "type": "string"
            },
            "value": {
              "description": "The quoted content itself. This is interpreted as plain text if set through the API.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "replies": {
          "description": "The full list of replies to the comment in chronological order.",
          "items": {
            "$ref": "Reply"
          },
          "type": "array"
        },
        "resolved": {
          "description": "Whether the comment has been resolved by one of its replies.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "CommentList": {
      "description": "A list of comments on a file.",
      "id": "CommentList",
      "properties": {
        "comments": {
          "description": "The list of comments. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Comment"
          },
          "type": "array"
        },
        "kind": {
          "default": "drive#commentList",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"drive#commentList\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The page token for the next page of comments. This will be absent if the end of the comments list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "File": {
      "description": "The metadata for a file.",
      "id": "File",
      "properties": {
        "appProperties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A collection of arbitrary key-value pairs which are private to the requesting app.\nEntries with null values are cleared in update and copy requests.",
          "type": "object"
        },
        "capabilities": {
          "description": "Capabilities the current user has on this file. Each capability corresponds to a fine-grained action that a user may take.",
          "properties": {
            "canAddChildren": {
              "description": "Whether the current user can add children to this folder. This is always false when the item is not a folder.",
              "type": "boolean"
            },
            "canChangeViewersCanCopyContent": {
              "description": "Whether the current user can change whether viewers can copy the contents of this file.",
              "type": "boolean"
            },
            "canComment": {
              "description": "Whether the current user can comment on this file.",
              "type": "boolean"
            },
            "canCopy": {
              "description": "Whether the current user can copy this file. For a Team Drive item, whether the current user can copy non-folder descendants of this item, or this item itself if it is not a folder.",
              "type": "boolean"
            },
            "canDelete": {
              "description": "Whether the current user can delete this file.",
              "type": "boolean"
            },
            "canDownload": {
              "description": "Whether the current user can download this file.",
              "type": "boolean"
            },
            "canEdit": {
              "description": "Whether the current user can edit this file.",
              "type": "boolean"
            },
            "canListChildren": {
              "description": "Whether the current user can list the children of this folder. This is always false when the item is not a folder.",
              "type": "boolean"
            },
            "canMoveItemIntoTeamDrive": {
              "description": "Whether the current user can move this item into a Team Drive. If the item is in a Team Drive, this field is equivalent to canMoveTeamDriveItem.",
              "type": "boolean"
            },
            "canMoveTeamDriveItem": {
              "description": "Whether the current user can move this Team Drive item by changing its parent. Note that a request to change the parent for this item may still fail depending on the new parent that is being added. Only populated for Team Drive files.",
              "type": "boolean"
            },
            "canReadRevisions": {
              "description": "Whether the current user can read the revisions resource of this file. For a Team Drive item, whether revisions of non-folder descendants of this item, or this item itself if it is not a folder, can be read.",
              "type": "boolean"
            },
            "canReadTeamDrive": {
              "description": "Whether the current user can read the Team Drive to which this file belongs. Only populated for Team Drive files.",
              "type": "boolean"
            },
            "canRemoveChildren": {
              "description": "Whether the current user can remove children from this folder. This is always false when the item is not a folder.",
              "type": "boolean"
            },
            "canRename": {
              "description": "Whether the current user can rename this file.",
              "type": "boolean"
            },
            "canShare": {
              "description": "Whether the current user can modify the sharing settings for this file.",
              "type": "boolean"
            },
            "canTrash": {
              "description": "Whether the current user can move this file to trash.",
              "type": "boolean"
            },
            "canUntrash": {
              "description": "Whether the current user can restore this file from trash.",
              "type": "boolean"
            }
          },
          "type": "object"
        },
        "contentHints": {
          "description": "Additional information about the content of the file. These fields are never populated in responses.",
          "properties": {
            "indexableText": {
              "description": "Text to be indexed for the file to improve fullText queries. This is limited to 128KB in length and may contain HTML elements.",
              "type": "string"
            },
            "thumbnail": {
              "description": "A thumbnail for the file. This will only be used if Drive cannot generate a standard thumbnail.",
              "properties": {
                "image": {
                  "description": "The thumbnail data encoded with URL-safe Base64 (RFC 4648 section 5).",
                  "format": "byte",
                  "type": "string"
                },
                "mimeType": {
                  "description": "The MIME type of the thumbnail.",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "type": "object"
        },
        "createdTime": {
          "description": "The time at which the file was created (RFC 3339 date-time).",
          "format": "date-time",
          "type": "string"
        },
        "description": {
          "description": "A short description of the file.",
          "type": "string"
        },
        "explicitlyTrashed": {
          "description": "Whether the file has been explicitly trashed, as opposed to recursively trashed from a parent folder.",
          "type": "boolean"
        },
        "fileExtension": {
          "description": "The final component of fullFileExtension. This is only available for files with binary content in Drive.",
          "type": "string"
        },
        "folderColorRgb": {
          "description": "The color for a folder as an RGB hex string. The supported colors are published in the folderColorPalette field of the About resource.\nIf an unsupported color is specified, the closest color in the palette will be used instead.",
          "type": "string"
        },
        "fullFileExtension": {
          "description": "The full file extension extracted from the name field. May contain multiple concatenated extensions, such as \"tar.gz\". This is only available for files with binary content in Drive.\nThis is automatically updated when the name field changes, however it is not cleared if the new name does not contain a valid extension.",
          "type": "string"
        },
        "hasAugmentedPermissions": {
          "description": "Whether any users are granted file access directly on this file. This field is only populated for Team Drive files.",
          "type": "boolean"
        },
        "hasThumbnail": {
          "description": "Whether this file has a thumbnail. This does not indicate whether the requesting app has access to the thumbnail. To check access, look for the presence of the thumbnailLink field.",
          "type": "boolean"
        },
        "headRevisionId": {
          "description": "The ID of the file's head revision. This is currently only available for files with binary content in Drive.",
          "type": "string"
        },
        "iconLink": {
          "description": "A static, unauthenticated link to the file's icon.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the file.",
          "type": "string"
        },
        "imageMediaMetadata": {
          "description": "Additional metadata about image media, if available.",
          "properties": {
            "aperture": {
              "description": "The aperture used to create the photo (f-number).",
              "format": "float",
              "type": "number"
            },
            "cameraMake": {
              "description": "The make of the camera used to create the photo.",
              "type": "string"
            },
            "cameraModel": {
              "description": "The model of the camera used to create the photo.",
              "type": "string"
            },
            "colorSpace": {
              "description": "The color space of the photo.",
              "type": "string"
            },
            "exposureBias": {
              "description": "The exposure bias of the photo (APEX value).",
              "format": "float",
              "type": "number"
            },
            "exposureMode": {
              "description": "The exposure mode used to create the photo.",
              "type": "string"
            },
            "exposureTime": {
              "description": "The length of the exposure, in seconds.",
              "format": "float",
              "type": "number"
            },
            "flashUsed": {
              "description": "Whether a flash was used to create the photo.",
              "type": "boolean"
            },
            "focalLength": {
              "description": "The focal length used to create the photo, in millimeters.",
              "format": "float",
              "type": "number"
            },
            "height": {
              "description": "The height of the image in pixels.",
              "format": "int32",
              "type": "integer"
            },
            "isoSpeed": {
              "description": "The ISO speed used to create the photo.",
              "format": "int32",
              "type": "integer"
            },
            "lens": {
              "description": "The lens used to create the photo.",
              "type": "string"
            },
            "location": {
              "description": "Geographic location information stored in the image.",
              "properties": {
                "altitude": {
                  "description": "The altitude stored in the image.",
                  "format": "double",
                  "type": "number"
                },
                "latitude": {
                  "description": "The latitude stored in the image.",
                  "format": "double",
                  "type": "number"
                },
                "longitude": {
                  "description": "The longitude stored in the image.",
                  "format": "double",
                  "type": "number"
                }
              },
              "type": "object"
            },
            "maxApertureValue": {
              "description": "The smallest f-number of the lens at the focal length used to create the photo (APEX value).",
              "format": "float",
              "type": "number"
            },
            "meteringMode": {
              "description": "The metering mode used to create the photo.",
              "type": "string"
            },
            "rotation": {
              "description": "The rotation in clockwise degrees from the image's original orientation.",
              "format": "int32",
              "type": "integer"
            },
            "sensor": {
              "description": "The type of sensor used to create the photo.",
              "type": "string"
            },
            "subjectDistance": {
              "description": "The distance to the subject of the photo, in meters.",
              "format": "int32",
              "type": "integer"
            },
            "time": {
              "description": "The date and time the photo was taken (EXIF DateTime).",
              "type": "string"
            },
            "whiteBalance": {
              "description": "The white balance mode used to create the photo.",
              "type": "string"
            },
            "width": {
              "description": "The width of the image in pixels.",
              "format": "int32",
              "type": "integer"
            }
          },
          "type": "object"
        },
        "isAppAuthorized": {
          "description": "Whether the file was created or opened by the requesting app.",
          "type": "boolean"
        },
        "kind": {
          "default": "drive#file",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"drive#file\".",
          "type": "string"
        },
        "lastModifyingUser": {
          "$ref": "User",
          "description": "The last user to modify the file."
        },
        "md5Checksum": {
          "description": "The MD5 checksum for the content of the file. This is only applicable to files with binary content in Drive.",
          "type": "string"
        },
        "mimeType": {
          "description": "The MIME type of the file.\nDrive will attempt to automatically detect an appropriate value from uploaded content if no value is provided. The value cannot be changed unless a new revision is uploaded.\nIf a file is created with a Google Doc MIME type, the uploaded content will be imported if possible. The supported import formats are published in the About resource.",
          "type": "string"
        },
        "modifiedByMe": {
          "description": "Whether the file has been modified by this user.",
          "type": "boolean"
        },
        "modifiedByMeTime": {
          "description": "The last time the file was modified by the user (RFC 3339 date-time).",
          "format": "date-time",
          "type": "string"
        },
        "modifiedTime": {
          "description": "The last time the file was modified by anyone (RFC 3339 date-time).\nNote that setting modifiedTime will also update modifiedByMeTime for the user.",
          "format": "date-time",
          "type": "string"
        },
        "name": {
          "description": "The name of the file. This is not necessarily unique within a folder. Note that for immutable items such as the top level folders of Team Drives, My Drive root folder, and Application Data folder the name is constant.",
          "type": "string"
        },
        "originalFilename": {
          "description": "The original filename of the uploaded content if available, or else the original value of the name field. This is only available for files with binary content in Drive.",
          "type": "string"
        },
        "ownedByMe": {
          "description": "Whether the user owns the file. Not populated for Team Drive files.",
          "type": "boolean"
        },
        "owners": {
          "description": "The owners of the file. Currently, only certain legacy files may have more than one owner. Not populated for Team Drive files.",
          "items": {
            "$ref": "User"
          },
          "type": "array"
        },
        "parents": {
          "description": "The IDs of the parent folders which contain the file.\nIf not specified as part of a create request, the file will be placed directly in the user's My Drive folder. If not specified as part of a copy request, the file will inherit any discoverable parents of the source file. Update requests must use the addParents and removeParents parameters to modify the parents list.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "permissionIds": {
          "description": "List of permission IDs for users with access to this file.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "permissions": {
          "description": "The full list of permissions for the file. This is only available if the requesting user can share the file. Not populated for Team Drive files.",
          "items": {
            "$ref": "Permission"
          },
          "type": "array"
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A collection of arbitrary key-value pairs which are visible to all apps.\nEntries with null values are cleared in update and copy requests.",
          "type": "object"
        },
        "quotaBytesUsed": {
          "description": "The number of storage quota bytes used by the file. This includes the head revision as well as previous revisions with keepForever enabled.",
          "format": "int64",
          "type": "string"
        },
        "shared": {
          "description": "Whether the file has been shared. Not populated for Team Drive files.",
          "type": "boolean"
        },
        "sharedWithMeTime": {
          "description": "The time at which the file was shared with the user, if applicable (RFC 3339 date-time).",
          "format": "date-time",
          "type": "string"
        },
        "sharingUser": {
          "$ref": "User",
          "description": "The user who shared the file with the requesting user, if applicable."
        },
        "size": {
          "description": "The size of the file's content in bytes. This is only applicable to files with binary content in Drive.",
          "format": "int64",
          "type": "string"
        },
        "spaces": {
          "description": "The list of spaces which contain the file. The currently supported values are 'drive', 'appDataFolder' and 'photos'.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "starred": {
          "description": "Whether the user has starred the file.",
          "type": "boolean"
        },
        "teamDriveId": {
          "description": "ID of the Team Drive the file resides in.",
          "type": "string"
        },
        "thumbnailLink": {
          "description": "A short-lived link to the file's thumbnail, if available. Typically lasts on the order of hours. Only populated when the requesting app can access the file's content.",
          "type": "string"
        },
        "thumbnailVersion": {
          "description": "The thumbnail version for use in thumbnail cache invalidation.",
          "format": "int64",
          "type": "string"
        },
        "trashed": {
          "description": "Whether the file has been trashed, either explicitly or from a trashed parent folder. Only the owner may trash a file, and other users cannot see files in the owner's trash.",
          "type": "boolean"
        },
        "trashedTime": {
          "description": "The time that the item was trashed (RFC 3339 date-time). Only populated for Team Drive files.",
          "format": "date-time",
          "type": "string"
        },
        "trashingUser": {
          "$ref": "User",
          "description": "If the file has been explicitly trashed, the user who trashed it. Only populated for Team Drive files."
        },
        "version": {
          "description": "A monotonically increasing version number for the file. This reflects every change made to the file on the server, even those not visible to the user.",
          "format": "int64",
          "type": "string"
        },
        "videoMediaMetadata": {
          "description": "Additional metadata about video media. This may not be available immediately upon upload.",
          "properties": {
            "durationMillis": {
              "description": "The duration of the video in milliseconds.",
              "format": "int64",
              "type": "string"
            },
            "height": {
              "description": "The height of the video in pixels.",
              "format": "int32",
              "type": "integer"
            },
            "width": {
              "description": "The width of the video in pixels.",
              "format": "int32",
              "type": "integer"
            }
          },
          "type": "object"
        },
        "viewedByMe": {
          "description": "Whether the file has been viewed by this user.",
          "type": "boolean"
        },
        "viewedByMeTime": {
          "description": "The last time the file was viewed by the user (RFC 3339 date-time).",
          "format": "date-time",
          "type": "string"
        },
        "viewersCanCopyContent": {
          "description": "Whether users with only reader or commenter permission can copy the file's content. This affects copy, download, and print operations.",
          "type": "boolean"
        },
        "webContentLink": {
[...]
