{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/sqlservice.admin": {
          "description": "Manage your Google SQL Service instances"
        }
      }
    }
  },
  "basePath": "/sql/v1beta3/",
  "baseUrl": "https://www.googleapis.com/sql/v1beta3/",
  "batchPath": "batch/sqladmin/v1beta3",
  "canonicalName": "SQL Admin",
  "description": "Creates and configures Cloud SQL instances, which provide fully-managed MySQL databases.",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/sql/docs/reference/latest",
  "etag": "\"-iA1DTNe4s-I6JZXPt1t1Ypy8IU/EHk4rp8xy9W88y5wezvrHDWf9Y4\"",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "id": "sqladmin:v1beta3",
  "kind": "discovery#restDescription",
  "name": "sqladmin",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "alt": {
      "default": "json",
      "description": "Data format for the response.",
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "location": "query",
      "type": "string"
    },
    "userIp": {
      "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "backupRuns": {
      "methods": {
        "get": {
          "description": "Retrieves information about a specified backup run for a Cloud SQL instance.",
          "httpMethod": "GET",
          "id": "sql.backupRuns.get",
          "parameterOrder": [
            "project",
            "instance",
            "backupConfiguration",
            "dueTime"
          ],
          "parameters": {
            "backupConfiguration": {
              "description": "Identifier for the backup configuration. This gets generated automatically when a backup configuration is created.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "dueTime": {
              "description": "The start time of the four-hour backup window. The backup can occur any time in the window. The time is in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{project}/instances/{instance}/backupRuns/{backupConfiguration}",
          "response": {
            "$ref": "BackupRun"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "list": {
          "description": "Lists all backup runs associated with a Cloud SQL instance.",
          "httpMethod": "GET",
          "id": "sql.backupRuns.list",
          "parameterOrder": [
            "project",
            "instance",
            "backupConfiguration"
          ],
          "parameters": {
            "backupConfiguration": {
              "description": "Identifier for the backup configuration. This gets generated automatically when a backup configuration is created.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of backup runs per response.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "A previously-returned page token representing part of the larger set of results to view.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{project}/instances/{instance}/backupRuns",
          "response": {
            "$ref": "BackupRunsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        }
      }
    },
    "flags": {
      "methods": {
        "list": {
          "description": "Lists all database flags that can be set for Google Cloud SQL instances.",
          "httpMethod": "GET",
          "id": "sql.flags.list",
          "path": "flags",
          "response": {
            "$ref": "FlagsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        }
      }
    },
    "instances": {
      "methods": {
        "clone": {
          "description": "Creates a Cloud SQL instance as a clone of a source instance.",
          "httpMethod": "POST",
          "id": "sql.instances.clone",
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "project": {
              "description": "Project ID of the source as well as the clone Cloud SQL instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{project}/instances/clone",
          "request": {
            "$ref": "InstancesCloneRequest"
          },
          "response": {
            "$ref": "InstancesCloneResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "delete": {
          "description": "Deletes a Cloud SQL instance.",
          "httpMethod": "DELETE",
          "id": "sql.instances.delete",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance to be deleted.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{project}/instances/{instance}",
          "response": {
            "$ref": "InstancesDeleteResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "export": {
          "description": "Exports data from a Cloud SQL instance to a Google Cloud Storage bucket as a MySQL dump file.",
          "httpMethod": "POST",
          "id": "sql.instances.export",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance to be exported.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{project}/instances/{instance}/export",
          "request": {
            "$ref": "InstancesExportRequest"
          },
          "response": {
            "$ref": "InstancesExportResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "get": {
          "description": "Retrieves information about a Cloud SQL instance.",
          "httpMethod": "GET",
          "id": "sql.instances.get",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{project}/instances/{instance}",
          "response": {
            "$ref": "DatabaseInstance"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "import": {
          "description": "Imports data into a Cloud SQL instance from a MySQL dump file stored in a Google Cloud Storage bucket.",
          "httpMethod": "POST",
          "id": "sql.instances.import",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{project}/instances/{instance}/import",
          "request": {
            "$ref": "InstancesImportRequest"
          },
          "response": {
            "$ref": "InstancesImportResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "insert": {
          "description": "Creates a new Cloud SQL instance.",
          "httpMethod": "POST",
          "id": "sql.instances.insert",
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "project": {
              "description": "Project ID of the project to which the newly created Cloud SQL instances should belong.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{project}/instances",
          "request": {
            "$ref": "DatabaseInstance"
          },
          "response": {
            "$ref": "InstancesInsertResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "list": {
          "description": "Lists instances for a given project, in alphabetical order by instance name.",
          "httpMethod": "GET",
          "id": "sql.instances.list",
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "maxResults": {
              "description": "The maximum number of results to return per response.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "A previously-returned page token representing part of the larger set of results to view.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project for which to list Cloud SQL instances.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{project}/instances",
          "response": {
            "$ref": "InstancesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "patch": {
          "description": "Updates the settings of a Cloud SQL instance. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "id": "sql.instances.patch",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{project}/instances/{instance}",
          "request": {
            "$ref": "DatabaseInstance"
          },
          "response": {
            "$ref": "InstancesUpdateResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "promoteReplica": {
          "description": "Promotes the read replica instance to be a stand-alone Cloud SQL instance.",
          "httpMethod": "POST",
          "id": "sql.instances.promoteReplica",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL read replica instance name.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "ID of the project that contains the read replica.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{project}/instances/{instance}/promoteReplica",
          "response": {
            "$ref": "InstancesPromoteReplicaResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "resetSslConfig": {
          "description": "Deletes all client certificates and generates a new server SSL certificate for a Cloud SQL instance.",
          "httpMethod": "POST",
          "id": "sql.instances.resetSslConfig",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{project}/instances/{instance}/resetSslConfig",
          "response": {
            "$ref": "InstancesResetSslConfigResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "restart": {
          "description": "Restarts a Cloud SQL instance.",
          "httpMethod": "POST",
          "id": "sql.instances.restart",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance to be restarted.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{project}/instances/{instance}/restart",
          "response": {
            "$ref": "InstancesRestartResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "restoreBackup": {
          "description": "Restores a backup of a Cloud SQL instance.",
          "httpMethod": "POST",
          "id": "sql.instances.restoreBackup",
          "parameterOrder": [
            "project",
            "instance",
            "backupConfiguration",
            "dueTime"
          ],
          "parameters": {
            "backupConfiguration": {
              "description": "The identifier of the backup configuration. This gets generated automatically when a backup configuration is created.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "dueTime": {
              "description": "The start time of the four-hour backup window. The backup can occur any time in the window. The time is in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{project}/instances/{instance}/restoreBackup",
          "response": {
            "$ref": "InstancesRestoreBackupResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "setRootPassword": {
          "description": "Sets the password for the root user of the specified Cloud SQL instance.",
          "httpMethod": "POST",
          "id": "sql.instances.setRootPassword",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{project}/instances/{instance}/setRootPassword",
          "request": {
            "$ref": "InstanceSetRootPasswordRequest"
          },
          "response": {
            "$ref": "InstancesSetRootPasswordResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "update": {
          "description": "Updates the settings of a Cloud SQL instance.",
          "etagRequired": true,
          "httpMethod": "PUT",
          "id": "sql.instances.update",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{project}/instances/{instance}",
          "request": {
            "$ref": "DatabaseInstance"
          },
          "response": {
            "$ref": "InstancesUpdateResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "description": "Retrieves information about a specific operation that was performed on a Cloud SQL instance.",
          "httpMethod": "GET",
          "id": "sql.operations.get",
          "parameterOrder": [
            "project",
            "instance",
            "operation"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "operation": {
              "description": "Instance operation ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{project}/instances/{instance}/operations/{operation}",
          "response": {
            "$ref": "InstanceOperation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "list": {
          "description": "Lists all operations that have been performed on a Cloud SQL instance.",
          "httpMethod": "GET",
          "id": "sql.operations.list",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of operations per response.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "A previously-returned page token representing part of the larger set of results to view.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{project}/instances/{instance}/operations",
          "response": {
            "$ref": "OperationsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        }
      }
    },
    "sslCerts": {
      "methods": {
        "delete": {
          "description": "Deletes an SSL certificate from a Cloud SQL instance.",
          "httpMethod": "DELETE",
          "id": "sql.sslCerts.delete",
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance to be deleted.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "sha1Fingerprint": {
              "description": "Sha1 FingerPrint.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "response": {
            "$ref": "SslCertsDeleteResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "get": {
          "description": "Retrieves an SSL certificate as specified by its SHA-1 fingerprint.",
          "httpMethod": "GET",
          "id": "sql.sslCerts.get",
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "sha1Fingerprint": {
              "description": "Sha1 FingerPrint.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "response": {
            "$ref": "SslCert"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "insert": {
          "description": "Creates an SSL certificate and returns the certificate, the associated private key, and the server certificate authority.",
          "httpMethod": "POST",
          "id": "sql.sslCerts.insert",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project to which the newly created Cloud SQL instances should belong.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{project}/instances/{instance}/sslCerts",
          "request": {
            "$ref": "SslCertsInsertRequest"
          },
          "response": {
            "$ref": "SslCertsInsertResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "list": {
          "description": "Lists all of the current SSL certificates defined for a Cloud SQL instance.",
          "httpMethod": "GET",
          "id": "sql.sslCerts.list",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project for which to list Cloud SQL instances.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{project}/instances/{instance}/sslCerts",
          "response": {
            "$ref": "SslCertsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        }
      }
    },
    "tiers": {
      "methods": {
        "list": {
          "description": "Lists service tiers that can be used to create Google Cloud SQL instances.",
          "httpMethod": "GET",
          "id": "sql.tiers.list",
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "project": {
              "description": "Project ID of the project for which to list tiers.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{project}/tiers",
          "response": {
            "$ref": "TiersListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        }
      }
    }
  },
  "revision": "20180124",
  "rootUrl": "https://www.googleapis.com/",
  "schemas": {
    "BackupConfiguration": {
      "description": "Database instance backup configuration.",
      "id": "BackupConfiguration",
      "properties": {
        "binaryLogEnabled": {
          "description": "Whether binary log is enabled. If backup configuration is disabled, binary log must be disabled as well.",
          "type": "boolean"
        },
        "enabled": {
          "description": "Whether this configuration is enabled.",
          "type": "boolean"
        },
        "id": {
          "description": "Identifier for this configuration. This gets generated automatically when a backup configuration is created.",
          "type": "string"
        },
        "kind": {
          "default": "sql#backupConfiguration",
          "description": "This is always sql#backupConfiguration.",
          "type": "string"
        },
        "replicationLogArchivingEnabled": {
          "description": "Whether replication log archiving is enabled. Replication log archiving is required for the point-in-time recovery (PITR) feature. PostgreSQL instances only.",
          "type": "boolean"
        },
        "startTime": {
          "description": "Start time for the daily backup configuration in UTC timezone in the 24 hour format - HH:MM.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BackupRun": {
      "description": "A database instance backup run resource.",
      "id": "BackupRun",
      "properties": {
        "backupConfiguration": {
          "description": "Backup Configuration identifier.",
          "type": "string"
        },
        "dueTime": {
          "description": "The due time of this run in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
          "format": "date-time",
          "type": "string"
        },
        "endTime": {
          "description": "The time the backup operation completed in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
          "format": "date-time",
          "type": "string"
        },
        "enqueuedTime": {
          "description": "The time the run was enqueued in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
          "format": "date-time",
          "type": "string"
        },
        "error": {
          "$ref": "OperationError",
          "description": "Information about why the backup operation failed. This is only present if the run has the FAILED status."
        },
        "instance": {
          "description": "Name of the database instance.",
          "type": "string"
        },
        "kind": {
          "default": "sql#backupRun",
          "description": "This is always sql#backupRun.",
          "type": "string"
        },
        "startTime": {
          "description": "The time the backup operation actually started in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
          "format": "date-time",
          "type": "string"
        },
        "status": {
          "description": "The status of this run.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BackupRunsListResponse": {
      "description": "Backup run list results.",
      "id": "BackupRunsListResponse",
      "properties": {
        "items": {
          "description": "A list of backup runs in reverse chronological order of the enqueued time.",
          "items": {
            "$ref": "BackupRun"
          },
          "type": "array"
        },
        "kind": {
          "default": "sql#backupRunsList",
          "description": "This is always sql#backupRunsList.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BinLogCoordinates": {
      "description": "Binary log coordinates.",
      "id": "BinLogCoordinates",
      "properties": {
        "binLogFileName": {
          "description": "Name of the binary log file for a Cloud SQL instance.",
          "type": "string"
        },
        "binLogPosition": {
          "description": "Position (offset) within the binary log file.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "default": "sql#binLogCoordinates",
          "description": "This is always sql#binLogCoordinates.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CloneContext": {
      "description": "Database instance clone context.",
      "id": "CloneContext",
      "properties": {
        "binLogCoordinates": {
          "$ref": "BinLogCoordinates",
          "description": "Binary log coordinates, if specified, indentify the position up to which the source instance should be cloned. If not specified, the source instance is cloned up to the most recent binary log coordinates."
        },
        "destinationInstanceName": {
          "description": "Name of the Cloud SQL instance to be created as a clone.",
          "type": "string"
        },
        "kind": {
          "default": "sql#cloneContext",
          "description": "This is always sql#cloneContext.",
          "type": "string"
        },
        "pitrTimestampMs": {
          "description": "The epoch timestamp, in milliseconds, of the time to which a point-in-time recovery (PITR) is performed. PostgreSQL instances only. For MySQL instances, use the binLogCoordinates property.",
          "format": "int64",
          "type": "string"
        },
        "sourceInstanceName": {
          "description": "Name of the Cloud SQL instance to be cloned.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DatabaseFlags": {
      "description": "MySQL flags for Cloud SQL instances.",
      "id": "DatabaseFlags",
      "properties": {
        "name": {
          "description": "The name of the flag. These flags are passed at instance startup, so include both MySQL server options and MySQL system variables. Flags should be specified with underscores, not hyphens. For more information, see Configuring MySQL Flags in the Google Cloud SQL documentation, as well as the official MySQL documentation for server options and system variables.",
          "type": "string"
        },
        "value": {
          "description": "The value of the flag. Booleans should be set to on for true and off for false. This field must be omitted if the flag doesn't take a value.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DatabaseInstance": {
      "description": "A Cloud SQL instance resource.",
      "id": "DatabaseInstance",
      "properties": {
        "connectionName": {
          "description": "Connection name of the Cloud SQL instance used in connection strings.",
          "type": "string"
        },
        "currentDiskSize": {
          "description": "The current disk usage of the instance in bytes.",
          "format": "int64",
          "type": "string"
        },
        "databaseVersion": {
          "description": "The database engine type and version. Can be MYSQL_5_5 or MYSQL_5_6. Defaults to MYSQL_5_5. The databaseVersion cannot be changed after instance creation.",
          "type": "string"
        },
        "etag": {
          "description": "HTTP 1.1 Entity tag for the resource.",
          "type": "string"
        },
        "instance": {
          "annotations": {
            "required": [
              "sql.instances.insert",
              "sql.instances.update"
            ]
          },
          "description": "Name of the Cloud SQL instance. This does not include the project ID.",
          "type": "string"
        },
        "instanceType": {
          "description": "The instance type. This can be one of the following.\nCLOUD_SQL_INSTANCE: Regular Cloud SQL instance.\nREAD_REPLICA_INSTANCE: Cloud SQL instance acting as a read-replica.",
          "type": "string"
        },
        "ipAddresses": {
          "description": "The assigned IP addresses for the instance.",
          "items": {
            "$ref": "IpMapping"
          },
          "type": "array"
        },
        "ipv6Address": {
          "description": "The IPv6 address assigned to the instance.",
          "type": "string"
        },
        "kind": {
          "default": "sql#instance",
          "description": "This is always sql#instance.",
          "type": "string"
        },
        "masterInstanceName": {
          "description": "The name of the instance which will act as master in the replication setup.",
          "type": "string"
        },
        "maxDiskSize": {
          "description": "The maximum disk size of the instance in bytes.",
          "format": "int64",
          "type": "string"
        },
        "project": {
          "annotations": {
            "required": [
              "sql.instances.insert",
              "sql.instances.update"
            ]
          },
          "description": "The project ID of the project containing the Cloud SQL instance. The Google apps domain is prefixed if applicable.",
          "type": "string"
        },
        "region": {
          "description": "The geographical region. Can be us-central, asia-east1 or europe-west1. Defaults to us-central. The region can not be changed after instance creation.",
          "type": "string"
        },
        "replicaNames": {
          "description": "The replicas of the instance.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "serverCaCert": {
          "$ref": "SslCert",
          "description": "SSL configuration."
        },
        "serviceAccountEmailAddress": {
          "description": "The service account email address assigned to the instance.",
          "type": "string"
        },
        "settings": {
          "$ref": "Settings",
          "description": "The user settings."
        },
        "state": {
          "description": "The current serving state of the Cloud SQL instance. This can be one of the following.\nRUNNABLE: The instance is running, or is ready to run when accessed.\nSUSPENDED: The instance is not available, for example due to problems with billing.\nPENDING_CREATE: The instance is being created.\nMAINTENANCE: The instance is down for maintenance.\nUNKNOWN_STATE: The state of the instance is unknown.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExportContext": {
      "description": "Database instance export context.",
      "id": "ExportContext",
      "properties": {
        "database": {
          "description": "Databases (for example, guestbook) from which the export is made. If unspecified, all databases are exported.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "kind": {
          "default": "sql#exportContext",
          "description": "This is always sql#exportContext.",
          "type": "string"
        },
        "table": {
          "description": "Tables to export, or that were exported, from the specified database. If you specify tables, specify one and only one database.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "uri": {
          "description": "The path to the file in Google Cloud Storage where the export will be stored, or where it was already stored. The URI is in the form gs://bucketName/fileName. If the file already exists, the operation fails. If the filename ends with .gz, the contents are compressed.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Flag": {
      "description": "A Google Cloud SQL service flag resource.",
      "id": "Flag",
      "properties": {
        "allowedStringValues": {
          "description": "For STRING flags, a list of strings that the value can be set to.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "appliesTo": {
          "description": "The database version this flag applies to. Currently this can only be [MYSQL_5_5].",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "kind": {
          "default": "sql#flag",
          "description": "This is always sql#flag.",
          "type": "string"
        },
        "maxValue": {
          "description": "For INTEGER flags, the maximum allowed value.",
          "format": "int64",
          "type": "string"
        },
        "minValue": {
          "description": "For INTEGER flags, the minimum allowed value.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "This is the name of the flag. Flag names always use underscores, not hyphens, e.g. max_allowed_packet",
          "type": "string"
        },
        "type": {
          "description": "The type of the flag. Flags are typed to being BOOLEAN, STRING, INTEGER or NONE. NONE is used for flags which do not take a value, such as skip_grant_tables.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FlagsListResponse": {
      "description": "Flags list response.",
      "id": "FlagsListResponse",
      "properties": {
        "items": {
          "description": "List of flags.",
          "items": {
            "$ref": "Flag"
          },
          "type": "array"
        },
        "kind": {
          "default": "sql#flagsList",
          "description": "This is always sql#flagsList.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ImportContext": {
      "description": "Database instance import context.",
      "id": "ImportContext",
      "properties": {
        "database": {
          "description": "The database (for example, guestbook) to which the import is made. If not set, it is assumed that the database is specified in the file to be imported.",
          "type": "string"
        },
        "kind": {
          "default": "sql#importContext",
          "description": "This is always sql#importContext.",
          "type": "string"
        },
        "uri": {
          "description": "A path to the MySQL dump file in Google Cloud Storage from which the import is made. The URI is in the form gs://bucketName/fileName. Compressed gzip files (.gz) are also supported.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "InstanceOperation": {
      "description": "An Operations resource contains information about database instance operations such as create, delete, and restart. Operations resources are created in response to operations that were initiated; you never create them directly.",
      "id": "InstanceOperation",
      "properties": {
        "endTime": {
          "description": "The time this operation finished in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
          "format": "date-time",
          "type": "string"
        },
        "enqueuedTime": {
          "description": "The time this operation was enqueued in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
          "format": "date-time",
          "type": "string"
        },
        "error": {
          "description": "The error(s) encountered by this operation. Only set if the operation results in an error.",
          "items": {
            "$ref": "OperationError"
          },
          "type": "array"
        },
        "exportContext": {
          "$ref": "ExportContext",
          "description": "The context for export operation, if applicable."
        },
        "importContext": {
          "$ref": "ImportContext",
          "description": "The context for import operation, if applicable."
        },
        "instance": {
          "description": "Name of the database instance.",
          "type": "string"
        },
        "kind": {
          "default": "sql#instanceOperation",
          "description": "This is always sql#instanceOperation.",
          "type": "string"
        },
        "operation": {
          "description": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
          "type": "string"
        },
        "operationType": {
          "description": "The type of the operation. Valid values are CREATE, DELETE, UPDATE, RESTART, IMPORT, EXPORT, BACKUP_VOLUME, RESTORE_VOLUME.",
          "type": "string"
        },
        "startTime": {
          "description": "The time this operation actually started in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
          "format": "date-time",
          "type": "string"
        },
        "state": {
          "description": "The state of an operation. Valid values are PENDING, RUNNING, DONE, UNKNOWN.",
          "type": "string"
        },
        "userEmailAddress": {
          "description": "The email address of the user who initiated this operation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InstanceSetRootPasswordRequest": {
      "description": "Database instance set root password request.",
      "id": "InstanceSetRootPasswordRequest",
      "properties": {
        "setRootPasswordContext": {
          "$ref": "SetRootPasswordContext",
          "description": "Set Root Password Context."
        }
      },
      "type": "object"
    },
    "InstancesCloneRequest": {
      "description": "Database instance clone request.",
      "id": "InstancesCloneRequest",
      "properties": {
        "cloneContext": {
          "$ref": "CloneContext",
          "description": "Contains details about the clone operation."
        }
      },
      "type": "object"
    },
    "InstancesCloneResponse": {
      "description": "Database instance clone response.",
      "id": "InstancesCloneResponse",
      "properties": {
        "kind": {
          "default": "sql#instancesClone",
          "description": "This is always sql#instancesClone.",
          "type": "string"
        },
        "operation": {
          "description": "An unique identifier for the operation associated with the cloned instance. You can use this identifier to retrieve the Operations resource, which has information about the operation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InstancesDeleteResponse": {
      "description": "Database instance delete response.",
      "id": "InstancesDeleteResponse",
      "properties": {
        "kind": {
          "default": "sql#instancesDelete",
          "description": "This is always sql#instancesDelete.",
          "type": "string"
        },
        "operation": {
          "description": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InstancesExportRequest": {
      "description": "Database instance export request.",
      "id": "InstancesExportRequest",
      "properties": {
        "exportContext": {
          "$ref": "ExportContext",
          "description": "Contains details about the export operation."
        }
      },
      "type": "object"
    },
    "InstancesExportResponse": {
      "description": "Database instance export response.",
      "id": "InstancesExportResponse",
      "properties": {
        "kind": {
          "default": "sql#instancesExport",
          "description": "This is always sql#instancesExport.",
          "type": "string"
        },
        "operation": {
          "description": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InstancesImportRequest": {
      "description": "Database instance import request.",
      "id": "InstancesImportRequest",
      "properties": {
        "importContext": {
          "$ref": "ImportContext",
          "description": "Contains details about the import operation."
        }
      },
      "type": "object"
    },
    "InstancesImportResponse": {
      "description": "Database instance import response.",
      "id": "InstancesImportResponse",
      "properties": {
        "kind": {
          "default": "sql#instancesImport",
          "description": "This is always sql#instancesImport.",
          "type": "string"
        },
        "operation": {
          "description": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InstancesInsertResponse": {
      "description": "Database instance insert response.",
      "id": "InstancesInsertResponse",
      "properties": {
        "kind": {
          "default": "sql#instancesInsert",
          "description": "This is always sql#instancesInsert.",
          "type": "string"
        },
        "operation": {
          "description": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InstancesListResponse": {
      "description": "Database instances list response.",
      "id": "InstancesListResponse",
      "properties": {
        "items": {
          "description": "List of database instance resources.",
          "items": {
            "$ref": "DatabaseInstance"
          },
          "type": "array"
        },
        "kind": {
          "default": "sql#instancesList",
          "description": "This is always sql#instancesList.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InstancesPromoteReplicaResponse": {
      "description": "Database promote read replica response.",
      "id": "InstancesPromoteReplicaResponse",
      "properties": {
        "kind": {
          "default": "sql#instancesPromoteReplica",
          "description": "This is always sql#instancesPromoteReplica.",
          "type": "string"
        },
        "operation": {
          "description": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InstancesResetSslConfigResponse": {
      "description": "Database instance resetSslConfig response.",
      "id": "InstancesResetSslConfigResponse",
      "properties": {
        "kind": {
          "default": "sql#instancesResetSslConfig",
          "description": "This is always sql#instancesResetSslConfig.",
          "type": "string"
        },
        "operation": {
          "description": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation. All ssl client certificates will be deleted and a new server certificate will be created. Does not take effect until the next instance restart.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InstancesRestartResponse": {
      "description": "Database instance restart response.",
      "id": "InstancesRestartResponse",
      "properties": {
        "kind": {
          "default": "sql#instancesRestart",
          "description": "This is always sql#instancesRestart.",
          "type": "string"
        },
        "operation": {
          "description": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InstancesRestoreBackupResponse": {
      "description": "Database instance restore backup response.",
      "id": "InstancesRestoreBackupResponse",
      "properties": {
        "kind": {
          "default": "sql#instancesRestoreBackup",
          "description": "This is always sql#instancesRestoreBackup.",
          "type": "string"
        },
        "operation": {
          "description": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InstancesSetRootPasswordResponse": {
      "description": "Database instance set root password response.",
      "id": "InstancesSetRootPasswordResponse",
      "properties": {
        "kind": {
          "default": "sql#instancesSetRootPassword",
          "description": "This is always sql#instancesSetRootPassword.",
          "type": "string"
        },
        "operation": {
          "description": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InstancesUpdateResponse": {
      "description": "Database instance update response.",
      "id": "InstancesUpdateResponse",
      "properties": {
        "kind": {
          "default": "sql#instancesUpdate",
          "description": "This is always sql#instancesUpdate.",
          "type": "string"
        },
        "operation": {
          "description": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve information about the operation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "IpConfiguration": {
      "description": "IP Management configuration.",
      "id": "IpConfiguration",
      "properties": {
        "authorizedNetworks": {
          "description": "The list of external networks that are allowed to connect to the instance using the IP. In CIDR notation, also known as 'slash' notation (e.g. 192.168.100.0/24).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "enabled": {
          "description": "Whether the instance should be assigned an IP address or not.",
          "type": "boolean"
        },
        "kind": {
          "default": "sql#ipConfiguration",
          "description": "This is always sql#ipConfiguration.",
          "type": "string"
        },
        "requireSsl": {
          "description": "Whether SSL connections over IP should be enforced or not.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "IpMapping": {
      "description": "Database instance IP Mapping.",
      "id": "IpMapping",
      "properties": {
        "ipAddress": {
          "description": "The IP address assigned.",
          "type": "string"
        },
        "timeToRetire": {
          "description": "The due time for this IP to be retired in RFC 3339 format, for example 2012-11-15T16:19:00.094Z. This field is only available when the IP is scheduled to be retired.",
          "format": "date-time",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LocationPreference": {
      "description": "Preferred location. This specifies where a Cloud SQL instance should preferably be located, either in a specific Compute Engine zone, or co-located with an App Engine application. Note that if the preferred location is not available, the instance will be located as close as possible within the region. Only one location may be specified.",
      "id": "LocationPreference",
      "properties": {
        "followGaeApplication": {
          "description": "The App Engine application to follow, it must be in the same region as the Cloud SQL instance.",
          "type": "string"
        },
        "kind": {
          "default": "sql#locationPreference",
          "description": "This is always sql#locationPreference.",
          "type": "string"
        },
        "zone": {
          "description": "The preferred Compute Engine zone (e.g. us-centra1-a, us-central1-b, etc.).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OperationError": {
      "description": "Database instance operation error.",
      "id": "OperationError",
      "properties": {
        "code": {
          "description": "Identifies the specific error that occurred.",
          "type": "string"
        },
        "kind": {
          "default": "sql#operationError",
          "description": "This is always sql#operationError.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OperationsListResponse": {
      "description": "Database instance list operations response.",
      "id": "OperationsListResponse",
      "properties": {
        "items": {
          "description": "List of operation resources.",
          "items": {
            "$ref": "InstanceOperation"
          },
          "type": "array"
        },
        "kind": {
          "default": "sql#operationsList",
          "description": "This is always sql#operationsList.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SetRootPasswordContext": {
      "description": "Database instance set root password context.",
      "id": "SetRootPasswordContext",
      "properties": {
        "kind": {
          "default": "sql#setRootUserContext",
          "description": "This is always sql#setRootUserContext.",
          "type": "string"
        },
        "password": {
          "description": "The password for the root user.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Settings": {
      "description": "Database instance settings.",
      "id": "Settings",
      "properties": {
        "activationPolicy": {
          "description": "The activation policy for this instance. This specifies when the instance should be activated and is applicable only when the instance state is RUNNABLE. This can be one of the following.\nALWAYS: The instance should always be active.\nNEVER: The instance should never be activated.\nON_DEMAND: The instance is activated upon receiving requests.",
          "type": "string"
        },
        "authorizedGaeApplications": {
          "description": "The App Engine app IDs that can access this instance.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "backupConfiguration": {
          "description": "The daily backup configuration for the instance.",
          "items": {
            "$ref": "BackupConfiguration"
          },
          "type": "array"
        },
        "databaseFlags": {
          "description": "The database flags passed to the instance at startup.",
          "items": {
            "$ref": "DatabaseFlags"
          },
          "type": "array"
        },
        "databaseReplicationEnabled": {
          "description": "Configuration specific to read replica instance. Indicates whether replication is enabled or not.",
          "type": "boolean"
        },
        "ipConfiguration": {
          "$ref": "IpConfiguration",
          "description": "The settings for IP Management. This allows to enable or disable the instance IP and manage which external networks can connect to the instance."
        },
        "kind": {
          "default": "sql#settings",
          "description": "This is always sql#settings.",
          "type": "string"
        },
        "locationPreference": {
          "$ref": "LocationPreference",
          "description": "The location preference settings. This allows the instance to be located as near as possible to either an App Engine app or GCE zone for better performance."
        },
        "pricingPlan": {
          "description": "The pricing plan for this instance. This can be either PER_USE or PACKAGE.",
          "type": "string"
        },
        "replicationType": {
          "description": "The type of replication this instance uses. This can be either ASYNCHRONOUS or SYNCHRONOUS.",
          "type": "string"
        },
        "settingsVersion": {
          "annotations": {
            "required": [
              "sql.instances.update"
            ]
          },
          "description": "The version of instance settings. This is a required field for update method to make sure concurrent updates are handled properly. During update, use the most recent settingsVersion value for this instance and do not try to update this value.",
          "format": "int64",
          "type": "string"
        },
        "tier": {
          "annotations": {
            "required": [
              "sql.instances.insert",
              "sql.instances.update"
            ]
          },
          "description": "The tier of service for this instance, for example D1, D2. For more information, see pricing.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SslCert": {
      "description": "SslCerts Resource",
      "id": "SslCert",
      "properties": {
        "cert": {
          "description": "PEM representation.",
          "type": "string"
        },
        "certSerialNumber": {
          "description": "Serial number, as extracted from the certificate.",
          "type": "string"
        },
        "commonName": {
          "description": "User supplied name. Constrained to [a-zA-Z.-_ ]+.",
          "type": "string"
        },
        "createTime": {
          "description": "Time when the certificate was created.",
          "format": "date-time",
          "type": "string"
        },
        "expirationTime": {
          "description": "Time when the certificate expires.",
          "format": "date-time",
          "type": "string"
        },
        "instance": {
          "description": "Name of the database instance.",
          "type": "string"
        },
        "kind": {
          "default": "sql#sslCert",
          "description": "This is always sql#sslCert.",
          "type": "string"
        },
        "sha1Fingerprint": {
          "description": "Sha1 Fingerprint.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SslCertDetail": {
      "description": "SslCertDetail.",
      "id": "SslCertDetail",
      "properties": {
        "certInfo": {
          "$ref": "SslCert",
          "description": "The public information about the cert."
        },
        "certPrivateKey": {
          "description": "The private key for the client cert, in pem format. Keep private in order to protect your security.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SslCertsDeleteResponse": {
      "description": "SslCert delete response.",
      "id": "SslCertsDeleteResponse",
      "properties": {
        "kind": {
          "default": "sql#sslCertsDelete",
          "description": "This is always sql#sslCertsDelete.",
          "type": "string"
        },
        "operation": {
          "description": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SslCertsInsertRequest": {
      "description": "SslCerts insert request.",
      "id": "SslCertsInsertRequest",
      "properties": {
        "commonName": {
          "description": "User supplied name. Must be a distinct name from the other certificates for this instance. New certificates will not be usable until the instance is restarted.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SslCertsInsertResponse": {
      "description": "SslCert insert response.",
      "id": "SslCertsInsertResponse",
      "properties": {
        "clientCert": {
          "$ref": "SslCertDetail",
          "description": "The new client certificate and private key. The new certificate will not work until the instance is restarted."
        },
        "kind": {
          "default": "sql#sslCertsInsert",
          "description": "This is always sql#sslCertsInsert.",
          "type": "string"
        },
        "serverCaCert": {
          "$ref": "SslCert",
          "description": "The server Certificate Authority's certificate. If this is missing you can force a new one to be generated by calling resetSslConfig method on instances resource.."
        }
      },
      "type": "object"
    },
    "SslCertsListResponse": {
      "description": "SslCerts list response.",
      "id": "SslCertsListResponse",
      "properties": {
        "items": {
          "description": "List of client certificates for the instance.",
          "items": {
            "$ref": "SslCert"
          },
          "type": "array"
        },
        "kind": {
          "default": "sql#sslCertsList",
          "description": "This is always sql#sslCertsList.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Tier": {
      "description": "A Google Cloud SQL service tier resource.",
      "id": "Tier",
      "properties": {
        "DiskQuota": {
          "description": "The maximum disk size of this tier in bytes.",
          "format": "int64",
          "type": "string"
        },
        "RAM": {
          "description": "The maximum RAM usage of this tier in bytes.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "default": "sql#tier",
          "description": "This is always sql#tier.",
          "type": "string"
        },
        "region": {
          "description": "The applicable regions for this tier.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "tier": {
          "description": "An identifier for the service tier, for example D1, D2 etc. For related information, see Pricing.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TiersListResponse": {
      "description": "Tiers list response.",
      "id": "TiersListResponse",
      "properties": {
        "items": {
          "description": "List of tiers.",
          "items": {
            "$ref": "Tier"
          },
          "type": "array"
        },
        "kind": {
          "default": "sql#tiersList",
          "description": "This is always sql#tiersList.",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "servicePath": "sql/v1beta3/",
  "title": "Cloud SQL Administration API",
  "version": "v1beta3"
}