{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.groups.settings": {
          "description": "View and manage the settings of a G Suite group"
        }
      }
    }
  },
  "basePath": "/groups/v1/groups/",
  "baseUrl": "https://www.googleapis.com/groups/v1/groups/",
  "batchPath": "batch/groupssettings/v1",
  "description": "Lets you manage permission levels and related settings of a group.",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/google-apps/groups-settings/get_started",
  "etag": "\"Zkyw9ACJZUvcYmlFaKGChzhmtnE/GfziMf-yuHbuK8ebZWiYhJ8rjhg\"",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "id": "groupssettings:v1",
  "kind": "discovery#restDescription",
  "name": "groupssettings",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "alt": {
      "default": "atom",
      "description": "Data format for the response.",
      "enum": [
        "atom",
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/atom+xml",
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "groups": {
      "methods": {
        "get": {
          "description": "Gets one resource by id.",
          "httpMethod": "GET",
          "id": "groupsSettings.groups.get",
          "parameterOrder": [
            "groupUniqueId"
          ],
          "parameters": {
            "groupUniqueId": {
              "description": "The resource ID",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{groupUniqueId}",
          "response": {
            "$ref": "Groups"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.groups.settings"
          ]
        },
        "patch": {
          "description": "Updates an existing resource. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "id": "groupsSettings.groups.patch",
          "parameterOrder": [
            "groupUniqueId"
          ],
          "parameters": {
            "groupUniqueId": {
              "description": "The resource ID",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{groupUniqueId}",
          "request": {
            "$ref": "Groups"
          },
          "response": {
            "$ref": "Groups"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.groups.settings"
          ]
        },
        "update": {
          "description": "Updates an existing resource.",
          "httpMethod": "PUT",
          "id": "groupsSettings.groups.update",
          "parameterOrder": [
            "groupUniqueId"
          ],
          "parameters": {
            "groupUniqueId": {
              "description": "The resource ID",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{groupUniqueId}",
          "request": {
            "$ref": "Groups"
          },
          "response": {
            "$ref": "Groups"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.groups.settings"
          ]
        }
      }
    }
  },
  "revision": "20180404",
  "rootUrl": "https://www.googleapis.com/",
  "schemas": {
    "Groups": {
      "description": "JSON template for Group resource",
      "id": "Groups",
      "properties": {
        "allowExternalMembers": {
          "description": "Are external members allowed to join the group.",
          "type": "string"
        },
        "allowGoogleCommunication": {
          "description": "Is google allowed to contact admins.",
          "type": "string"
        },
        "allowWebPosting": {
          "description": "If posting from web is allowed.",
          "type": "string"
        },
        "archiveOnly": {
          "description": "If the group is archive only",
          "type": "string"
        },
        "customFooterText": {
          "description": "Custom footer text.",
          "type": "string"
        },
        "customReplyTo": {
          "description": "Default email to which reply to any message should go.",
          "type": "string"
        },
        "defaultMessageDenyNotificationText": {
          "description": "Default message deny notification message",
          "type": "string"
        },
        "description": {
          "description": "Description of the group",
          "type": "string"
        },
        "email": {
          "description": "Email id of the group",
          "type": "string"
        },
        "includeCustomFooter": {
          "description": "Whether to include custom footer.",
          "type": "string"
        },
        "includeInGlobalAddressList": {
          "description": "If this groups should be included in global address list or not.",
          "type": "string"
        },
        "isArchived": {
          "description": "If the contents of the group are archived.",
          "type": "string"
        },
        "kind": {
          "default": "groupsSettings#groups",
          "description": "The type of the resource.",
          "type": "string"
        },
        "maxMessageBytes": {
          "description": "Maximum message size allowed.",
          "format": "int32",
          "type": "integer"
        },
        "membersCanPostAsTheGroup": {
          "description": "Can members post using the group email address.",
          "type": "string"
        },
        "messageDisplayFont": {
          "description": "Default message display font. Possible values are: DEFAULT_FONT FIXED_WIDTH_FONT",
          "type": "string"
        },
        "messageModerationLevel": {
          "description": "Moderation level for messages. Possible values are: MODERATE_ALL_MESSAGES MODERATE_NON_MEMBERS MODERATE_NEW_MEMBERS MODERATE_NONE",
          "type": "string"
        },
        "name": {
          "description": "Name of the Group",
          "type": "string"
        },
        "primaryLanguage": {
          "description": "Primary language for the group.",
          "type": "string"
        },
        "replyTo": {
          "description": "Whome should the default reply to a message go to. Possible values are: REPLY_TO_CUSTOM REPLY_TO_SENDER REPLY_TO_LIST REPLY_TO_OWNER REPLY_TO_IGNORE REPLY_TO_MANAGERS",
          "type": "string"
        },
        "sendMessageDenyNotification": {
          "description": "Should the member be notified if his message is denied by owner.",
          "type": "string"
        },
        "showInGroupDirectory": {
          "description": "Is the group listed in groups directory",
          "type": "string"
        },
        "spamModerationLevel": {
          "description": "Moderation level for messages detected as spam. Possible values are: ALLOW MODERATE SILENTLY_MODERATE REJECT",
          "type": "string"
        },
        "whoCanAdd": {
          "description": "Permissions to add members. Possible values are: ALL_MANAGERS_CAN_ADD ALL_OWNERS_CAN_ADD ALL_MEMBERS_CAN_ADD NONE_CAN_ADD",
          "type": "string"
        },
        "whoCanContactOwner": {
          "description": "Permission to contact owner of the group via web UI. Possible values are: ANYONE_CAN_CONTACT ALL_IN_DOMAIN_CAN_CONTACT ALL_MEMBERS_CAN_CONTACT ALL_MANAGERS_CAN_CONTACT",
          "type": "string"
        },
        "whoCanInvite": {
          "description": "Permissions to invite members. Possible values are: ALL_MEMBERS_CAN_INVITE ALL_MANAGERS_CAN_INVITE ALL_OWNERS_CAN_INVITE NONE_CAN_INVITE",
          "type": "string"
        },
        "whoCanJoin": {
          "description": "Permissions to join the group. Possible values are: ANYONE_CAN_JOIN ALL_IN_DOMAIN_CAN_JOIN INVITED_CAN_JOIN CAN_REQUEST_TO_JOIN",
          "type": "string"
        },
        "whoCanLeaveGroup": {
          "description": "Permission to leave the group. Possible values are: ALL_MANAGERS_CAN_LEAVE ALL_OWNERS_CAN_LEAVE ALL_MEMBERS_CAN_LEAVE NONE_CAN_LEAVE",
          "type": "string"
        },
        "whoCanPostMessage": {
          "description": "Permissions to post messages to the group. Possible values are: NONE_CAN_POST ALL_MANAGERS_CAN_POST ALL_MEMBERS_CAN_POST ALL_OWNERS_CAN_POST ALL_IN_DOMAIN_CAN_POST ANYONE_CAN_POST",
          "type": "string"
        },
        "whoCanViewGroup": {
          "description": "Permissions to view group. Possible values are: ANYONE_CAN_VIEW ALL_IN_DOMAIN_CAN_VIEW ALL_MEMBERS_CAN_VIEW ALL_MANAGERS_CAN_VIEW ALL_OWNERS_CAN_VIEW",
          "type": "string"
        },
        "whoCanViewMembership": {
          "description": "Permissions to view membership. Possible values are: ALL_IN_DOMAIN_CAN_VIEW ALL_MEMBERS_CAN_VIEW ALL_MANAGERS_CAN_VIEW",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "servicePath": "groups/v1/groups/",
  "title": "Groups Settings API",
  "version": "v1"
}