{
  "name": "appengine",
  "batchPath": "batch",
  "id": "appengine:v1beta",
  "documentationLink": "https://cloud.google.com/appengine/docs/admin-api/",
  "revision": "20170626",
  "title": "Google App Engine Admin API",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "resources": {
    "apps": {
      "methods": {
        "repair": {
          "description": "Recreates the required App Engine features for the specified App Engine application, for example a Cloud Storage bucket or App Engine service account. Use this method if you receive an error message about a missing feature, for example, Error retrieving the App Engine service account.",
          "request": {
            "$ref": "RepairApplicationRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "appsId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "appsId": {
              "description": "Part of `name`. Name of the application to repair. Example: apps/myapp",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta/apps/{appsId}:repair",
          "id": "appengine.apps.repair",
          "path": "v1beta/apps/{appsId}:repair"
        },
        "patch": {
          "request": {
            "$ref": "Application"
          },
          "description": "Updates the specified Application resource. You can update the following fields:\nauth_domain - Google authentication domain for controlling user access to the application.\ndefault_cookie_expiration - Cookie expiration policy for the application.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "appsId"
          ],
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "appsId": {
              "description": "Part of `name`. Name of the Application resource to update. Example: apps/myapp.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "description": "Standard field mask for the set of fields to be updated.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v1beta/apps/{appsId}",
          "id": "appengine.apps.patch",
          "path": "v1beta/apps/{appsId}"
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "appsId"
          ],
          "response": {
            "$ref": "Application"
          },
          "scopes": [
            "https://www.googleapis.com/auth/appengine.admin",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "appsId": {
              "description": "Part of `name`. Name of the Application resource to get. Example: apps/myapp.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "v1beta/apps/{appsId}",
          "path": "v1beta/apps/{appsId}",
          "id": "appengine.apps.get",
          "description": "Gets information about an application."
        },
        "create": {
          "description": "Creates an App Engine application for a Google Cloud Platform project. Required fields:\nid - The ID of the target Cloud Platform project.\nlocation - The region (https://cloud.google.com/appengine/docs/locations) where you want the App Engine application located.For more information about App Engine applications, see Managing Projects, Applications, and Billing (https://cloud.google.com/appengine/docs/python/console/).",
          "request": {
            "$ref": "Application"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta/apps",
          "path": "v1beta/apps",
          "id": "appengine.apps.create"
        }
      },
      "resources": {
        "domainMappings": {
          "methods": {
            "patch": {
              "httpMethod": "PATCH",
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Standard field mask for the set of fields to be updated."
                },
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. Name of the resource to update. Example: apps/myapp/domainMappings/example.com.",
                  "type": "string",
                  "required": true
                },
                "domainMappingsId": {
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "path": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "id": "appengine.apps.domainMappings.patch",
              "request": {
                "$ref": "DomainMapping"
              },
              "description": "Updates the specified domain mapping. To map an SSL certificate to a domain mapping, update certificate_id to point to an AuthorizedCertificate resource. A user must be authorized to administer the associated domain in order to update a DomainMapping resource."
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "response": {
                "$ref": "DomainMapping"
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "appsId": {
                  "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/domainMappings/example.com.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "domainMappingsId": {
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "path": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "id": "appengine.apps.domainMappings.get",
              "description": "Gets the specified domain mapping."
            },
            "list": {
              "response": {
                "$ref": "ListDomainMappingsResponse"
              },
              "parameterOrder": [
                "appsId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Continuation token for fetching the next page of results.",
                  "type": "string"
                },
                "appsId": {
                  "location": "path",
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Maximum results to return per page.",
                  "type": "integer",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1beta/apps/{appsId}/domainMappings",
              "id": "appengine.apps.domainMappings.list",
              "path": "v1beta/apps/{appsId}/domainMappings",
              "description": "Lists the domain mappings on an application."
            },
            "create": {
              "flatPath": "v1beta/apps/{appsId}/domainMappings",
              "id": "appengine.apps.domainMappings.create",
              "path": "v1beta/apps/{appsId}/domainMappings",
              "request": {
                "$ref": "DomainMapping"
              },
              "description": "Maps a domain to an application. A user must be authorized to administer a domain in order to map it to an application. For a list of available authorized domains, see AuthorizedDomains.ListAuthorizedDomains.",
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "appsId"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "appsId": {
                  "location": "path",
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                  "type": "string",
                  "required": true
                }
              }
            },
            "delete": {
              "flatPath": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "path": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "id": "appengine.apps.domainMappings.delete",
              "description": "Deletes the specified domain mapping. A user must be authorized to administer the associated domain in order to delete a DomainMapping resource.",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "domainMappingsId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "appsId": {
                  "description": "Part of `name`. Name of the resource to delete. Example: apps/myapp/domainMappings/example.com.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              }
            }
          }
        },
        "firewall": {
          "resources": {
            "ingressRules": {
              "methods": {
                "get": {
                  "description": "Gets the specified firewall rule.",
                  "response": {
                    "$ref": "FirewallRule"
                  },
                  "parameterOrder": [
                    "appsId",
                    "ingressRulesId"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "appsId": {
                      "description": "Part of `name`. Name of the Firewall resource to retrieve. Example: apps/myapp/firewall/ingressRules/100.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "ingressRulesId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Part of `name`. See documentation of `appsId`."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "id": "appengine.apps.firewall.ingressRules.get",
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}"
                },
                "patch": {
                  "response": {
                    "$ref": "FirewallRule"
                  },
                  "parameterOrder": [
                    "appsId",
                    "ingressRulesId"
                  ],
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "appsId": {
                      "location": "path",
                      "description": "Part of `name`. Name of the Firewall resource to update. Example: apps/myapp/firewall/ingressRules/100.",
                      "type": "string",
                      "required": true
                    },
                    "ingressRulesId": {
                      "location": "path",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Standard field mask for the set of fields to be updated.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "id": "appengine.apps.firewall.ingressRules.patch",
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "request": {
                    "$ref": "FirewallRule"
                  },
                  "description": "Updates the specified firewall rule."
                },
                "batchUpdate": {
                  "response": {
                    "$ref": "BatchUpdateIngressRulesResponse"
                  },
                  "parameterOrder": [
                    "appsId"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "appsId": {
                      "location": "path",
                      "description": "Part of `name`. Name of the Firewall collection to set. Example: apps/myapp/firewall/ingressRules.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules:batchUpdate",
                  "id": "appengine.apps.firewall.ingressRules.batchUpdate",
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules:batchUpdate",
                  "description": "Replaces the entire firewall ruleset in one bulk operation. This overrides and replaces the rules of an existing firewall with the new rules.If the final rule does not match traffic with the '*' wildcard IP range, then an \"allow all\" rule is explicitly added to the end of the list.",
                  "request": {
                    "$ref": "BatchUpdateIngressRulesRequest"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "appsId",
                    "ingressRulesId"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "appsId": {
                      "location": "path",
                      "description": "Part of `name`. Name of the Firewall resource to delete. Example: apps/myapp/firewall/ingressRules/100.",
                      "type": "string",
                      "required": true
                    },
                    "ingressRulesId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Part of `name`. See documentation of `appsId`."
                    }
                  },
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "id": "appengine.apps.firewall.ingressRules.delete",
                  "description": "Deletes the specified firewall rule."
                },
                "list": {
                  "id": "appengine.apps.firewall.ingressRules.list",
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules",
                  "description": "Lists the firewall rules of an application.",
                  "parameterOrder": [
                    "appsId"
                  ],
                  "response": {
                    "$ref": "ListIngressRulesResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "Maximum results to return per page.",
                      "type": "integer",
                      "location": "query"
                    },
                    "matchingAddress": {
                      "description": "A valid IP Address. If set, only rules matching this address will be returned. The first returned rule will be the rule that fires on requests from this IP.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Continuation token for fetching the next page of results.",
                      "type": "string"
                    },
                    "appsId": {
                      "location": "path",
                      "description": "Part of `parent`. Name of the Firewall collection to retrieve. Example: apps/myapp/firewall/ingressRules.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules"
                },
                "create": {
                  "description": "Creates a firewall rule for the application.",
                  "request": {
                    "$ref": "FirewallRule"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "appsId"
                  ],
                  "response": {
                    "$ref": "FirewallRule"
                  },
                  "parameters": {
                    "appsId": {
                      "location": "path",
                      "description": "Part of `parent`. Name of the parent Firewall collection in which to create a new rule. Example: apps/myapp/firewall/ingressRules.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules",
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules",
                  "id": "appengine.apps.firewall.ingressRules.create"
                }
              }
            }
          }
        },
        "locations": {
          "methods": {
            "get": {
              "description": "Get information about a location.",
              "httpMethod": "GET",
              "parameterOrder": [
                "appsId",
                "locationsId"
              ],
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "appsId": {
                  "description": "Part of `name`. Resource name for the location.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "locationsId": {
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1beta/apps/{appsId}/locations/{locationsId}",
              "path": "v1beta/apps/{appsId}/locations/{locationsId}",
              "id": "appengine.apps.locations.get"
            },
            "list": {
              "description": "Lists information about the supported locations for this service.",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameterOrder": [
                "appsId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The standard list page token.",
                  "type": "string"
                },
                "appsId": {
                  "description": "Part of `name`. The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The standard list page size.",
                  "type": "integer"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/locations",
              "id": "appengine.apps.locations.list",
              "path": "v1beta/apps/{appsId}/locations"
            }
          }
        },
        "authorizedCertificates": {
          "methods": {
            "delete": {
              "description": "Deletes the specified SSL certificate.",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "appsId": {
                  "description": "Part of `name`. Name of the resource to delete. Example: apps/myapp/authorizedCertificates/12345.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "authorizedCertificatesId": {
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "id": "appengine.apps.authorizedCertificates.delete",
              "path": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}"
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "parameters": {
                "authorizedCertificatesId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Standard field mask for the set of fields to be updated. Updates are only supported on the certificate_raw_data and display_name fields.",
                  "type": "string",
                  "location": "query"
                },
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. Name of the resource to update. Example: apps/myapp/authorizedCertificates/12345.",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "path": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "id": "appengine.apps.authorizedCertificates.patch",
              "description": "Updates the specified SSL certificate. To renew a certificate and maintain its existing domain mappings, update certificate_data with a new certificate. The new certificate must be applicable to the same domains as the original certificate. The certificate display_name may also be updated.",
              "request": {
                "$ref": "AuthorizedCertificate"
              }
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "parameters": {
                "view": {
                  "location": "query",
                  "enum": [
                    "BASIC_CERTIFICATE",
                    "FULL_CERTIFICATE"
                  ],
                  "description": "Controls the set of fields returned in the GET response.",
                  "type": "string"
                },
                "authorizedCertificatesId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`."
                },
                "appsId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/authorizedCertificates/12345."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "path": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "id": "appengine.apps.authorizedCertificates.get",
              "description": "Gets the specified SSL certificate."
            },
            "list": {
              "path": "v1beta/apps/{appsId}/authorizedCertificates",
              "id": "appengine.apps.authorizedCertificates.list",
              "description": "Lists all SSL certificates the user is authorized to administer.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListAuthorizedCertificatesResponse"
              },
              "parameterOrder": [
                "appsId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "type": "string",
                  "location": "query"
                },
                "appsId": {
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Maximum results to return per page.",
                  "type": "integer",
                  "location": "query"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates"
            },
            "create": {
              "parameters": {
                "appsId": {
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates",
              "path": "v1beta/apps/{appsId}/authorizedCertificates",
              "id": "appengine.apps.authorizedCertificates.create",
              "description": "Uploads the specified SSL certificate.",
              "request": {
                "$ref": "AuthorizedCertificate"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "appsId"
              ],
              "response": {
                "$ref": "AuthorizedCertificate"
              }
            }
          }
        },
        "services": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "parameterOrder": [
                "appsId",
                "servicesId"
              ],
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "servicesId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "appsId": {
                  "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/services/{servicesId}",
              "path": "v1beta/apps/{appsId}/services/{servicesId}",
              "id": "appengine.apps.services.delete",
              "description": "Deletes the specified service and all enclosed versions."
            },
            "patch": {
              "request": {
                "$ref": "Service"
              },
              "description": "Updates the configuration of the specified service.",
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "appsId",
                "servicesId"
              ],
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Standard field mask for the set of fields to be updated.",
                  "type": "string"
                },
                "servicesId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "appsId": {
                  "description": "Part of `name`. Name of the resource to update. Example: apps/myapp/services/default.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "migrateTraffic": {
                  "location": "query",
                  "description": "Set to true to gradually shift traffic to one or more versions that you specify. By default, traffic is shifted immediately. For gradual traffic migration, the target versions must be located within instances that are configured for both warmup requests (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#inboundservicetype) and automatic scaling (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#automaticscaling). You must specify the shardBy (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services#shardby) field in the Service resource. Gradual traffic migration is not supported in the App Engine flexible environment. For examples, see Migrating and Splitting Traffic (https://cloud.google.com/appengine/docs/admin-api/migrating-splitting-traffic).",
                  "type": "boolean"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/services/{servicesId}",
              "id": "appengine.apps.services.patch",
              "path": "v1beta/apps/{appsId}/services/{servicesId}"
            },
            "get": {
              "description": "Gets the current configuration of the specified service.",
              "httpMethod": "GET",
              "response": {
                "$ref": "Service"
              },
              "parameterOrder": [
                "appsId",
                "servicesId"
              ],
              "parameters": {
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default.",
                  "type": "string",
                  "required": true
                },
                "servicesId": {
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1beta/apps/{appsId}/services/{servicesId}",
              "path": "v1beta/apps/{appsId}/services/{servicesId}",
              "id": "appengine.apps.services.get"
            },
            "list": {
              "id": "appengine.apps.services.list",
              "path": "v1beta/apps/{appsId}/services",
              "description": "Lists all the services in the application.",
              "response": {
                "$ref": "ListServicesResponse"
              },
              "parameterOrder": [
                "appsId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum results to return per page.",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Continuation token for fetching the next page of results.",
                  "type": "string"
                },
                "appsId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1beta/apps/{appsId}/services"
            }
          },
          "resources": {
            "versions": {
              "resources": {
                "instances": {
                  "methods": {
                    "delete": {
                      "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                      "id": "appengine.apps.services.versions.instances.delete",
                      "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                      "description": "Stops a running instance.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "appsId",
                        "servicesId",
                        "versionsId",
                        "instancesId"
                      ],
                      "httpMethod": "DELETE",
                      "parameters": {
                        "instancesId": {
                          "location": "path",
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "type": "string",
                          "required": true
                        },
                        "appsId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1."
                        },
                        "versionsId": {
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "servicesId": {
                          "location": "path",
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "appsId",
                        "servicesId",
                        "versionsId",
                        "instancesId"
                      ],
                      "response": {
                        "$ref": "Instance"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameters": {
                        "versionsId": {
                          "location": "path",
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "type": "string",
                          "required": true
                        },
                        "servicesId": {
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "instancesId": {
                          "location": "path",
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "type": "string",
                          "required": true
                        },
                        "appsId": {
                          "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                      "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                      "id": "appengine.apps.services.versions.instances.get",
                      "description": "Gets instance information."
                    },
                    "list": {
                      "description": "Lists the instances of a version.Tip: To aggregate details about instances over time, see the Stackdriver Monitoring API (https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.timeSeries/list).",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "appsId",
                        "servicesId",
                        "versionsId"
                      ],
                      "response": {
                        "$ref": "ListInstancesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameters": {
                        "servicesId": {
                          "description": "Part of `parent`. See documentation of `appsId`.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Continuation token for fetching the next page of results.",
                          "type": "string"
                        },
                        "appsId": {
                          "description": "Part of `parent`. Name of the parent Version resource. Example: apps/myapp/services/default/versions/v1.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Maximum results to return per page."
                        },
                        "versionsId": {
                          "location": "path",
                          "description": "Part of `parent`. See documentation of `appsId`.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances",
                      "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances",
                      "id": "appengine.apps.services.versions.instances.list"
                    },
                    "debug": {
                      "request": {
                        "$ref": "DebugInstanceRequest"
                      },
                      "description": "Enables debugging on a VM instance. This allows you to use the SSH command to connect to the virtual machine where the instance lives. While in \"debug mode\", the instance continues to serve live traffic. You should delete the instance when you are done debugging and then allow the system to take over and determine if another instance should be started.Only applicable for instances in App Engine flexible environment.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "appsId",
                        "servicesId",
                        "versionsId",
                        "instancesId"
                      ],
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "versionsId": {
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "servicesId": {
                          "location": "path",
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "type": "string",
                          "required": true
                        },
                        "instancesId": {
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "appsId": {
                          "location": "path",
                          "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}:debug",
                      "id": "appengine.apps.services.versions.instances.debug",
                      "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}:debug"
                    }
                  }
                }
              },
              "methods": {
                "delete": {
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "id": "appengine.apps.services.versions.delete",
                  "description": "Deletes an existing Version resource.",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "appsId",
                    "servicesId",
                    "versionsId"
                  ],
                  "parameters": {
                    "servicesId": {
                      "location": "path",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "type": "string",
                      "required": true
                    },
                    "appsId": {
                      "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "versionsId": {
                      "location": "path",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "description": "Updates the specified Version resource. You can specify the following fields depending on the App Engine environment and type of scaling that the version resource uses:\nserving_status (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.serving_status):  For Version resources that use basic scaling, manual scaling, or run in  the App Engine flexible environment.\ninstance_class (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.instance_class):  For Version resources that run in the App Engine standard environment.\nautomatic_scaling.min_idle_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling):  For Version resources that use automatic scaling and run in the App  Engine standard environment.\nautomatic_scaling.max_idle_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling):  For Version resources that use automatic scaling and run in the App  Engine standard environment.",
                  "request": {
                    "$ref": "Version"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "appsId",
                    "servicesId",
                    "versionsId"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Standard field mask for the set of fields to be updated.",
                      "type": "string"
                    },
                    "servicesId": {
                      "location": "path",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "type": "string",
                      "required": true
                    },
                    "appsId": {
                      "description": "Part of `name`. Name of the resource to update. Example: apps/myapp/services/default/versions/1.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "versionsId": {
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "id": "appengine.apps.services.versions.patch",
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}"
                },
                "get": {
                  "description": "Gets the specified Version resource. By default, only a BASIC_VIEW will be returned. Specify the FULL_VIEW parameter to get the full resource.",
                  "response": {
                    "$ref": "Version"
                  },
                  "parameterOrder": [
                    "appsId",
                    "servicesId",
                    "versionsId"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "servicesId": {
                      "location": "path",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "type": "string",
                      "required": true
                    },
                    "appsId": {
                      "location": "path",
                      "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1.",
                      "type": "string",
                      "required": true
                    },
                    "view": {
                      "location": "query",
                      "enum": [
                        "BASIC",
                        "FULL"
                      ],
                      "description": "Controls the set of fields returned in the Get response.",
                      "type": "string"
                    },
                    "versionsId": {
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "id": "appengine.apps.services.versions.get",
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}"
                },
                "list": {
                  "description": "Lists the versions of a service.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "appsId",
                    "servicesId"
                  ],
                  "response": {
                    "$ref": "ListVersionsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Maximum results to return per page."
                    },
                    "view": {
                      "description": "Controls the set of fields returned in the List response.",
                      "type": "string",
                      "location": "query",
                      "enum": [
                        "BASIC",
                        "FULL"
                      ]
                    },
                    "servicesId": {
                      "description": "Part of `parent`. See documentation of `appsId`.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Continuation token for fetching the next page of results.",
                      "type": "string"
                    },
                    "appsId": {
                      "description": "Part of `parent`. Name of the parent Service resource. Example: apps/myapp/services/default.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions",
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions",
                  "id": "appengine.apps.services.versions.list"
                },
                "create": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "appsId",
                    "servicesId"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "servicesId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Part of `parent`. See documentation of `appsId`."
                    },
                    "appsId": {
                      "location": "path",
                      "description": "Part of `parent`. Name of the parent resource to create this version under. Example: apps/myapp/services/default.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions",
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions",
                  "id": "appengine.apps.services.versions.create",
                  "request": {
                    "$ref": "Version"
                  },
                  "description": "Deploys code and resource files to a new version."
                }
              }
            }
          }
        },
        "authorizedDomains": {
          "methods": {
            "list": {
              "id": "appengine.apps.authorizedDomains.list",
              "path": "v1beta/apps/{appsId}/authorizedDomains",
              "description": "Lists all domains the user is authorized to administer.",
              "response": {
                "$ref": "ListAuthorizedDomainsResponse"
              },
              "parameterOrder": [
                "appsId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Continuation token for fetching the next page of results.",
                  "type": "string"
                },
                "appsId": {
                  "location": "path",
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Maximum results to return per page.",
                  "type": "integer",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1beta/apps/{appsId}/authorizedDomains"
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "appsId",
                "operationsId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "appsId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Part of `name`. The name of the operation resource."
                },
                "operationsId": {
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1beta/apps/{appsId}/operations/{operationsId}",
              "id": "appengine.apps.operations.get",
              "path": "v1beta/apps/{appsId}/operations/{operationsId}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
            },
            "list": {
              "flatPath": "v1beta/apps/{appsId}/operations",
              "path": "v1beta/apps/{appsId}/operations",
              "id": "appengine.apps.operations.list",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.NOTE: the name binding allows API services to override the binding to use different resource name schemes, such as users/*/operations. To override the binding, API services can add a binding such as \"/v1/{name=users/*}/operations\" to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
              "httpMethod": "GET",
              "parameterOrder": [
                "appsId"
              ],
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "The standard list filter.",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The standard list page token.",
                  "type": "string"
                },
                "appsId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Part of `name`. The name of the operation's parent resource."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The standard list page size.",
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "pp": {
      "description": "Pretty-print response.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "bearer_token": {
      "location": "query",
      "description": "OAuth bearer token.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "schemas": {
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse"
    },
    "ContainerInfo": {
      "description": "Docker image that is used to create a container and start a VM instance for the version that you deploy. Only applicable for instances running in the App Engine flexible environment.",
      "type": "object",
      "properties": {
        "image": {
          "type": "string",
          "description": "URI to the hosted container image in Google Container Registry. The URI must be fully qualified and include a tag or digest. Examples: \"gcr.io/my-project/image:tag\" or \"gcr.io/my-project/image@digest\""
        }
      },
      "id": "ContainerInfo"
    },
    "RequestUtilization": {
      "description": "Target scaling by request utilization. Only applicable for VM runtimes.",
      "type": "object",
      "properties": {
        "targetRequestCountPerSecond": {
          "format": "int32",
          "description": "Target requests per second.",
          "type": "integer"
        },
        "targetConcurrentRequests": {
          "format": "int32",
          "description": "Target number of concurrent requests.",
          "type": "integer"
        }
      },
      "id": "RequestUtilization"
    },
    "EndpointsApiService": {
      "description": "Cloud Endpoints (https://cloud.google.com/endpoints) configuration. The Endpoints API Service provides tooling for serving Open API and gRPC endpoints via an NGINX proxy.The fields here refer to the name and configuration id of a \"service\" resource in the Service Management API (https://cloud.google.com/service-management/overview).",
      "type": "object",
      "properties": {
        "configId": {
          "description": "Endpoints service configuration id as specified by the Service Management API. For example \"2016-09-19r1\"",
          "type": "string"
        },
        "name": {
          "description": "Endpoints service name which is the name of the \"service\" resource in the Service Management API. For example \"myapi.endpoints.myproject.cloud.goog\"",
          "type": "string"
        }
      },
      "id": "EndpointsApiService"
    },
    "UrlMap": {
      "description": "URL pattern and description of how the URL should be handled. App Engine can handle URLs by executing application code or by serving static files uploaded with the version, such as images, CSS, or JavaScript.",
      "type": "object",
      "properties": {
        "authFailAction": {
          "description": "Action to take when users access resources that require authentication. Defaults to redirect.",
          "type": "string",
          "enumDescriptions": [
            "Not specified. AUTH_FAIL_ACTION_REDIRECT is assumed.",
            "Redirects user to \"accounts.google.com\". The user is redirected back to the application URL after signing in or creating an account.",
            "Rejects request with a 401 HTTP status code and an error message."
          ],
          "enum": [
            "AUTH_FAIL_ACTION_UNSPECIFIED",
            "AUTH_FAIL_ACTION_REDIRECT",
            "AUTH_FAIL_ACTION_UNAUTHORIZED"
          ]
        },
        "script": {
          "$ref": "ScriptHandler",
          "description": "Executes a script to handle the request that matches this URL pattern."
        },
        "urlRegex": {
          "description": "URL prefix. Uses regular expression syntax, which means regexp special characters must be escaped, but should not contain groupings. All URLs that begin with this prefix are handled by this handler, using the portion of the URL after the prefix as part of the file path.",
          "type": "string"
        },
        "login": {
          "enum": [
            "LOGIN_UNSPECIFIED",
            "LOGIN_OPTIONAL",
            "LOGIN_ADMIN",
            "LOGIN_REQUIRED"
          ],
          "description": "Level of login required to access this resource.",
          "type": "string",
          "enumDescriptions": [
            "Not specified. LOGIN_OPTIONAL is assumed.",
            "Does not require that the user is signed in.",
            "If the user is not signed in, the auth_fail_action is taken. In addition, if the user is not an administrator for the application, they are given an error message regardless of auth_fail_action. If the user is an administrator, the handler proceeds.",
            "If the user has signed in, the handler proceeds normally. Otherwise, the auth_fail_action is taken."
          ]
        },
        "apiEndpoint": {
          "description": "Uses API Endpoints to handle requests.",
          "$ref": "ApiEndpointHandler"
        },
        "staticFiles": {
          "$ref": "StaticFilesHandler",
          "description": "Returns the contents of a file, such as an image, as the response."
        },
        "redirectHttpResponseCode": {
          "enumDescriptions": [
            "Not specified. 302 is assumed.",
            "301 Moved Permanently code.",
            "302 Moved Temporarily code.",
            "303 See Other code.",
            "307 Temporary Redirect code."
          ],
          "enum": [
            "REDIRECT_HTTP_RESPONSE_CODE_UNSPECIFIED",
            "REDIRECT_HTTP_RESPONSE_CODE_301",
            "REDIRECT_HTTP_RESPONSE_CODE_302",
            "REDIRECT_HTTP_RESPONSE_CODE_303",
            "REDIRECT_HTTP_RESPONSE_CODE_307"
          ],
          "description": "30x code to use when performing redirects for the secure field. Defaults to 302.",
          "type": "string"
        },
        "securityLevel": {
          "enumDescriptions": [
            "Not specified.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used, and respond accordingly.",
            "Requests for a URL that match this handler that use HTTPS are automatically redirected to the HTTP equivalent URL.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used and respond accordingly.",
            "Requests for a URL that match this handler that do not use HTTPS are automatically redirected to the HTTPS URL with the same path. Query parameters are reserved for the redirect."
          ],
          "enum": [
            "SECURE_UNSPECIFIED",
            "SECURE_DEFAULT",
            "SECURE_NEVER",
            "SECURE_OPTIONAL",
            "SECURE_ALWAYS"
          ],
          "description": "Security (HTTPS) enforcement for this URL.",
          "type": "string"
        }
      },
      "id": "UrlMap"
    },
    "ApiConfigHandler": {
      "type": "object",
      "properties": {
        "url": {
          "description": "URL to serve the endpoint at.",
          "type": "string"
        },
        "securityLevel": {
          "description": "Security (HTTPS) enforcement for this URL.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used, and respond accordingly.",
            "Requests for a URL that match this handler that use HTTPS are automatically redirected to the HTTP equivalent URL.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used and respond accordingly.",
            "Requests for a URL that match this handler that do not use HTTPS are automatically redirected to the HTTPS URL with the same path. Query parameters are reserved for the redirect."
          ],
          "enum": [
            "SECURE_UNSPECIFIED",
            "SECURE_DEFAULT",
            "SECURE_NEVER",
            "SECURE_OPTIONAL",
            "SECURE_ALWAYS"
          ]
        },
        "authFailAction": {
          "enum": [
            "AUTH_FAIL_ACTION_UNSPECIFIED",
            "AUTH_FAIL_ACTION_REDIRECT",
            "AUTH_FAIL_ACTION_UNAUTHORIZED"
          ],
          "description": "Action to take when users access resources that require authentication. Defaults to redirect.",
          "type": "string",
          "enumDescriptions": [
            "Not specified. AUTH_FAIL_ACTION_REDIRECT is assumed.",
            "Redirects user to \"accounts.google.com\". The user is redirected back to the application URL after signing in or creating an account.",
            "Rejects request with a 401 HTTP status code and an error message."
          ]
        },
        "script": {
          "description": "Path to the script from the application root directory.",
          "type": "string"
        },
        "login": {
          "enumDescriptions": [
            "Not specified. LOGIN_OPTIONAL is assumed.",
            "Does not require that the user is signed in.",
            "If the user is not signed in, the auth_fail_action is taken. In addition, if the user is not an administrator for the application, they are given an error message regardless of auth_fail_action. If the user is an administrator, the handler proceeds.",
            "If the user has signed in, the handler proceeds normally. Otherwise, the auth_fail_action is taken."
          ],
          "enum": [
            "LOGIN_UNSPECIFIED",
            "LOGIN_OPTIONAL",
            "LOGIN_ADMIN",
            "LOGIN_REQUIRED"
          ],
          "description": "Level of login required to access this resource. Defaults to optional.",
          "type": "string"
        }
      },
      "id": "ApiConfigHandler",
      "description": "Google Cloud Endpoints (https://cloud.google.com/appengine/docs/python/endpoints/) configuration for API handlers."
    },
    "Operation": {
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
          "type": "boolean"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should have the format of operations/some/unique/name.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "StaticFilesHandler": {
      "properties": {
        "httpHeaders": {
          "description": "HTTP headers to use for all responses from these URLs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "applicationReadable": {
          "description": "Whether files should also be uploaded as code data. By default, files declared in static file handlers are uploaded as static data and are only served to end users; they cannot be read by the application. If enabled, uploads are charged against both your code and static data storage resource quotas.",
          "type": "boolean"
        },
        "uploadPathRegex": {
          "description": "Regular expression that matches the file paths for all files that should be referenced by this handler.",
          "type": "string"
        },
        "path": {
          "description": "Path to the static files matched by the URL pattern, from the application root directory. The path can refer to text matched in groupings in the URL pattern.",
          "type": "string"
        },
        "mimeType": {
          "description": "MIME type used to serve all files served by this handler.Defaults to file-specific MIME types, which are derived from each file's filename extension.",
          "type": "string"
        },
        "requireMatchingFile": {
          "description": "Whether this handler should match the request if the file referenced by the handler does not exist.",
          "type": "boolean"
        },
        "expiration": {
          "format": "google-duration",
          "description": "Time a static file served by this handler should be cached by web proxies and browsers.",
          "type": "string"
        }
      },
      "id": "StaticFilesHandler",
      "description": "Files served directly to the user for a given URL, such as images, CSS stylesheets, or JavaScript source files. Static file handlers describe which files in the application directory are static files, and which URLs serve them.",
      "type": "object"
    },
    "BasicScaling": {
      "description": "A service with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity.",
      "type": "object",
      "properties": {
        "maxInstances": {
          "format": "int32",
          "description": "Maximum number of instances to create for this version.",
          "type": "integer"
        },
        "idleTimeout": {
          "format": "google-duration",
          "description": "Duration of time after the last request that an instance must wait before the instance is shut down.",
          "type": "string"
        }
      },
      "id": "BasicScaling"
    },
    "DiskUtilization": {
      "type": "object",
      "properties": {
        "targetReadOpsPerSecond": {
          "format": "int32",
          "description": "Target ops read per seconds.",
          "type": "integer"
        },
        "targetReadBytesPerSecond": {
          "format": "int32",
          "description": "Target bytes read per second.",
          "type": "integer"
        },
        "targetWriteOpsPerSecond": {
          "format": "int32",
          "description": "Target ops written per second.",
          "type": "integer"
        },
        "targetWriteBytesPerSecond": {
          "format": "int32",
          "description": "Target bytes written per second.",
          "type": "integer"
        }
      },
      "id": "DiskUtilization",
      "description": "Target scaling by disk usage. Only applicable for VM runtimes."
    },
    "CpuUtilization": {
      "id": "CpuUtilization",
      "description": "Target scaling by CPU usage.",
      "type": "object",
      "properties": {
        "aggregationWindowLength": {
          "type": "string",
          "format": "google-duration",
          "description": "Period of time over which CPU utilization is calculated."
        },
        "targetUtilization": {
          "format": "double",
          "description": "Target CPU utilization ratio to maintain when scaling. Must be between 0 and 1.",
          "type": "number"
        }
      }
    },
    "Status": {
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There will be a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        }
      },
      "id": "Status",
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). The error model is designed to be:\nSimple to use and understand for most users\nFlexible enough to meet unexpected needsOverviewThe Status message contains three pieces of data: error code, error message, and error details. The error code should be an enum value of google.rpc.Code, but it may accept additional error codes if needed. The error message should be a developer-facing English message that helps developers understand and resolve the error. If a localized user-facing error message is needed, put the localized message in the error details or localize it in the client. The optional error details may contain arbitrary information about the error. There is a predefined set of error detail types in the package google.rpc that can be used for common error conditions.Language mappingThe Status message is the logical representation of the error model, but it is not necessarily the actual wire format. When the Status message is exposed in different client libraries and different wire protocols, it can be mapped differently. For example, it will likely be mapped to some exceptions in Java, but more likely mapped to some error codes in C.Other usesThe error model and the Status message can be used in a variety of environments, either with or without APIs, to provide a consistent developer experience across different environments.Example uses of this error model include:\nPartial errors. If a service needs to return partial errors to the client, it may embed the Status in the normal response to indicate the partial errors.\nWorkflow errors. A typical workflow has multiple steps. Each step may have a Status message for error reporting.\nBatch operations. If a client uses batch request and batch response, the Status message should be used directly inside batch response, one for each error sub-response.\nAsynchronous operations. If an API call embeds asynchronous operation results in its response, the status of those operations should be represented directly using the Status message.\nLogging. If some API errors are stored in logs, the message Status could be used directly after any stripping needed for security/privacy reasons.",
      "type": "object"
    },
    "IdentityAwareProxy": {
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether the serving infrastructure will authenticate and authorize all incoming requests.If true, the oauth2_client_id and oauth2_client_secret fields must be non-empty.",
          "type": "boolean"
        },
        "oauth2ClientSecret": {
          "description": "OAuth2 client secret to use for the authentication flow.For security reasons, this value cannot be retrieved via the API. Instead, the SHA-256 hash of the value is returned in the oauth2_client_secret_sha256 field.@InputOnly",
          "type": "string"
        },
        "oauth2ClientId": {
          "description": "OAuth2 client ID to use for the authentication flow.",
          "type": "string"
        },
        "oauth2ClientSecretSha256": {
          "description": "Hex-encoded SHA-256 hash of the client secret.@OutputOnly",
          "type": "string"
        }
      },
      "id": "IdentityAwareProxy",
      "description": "Identity-Aware Proxy"
    },
    "ManualScaling": {
      "description": "A service with manual scaling runs continuously, allowing you to perform complex initialization and rely on the state of its memory over time.",
      "type": "object",
      "properties": {
        "instances": {
          "format": "int32",
          "description": "Number of instances to assign to the service at the start. This number can later be altered by using the Modules API (https://cloud.google.com/appengine/docs/python/modules/functions) set_num_instances() function.",
          "type": "integer"
        }
      },
      "id": "ManualScaling"
    },
    "LocationMetadata": {
      "description": "Metadata for the given google.cloud.location.Location.",
      "type": "object",
      "properties": {
        "flexibleEnvironmentAvailable": {
          "description": "App Engine Flexible Environment is available in the given location.@OutputOnly",
          "type": "boolean"
        },
        "standardEnvironmentAvailable": {
          "type": "boolean",
          "description": "App Engine Standard Environment is available in the given location.@OutputOnly"
        }
      },
      "id": "LocationMetadata"
    },
    "Service": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Full path to the Service resource in the API. Example: apps/myapp/services/default.@OutputOnly"
        },
        "split": {
          "$ref": "TrafficSplit",
          "description": "Mapping that defines fractional HTTP traffic diversion to different versions within the service."
        },
        "id": {
          "description": "Relative name of the service within the application. Example: default.@OutputOnly",
          "type": "string"
        }
      },
      "id": "Service",
      "description": "A Service resource is a logical component of an application that can share state and communicate in a secure fashion with other services. For example, an application that handles customer requests might include separate services to handle tasks such as backend data analysis or API requests from mobile devices. Each service has a collection of versions that define a specific set of code used to implement the functionality of that service.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        }
      },
      "id": "ListOperationsResponse"
    },
    "FirewallRule": {
      "id": "FirewallRule",
      "description": "A single firewall rule that is evaluated against incoming traffic and provides an action to take on matched requests.",
      "type": "object",
      "properties": {
        "priority": {
          "format": "int32",
          "description": "A positive integer between 1, Int32.MaxValue-1 that defines the order of rule evaluation. Rules with the lowest priority are evaluated first.A default rule at priority Int32.MaxValue matches all IPv4 and IPv6 traffic when no previous rule matches. Only the action of this rule can be modified by the user.",
          "type": "integer"
        },
        "action": {
          "enumDescriptions": [
            "",
            "Matching requests are allowed.",
            "Matching requests are denied."
          ],
          "enum": [
            "UNSPECIFIED_ACTION",
            "ALLOW",
            "DENY"
          ],
          "description": "The action to take on matched requests.",
          "type": "string"
        },
        "description": {
          "description": "An optional string description of this rule. This field has a maximum length of 100 characters.",
          "type": "string"
        },
        "sourceRange": {
          "description": "IP address or range, defined using CIDR notation, of requests that this rule applies to. You can use the wildcard character \"*\" to match all IPs equivalent to \"0/0\" and \"::/0\" together. Examples: 192.168.1.1 or 192.168.0.0/16 or 2001:db8::/32  or 2001:0db8:0000:0042:0000:8a2e:0370:7334.\u003cp\u003eTruncation will be silently performed on addresses which are not properly truncated. For example, 1.2.3.4/24 is accepted as the same address as 1.2.3.0/24. Similarly, for IPv6, 2001:db8::1/32 is accepted as the same address as 2001:db8::/32.",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "description": "Metadata for the given google.longrunning.Operation.",
      "type": "object",
      "properties": {
        "method": {
          "description": "API method that initiated this operation. Example: google.appengine.v1beta4.Version.CreateVersion.@OutputOnly",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Timestamp that this operation completed.@OutputOnly",
          "type": "string"
        },
        "operationType": {
          "type": "string",
          "description": "Type of this operation. Deprecated, use method field instead. Example: \"create_version\".@OutputOnly"
        },
        "insertTime": {
          "format": "google-datetime",
          "description": "Timestamp that this operation was created.@OutputOnly",
          "type": "string"
        },
        "user": {
          "description": "User who requested this operation.@OutputOnly",
          "type": "string"
        },
        "target": {
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/modules/default.@OutputOnly",
          "type": "string"
        }
      },
      "id": "OperationMetadata"
    },
    "ListAuthorizedCertificatesResponse": {
      "description": "Response message for AuthorizedCertificates.ListAuthorizedCertificates.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "certificates": {
          "description": "The SSL certificates the user is authorized to administer.",
          "items": {
            "$ref": "AuthorizedCertificate"
          },
          "type": "array"
        }
      },
      "id": "ListAuthorizedCertificatesResponse"
    },
    "FeatureSettings": {
      "properties": {
        "splitHealthChecks": {
          "type": "boolean",
          "description": "Boolean value indicating if split health checks should be used instead of the legacy health checks. At an app.yaml level, this means defaulting to 'readiness_check' and 'liveness_check' values instead of 'health_check' ones. Once the legacy 'health_check' behavior is deprecated, and this value is always true, this setting can be removed."
        }
      },
      "id": "FeatureSettings",
      "description": "The feature specific settings to be used in the application. These define behaviors that are user configurable.",
      "type": "object"
    },
    "ErrorHandler": {
      "description": "Custom static error page to be served when an error occurs.",
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "MIME type of file. Defaults to text/html.",
          "type": "string"
        },
        "errorCode": {
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "ERROR_CODE_DEFAULT",
            "ERROR_CODE_OVER_QUOTA",
            "ERROR_CODE_DOS_API_DENIAL",
            "ERROR_CODE_TIMEOUT"
          ],
          "description": "Error condition this handler applies to.",
          "type": "string",
          "enumDescriptions": [
            "Not specified. ERROR_CODE_DEFAULT is assumed.",
            "All other error types.",
            "Application has exceeded a resource quota.",
            "Client blocked by the application's Denial of Service protection configuration.",
            "Deadline reached before the application responds."
          ]
        },
        "staticFile": {
          "description": "Static file content to be served for this error.",
          "type": "string"
        }
      },
      "id": "ErrorHandler"
    },
    "SslSettings": {
      "properties": {
        "certificateId": {
          "description": "ID of the AuthorizedCertificate resource configuring SSL for the application. Clearing this field will remove SSL support. Example: 12345.",
          "type": "string"
        }
      },
      "id": "SslSettings",
      "description": "SSL configuration for a DomainMapping resource.",
      "type": "object"
    },
    "OperationMetadataV1": {
      "properties": {
        "insertTime": {
          "format": "google-datetime",
          "description": "Time that this operation was created.@OutputOnly",
          "type": "string"
        },
        "warning": {
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "user": {
          "description": "User who requested this operation.@OutputOnly",
          "type": "string"
        },
        "target": {
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        },
        "ephemeralMessage": {
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
          "type": "string"
        },
        "method": {
          "description": "API method that initiated this operation. Example: google.appengine.v1.Versions.CreateVersion.@OutputOnly",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Time that this operation completed.@OutputOnly",
          "type": "string"
        }
      },
      "id": "OperationMetadataV1",
      "description": "Metadata for the given google.longrunning.Operation.",
      "type": "object"
[...]
