{
  "rootUrl": "https://appengine.googleapis.com/",
  "basePath": "",
  "ownerDomain": "google.com",
  "name": "appengine",
  "batchPath": "batch",
  "id": "appengine:v1beta",
  "documentationLink": "https://cloud.google.com/appengine/docs/admin-api/",
  "revision": "20180105",
  "title": "Google App Engine Admin API",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "resources": {
    "apps": {
      "methods": {
        "create": {
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta/apps",
          "path": "v1beta/apps",
          "id": "appengine.apps.create",
          "request": {
            "$ref": "Application"
          },
          "description": "Creates an App Engine application for a Google Cloud Platform project. Required fields:\nid - The ID of the target Cloud Platform project.\nlocation - The region (https://cloud.google.com/appengine/docs/locations) where you want the App Engine application located.For more information about App Engine applications, see Managing Projects, Applications, and Billing (https://cloud.google.com/appengine/docs/python/console/)."
        },
        "repair": {
          "httpMethod": "POST",
          "parameterOrder": [
            "appsId"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "appsId": {
              "location": "path",
              "description": "Part of `name`. Name of the application to repair. Example: apps/myapp",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta/apps/{appsId}:repair",
          "id": "appengine.apps.repair",
          "path": "v1beta/apps/{appsId}:repair",
          "request": {
            "$ref": "RepairApplicationRequest"
          },
          "description": "Recreates the required App Engine features for the specified App Engine application, for example a Cloud Storage bucket or App Engine service account. Use this method if you receive an error message about a missing feature, for example, Error retrieving the App Engine service account."
        },
        "get": {
          "response": {
            "$ref": "Application"
          },
          "parameterOrder": [
            "appsId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/appengine.admin",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "appsId": {
              "location": "path",
              "description": "Part of `name`. Name of the Application resource to get. Example: apps/myapp.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1beta/apps/{appsId}",
          "path": "v1beta/apps/{appsId}",
          "id": "appengine.apps.get",
          "description": "Gets information about an application."
        },
        "patch": {
          "request": {
            "$ref": "Application"
          },
          "description": "Updates the specified Application resource. You can update the following fields:\nauth_domain - Google authentication domain for controlling user access to the application.\ndefault_cookie_expiration - Cookie expiration policy for the application.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "appsId"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "location": "query",
              "description": "Standard field mask for the set of fields to be updated.",
              "format": "google-fieldmask",
              "type": "string"
            },
            "appsId": {
              "location": "path",
              "description": "Part of `name`. Name of the Application resource to update. Example: apps/myapp.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta/apps/{appsId}",
          "path": "v1beta/apps/{appsId}",
          "id": "appengine.apps.patch"
        }
      },
      "resources": {
        "services": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "parameterOrder": [
                "appsId",
                "servicesId"
              ],
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "appsId": {
                  "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "servicesId": {
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/apps/{appsId}/services/{servicesId}",
              "id": "appengine.apps.services.delete",
              "path": "v1beta/apps/{appsId}/services/{servicesId}",
              "description": "Deletes the specified service and all enclosed versions."
            },
            "list": {
              "description": "Lists all the services in the application.",
              "response": {
                "$ref": "ListServicesResponse"
              },
              "parameterOrder": [
                "appsId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "appsId": {
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Continuation token for fetching the next page of results.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum results to return per page.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1beta/apps/{appsId}/services",
              "path": "v1beta/apps/{appsId}/services",
              "id": "appengine.apps.services.list"
            },
            "get": {
              "response": {
                "$ref": "Service"
              },
              "parameterOrder": [
                "appsId",
                "servicesId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default.",
                  "required": true,
                  "type": "string"
                },
                "servicesId": {
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/services/{servicesId}",
              "path": "v1beta/apps/{appsId}/services/{servicesId}",
              "id": "appengine.apps.services.get",
              "description": "Gets the current configuration of the specified service."
            },
            "patch": {
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "appsId",
                "servicesId"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. Name of the resource to update. Example: apps/myapp/services/default.",
                  "required": true,
                  "type": "string"
                },
                "migrateTraffic": {
                  "location": "query",
                  "description": "Set to true to gradually shift traffic to one or more versions that you specify. By default, traffic is shifted immediately. For gradual traffic migration, the target versions must be located within instances that are configured for both warmup requests (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#inboundservicetype) and automatic scaling (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#automaticscaling). You must specify the shardBy (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services#shardby) field in the Service resource. Gradual traffic migration is not supported in the App Engine flexible environment. For examples, see Migrating and Splitting Traffic (https://cloud.google.com/appengine/docs/admin-api/migrating-splitting-traffic).",
                  "type": "boolean"
                },
                "updateMask": {
                  "location": "query",
                  "description": "Standard field mask for the set of fields to be updated.",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "servicesId": {
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/apps/{appsId}/services/{servicesId}",
              "path": "v1beta/apps/{appsId}/services/{servicesId}",
              "id": "appengine.apps.services.patch",
              "request": {
                "$ref": "Service"
              },
              "description": "Updates the configuration of the specified service."
            }
          },
          "resources": {
            "versions": {
              "resources": {
                "instances": {
                  "methods": {
                    "delete": {
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "appsId",
                        "servicesId",
                        "versionsId",
                        "instancesId"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "servicesId": {
                          "location": "path",
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "required": true,
                          "type": "string"
                        },
                        "appsId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1."
                        },
                        "instancesId": {
                          "location": "path",
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "required": true,
                          "type": "string"
                        },
                        "versionsId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Part of `name`. See documentation of `appsId`."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                      "id": "appengine.apps.services.versions.instances.delete",
                      "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                      "description": "Stops a running instance."
                    },
                    "list": {
                      "response": {
                        "$ref": "ListInstancesResponse"
                      },
                      "parameterOrder": [
                        "appsId",
                        "servicesId",
                        "versionsId"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "servicesId": {
                          "location": "path",
                          "description": "Part of `parent`. See documentation of `appsId`.",
                          "required": true,
                          "type": "string"
                        },
                        "appsId": {
                          "location": "path",
                          "description": "Part of `parent`. Name of the parent Version resource. Example: apps/myapp/services/default/versions/v1.",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Continuation token for fetching the next page of results.",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "Maximum results to return per page.",
                          "format": "int32"
                        },
                        "versionsId": {
                          "location": "path",
                          "description": "Part of `parent`. See documentation of `appsId`.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances",
                      "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances",
                      "id": "appengine.apps.services.versions.instances.list",
                      "description": "Lists the instances of a version.Tip: To aggregate details about instances over time, see the Stackdriver Monitoring API (https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.timeSeries/list)."
                    },
                    "get": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Instance"
                      },
                      "parameterOrder": [
                        "appsId",
                        "servicesId",
                        "versionsId",
                        "instancesId"
                      ],
                      "parameters": {
                        "appsId": {
                          "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "instancesId": {
                          "location": "path",
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "required": true,
                          "type": "string"
                        },
                        "versionsId": {
                          "location": "path",
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "required": true,
                          "type": "string"
                        },
                        "servicesId": {
                          "location": "path",
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                      "id": "appengine.apps.services.versions.instances.get",
                      "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                      "description": "Gets instance information."
                    },
                    "debug": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "appsId",
                        "servicesId",
                        "versionsId",
                        "instancesId"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "versionsId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Part of `name`. See documentation of `appsId`."
                        },
                        "servicesId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Part of `name`. See documentation of `appsId`."
                        },
                        "appsId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1."
                        },
                        "instancesId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Part of `name`. See documentation of `appsId`."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}:debug",
                      "id": "appengine.apps.services.versions.instances.debug",
                      "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}:debug",
                      "request": {
                        "$ref": "DebugInstanceRequest"
                      },
                      "description": "Enables debugging on a VM instance. This allows you to use the SSH command to connect to the virtual machine where the instance lives. While in \"debug mode\", the instance continues to serve live traffic. You should delete the instance when you are done debugging and then allow the system to take over and determine if another instance should be started.Only applicable for instances in App Engine flexible environment."
                    }
                  }
                }
              },
              "methods": {
                "delete": {
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "id": "appengine.apps.services.versions.delete",
                  "description": "Deletes an existing Version resource.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "appsId",
                    "servicesId",
                    "versionsId"
                  ],
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "servicesId": {
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "appsId": {
                      "location": "path",
                      "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1.",
                      "required": true,
                      "type": "string"
                    },
                    "versionsId": {
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}"
                },
                "list": {
                  "response": {
                    "$ref": "ListVersionsResponse"
                  },
                  "parameterOrder": [
                    "appsId",
                    "servicesId"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameters": {
                    "appsId": {
                      "description": "Part of `parent`. Name of the parent Service resource. Example: apps/myapp/services/default.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Continuation token for fetching the next page of results.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Maximum results to return per page.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "view": {
                      "location": "query",
                      "enum": [
                        "BASIC",
                        "FULL"
                      ],
                      "description": "Controls the set of fields returned in the List response.",
                      "type": "string"
                    },
                    "servicesId": {
                      "description": "Part of `parent`. See documentation of `appsId`.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions",
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions",
                  "id": "appengine.apps.services.versions.list",
                  "description": "Lists the versions of a service."
                },
                "get": {
                  "description": "Gets the specified Version resource. By default, only a BASIC_VIEW will be returned. Specify the FULL_VIEW parameter to get the full resource.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Version"
                  },
                  "parameterOrder": [
                    "appsId",
                    "servicesId",
                    "versionsId"
                  ],
                  "parameters": {
                    "appsId": {
                      "location": "path",
                      "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1.",
                      "required": true,
                      "type": "string"
                    },
                    "versionsId": {
                      "location": "path",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true,
                      "type": "string"
                    },
                    "view": {
                      "enum": [
                        "BASIC",
                        "FULL"
                      ],
                      "description": "Controls the set of fields returned in the Get response.",
                      "type": "string",
                      "location": "query"
                    },
                    "servicesId": {
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "id": "appengine.apps.services.versions.get",
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}"
                },
                "patch": {
                  "description": "Updates the specified Version resource. You can specify the following fields depending on the App Engine environment and type of scaling that the version resource uses:\nserving_status (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.serving_status):  For Version resources that use basic scaling, manual scaling, or run in  the App Engine flexible environment.\ninstance_class (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.instance_class):  For Version resources that run in the App Engine standard environment.\nautomatic_scaling.min_idle_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling):  For Version resources that use automatic scaling and run in the App  Engine standard environment.\nautomatic_scaling.max_idle_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling):  For Version resources that use automatic scaling and run in the App  Engine standard environment.\nautomatic_scaling.min_total_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling):  For Version resources that use automatic scaling and run in the App  Engine Flexible environment.\nautomatic_scaling.max_total_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling):  For Version resources that use automatic scaling and run in the App  Engine Flexible environment.\nautomatic_scaling.cool_down_period_sec (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling):  For Version resources that use automatic scaling and run in the App  Engine Flexible environment.\nautomatic_scaling.cpu_utilization.target_utilization (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling):  For Version resources that use automatic scaling and run in the App  Engine Flexible environment.",
                  "request": {
                    "$ref": "Version"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "appsId",
                    "servicesId",
                    "versionsId"
                  ],
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "appsId": {
                      "location": "path",
                      "description": "Part of `name`. Name of the resource to update. Example: apps/myapp/services/default/versions/1.",
                      "required": true,
                      "type": "string"
                    },
                    "versionsId": {
                      "location": "path",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Standard field mask for the set of fields to be updated.",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    },
                    "servicesId": {
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "id": "appengine.apps.services.versions.patch"
                },
                "create": {
                  "id": "appengine.apps.services.versions.create",
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions",
                  "request": {
                    "$ref": "Version"
                  },
                  "description": "Deploys code and resource files to a new version.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "appsId",
                    "servicesId"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "appsId": {
                      "description": "Part of `parent`. Name of the parent resource to create this version under. Example: apps/myapp/services/default.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "servicesId": {
                      "description": "Part of `parent`. See documentation of `appsId`.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions"
                }
              }
            }
          }
        },
        "authorizedDomains": {
          "methods": {
            "list": {
              "flatPath": "v1beta/apps/{appsId}/authorizedDomains",
              "id": "appengine.apps.authorizedDomains.list",
              "path": "v1beta/apps/{appsId}/authorizedDomains",
              "description": "Lists all domains the user is authorized to administer.",
              "httpMethod": "GET",
              "parameterOrder": [
                "appsId"
              ],
              "response": {
                "$ref": "ListAuthorizedDomainsResponse"
              },
              "parameters": {
                "appsId": {
                  "location": "path",
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Continuation token for fetching the next page of results.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Maximum results to return per page.",
                  "format": "int32"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ]
            }
          }
        },
        "operations": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "parameterOrder": [
                "appsId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "appsId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Part of `name`. The name of the operation's parent resource."
                },
                "pageToken": {
                  "location": "query",
                  "description": "The standard list page token.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The standard list page size.",
                  "format": "int32",
                  "type": "integer"
                },
                "filter": {
                  "location": "query",
                  "description": "The standard list filter.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1beta/apps/{appsId}/operations",
              "path": "v1beta/apps/{appsId}/operations",
              "id": "appengine.apps.operations.list",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.NOTE: the name binding allows API services to override the binding to use different resource name schemes, such as users/*/operations. To override the binding, API services can add a binding such as \"/v1/{name=users/*}/operations\" to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id."
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "appsId",
                "operationsId"
              ],
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "appsId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Part of `name`. The name of the operation resource."
                },
                "operationsId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1beta/apps/{appsId}/operations/{operationsId}",
              "id": "appengine.apps.operations.get",
              "path": "v1beta/apps/{appsId}/operations/{operationsId}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
            }
          }
        },
        "domainMappings": {
          "methods": {
            "create": {
              "description": "Maps a domain to an application. A user must be authorized to administer a domain in order to map it to an application. For a list of available authorized domains, see AuthorizedDomains.ListAuthorizedDomains.",
              "request": {
                "$ref": "DomainMapping"
              },
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "appsId"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "appsId": {
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "overrideStrategy": {
                  "location": "query",
                  "enum": [
                    "UNSPECIFIED_DOMAIN_OVERRIDE_STRATEGY",
                    "STRICT",
                    "OVERRIDE"
                  ],
                  "description": "Whether the domain creation should override any existing mappings for this domain. By default, overrides are rejected.",
                  "type": "string"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/domainMappings",
              "path": "v1beta/apps/{appsId}/domainMappings",
              "id": "appengine.apps.domainMappings.create"
            },
            "delete": {
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "domainMappingsId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "appsId": {
                  "description": "Part of `name`. Name of the resource to delete. Example: apps/myapp/domainMappings/example.com.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "path": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "id": "appengine.apps.domainMappings.delete",
              "description": "Deletes the specified domain mapping. A user must be authorized to administer the associated domain in order to delete a DomainMapping resource."
            },
            "list": {
              "path": "v1beta/apps/{appsId}/domainMappings",
              "id": "appengine.apps.domainMappings.list",
              "description": "Lists the domain mappings on an application.",
              "response": {
                "$ref": "ListDomainMappingsResponse"
              },
              "parameterOrder": [
                "appsId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "appsId": {
                  "location": "path",
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Continuation token for fetching the next page of results.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Maximum results to return per page.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/domainMappings"
            },
            "get": {
              "description": "Gets the specified domain mapping.",
              "response": {
                "$ref": "DomainMapping"
              },
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/domainMappings/example.com.",
                  "required": true,
                  "type": "string"
                },
                "domainMappingsId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "path": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "id": "appengine.apps.domainMappings.get"
            },
            "patch": {
              "description": "Updates the specified domain mapping. To map an SSL certificate to a domain mapping, update certificate_id to point to an AuthorizedCertificate resource. A user must be authorized to administer the associated domain in order to update a DomainMapping resource.",
              "request": {
                "$ref": "DomainMapping"
              },
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. Name of the resource to update. Example: apps/myapp/domainMappings/example.com.",
                  "required": true,
                  "type": "string"
                },
                "domainMappingsId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "description": "Standard field mask for the set of fields to be updated.",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "path": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "id": "appengine.apps.domainMappings.patch"
            }
          }
        },
        "firewall": {
          "resources": {
            "ingressRules": {
              "methods": {
                "batchUpdate": {
                  "description": "Replaces the entire firewall ruleset in one bulk operation. This overrides and replaces the rules of an existing firewall with the new rules.If the final rule does not match traffic with the '*' wildcard IP range, then an \"allow all\" rule is explicitly added to the end of the list.",
                  "request": {
                    "$ref": "BatchUpdateIngressRulesRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "appsId"
                  ],
                  "response": {
                    "$ref": "BatchUpdateIngressRulesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "appsId": {
                      "description": "Part of `name`. Name of the Firewall collection to set. Example: apps/myapp/firewall/ingressRules.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules:batchUpdate",
                  "id": "appengine.apps.firewall.ingressRules.batchUpdate",
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules:batchUpdate"
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "appsId",
                    "ingressRulesId"
                  ],
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "appsId": {
                      "location": "path",
                      "description": "Part of `name`. Name of the Firewall resource to delete. Example: apps/myapp/firewall/ingressRules/100.",
                      "required": true,
                      "type": "string"
                    },
                    "ingressRulesId": {
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "id": "appengine.apps.firewall.ingressRules.delete",
                  "description": "Deletes the specified firewall rule."
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameters": {
                    "appsId": {
                      "description": "Part of `parent`. Name of the Firewall collection to retrieve. Example: apps/myapp/firewall/ingressRules.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Continuation token for fetching the next page of results.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Maximum results to return per page.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "matchingAddress": {
                      "location": "query",
                      "description": "A valid IP Address. If set, only rules matching this address will be returned. The first returned rule will be the rule that fires on requests from this IP.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules",
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules",
                  "id": "appengine.apps.firewall.ingressRules.list",
                  "description": "Lists the firewall rules of an application.",
                  "response": {
                    "$ref": "ListIngressRulesResponse"
                  },
                  "parameterOrder": [
                    "appsId"
                  ],
                  "httpMethod": "GET"
                },
                "create": {
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules",
                  "id": "appengine.apps.firewall.ingressRules.create",
                  "request": {
                    "$ref": "FirewallRule"
                  },
                  "description": "Creates a firewall rule for the application.",
                  "response": {
                    "$ref": "FirewallRule"
                  },
                  "parameterOrder": [
                    "appsId"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "appsId": {
                      "description": "Part of `parent`. Name of the parent Firewall collection in which to create a new rule. Example: apps/myapp/firewall/ingressRules.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules"
                },
                "get": {
                  "response": {
                    "$ref": "FirewallRule"
                  },
                  "parameterOrder": [
                    "appsId",
                    "ingressRulesId"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameters": {
                    "appsId": {
                      "location": "path",
                      "description": "Part of `name`. Name of the Firewall resource to retrieve. Example: apps/myapp/firewall/ingressRules/100.",
                      "required": true,
                      "type": "string"
                    },
                    "ingressRulesId": {
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "id": "appengine.apps.firewall.ingressRules.get",
                  "description": "Gets the specified firewall rule."
                },
                "patch": {
                  "response": {
                    "$ref": "FirewallRule"
                  },
                  "parameterOrder": [
                    "appsId",
                    "ingressRulesId"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "description": "Standard field mask for the set of fields to be updated.",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "appsId": {
                      "description": "Part of `name`. Name of the Firewall resource to update. Example: apps/myapp/firewall/ingressRules/100.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "ingressRulesId": {
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "id": "appengine.apps.firewall.ingressRules.patch",
                  "request": {
                    "$ref": "FirewallRule"
                  },
                  "description": "Updates the specified firewall rule."
                }
              }
            }
          }
        },
        "locations": {
          "methods": {
            "list": {
              "description": "Lists information about the supported locations for this service.",
              "httpMethod": "GET",
              "parameterOrder": [
                "appsId"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "filter": {
                  "description": "The standard list filter.",
                  "type": "string",
                  "location": "query"
                },
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The standard list page token.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The standard list page size.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/locations",
              "id": "appengine.apps.locations.list",
              "path": "v1beta/apps/{appsId}/locations"
            },
            "get": {
              "response": {
                "$ref": "Location"
              },
              "parameterOrder": [
                "appsId",
                "locationsId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "locationsId": {
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true,
                  "type": "string"
                },
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. Resource name for the location.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/locations/{locationsId}",
              "path": "v1beta/apps/{appsId}/locations/{locationsId}",
              "id": "appengine.apps.locations.get",
              "description": "Get information about a location."
            }
          }
        },
        "authorizedCertificates": {
          "methods": {
            "delete": {
              "path": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "id": "appengine.apps.authorizedCertificates.delete",
              "description": "Deletes the specified SSL certificate.",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. Name of the resource to delete. Example: apps/myapp/authorizedCertificates/12345.",
                  "required": true,
                  "type": "string"
                },
                "authorizedCertificatesId": {
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}"
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "appsId"
              ],
              "response": {
                "$ref": "ListAuthorizedCertificatesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "appsId": {
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Continuation token for fetching the next page of results.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum results to return per page.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "view": {
                  "location": "query",
                  "enum": [
                    "BASIC_CERTIFICATE",
                    "FULL_CERTIFICATE"
                  ],
                  "description": "Controls the set of fields returned in the LIST response.",
                  "type": "string"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates",
              "id": "appengine.apps.authorizedCertificates.list",
              "path": "v1beta/apps/{appsId}/authorizedCertificates",
              "description": "Lists all SSL certificates the user is authorized to administer."
            },
            "get": {
              "id": "appengine.apps.authorizedCertificates.get",
              "path": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "description": "Gets the specified SSL certificate.",
              "httpMethod": "GET",
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "parameters": {
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/authorizedCertificates/12345.",
                  "required": true,
                  "type": "string"
                },
                "view": {
                  "enum": [
                    "BASIC_CERTIFICATE",
                    "FULL_CERTIFICATE"
                  ],
                  "description": "Controls the set of fields returned in the GET response.",
                  "type": "string",
                  "location": "query"
                },
                "authorizedCertificatesId": {
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}"
            },
            "patch": {
              "path": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "id": "appengine.apps.authorizedCertificates.patch",
              "request": {
                "$ref": "AuthorizedCertificate"
              },
              "description": "Updates the specified SSL certificate. To renew a certificate and maintain its existing domain mappings, update certificate_data with a new certificate. The new certificate must be applicable to the same domains as the original certificate. The certificate display_name may also be updated.",
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "authorizedCertificatesId": {
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "description": "Standard field mask for the set of fields to be updated. Updates are only supported on the certificate_raw_data and display_name fields.",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. Name of the resource to update. Example: apps/myapp/authorizedCertificates/12345.",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}"
            },
            "create": {
              "id": "appengine.apps.authorizedCertificates.create",
              "path": "v1beta/apps/{appsId}/authorizedCertificates",
              "request": {
                "$ref": "AuthorizedCertificate"
              },
              "description": "Uploads the specified SSL certificate.",
              "httpMethod": "POST",
              "parameterOrder": [
                "appsId"
              ],
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "parameters": {
                "appsId": {
                  "location": "path",
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "pp": {
      "location": "query",
      "description": "Pretty-print response.",
      "type": "boolean",
      "default": "true"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "bearer_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth bearer token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "schemas": {
    "CloudBuildOptions": {
      "type": "object",
      "properties": {
        "cloudBuildTimeout": {
          "description": "The Cloud Build timeout used as part of any dependent builds performed by version creation. Defaults to 10 minutes.",
          "format": "google-duration",
          "type": "string"
        },
        "appYamlPath": {
          "type": "string",
          "description": "Path to the yaml file used in deployment, used to determine runtime configuration details.Required for flexible environment builds.See https://cloud.google.com/appengine/docs/standard/python/config/appref for more details."
        }
      },
      "id": "CloudBuildOptions",
      "description": "Options for the build operations performed as a part of the version deployment. Only applicable for App Engine flexible environment when creating a version using source code directly."
    },
    "Location": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: \"projects/example-project/locations/us-east1\""
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: \"us-east1\"."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example\n{\"cloud.googleapis.com/region\": \"us-east1\"}\n"
        }
      },
      "id": "Location",
      "description": "A resource that represents Google Cloud Platform location."
    },
    "NetworkUtilization": {
      "description": "Target scaling by network usage. Only applicable in the App Engine flexible environment.",
      "type": "object",
      "properties": {
        "targetSentPacketsPerSecond": {
          "description": "Target packets sent per second.",
          "format": "int32",
          "type": "integer"
        },
        "targetReceivedBytesPerSecond": {
          "description": "Target bytes received per second.",
          "format": "int32",
          "type": "integer"
        },
        "targetReceivedPacketsPerSecond": {
          "description": "Target packets received per second.",
          "format": "int32",
          "type": "integer"
        },
        "targetSentBytesPerSecond": {
          "type": "integer",
          "description": "Target bytes sent per second.",
          "format": "int32"
        }
      },
      "id": "NetworkUtilization"
    },
    "HealthCheck": {
      "description": "Health checking configuration for VM instances. Unhealthy instances are killed and replaced with new instances. Only applicable for instances in App Engine flexible environment.",
      "type": "object",
      "properties": {
        "checkInterval": {
          "type": "string",
          "description": "Interval between health checks.",
          "format": "google-duration"
        },
        "timeout": {
          "description": "Time before the health check is considered failed.",
          "format": "google-duration",
          "type": "string"
        },
        "unhealthyThreshold": {
          "description": "Number of consecutive failed health checks required before removing traffic.",
          "format": "uint32",
          "type": "integer"
        },
        "disableHealthCheck": {
          "description": "Whether to explicitly disable health checks for this instance.",
          "type": "boolean"
        },
        "host": {
          "type": "string",
          "description": "Host header to send when performing an HTTP health check. Example: \"myapp.appspot.com\""
        },
        "restartThreshold": {
          "description": "Number of consecutive failed health checks required before an instance is restarted.",
          "format": "uint32",
          "type": "integer"
        },
        "healthyThreshold": {
          "description": "Number of consecutive successful health checks required before receiving traffic.",
          "format": "uint32",
          "type": "integer"
        }
      },
      "id": "HealthCheck"
    },
    "ReadinessCheck": {
      "type": "object",
      "properties": {
        "path": {
          "description": "The request path.",
          "type": "string"
        },
        "successThreshold": {
          "type": "integer",
          "description": "Number of consecutive successful checks required before receiving traffic.",
          "format": "uint32"
        },
        "host": {
          "type": "string",
          "description": "Host header to send when performing a HTTP Readiness check. Example: \"myapp.appspot.com\""
        },
        "checkInterval": {
          "type": "string",
          "description": "Interval between health checks.",
          "format": "google-duration"
        },
        "timeout": {
          "type": "string",
          "description": "Time before the check is considered failed.",
          "format": "google-duration"
        },
        "failureThreshold": {
          "description": "Number of consecutive failed checks required before removing traffic.",
          "format": "uint32",
          "type": "integer"
        },
        "appStartTimeout": {
          "description": "A maximum time limit on application initialization, measured from moment the application successfully replies to a healthcheck until it is ready to serve traffic.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "ReadinessCheck",
      "description": "Readiness checking configuration for VM instances. Unhealthy instances are removed from traffic rotation."
    },
    "DebugInstanceRequest": {
      "description": "Request message for Instances.DebugInstance.",
      "type": "object",
      "properties": {
        "sshKey": {
          "type": "string",
          "description": "Public SSH key to add to the instance. Examples:\n[USERNAME]:ssh-rsa [KEY_VALUE] [USERNAME]\n[USERNAME]:ssh-rsa [KEY_VALUE] google-ssh {\"userName\":\"[USERNAME]\",\"expireOn\":\"[EXPIRE_TIME]\"}For more information, see Adding and Removing SSH Keys (https://cloud.google.com/compute/docs/instances/adding-removing-ssh-keys)."
        }
      },
      "id": "DebugInstanceRequest"
    },
    "StandardSchedulerSettings": {
      "type": "object",
      "properties": {
        "targetThroughputUtilization": {
          "type": "number",
          "description": "Target throughput utilization ratio to maintain when scaling",
          "format": "double"
        },
        "maxInstances": {
          "description": "Maximum number of instances for an app version. Set to zero to disable max_instances configuration.",
          "format": "int32",
          "type": "integer"
        },
        "minInstances": {
          "description": "Minimum number of instances for an app version. Set to zero to disable min_instances configuration.",
          "format": "int32",
          "type": "integer"
        },
        "targetCpuUtilization": {
          "type": "number",
          "description": "Target CPU utilization ratio to maintain when scaling.",
          "format": "double"
        }
      },
      "id": "StandardSchedulerSettings",
      "description": "Scheduler settings for standard environment."
    },
    "OperationMetadataV1Beta5": {
      "description": "Metadata for the given google.longrunning.Operation.",
      "type": "object",
      "properties": {
        "method": {
          "type": "string",
          "description": "API method name that initiated this operation. Example: google.appengine.v1beta5.Version.CreateVersion.@OutputOnly"
        },
        "insertTime": {
          "type": "string",
          "description": "Timestamp that this operation was created.@OutputOnly",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Timestamp that this operation completed.@OutputOnly",
          "format": "google-datetime",
          "type": "string"
        },
        "user": {
          "type": "string",
          "description": "User who requested this operation.@OutputOnly"
        },
        "target": {
          "type": "string",
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly"
        }
      },
      "id": "OperationMetadataV1Beta5"
    },
    "CreateVersionMetadataV1Alpha": {
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1alpha.CreateVersionRequest.",
      "type": "object",
      "properties": {
        "cloudBuildId": {
          "type": "string",
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly"
        }
      },
      "id": "CreateVersionMetadataV1Alpha"
    },
    "Version": {
      "type": "object",
      "properties": {
        "livenessCheck": {
          "$ref": "LivenessCheck",
          "description": "Configures liveness health checking for VM instances. Unhealthy instances are stopped and replaced with new instancesOnly returned in GET requests if view=FULL is set."
        },
        "network": {
          "$ref": "Network",
          "description": "Extra network settings. Only applicable in the App Engine flexible environment."
        },
        "betaSettings": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata settings that are supplied to this version to enable beta runtime features.",
          "type": "object"
        },
        "env": {
          "type": "string",
          "description": "App Engine execution environment for this version.Defaults to standard."
        },
        "handlers": {
          "type": "array",
          "items": {
            "$ref": "UrlMap"
          },
          "description": "An ordered list of URL-matching patterns that should be applied to incoming requests. The first matching URL handles the request and other request handlers are not attempted.Only returned in GET requests if view=FULL is set."
        },
        "zones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The choice of gce zones to use for this App Engine Flexible version."
        },
        "automaticScaling": {
          "$ref": "AutomaticScaling",
          "description": "Automatic scaling is based on request rate, response latencies, and other application metrics."
        },
        "diskUsageBytes": {
          "description": "Total size in bytes of all the files that are included in this version and currently hosted on the App Engine disk.@OutputOnly",
          "format": "int64",
          "type": "string"
        },
        "healthCheck": {
          "$ref": "HealthCheck",
          "description": "Configures health checking for VM instances. Unhealthy instances are stopped and replaced with new instances. Only applicable in the App Engine flexible environment.Only returned in GET requests if view=FULL is set."
        },
        "threadsafe": {
          "description": "Whether multiple requests can be dispatched to this version at once.",
          "type": "boolean"
        },
        "readinessCheck": {
          "$ref": "ReadinessCheck",
          "description": "Configures readiness health checking for VM instances. Unhealthy instances are not put into the backend traffic rotation.Only returned in GET requests if view=FULL is set."
        },
        "manualScaling": {
          "$ref": "ManualScaling",
          "description": "A service with manual scaling runs continuously, allowing you to perform complex initialization and rely on the state of its memory over time."
        },
        "name": {
          "description": "Full path to the Version resource in the API. Example: apps/myapp/services/default/versions/v1.@OutputOnly",
          "type": "string"
        },
        "apiConfig": {
          "$ref": "ApiConfigHandler",
          "description": "Serving configuration for Google Cloud Endpoints (https://cloud.google.com/appengine/docs/python/endpoints/).Only returned in GET requests if view=FULL is set."
        },
        "endpointsApiService": {
          "$ref": "EndpointsApiService",
          "description": "Cloud Endpoints configuration.If endpoints_api_service is set, the Cloud Endpoints Extensible Service Proxy will be provided to serve the API implemented by the app."
        },
        "versionUrl": {
          "type": "string",
          "description": "Serving URL for this version. Example: \"https://myversion-dot-myservice-dot-myapp.appspot.com\"@OutputOnly"
        },
        "vm": {
          "description": "Whether to deploy this version in a container on a virtual machine.",
          "type": "boolean"
        },
        "instanceClass": {
          "type": "string",
          "description": "Instance class that is used to run this version. Valid values are:\nAutomaticScaling: F1, F2, F4, F4_1G\nManualScaling or BasicScaling: B1, B2, B4, B8, B4_1GDefaults to F1 for AutomaticScaling and B1 for ManualScaling or BasicScaling."
        },
        "servingStatus": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Currently serving. Instances are created according to the scaling settings of the version.",
            "Disabled. No instances will be created and the scaling settings are ignored until the state of the version changes to SERVING."
          ],
          "enum": [
            "SERVING_STATUS_UNSPECIFIED",
            "SERVING",
            "STOPPED"
          ],
          "description": "Current serving status of this version. Only the versions with a SERVING status create instances and can be billed.SERVING_STATUS_UNSPECIFIED is an invalid value. Defaults to SERVING."
        },
        "runtimeApiVersion": {
          "type": "string",
          "description": "The version of the API in the given runtime environment. Please see the app.yaml reference for valid values at https://cloud.google.com/appengine/docs/standard/\u003clanguage\u003e/config/appref"
        },
        "deployment": {
          "$ref": "Deployment",
          "description": "Code and application artifacts that make up this version.Only returned in GET requests if view=FULL is set."
        },
        "createTime": {
          "type": "string",
          "description": "Time that this version was created.@OutputOnly",
          "format": "google-datetime"
        },
        "inboundServices": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "INBOUND_SERVICE_UNSPECIFIED",
              "INBOUND_SERVICE_MAIL",
              "INBOUND_SERVICE_MAIL_BOUNCE",
              "INBOUND_SERVICE_XMPP_ERROR",
              "INBOUND_SERVICE_XMPP_MESSAGE",
              "INBOUND_SERVICE_XMPP_SUBSCRIBE",
              "INBOUND_SERVICE_XMPP_PRESENCE",
              "INBOUND_SERVICE_CHANNEL_PRESENCE",
              "INBOUND_SERVICE_WARMUP"
            ]
          },
          "enumDescriptions": [
            "Not specified.",
            "Allows an application to receive mail.",
            "Allows an application to receive email-bound notifications.",
            "Allows an application to receive error stanzas.",
            "Allows an application to receive instant messages.",
            "Allows an application to receive user subscription POSTs.",
            "Allows an application to receive a user's chat presence.",
            "Registers an application for notifications when a client connects or disconnects from a channel.",
            "Enables warmup requests."
          ],
          "description": "Before an application can receive email or XMPP messages, the application must be configured to enable the service."
        },
        "resources": {
          "$ref": "Resources",
          "description": "Machine resources for this version. Only applicable for VM runtimes."
        },
        "errorHandlers": {
          "type": "array",
          "items": {
            "$ref": "ErrorHandler"
          },
          "description": "Custom static error pages. Limited to 10KB per page.Only returned in GET requests if view=FULL is set."
        },
        "defaultExpiration": {
          "description": "Duration that static files should be cached by web proxies and browsers. Only applicable if the corresponding StaticFilesHandler (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#staticfileshandler) does not specify its own expiration time.Only returned in GET requests if view=FULL is set.",
          "format": "google-duration",
          "type": "string"
        },
        "libraries": {
          "description": "Configuration for third-party Python runtime libraries that are required by the application.Only returned in GET requests if view=FULL is set.",
          "type": "array",
          "items": {
            "$ref": "Library"
          }
        },
        "nobuildFilesRegex": {
          "type": "string",
          "description": "Files that match this pattern will not be built into this version. Only applicable for Go runtimes.Only returned in GET requests if view=FULL is set."
        },
        "basicScaling": {
          "$ref": "BasicScaling",
          "description": "A service with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity."
        },
        "runtime": {
          "description": "Desired runtime. Example: python27.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Relative name of the version within the service. Example: v1. Version names can contain only lowercase letters, numbers, or hyphens. Reserved names: \"default\", \"latest\", and any name with the prefix \"ah-\"."
        },
        "createdBy": {
          "type": "string",
          "description": "Email address of the user who created this version.@OutputOnly"
        },
        "envVariables": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Environment variables available to the application.Only returned in GET requests if view=FULL is set.",
          "type": "object"
        }
      },
      "id": "Version",
      "description": "A Version resource is a specific set of source code and configuration files that are deployed into a service."
    },
    "RepairApplicationRequest": {
      "description": "Request message for 'Applications.RepairApplication'.",
      "type": "object",
      "properties": {},
      "id": "RepairApplicationRequest"
    },
    "BuildInfo": {
      "type": "object",
      "properties": {
        "cloudBuildId": {
          "type": "string",
          "description": "The Google Cloud Container Builder build id. Example: \"f966068f-08b2-42c8-bdfe-74137dff2bf9\""
        }
      },
      "id": "BuildInfo",
      "description": "Google Cloud Container Builder build information."
    },
    "CertificateRawData": {
      "description": "An SSL certificate obtained from a certificate authority.",
      "type": "object",
      "properties": {
        "publicCertificate": {
          "type": "string",
          "description": "PEM encoded x.509 public key certificate. This field is set once on certificate creation. Must include the header and footer. Example: \u003cpre\u003e -----BEGIN CERTIFICATE----- \u003ccertificate_value\u003e -----END CERTIFICATE----- \u003c/pre\u003e"
        },
        "privateKey": {
          "type": "string",
          "description": "Unencrypted PEM encoded RSA private key. This field is set once on certificate creation and then encrypted. The key size must be 2048 bits or fewer. Must include the header and footer. Example: \u003cpre\u003e -----BEGIN RSA PRIVATE KEY----- \u003cunencrypted_key_value\u003e -----END RSA PRIVATE KEY----- \u003c/pre\u003e @InputOnly"
        }
      },
      "id": "CertificateRawData"
    },
    "FileInfo": {
      "description": "Single source file that is part of the version to be deployed. Each source file that is deployed must be specified separately.",
      "type": "object",
      "properties": {
        "sha1Sum": {
          "description": "The SHA1 hash of the file, in hex.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the file.Defaults to the value from Google Cloud Storage."
        },
        "sourceUrl": {
          "description": "URL source to use to fetch this file. Must be a URL to a resource in Google Cloud Storage in the form 'http(s)://storage.googleapis.com/\u003cbucket\u003e/\u003cobject\u003e'.",
          "type": "string"
        }
      },
      "id": "FileInfo"
    },
    "ScriptHandler": {
      "description": "Executes a script to handle the request that matches the URL pattern.",
      "type": "object",
      "properties": {
        "scriptPath": {
          "type": "string",
          "description": "Path to the script from the application root directory."
        }
      },
      "id": "ScriptHandler"
    },
    "AuthorizedDomain": {
      "description": "A domain that a user has been authorized to administer. To authorize use of a domain, verify ownership via Webmaster Central (https://www.google.com/webmasters/verification/home).",
      "type": "object",
      "properties": {
        "id": {
          "description": "Fully qualified domain name of the domain authorized for use. Example: example.com.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Full path to the AuthorizedDomain resource in the API. Example: apps/myapp/authorizedDomains/example.com.@OutputOnly"
        }
      },
      "id": "AuthorizedDomain"
    },
    "TrafficSplit": {
      "description": "Traffic routing configuration for versions within a single service. Traffic splits define how traffic directed to the service is assigned to versions.",
      "type": "object",
      "properties": {
        "shardBy": {
          "enum": [
            "UNSPECIFIED",
            "COOKIE",
            "IP",
            "RANDOM"
          ],
          "description": "Mechanism used to determine which version a request is sent to. The traffic selection algorithm will be stable for either type until allocations are changed.",
          "type": "string",
          "enumDescriptions": [
            "Diversion method unspecified.",
            "Diversion based on a specially named cookie, \"GOOGAPPUID.\" The cookie must be set by the application itself or no diversion will occur.",
            "Diversion based on applying the modulus operation to a fingerprint of the IP address.",
            "Diversion based on weighted random assignment. An incoming request is randomly routed to a version in the traffic split, with probability proportional to the version's traffic share."
          ]
        },
        "allocations": {
          "type": "object",
          "additionalProperties": {
            "format": "double",
            "type": "number"
          },
          "description": "Mapping from version IDs within the service to fractional (0.000, 1] allocations of traffic for that version. Each version can be specified only once, but some versions in the service may not have any traffic allocation. Services that have traffic allocated cannot be deleted until either the service is deleted or their traffic allocation is removed. Allocations must sum to 1. Up to two decimal place precision is supported for IP-based splits and up to three decimal places is supported for cookie-based splits."
        }
      },
      "id": "TrafficSplit"
    },
    "OperationMetadataV1Beta": {
      "description": "Metadata for the given google.longrunning.Operation.",
      "type": "object",
      "properties": {
        "method": {
          "description": "API method that initiated this operation. Example: google.appengine.v1beta.Versions.CreateVersion.@OutputOnly",
          "type": "string"
        },
        "endTime": {
          "description": "Time that this operation completed.@OutputOnly",
          "format": "google-datetime",
          "type": "string"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1Beta"
        },
        "warning": {
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "insertTime": {
          "type": "string",
          "description": "Time that this operation was created.@OutputOnly",
          "format": "google-datetime"
        },
        "user": {
          "type": "string",
          "description": "User who requested this operation.@OutputOnly"
        },
        "target": {
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        },
        "ephemeralMessage": {
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
          "type": "string"
        }
      },
      "id": "OperationMetadataV1Beta"
    },
    "ListServicesResponse": {
      "type": "object",
      "properties": {
        "services": {
          "type": "array",
          "items": {
            "$ref": "Service"
          },
          "description": "The services belonging to the requested application."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "id": "ListServicesResponse",
      "description": "Response message for Services.ListServices."
    },
    "ListIngressRulesResponse": {
      "description": "Response message for Firewall.ListIngressRules.",
      "type": "object",
      "properties": {
        "ingressRules": {
          "type": "array",
          "items": {
            "$ref": "FirewallRule"
          },
          "description": "The ingress FirewallRules for this application."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "id": "ListIngressRulesResponse"
    },
    "Resources": {
      "description": "Machine resources for a version.",
      "type": "object",
      "properties": {
        "volumes": {
          "description": "User specified volumes.",
          "type": "array",
          "items": {
            "$ref": "Volume"
          }
        },
        "diskGb": {
          "type": "number",
          "description": "Disk size (GB) needed.",
          "format": "double"
        },
        "cpu": {
          "description": "Number of CPU cores needed.",
          "format": "double",
          "type": "number"
        },
        "memoryGb": {
          "description": "Memory (GB) needed.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "Resources"
    },
    "Deployment": {
      "description": "Code and application artifacts used to deploy a version to App Engine.",
      "type": "object",
      "properties": {
        "zip": {
          "$ref": "ZipInfo",
          "description": "The zip file for this deployment, if this is a zip deployment."
        },
        "container": {
          "$ref": "ContainerInfo",
          "description": "The Docker image for the container that runs the version. Only applicable for instances running in the App Engine flexible environment."
        },
        "build": {
          "$ref": "BuildInfo",
          "description": "Google Cloud Container Builder build information."
        },
        "files": {
          "type": "object",
          "additionalProperties": {
            "$ref": "FileInfo"
          },
          "description": "Manifest of the files stored in Google Cloud Storage that are included as part of this version. All files must be readable using the credentials supplied with this call."
        },
        "cloudBuildOptions": {
          "$ref": "CloudBuildOptions",
          "description": "Options for any Google Cloud Container Builder builds created as a part of this deployment.Note that this is orthogonal to the build parameter, where the deployment depends on an already existing cloud build. These options will only be used if a new build is created, such as when deploying to the App Engine flexible environment using files or zip."
        }
      },
      "id": "Deployment"
    },
    "BatchUpdateIngressRulesResponse": {
      "description": "Response message for Firewall.UpdateAllIngressRules.",
      "type": "object",
      "properties": {
[...]
