---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Prefer:
      - return-no-content
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/%28retry%29?timeout=30
    method: DELETE
  response:
    body: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
      specified resource does not exist.\nRequestId:875b7d62-0002-0036-48b0-0102e5000000\nTime:2017-07-20T23:33:55.9834316Z"}}}'
    headers:
      Content-Type:
      - application/json
      X-Ms-Version:
      - 2016-05-31
    status: 404 The specified resource does not exist.
    code: 404
[...]
