{
  "documentationLink": "https://firebase.google.com/docs/dynamic-links/",
  "revision": "20170430",
  "id": "firebasedynamiclinks:v1",
  "discoveryVersion": "v1",
  "version_module": "True",
  "schemas": {
    "DynamicLinkInfo": {
      "description": "Information about a Dynamic Link.",
      "type": "object",
      "properties": {
        "dynamicLinkDomain": {
          "description": "Dynamic Links domain that the project owns, e.g. abcd.app.goo.gl\n[Learn more](https://firebase.google.com/docs/dynamic-links/android#set-up-firebase-and-the-dynamic-links-sdk)\non how to set up Dynamic Link domain associated with your Firebase project.\n\nRequired.",
          "type": "string"
        },
        "link": {
          "description": "The link your app will open, You can specify any URL your app can handle.\nThis link must be a well-formatted URL, be properly URL-encoded, and use\nthe HTTP or HTTPS scheme. See 'link' parameters in the\n[documentation](https://firebase.google.com/docs/dynamic-links/android#create-a-dynamic-link-programmatically).\n\nRequired.",
          "type": "string"
        },
        "iosInfo": {
          "$ref": "IosInfo",
          "description": "iOS related information. See iOS related parameters in the\n[documentation](https://firebase.google.com/docs/dynamic-links/ios#create-a-dynamic-link-programmatically)."
        },
        "socialMetaTagInfo": {
          "description": "Parameters for social meta tag params.\nUsed to set meta tag data for link previews on social sites.",
          "$ref": "SocialMetaTagInfo"
        },
        "androidInfo": {
          "description": "Android related information. See Android related parameters in the\n[documentation](https://firebase.google.com/docs/dynamic-links/android#create-a-dynamic-link-programmatically).",
          "$ref": "AndroidInfo"
        },
        "navigationInfo": {
          "description": "Information of navigation behavior of a Firebase Dynamic Links.",
          "$ref": "NavigationInfo"
        },
        "analyticsInfo": {
          "description": "Parameters used for tracking. See all tracking parameters in the\n[documentation](https://firebase.google.com/docs/dynamic-links/android#create-a-dynamic-link-programmatically).",
          "$ref": "AnalyticsInfo"
        }
      },
      "id": "DynamicLinkInfo"
    },
    "ITunesConnectAnalytics": {
      "description": "Parameters for iTunes Connect App Analytics.",
      "type": "object",
      "properties": {
        "at": {
          "description": "Affiliate token used to create affiliate-coded links.",
          "type": "string"
        },
        "ct": {
          "description": "Campaign text that developers can optionally add to any link in order to\ntrack sales from a specific marketing campaign.",
          "type": "string"
        },
        "mt": {
          "description": "iTune media types, including music, podcasts, audiobooks and so on.",
          "type": "string"
        },
        "pt": {
          "description": "Provider token that enables analytics for Dynamic Links from within iTunes\nConnect.",
          "type": "string"
        }
      },
      "id": "ITunesConnectAnalytics"
    },
    "SocialMetaTagInfo": {
      "properties": {
        "socialDescription": {
          "description": "A short description of the link. Optional.",
          "type": "string"
        },
        "socialTitle": {
          "description": "Title to be displayed. Optional.",
          "type": "string"
        },
        "socialImageLink": {
          "description": "An image url string. Optional.",
          "type": "string"
        }
      },
      "id": "SocialMetaTagInfo",
      "description": "Parameters for social meta tag params.\nUsed to set meta tag data for link previews on social sites.",
      "type": "object"
    },
    "AndroidInfo": {
      "properties": {
        "androidPackageName": {
          "description": "Android package name of the app.",
          "type": "string"
        },
        "androidMinPackageVersionCode": {
          "description": "Minimum version code for the Android app. If the installed app’s version\ncode is lower, then the user is taken to the Play Store.",
          "type": "string"
        },
        "androidLink": {
          "description": "If specified, this overrides the ‘link’ parameter on Android.",
          "type": "string"
        },
        "androidFallbackLink": {
          "description": "Link to open on Android if the app is not installed.",
          "type": "string"
        }
      },
      "id": "AndroidInfo",
      "description": "Android related attributes to the Dynamic Link.",
      "type": "object"
    },
    "DynamicLinkWarning": {
      "description": "Dynamic Links warning messages.",
      "type": "object",
      "properties": {
        "warningCode": {
          "enumDescriptions": [
            "Unknown code.",
            "The Android package does not match any in developer's DevConsole project.",
            "The Android minimum version code has to be a valid integer.",
            "Android package min version param is not needed, e.g. when\n'apn' is missing.",
            "Android link is not a valid URI.",
            "Android link param is not needed, e.g. when param 'al' and 'link' have\nthe same value..",
            "Android fallback link is not a valid URI.",
            "Android fallback link has an invalid (non http/https) URI scheme.",
            "The iOS bundle ID does not match any in developer's DevConsole project.",
            "The iPad bundle ID does not match any in developer's DevConsole project.",
            "iOS URL scheme is not needed, e.g. when 'ibi' are 'ipbi' are all missing.",
            "iOS app store ID format is incorrect, e.g. not numeric.",
            "iOS app store ID is not needed.",
            "iOS fallback link is not a valid URI.",
            "iOS fallback link has an invalid (non http/https) URI scheme.",
            "iPad fallback link is not a valid URI.",
            "iPad fallback link has an invalid (non http/https) URI scheme.",
            "Debug param format is incorrect.",
            "isAd param format is incorrect.",
            "Indicates a certain param is deprecated.",
            "Indicates certain paramater is not recognized.",
            "Indicates certain paramater is too long.",
            "Social meta tag image link is not a valid URI.",
            "Social meta tag image link has an invalid (non http/https) URI scheme.",
            "",
            "",
            "Dynamic Link URL length is too long.",
            "Dynamic Link URL contains fragments.",
            "The iOS bundle ID does not match with the given iOS store ID."
          ],
          "enum": [
            "CODE_UNSPECIFIED",
            "NOT_IN_PROJECT_ANDROID_PACKAGE_NAME",
            "NOT_INTEGER_ANDROID_PACKAGE_MIN_VERSION",
            "UNNECESSARY_ANDROID_PACKAGE_MIN_VERSION",
            "NOT_URI_ANDROID_LINK",
            "UNNECESSARY_ANDROID_LINK",
            "NOT_URI_ANDROID_FALLBACK_LINK",
            "BAD_URI_SCHEME_ANDROID_FALLBACK_LINK",
            "NOT_IN_PROJECT_IOS_BUNDLE_ID",
            "NOT_IN_PROJECT_IPAD_BUNDLE_ID",
            "UNNECESSARY_IOS_URL_SCHEME",
            "NOT_NUMERIC_IOS_APP_STORE_ID",
            "UNNECESSARY_IOS_APP_STORE_ID",
            "NOT_URI_IOS_FALLBACK_LINK",
            "BAD_URI_SCHEME_IOS_FALLBACK_LINK",
            "NOT_URI_IPAD_FALLBACK_LINK",
            "BAD_URI_SCHEME_IPAD_FALLBACK_LINK",
            "BAD_DEBUG_PARAM",
            "BAD_AD_PARAM",
            "DEPRECATED_PARAM",
            "UNRECOGNIZED_PARAM",
            "TOO_LONG_PARAM",
            "NOT_URI_SOCIAL_IMAGE_LINK",
            "BAD_URI_SCHEME_SOCIAL_IMAGE_LINK",
            "NOT_URI_SOCIAL_URL",
            "BAD_URI_SCHEME_SOCIAL_URL",
            "LINK_LENGTH_TOO_LONG",
            "LINK_WITH_FRAGMENTS",
            "NOT_MATCHING_IOS_BUNDLE_ID_AND_STORE_ID"
          ],
          "description": "The warning code.",
          "type": "string"
        },
        "warningMessage": {
          "description": "The warning message to help developers improve their requests.",
          "type": "string"
        }
      },
      "id": "DynamicLinkWarning"
    },
    "NavigationInfo": {
      "description": "Information of navigation behavior.",
      "type": "object",
      "properties": {
        "enableForcedRedirect": {
          "description": "If this option is on, FDL click will be forced to redirect rather than\nshow an interstitial page.",
          "type": "boolean"
        }
      },
      "id": "NavigationInfo"
    },
    "IosInfo": {
      "properties": {
        "iosFallbackLink": {
          "description": "Link to open on iOS if the app is not installed.",
          "type": "string"
        },
        "iosAppStoreId": {
          "description": "iOS App Store ID.",
          "type": "string"
        },
        "iosIpadFallbackLink": {
          "description": "If specified, this overrides the ios_fallback_link value on iPads.",
          "type": "string"
        },
        "iosIpadBundleId": {
          "description": "iPad bundle ID of the app.",
          "type": "string"
        },
        "iosCustomScheme": {
          "description": "Custom (destination) scheme to use for iOS. By default, we’ll use the\nbundle ID as the custom scheme. Developer can override this behavior using\nthis param.",
          "type": "string"
        },
        "iosBundleId": {
          "description": "iOS bundle ID of the app.",
          "type": "string"
        }
      },
      "id": "IosInfo",
      "description": "iOS related attributes to the Dynamic Link..",
      "type": "object"
    },
    "AnalyticsInfo": {
      "description": "Tracking parameters supported by Dynamic Link.",
      "type": "object",
      "properties": {
        "itunesConnectAnalytics": {
          "$ref": "ITunesConnectAnalytics",
          "description": "iTunes Connect App Analytics."
        },
        "googlePlayAnalytics": {
          "description": "Google Play Campaign Measurements.",
          "$ref": "GooglePlayAnalytics"
        }
      },
      "id": "AnalyticsInfo"
    },
    "CreateShortDynamicLinkRequest": {
      "properties": {
        "dynamicLinkInfo": {
          "$ref": "DynamicLinkInfo",
          "description": "Information about the Dynamic Link to be shortened.\n[Learn more](https://firebase.google.com/docs/dynamic-links/android#create-a-dynamic-link-programmatically)."
        },
        "longDynamicLink": {
          "description": "Full long Dynamic Link URL with desired query parameters specified.\nFor example,\n\"https://sample.app.goo.gl/?link=http://www.google.com&apn=com.sample\",\n[Learn more](https://firebase.google.com/docs/dynamic-links/android#create-a-dynamic-link-programmatically).",
          "type": "string"
        },
        "suffix": {
          "$ref": "Suffix",
          "description": "Short Dynamic Link suffix. Optional."
        }
      },
      "id": "CreateShortDynamicLinkRequest",
      "description": "Request to create a short Dynamic Link.",
      "type": "object"
    },
    "CreateShortDynamicLinkResponse": {
      "description": "Response to create a short Dynamic Link.",
      "type": "object",
      "properties": {
        "warning": {
          "description": "Information about potential warnings on link creation.",
          "type": "array",
          "items": {
            "$ref": "DynamicLinkWarning"
          }
        },
        "shortLink": {
          "description": "Short Dynamic Link value. e.g. https://abcd.app.goo.gl/wxyz",
          "type": "string"
        },
        "previewLink": {
          "description": "Preivew link to show the link flow chart.",
          "type": "string"
        }
      },
      "id": "CreateShortDynamicLinkResponse"
    },
    "Suffix": {
      "description": "Short Dynamic Link suffix.",
      "type": "object",
      "properties": {
        "option": {
          "enumDescriptions": [
            "The suffix option is not specified, performs as NOT_GUESSABLE .",
            "Short Dynamic Link suffix is a base62 [0-9A-Za-z] encoded string of\na random generated 96 bit random number, which has a length of 17 chars.\nFor example, \"nlAR8U4SlKRZw1cb2\".\nIt prevents other people from guessing and crawling short Dynamic Links\nthat contain personal identifiable information.",
            "Short Dynamic Link suffix is a base62 [0-9A-Za-z] string starting with a\nlength of 4 chars. the length will increase when all the space is\noccupied."
          ],
          "enum": [
            "OPTION_UNSPECIFIED",
            "UNGUESSABLE",
            "SHORT"
          ],
          "description": "Suffix option.",
          "type": "string"
        }
      },
      "id": "Suffix"
    },
    "GooglePlayAnalytics": {
      "description": "Parameters for Google Play Campaign Measurements.\n[Learn more](https://developers.google.com/analytics/devguides/collection/android/v4/campaigns#campaign-params)",
      "type": "object",
      "properties": {
        "utmSource": {
          "description": "Campaign source; used to identify a search engine, newsletter, or other\nsource.",
          "type": "string"
        },
        "utmCampaign": {
          "description": "Campaign name; used for keyword analysis to identify a specific product\npromotion or strategic campaign.",
          "type": "string"
        },
        "gclid": {
          "description": "[AdWords autotagging parameter](https://support.google.com/analytics/answer/1033981?hl=en);\nused to measure Google AdWords ads. This value is generated dynamically\nand should never be modified.",
          "type": "string"
        },
        "utmContent": {
          "description": "Campaign content; used for A/B testing and content-targeted ads to\ndifferentiate ads or links that point to the same URL.",
          "type": "string"
        },
        "utmMedium": {
          "description": "Campaign medium; used to identify a medium such as email or cost-per-click.",
          "type": "string"
        },
        "utmTerm": {
          "description": "Campaign term; used with paid search to supply the keywords for ads.",
          "type": "string"
        }
      },
      "id": "GooglePlayAnalytics"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "canonicalName": "Firebase Dynamic Links",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "rootUrl": "https://firebasedynamiclinks.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "firebasedynamiclinks",
  "batchPath": "batch",
  "title": "Firebase Dynamic Links API",
  "ownerName": "Google",
  "resources": {
    "shortLinks": {
      "methods": {
        "create": {
          "request": {
            "$ref": "CreateShortDynamicLinkRequest"
          },
          "description": "Creates a short Dynamic Link given either a valid long Dynamic Link or\ndetails such as Dynamic Link domain, Android and iOS app information.\nThe created short Dynamic Link will not expire.\n\nRepeated calls with the same long Dynamic Link or Dynamic Link information\nwill produce the same short Dynamic Link.\n\nThe Dynamic Link domain in the request must be owned by requester's\nFirebase project.",
          "response": {
            "$ref": "CreateShortDynamicLinkResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/firebase"
          ],
          "flatPath": "v1/shortLinks",
          "path": "v1/shortLinks",
          "id": "firebasedynamiclinks.shortLinks.create"
        }
      }
    }
  },
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "pp": {
      "description": "Pretty-print response.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "bearer_token": {
      "location": "query",
      "description": "OAuth bearer token.",
      "type": "string"
    }
  },
  "version": "v1",
  "baseUrl": "https://firebasedynamiclinks.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "Programmatically creates and manages Firebase Dynamic Links.",
  "servicePath": "",
  "basePath": ""
}
